Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

feat(api/applications): document search api with criteria wip (boas-1312)
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/repositories/document.repository.js
  apps/api/src/server/swagger-output.json
Due: azure-pipelines-e2e.yml

feat(api/applications): initial setup for document search api (boas-1312)
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/swagger-output.json
Due: azure-pipelines-e2e.yml

feat(api/applications): document search api with criteria wip 2 (boas-1312)
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/repositories/document.repository.js
Due: azure-pipelines-e2e.yml

feat(api/applications): initial setup v2 for document search api (boas-1312)
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/repositories/document.repository.js
Due: azure-pipelines-e2e.yml

feat(api/applications): document search api and tests completed (boas-1312)
  apps/api/src/server/applications/application/documents/__tests__/get-document.test.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/swagger-output.json
Due: azure-pipelines-e2e.yml

feat(api/applications): document search api types tweak (boas-1312)
  apps/api/src/server/applications/application/documents/document.controller.js
Due: azure-pipelines-e2e.yml

feat(api/applications): document search api jest tests (boas-1312)
  apps/api/src/server/applications/application/documents/__tests__/get-document.test.js
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml

feat(api/applications): document search api validation tweak (boas-1312)
  apps/api/src/server/applications/application/documents/document.validators.js
Due: azure-pipelines-e2e.yml

fix(api/applications): fix doc controller after merge issue (boas-1312)
  apps/api/src/server/applications/application/documents/document.controller.js
Due: azure-pipelines-e2e.yml

fix(api/applications): fix incorrect swagger path (boas-1312)
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/swagger-output.json
Due: azure-pipelines-e2e.yml

feat(api/applications): document search api with criteria (boas-1312)
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/repositories/document.repository.js
  apps/api/src/server/repositories/folder.repository.js
  apps/api/src/server/swagger-output.json
Due: azure-pipelines-e2e.yml

feat(api/applications): validation for criteria parameter (boas-1312)
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/applications/application/documents/document.validators.js
Due: azure-pipelines-e2e.yml

feat(appeals): manage documents list page
  appeals/api/src/database/migrations/20231025153740_set_redaction_status/migration.sql
  appeals/api/src/database/schema.d.ts
  appeals/api/src/database/schema.prisma
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/documents/__tests__/documents.test.js
  appeals/api/src/server/endpoints/documents/documents.formatter.js
  appeals/api/src/server/openapi-types.ts
  appeals/api/src/server/repositories/document.repository.js
  appeals/api/src/server/repositories/folder.repository.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.router.js
  appeals/web/src/server/appeals/appeal-details/assign-user/assign-user.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/lpa-questionnaire.test.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.router.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.controller.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.mapper.js
  appeals/web/src/server/appeals/appeal-documents/appeal.documents.service.js
  appeals/web/src/server/appeals/appeal-users/users-service.js
  appeals/web/src/server/appeals/appeal.constants.js
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/dates.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/lpaQuestionnaire.mapper.js
  appeals/web/src/server/lib/middleware/__tests__/add-apiclient-to-request.test.js
  appeals/web/src/server/lib/middleware/add-apiclient-to-request.js
  appeals/web/src/server/lib/nunjucks-template-builders/gds-components-properties-jsdoc.js
  appeals/web/src/server/lib/nunjucks-template-builders/summary-list-builder.js
  appeals/web/src/server/views/appeals/documents/manage-document.njk
  appeals/web/src/server/views/appeals/documents/manage-folder.njk
  appeals/web/src/styles/7-components/inline-definition-list.scss
  appeals/web/src/styles/main.scss
  appeals/web/testing/app/factory/account-info.js
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

Update self-signed-ssl.md
  docs/self-signed-ssl.md
Due: none

test(e2e): updated the failed tests
  apps/e2e/cypress.config.js
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/e2e/back-office-applications/search.spec.js
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/xdocumentDownload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/xdocumentProperties.spec.js
  apps/e2e/cypress/e2e/back-office-applications/xdocumentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/xdocumentVersioning.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/folderDocumentsPage.js
  apps/e2e/cypress/support/cypressUtils.js
  apps/e2e/cypress/support/e2e.js
  apps/e2e/cypress/support/utils/createTimetableItemInfo.js
  apps/e2e/package.json
  package-lock.json
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): resolved conflicts
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(api/applications): fix types in document upsert controller
  apps/api/src/database/schema.d.ts
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.validators.js
Due: azure-pipelines-e2e.yml

fix(api/applications): fix transcript code for document versions
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.validators.js
  apps/api/src/server/repositories/document-metadata.repository.js
Due: azure-pipelines-e2e.yml

test(e2e): resolved variable declaration
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): rebased with main
  apps/e2e/cypress.config.js
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/e2e/back-office-applications/search.spec.js
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/xdocumentDownload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/xdocumentProperties.spec.js
  apps/e2e/cypress/e2e/back-office-applications/xdocumentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/xdocumentVersioning.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/folderDocumentsPage.js
  apps/e2e/cypress/support/cypressUtils.js
  apps/e2e/cypress/support/e2e.js
  apps/e2e/cypress/support/utils/createTimetableItemInfo.js
  apps/e2e/package.json
  package-lock.json
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): removed the commented code blocks
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): rebased with main and updated the scripts
  apps/e2e/cypress.config.js
  apps/e2e/cypress/e2e/back-office-applications/documentVersioning.spec.js
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/e2e/back-office-applications/search.spec.js
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
  apps/e2e/cypress/support/e2e.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(api): migrate automatic updates
  apps/functions/applications-migration/project-updates-migration/src/project-updates-migration.js
Due: azure-pipelines-e2e.yml

fix(web): appellant case and lpaq notification banners fix
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/views/appeals/components/govuk-details.njk
  appeals/web/testing/app/fixtures/referencedata.js
Due: none
