Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

feat(functions): create a folder for a new unpublish function
  apps/functions/document-unpublish/.env.test
  apps/functions/document-unpublish/.funcignore
  apps/functions/document-unpublish/.gitignore
  apps/functions/document-unpublish/.vscode/extensions.json
  apps/functions/document-unpublish/host.json
  apps/functions/document-unpublish/package.json
Due: azure-pipelines-e2e.yml

feat(functions): create an unpublish documents function
  apps/functions/document-unpublish/unpublish-document/blob-client.js
  apps/functions/document-unpublish/unpublish-document/config.js
  apps/functions/document-unpublish/unpublish-document/index.js
  apps/functions/document-unpublish/unpublish-document/utils.js
Due: azure-pipelines-e2e.yml

feat(api/applications): set 'unpublishing' instead of 'unpublished'
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml

chore(functions): move document-unpublish function into document-publish
  apps/functions/document-publish/unpublish-document/blob-client.js
  apps/functions/document-publish/unpublish-document/config.js
  apps/functions/document-publish/unpublish-document/function.json
  apps/functions/document-publish/unpublish-document/index.js
  apps/functions/document-publish/unpublish-document/utils.js
  apps/functions/document-unpublish/.env.test
  apps/functions/document-unpublish/.funcignore
  apps/functions/document-unpublish/.gitignore
  apps/functions/document-unpublish/.vscode/extensions.json
  apps/functions/document-unpublish/host.json
  apps/functions/document-unpublish/package.json
Due: azure-pipelines-e2e.yml

chore(api/applications): regenerate Swagger types
  apps/api/src/server/swagger-output.json
Due: azure-pipelines-e2e.yml

feat(functions): make call to mark unpublished from Azure function
  apps/functions/document-unpublish/unpublish-document/index.js
Due: azure-pipelines-e2e.yml

feat(api/applications): emit an Update event on Unpublish
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml

feat(api/applications): create an endpoint to mark unpublished
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml

fix(web/applications): use case reference stored in response.locals
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
Due: azure-pipelines-e2e.yml

test(web/applications): update test snapshots
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
Due: azure-pipelines-e2e.yml

fix(web/applications): remove the 'Move selected' link from folder page
  apps/web/src/server/views/applications/components/folder/folder-actions.component.njk
Due: azure-pipelines-e2e.yml

test(e2e): added tests for unpublish documents
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/folderDocumentsPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): added missing tests for unpublish documents
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/folderDocumentsPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(appeals/api): aligns serviceuser def and topic
  appeals/api/src/message-schemas/pins-root.schema.json
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/integrations/integrations.controller.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/index.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/service-user.mapper.js
  appeals/api/src/server/endpoints/integrations/integrations.service.js
  appeals/api/src/server/infrastructure/topics.js
Due: none

feat(web/applications): publish updated representations page
  apps/web/src/server/applications/case/representations/__fixtures__/publishable-representations.fixture.js
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/applications/case/representations/applications-relevant-reps.controller.js
  apps/web/src/server/applications/case/representations/applications-relevant-reps.router.js
  apps/web/src/server/applications/case/representations/applications-relevant-reps.service.js
  apps/web/src/server/applications/case/representations/publish-updated-representations/__tests__/__snapshots__/publish-updated-representations.test.js.snap
  apps/web/src/server/applications/case/representations/publish-updated-representations/__tests__/publish-updated-representations.test.js
  apps/web/src/server/applications/case/representations/publish-updated-representations/publish-updated-representations.config.js
  apps/web/src/server/applications/case/representations/publish-updated-representations/publish-updated-representations.controller.js
  apps/web/src/server/applications/case/representations/publish-updated-representations/publish-updated-representations.router.js
  apps/web/src/server/applications/case/representations/publish-updated-representations/publish-updated-representations.view-model.js
  apps/web/src/server/applications/case/representations/publish-updated-representations/utils/format-representation-ids.js
  apps/web/src/server/applications/case/representations/publish-valid-representations/__fixtures__/publishableRepresentations.fixture.js
  apps/web/src/server/applications/case/representations/publish-valid-representations/__tests__/publish-valid-reps.test.js
  apps/web/src/server/applications/case/representations/publish-valid-representations/_utils/get-publishable-reps-payload.js
  apps/web/src/server/applications/case/representations/publish-valid-representations/publish-valid-reps.controller.js
  apps/web/src/server/applications/case/representations/relevant-representation.types.d.ts
  apps/web/src/server/applications/case/representations/utils/publish-representations.js
  apps/web/src/server/views/applications/representations/publish-representations.njk
  apps/web/src/server/views/applications/representations/representations.njk
  apps/web/src/styles/4-generic/_generic.white-space.scss
  apps/web/src/styles/main.scss
Due: azure-pipelines-e2e.yml

feat(appeals): renamed ODW topics
  appeals/api/src/server/infrastructure/topics.js
Due: none

feat(api): integration headline docs
  apps/api/src/message-schemas/events/s51-advice-attachment.json
  docs/event-repository.md
Due: azure-pipelines-e2e.yml

docs(appeals): event repository doc
  docs/event-repository.md
Due: none

fix(api): add additional docs for appeals
  docs/event-repository.md
Due: none

refactor(api/applications): remove unused appeals types from swagger (boas-1253)
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

refactor(api/applications): types cleanup application api (boas-1253)
  apps/api/src/server/applications/application/__tests__/application.test.js
  apps/api/src/server/applications/application/__tests__/create-application.test.js
  apps/api/src/server/applications/application/__tests__/get-application-details.test.js
  apps/api/src/server/applications/application/__tests__/publish-application.test.js
  apps/api/src/server/applications/application/__tests__/start-case.test.js
  apps/api/src/server/applications/application/__tests__/update-application.test.js
  apps/api/src/server/applications/application/application.controller.js
  apps/api/src/server/applications/application/application.mapper.js
  apps/api/src/server/applications/application/application.routes.js
  apps/api/src/server/applications/application/application.service.js
  apps/api/src/server/applications/application/application.validators.js
  apps/api/src/server/applications/applications.routes.js
  apps/api/src/server/applications/case-admin-officer/__tests__/get-applications.test.js
  apps/api/src/server/applications/case-admin-officer/case-admin-officer.controller.js
  apps/api/src/server/applications/case-admin-officer/case-admin-officer.routes.js
  apps/api/src/server/applications/case-team/__tests__/get-applications.test.js
  apps/api/src/server/applications/case-team/case-team.controller.js
  apps/api/src/server/applications/case-team/case-team.routes.js
  apps/api/src/server/applications/inspector/__tests__/get-applications.test.js
  apps/api/src/server/applications/inspector/inspector.controller.js
  apps/api/src/server/applications/inspector/inspector.routes.js
  apps/api/src/server/applications/search/__tests__/case-search.test.js
  apps/api/src/server/applications/search/case-search.controller.js
  apps/api/src/server/applications/search/case-search.routes.js
  apps/api/src/server/applications/search/case-search.services.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
  apps/api/src/server/utils/mapping/map-application-with-search-criteria.js
  apps/api/src/server/utils/mapping/map-application-with-sector-and-subsector.js
Due: azure-pipelines-e2e.yml

refactor(api/applications): import shortcuts folders api (boas-1253)
  apps/api/src/server/applications/application/file-folders/__tests__/get-folder-details.test.js
  apps/api/src/server/applications/application/file-folders/folders.routes.js
  apps/api/src/server/applications/application/file-folders/folders.validation.js
  apps/api/src/server/utils/mapping/map-document-details.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
