Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

test(e2e): removed the tag for e2e run
  apps/e2e/package.json
Due: azure-pipelines-e2e.yml

fix(web/applications): remove overides title on templates (boas-1141)
  apps/web/src/server/applications/applications.locals.js
  apps/web/src/server/views/app/layouts/app.layout.njk
  apps/web/src/server/views/applications/case-documentation/documentation-delete.njk
  apps/web/src/server/views/applications/case-documentation/documentation-success-banner.njk
  apps/web/src/server/views/applications/case-documentation/documentation-upload.njk
  apps/web/src/server/views/applications/case-documentation/documentation-version-upload.njk
  apps/web/src/server/views/applications/case-documentation/search/document-search-results.njk
  apps/web/src/server/views/applications/case-key-dates/key-dates-section.njk
  apps/web/src/server/views/applications/case-project-team/project-team-choose-role.njk
  apps/web/src/server/views/applications/case-project-team/project-team-remove.njk
  apps/web/src/server/views/applications/case-project-team/project-team-search.njk
  apps/web/src/server/views/applications/case-s51/properties/s51-upload.njk
  apps/web/src/server/views/applications/case-s51/s51-advice-details.njk
  apps/web/src/server/views/applications/case-s51/s51-attachment-successfully-deleted.njk
  apps/web/src/server/views/applications/case-s51/s51-delete-attachment.njk
  apps/web/src/server/views/applications/case-s51/s51-delete.njk
  apps/web/src/server/views/applications/case-s51/s51-enquirer.njk
  apps/web/src/server/views/applications/case-s51/s51-enquiry-details.njk
  apps/web/src/server/views/applications/case-s51/s51-method.njk
  apps/web/src/server/views/applications/case-s51/s51-person.njk
  apps/web/src/server/views/applications/case-s51/s51-successfully-published.njk
  apps/web/src/server/views/applications/case-s51/s51-successfully-unpublished.njk
  apps/web/src/server/views/applications/case-s51/s51-title.njk
  apps/web/src/server/views/applications/case-s51/s51-unpublish.njk
  apps/web/src/server/views/applications/case-timetable/timetable-check-your-answers.njk
  apps/web/src/server/views/applications/case-timetable/timetable-delete.njk
  apps/web/src/server/views/applications/case-timetable/timetable-details-form.njk
  apps/web/src/server/views/applications/case-timetable/timetable-new-item-type.njk
  apps/web/src/server/views/applications/case-timetable/timetable-success-banner.njk
  apps/web/src/server/views/applications/case/project-success-banner.njk
  apps/web/src/server/views/applications/dashboard.njk
  apps/web/src/server/views/applications/representations/representation-details/index.njk
  apps/web/src/server/views/applications/representations/representation/address-details/index.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): add page title and service name to most pages (boas-1141)
  apps/web/src/server/views/app/layouts/app.layout.njk
  apps/web/src/server/views/applications/case-documentation/properties/documentation-properties.njk
  apps/web/src/server/views/applications/case-key-dates/key-dates-index.njk
  apps/web/src/server/views/applications/case-project-team/project-team-list.njk
  apps/web/src/server/views/applications/case-timetable/timetable-list.njk
  apps/web/src/server/views/applications/case/layouts/applications-case-layout.njk
  apps/web/src/server/views/applications/case/overview.njk
  apps/web/src/server/views/applications/case/project-documentation.njk
  apps/web/src/server/views/applications/case/project-information.njk
  apps/web/src/server/views/applications/case/project-updates.njk
  apps/web/src/server/views/applications/components/case-form/case-form-layout.njk
  apps/web/src/server/views/applications/create-new-case/check-your-answers.njk
  apps/web/src/server/views/applications/dashboard.njk
Due: azure-pipelines-e2e.yml

fix(web/applications): fix indendation (boas-1141)
  apps/web/src/server/views/app/layouts/app.layout.njk
  apps/web/src/server/views/applications/case-timetable/timetable-list.njk
  apps/web/src/server/views/applications/case/layouts/applications-case-layout.njk
Due: azure-pipelines-e2e.yml

fix(web/applications): fix extra newline (boas-1141)
  apps/web/src/server/views/applications/case/layouts/applications-case-layout.njk
Due: azure-pipelines-e2e.yml

fix(functions): fix config to ensure blob account is included and add logging
  apps/functions/applications-background-jobs/malware-detected/__tests__/html-validation.test.js
  apps/functions/applications-background-jobs/malware-detected/index.js
  apps/functions/applications-background-jobs/malware-detected/src/config.js
  apps/functions/applications-background-jobs/malware-detected/src/html-validation.js
  apps/functions/applications-background-jobs/setup-tests.js
Due: azure-pipelines-e2e.yml

fix(api/applications): log an error if a blob URI fails to be built
  apps/api/src/server/applications/application/documents/document.js
  package-lock.json
Due: azure-pipelines-e2e.yml

fix(appeals): update transfer appeal flow to display custom error page when horizon is down
  appeals/api/src/server/utils/horizon-gateway.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/__tests__/__snapshots__/change-appeal-type.test.js.snap
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/__tests__/change-appeal-type.test.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.controller.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.validators.js
  appeals/web/src/server/views/app/500.njk
Due: none

fix(functions): fix blob querying by replacing uri with name
  apps/functions/applications-background-jobs/.gitignore
  apps/functions/applications-background-jobs/host.json
  apps/functions/applications-background-jobs/local.settings.json
  apps/functions/applications-background-jobs/malware-detected/__tests__/html-validation.test.js
  apps/functions/applications-background-jobs/malware-detected/src/html-validation.js
  apps/functions/applications-background-jobs/malware-detected/src/util.js
Due: azure-pipelines-e2e.yml

fix(appeals/web): fix content for add neighbouring sites
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.controller.js
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/lib/mappers/appeal.mapper.js
Due: none

test(e2e): removed the smoke tag in cy ci
  apps/e2e/cypress/e2e/back-office-applications/addRepresentation.spec.js
  apps/e2e/package.json
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(api/applications): stringify object in error message in buildBlobUri
  apps/api/src/server/applications/application/documents/document.js
Due: azure-pipelines-e2e.yml

feat(api/applications): added date open releventreps start and close
  apps/api/src/database/migrations/20240308122534_add_dates_of_open_rr_to_application_details/migration.sql
  apps/api/src/database/schema.prisma
Due: azure-pipelines-e2e.yml

test(e2e): updated examtimetable and publishdocs
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/page_objects/basePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): removed only
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web): fix unlink appeal back link when unlinking from child
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/__tests__/__snapshots__/manage-linked-appeals.test.js.snap
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/__tests__/manage-linked-appeals.test.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.controller.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.router.js
Due: none

test(e2e): removed inspector and caseofficer tests
  apps/e2e/cypress/e2e/back-office-applications/createCase.spec.js
  apps/e2e/cypress/e2e/back-office-applications/search.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): updated the tests with user instead of case admin user
  apps/e2e/cypress/e2e/back-office-applications/addRepresentation.spec.js
  apps/e2e/cypress/e2e/back-office-applications/addTeam.spec.js
  apps/e2e/cypress/e2e/back-office-applications/createCase.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentDownload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentVersioning.spec.js
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/keyDates.spec.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/e2e/back-office-applications/search.spec.js
  apps/e2e/cypress/e2e/back-office-applications/searchDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/sectorAsTraing.spec.js
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateAndRemoveTeam.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web): add action link to case details page decision row
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.mapper.js
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/lib/mappers/appeal.mapper.js
Due: none

test(e2e): resolved conflicts
  apps/e2e/cypress/e2e/back-office-applications/documentDownload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(applications/web): correct styling in document properties page (BOAS-1615)
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/views/applications/case-documentation/properties/documentation-properties.njk
Due: azure-pipelines-e2e.yml

fix(api/applications): schema validation fix representations (boas-1650)
  apps/api/src/server/applications/application/representations/__tests__/create-representation.test.js
  apps/api/src/server/applications/application/representations/__tests__/patch-representation.test.js
  apps/api/src/server/applications/application/representations/publish/__tests__/publish-representation.test.js
  apps/api/src/server/applications/application/representations/redact/__tests__/patch-redact.test.js
  apps/api/src/server/applications/application/representations/representations.service.js
  apps/api/src/server/applications/application/representations/status/__tests__/patch-status.test.js
Due: azure-pipelines-e2e.yml

fix(api/applications): representations events refactor and typing (boas-1650)
  apps/api/setup-tests.js
  apps/api/src/server/applications/application/representations/publish/__tests__/publish-representation.test.js
  apps/api/src/server/applications/application/representations/publish/publish.service.js
  apps/api/src/server/applications/application/representations/redact/redact.controller.js
  apps/api/src/server/applications/application/representations/representations.controller.js
  apps/api/src/server/applications/application/representations/representations.service.js
  apps/api/src/server/applications/application/representations/status/status.controller.js
  apps/api/src/server/infrastructure/event-batch-broadcaster.js
  apps/api/src/server/infrastructure/event-broadcasters.js
  apps/api/src/server/infrastructure/payload-builders/nsip-representation.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
