Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

fix(appeals): validate business days
  appeals/api/src/server/endpoints/appeals.routes.js
  appeals/api/src/server/endpoints/business-days/__tests__/business-days.test.js
  appeals/api/src/server/endpoints/business-days/business-days.controller.js
  appeals/api/src/server/endpoints/business-days/business-days.routes.js
  appeals/api/src/server/openapi-types.ts
  appeals/api/src/server/openapi.json
  appeals/api/src/server/swagger.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.router.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.validators.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/lpa-questionnaire.test.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/outcome-incomplete/outcome-incomplete.router.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/outcome-incomplete/outcome-incomplete.validators.js
  appeals/web/src/server/lib/validators/date-input.validator.js
Due: none

fix(api/applications): seeding error on serviceuser (boas-1444)
  apps/api/src/database/seed/seed-clear.js
Due: azure-pipelines-e2e.yml

chore(api/applications): refactor event schemas to use new repo
  apps/api/src/message-schemas/commands/register-nsip-subscription.d.ts
  apps/api/src/message-schemas/events/nsip-document.d.ts
  apps/api/src/message-schemas/events/nsip-exam-timetable-submission.d.ts
  apps/api/src/message-schemas/events/nsip-exam-timetable.d.ts
  apps/api/src/message-schemas/events/nsip-project-update.d.ts
  apps/api/src/message-schemas/events/nsip-project.d.ts
  apps/api/src/message-schemas/events/nsip-s51-advice.d.ts
  apps/api/src/message-schemas/events/nsip-subscription.d.ts
  apps/api/src/message-schemas/events/service-user.d.ts
  apps/api/src/server/applications/s51advice/s51-advice.js
  apps/api/src/server/applications/subscriptions/subscriptions.md
  docs/event-repository.md
Due: azure-pipelines-e2e.yml

chore(api/applications): refactor event schemas to use new repo - md update
  docs/event-repository.md
Due: none

fix(api/applications): fix swagger ref for search applications
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

test(e2e): fixed failed tests
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/support/utils/options.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(api): retrieve exam timetable items from synapse
  apps/functions/applications-migration/exam-timetable-migration/debug.js
  apps/functions/applications-migration/exam-timetable-migration/function.json
  apps/functions/applications-migration/exam-timetable-migration/index.js
  apps/functions/applications-migration/exam-timetable-migration/src/exam-timetable-migration.js
Due: azure-pipelines-e2e.yml

fix(api): bad copy/paste
  apps/functions/applications-migration/exam-timetable-migration/index.js
Due: azure-pipelines-e2e.yml

feat(web): decision letter upload virus scanning tag
  appeals/web/src/server/appeals/issue-decision/issue-decision.controller.js
  appeals/web/src/server/appeals/issue-decision/issue-decision.mapper.js
  appeals/web/src/server/appeals/issue-decision/issue-decision.types.d.ts
  appeals/web/src/server/lib/display-page-formatter.js
Due: none

fix(api/applications): ensure error message and stack are logged
  apps/api/src/server/utils/logger.js
Due: azure-pipelines-e2e.yml

fix(appeals): async validator needs to return a rejected promise
  appeals/web/src/server/lib/validators/date-input.validator.js
Due: none

fix(appeals): validate business days
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/lpa-questionnaire.test.js
Due: none

feat(applications): amend key date explainer copy (BOAS-1042)
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/create-new-case/key-dates/__tests__/__snapshots__/applications-create-key-dates.test.js.snap
  apps/web/src/server/lib/nunjucks-filters/key-dates-property.js
  apps/web/src/server/views/applications/components/case-form/key-dates/date-published.njk
Due: azure-pipelines-e2e.yml

feat(applications): amend key date name (BOAS-1042)
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/lib/nunjucks-filters/key-dates-property.js
Due: azure-pipelines-e2e.yml

feat(applications): amend date input (BOAS-1042)
  apps/web/src/server/applications/case/documentation-metadata/__tests__/__snapshots__/documentation-metadata.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/lib/nunjucks-filters/bold.js
  apps/web/src/server/lib/nunjucks-filters/index.js
  apps/web/src/server/lib/nunjucks-filters/key-dates-property.js
  apps/web/src/server/views/applications/case-key-dates/key-dates-section.njk
  apps/web/src/server/views/applications/components/inputs/date-input.component.njk
Due: azure-pipelines-e2e.yml

feat(api): implement migration api request
  apps/functions/applications-migration/exam-timetable-migration/src/exam-timetable-migration.js
Due: azure-pipelines-e2e.yml

fix(api/applications): subscription service user migration
  apps/api/src/server/migration/migrator.service.js
  apps/api/src/server/migration/migrators/service-user-migrator.js
  apps/functions/applications-migration/service-user-migration/index.js
  apps/functions/applications-migration/service-user-migration/src/service-user-migration.js
Due: azure-pipelines-e2e.yml

fix(applications/web): fix document case stage copy (BOAS-1439)
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/views/applications/case-documentation/properties/tab-details.component.njk
Due: azure-pipelines-e2e.yml

fix(applications/web): application documents folder needs developers application (BOAS-1443)
  apps/api/src/server/repositories/folder.repository.js
Due: azure-pipelines-e2e.yml

fix(web): feature/BOAT-783 Action required CTAs incorrect on personal list swagger
  appeals/api/src/server/endpoints/appeals/appeals.formatter.js
  appeals/api/src/server/openapi-types.ts
  appeals/api/src/server/openapi.json
  appeals/api/src/server/swagger.js
  appeals/web/src/server/appeals/personal-list/__tests__/personal-list.test.js
  appeals/web/src/server/appeals/personal-list/personal-list.mapper.js
  packages/appeals/types/appeal.d.ts
Due: none

feat(web/applications): add unit tests for right ad groups auth behaviour (boas-1247)
  apps/web/src/server/applications/__tests__/applications.test.js
  apps/web/src/server/applications/case/__tests__/applications-case.test.js
  apps/web/src/server/applications/case/documentation-metadata/__tests__/documentation-metadata.test.js
  apps/web/src/server/applications/case/documentation/__tests__/applications-documentation.test.js
  apps/web/src/server/applications/case/examination-timetable/__tests__/applications-timetable.test.js
  apps/web/src/server/applications/case/key-dates/__tests__/applications-key-dates.test.js
  apps/web/src/server/applications/case/project-team/__tests__/applications-project-team.test.js
  apps/web/src/server/applications/case/s51/__tests__/applications-s51.test.js
  apps/web/src/server/applications/create-new-case/case/__tests__/applications-create-case.test.js
  apps/web/src/server/applications/search-results/__tests/applications-search.test.js
  apps/web/testing/app/mocks/msal.js
  apps/web/testing/index.js
Due: azure-pipelines-e2e.yml

feat(api): consolidate command handler functions
  apps/functions/command-handlers/.funcignore
  apps/functions/command-handlers/.vscode/extensions.json
  apps/functions/command-handlers/README.md
  apps/functions/command-handlers/deadline-submission-command/__tests__/deadline-submission-command.test.js
  apps/functions/command-handlers/deadline-submission-command/back-office-api-client.js
  apps/functions/command-handlers/deadline-submission-command/blob-client.js
  apps/functions/command-handlers/deadline-submission-command/config.js
  apps/functions/command-handlers/deadline-submission-command/event-client.js
  apps/functions/command-handlers/deadline-submission-command/function.json
  apps/functions/command-handlers/deadline-submission-command/index.js
  apps/functions/command-handlers/handle-subscription-command/__tests__/handle-subscription-command.test.js
  apps/functions/command-handlers/handle-subscription-command/back-office-api-client.js
  apps/functions/command-handlers/handle-subscription-command/config.js
  apps/functions/command-handlers/handle-subscription-command/function.json
  apps/functions/command-handlers/handle-subscription-command/index.js
  apps/functions/command-handlers/handle-subscription-command/logging-utils.js
  apps/functions/command-handlers/host.json
  apps/functions/command-handlers/jest.config.js
  apps/functions/command-handlers/local.settings.json
  apps/functions/command-handlers/package.json
  apps/functions/command-handlers/register-representation-command/__tests__/register-representation-command.test.js
  apps/functions/command-handlers/register-representation-command/back-office-api-client.js
  apps/functions/command-handlers/register-representation-command/config.js
  apps/functions/command-handlers/register-representation-command/function.json
  apps/functions/command-handlers/register-representation-command/index.js
  apps/functions/command-handlers/test-deadline-submission/config.js
  apps/functions/command-handlers/test-deadline-submission/function.json
  apps/functions/command-handlers/test-deadline-submission/index.js
  apps/functions/deadline-submissions/package.json
  apps/functions/handle-subscriptions/README.md
  apps/functions/handle-subscriptions/host.json
  apps/functions/register-representation/.funcignore
  apps/functions/register-representation/host.json
  apps/functions/register-representation/jest.config.js
  apps/functions/register-representation/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

fix(api): re-initialise package lock
  package-lock.json
Due: none
