Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

chore(api/applications): remove examinationTimetableId from schema
  apps/api/src/message-schemas/events/nsip-exam-timetable.schema.json
Due: azure-pipelines-e2e.yml

refactor(applications/web): change CTA button text
  apps/web/src/server/applications/case/representations/publish-valid-representations/__tests__/__snapshots__/publish-valid-reps.test.js.snap
  apps/web/src/server/applications/case/representations/publish-valid-representations/__tests__/publish-valid-reps.test.js
  apps/web/src/server/views/applications/representations/publish-valid-representations/index.njk
Due: azure-pipelines-e2e.yml

test(e2e): increased timeout
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/support/login.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): made some changes to make it work
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/e2e/back-office-applications/search.spec.js
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): commented some of the it blocks
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/e2e/back-office-applications/search.spec.js
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(appeals/web): fix formatting of template
  appeals/web/src/server/views/app/components/file-uploader.component.njk
Due: none

fix(appeals/web): adds snapshots
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-documents/__tests__/__snapshots__/appeal-documents.test.js.snap
Due: none

fix(appeals/web): fix snapshot for documents
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-documents/__tests__/__snapshots__/appeal-documents.test.js.snap
  appeals/web/src/server/views/app/components/file-uploader.component.njk
Due: none

fix(appeals/web): fix document details page: add capitalization and legends
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/views/appeals/documents/add-document-details.njk
Due: none

docs: remove required id from interested-party
  apps/api/src/message-schemas/commands/register-representation.schema.json
  apps/api/src/message-schemas/events/interested-party.schema.json
Due: azure-pipelines-e2e.yml

docs: update register-representation message schema
  apps/api/src/message-schemas/commands/register-representation.schema.json
Due: azure-pipelines-e2e.yml

feat(web/applications): handle search members with mock data (boas-975)
  apps/web/src/server/applications/applications.types.d.ts
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/applications-project-team.test.js
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/src/server/applications/case/project-team/applications-project-team.router.js
  apps/web/src/server/applications/case/project-team/applications-project-team.service.js
  apps/web/src/server/applications/case/project-team/applications-project-team.validators.js
  apps/web/src/server/lib/nunjucks-filters/url.js
  apps/web/src/server/views/applications/case-project-team/project-team-search.njk
  apps/web/src/styles/4-generic/_generic.align-items.scss
  apps/web/src/styles/main.scss
  apps/web/testing/applications/factory/project-team.js
  apps/web/testing/applications/fixtures/project-team.js
Due: azure-pipelines-e2e.yml

feat(web/applications): add project team list and search page (boas-975)
  apps/web/src/server/applications/case/applications-case.router.js
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/applications-project-team.test.js
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/src/server/applications/case/project-team/applications-project-team.router.js
  apps/web/src/server/lib/nunjucks-filters/url.js
  apps/web/src/server/views/applications/case-project-team/project-team-list.njk
  apps/web/src/server/views/applications/case-project-team/project-team-search.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): add pagitation (boas-975)
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/applications-project-team.test.js
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/src/server/applications/case/project-team/applications-project-team.router.js
  apps/web/src/server/applications/case/project-team/applications-project-team.service.js
  apps/web/src/server/views/applications/case-project-team/project-team-search.njk
Due: azure-pipelines-e2e.yml

fix(web/applications): remove console.log (boas-975)
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
Due: azure-pipelines-e2e.yml

fix(web/applications): make fixture project team unique (boas-975)
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/testing/applications/factory/project-team.js
Due: azure-pipelines-e2e.yml

fix(web/applications): replace p with h2 (boas-975)
  apps/web/src/server/views/applications/case-project-team/project-team-search.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): add key dates to relevant-representations page
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/applications-representaions.test.js
  apps/web/src/server/applications/case/representations/__tests__/get-key-dates.test.js
  apps/web/src/server/applications/case/representations/__tests__/is-relevant-reps-period-closed.unit.test.js
  apps/web/src/server/applications/case/representations/applications-relevant-reps.controller.js
  apps/web/src/server/applications/case/representations/utils/get-key-dates.js
  apps/web/src/server/applications/case/representations/utils/is-relevant-reps-period-closed.js
  apps/web/src/server/lib/dates.js
  apps/web/src/server/views/applications/representations/representations.njk
Due: azure-pipelines-e2e.yml

fix(web/applications): fix unpublishing a single document
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.router.js
  apps/web/src/server/views/applications/case-documentation/documentation-unpublish.njk
Due: azure-pipelines-e2e.yml

fix(api/applications): use the activity log to find datePublished
  apps/api/src/database/schema.d.ts
  apps/api/src/server/repositories/document-metadata.repository.js
  apps/api/src/server/utils/mapping/map-document-details.js
Due: azure-pipelines-e2e.yml

fix(web/applications): check for date set to 000-00-00
  apps/web/src/server/lib/dates.js
Due: azure-pipelines-e2e.yml

feat(api/applications): validation for criteria parameter (boas-1312)
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/applications/application/documents/document.validators.js
Due: azure-pipelines-e2e.yml

feat(api/applications): document search api with criteria (boas-1312)
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/repositories/document.repository.js
  apps/api/src/server/repositories/folder.repository.js
  apps/api/src/server/swagger-output.json
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
