Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

feat(api/applications): change folder name mail merges (boas-1719)
  apps/api/src/database/migrations/20240422160000_rename_mail_merges_folder/migration.sql
  apps/api/src/server/applications/application/__tests__/start-case.test.js
  apps/api/src/server/migration/migrators/folder/__tests__/folder.test.js
  apps/api/src/server/migration/migrators/folder/folder.js
  apps/api/src/server/repositories/folder.repository.js
  apps/e2e/cypress/fixtures/folder-structure.json
Due: azure-pipelines-e2e.yml

fix(applications/web): back button fails to return to project information (BOAS-1739)
  apps/web/src/server/applications/applications.locals.js
  apps/web/src/server/views/applications/components/case-form/case-form-layout.njk
Due: azure-pipelines-e2e.yml

feat(api): service-user migration broadcasts batches based on serviceUserType
  apps/api/src/server/migration/migrators/service-user-migrator.js
  apps/api/src/server/migration/migrators/utils.js
  apps/functions/applications-migration/common/migrators/service-user-migration.js
Due: azure-pipelines-e2e.yml

test(e2e): removed download test
  apps/e2e/cypress/e2e/back-office-applications/documentDownload.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(applications/web): edit application address does not show all address parts (BOAS-1706)
  apps/e2e/cypress/support/utils/createProjectInformation.js
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/common/components/form/form-applicant.component.js
  apps/web/src/server/lib/address-formatter.js
  apps/web/src/server/lib/nunjucks-filters/format-address.js
  apps/web/src/server/lib/nunjucks-filters/index.js
  apps/web/src/server/views/applications/case/components/case-applicant-table.component.njk
Due: azure-pipelines-e2e.yml

fix(api): ensure excluding gs51 case does not exclude null reference cases (draft cases)
  apps/api/src/server/applications/search/__tests__/case-search.test.js
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-e2e.yml

chore(e2e): improve e2e efficiency
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/createCasePage.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
  apps/e2e/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

feat(api): exclude GS51 case from getByStatus prisma query
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-e2e.yml

feat(applications/web): general 51 content update
  apps/web/src/server/applications/__tests__/__snapshots__/applications.test.js.snap
  apps/web/src/server/applications/case/general-s51/__tests__/__snapshots__/applications-general-s51.controller.test.js.snap
  apps/web/src/server/views/applications/case-s51/s51-title.njk
  apps/web/src/server/views/applications/components/folder/folder-status.component.njk
  apps/web/src/server/views/applications/dashboard.njk
Due: azure-pipelines-e2e.yml

chore(web/applications): use GENERAL_S51_FOLDER_NAME from packages
  apps/web/src/server/applications/case/general-s51/__tests__/applications-general-s51.controller.test.js
  apps/web/src/server/applications/case/general-s51/applications-general-s51.config.js
  apps/web/src/server/applications/case/general-s51/utils/get-general-section-51-data.js
Due: azure-pipelines-e2e.yml

chore(web/applications): use BO_GENERAL_S51_CASE_REF from packages
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/general-s51/__tests__/applications-general-s51.controller.test.js
  apps/web/src/server/applications/case/general-s51/applications-general-s51.config.js
  apps/web/src/server/applications/case/general-s51/utils/get-general-section-51-data.js
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
Due: azure-pipelines-e2e.yml

chore(api/applications): use BO_GENERAL_S51_CASE_REF from packages
  apps/api/src/server/applications/application/application.config.js
  apps/api/src/server/applications/application/application.controller.js
  apps/api/src/server/applications/search/__tests__/case-search.test.js
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-e2e.yml

chore(packages/feature-flags): add an index.d.ts file for feature-flags
  packages/feature-flags/index.d.ts
Due: none

fix(packages/feature-flags): use import instead of require
  packages/feature-flags/src/index.js
Due: none

chore(packages/feature-flags): use connection string instead of endpoint
  apps/api/src/server/config/config.js
  apps/api/src/server/config/schema.js
  apps/web/environment/config.d.ts
  apps/web/environment/config.js
  apps/web/environment/schema.js
  packages/feature-flags/src/index.js
Due: azure-pipelines-e2e.yml

feat(api/applications): add welsh fields (boas-1744)
  apps/api/src/database/migrations/20240425144842_welsh_fields_added/migration.sql
  apps/api/src/database/schema.prisma
Due: azure-pipelines-e2e.yml

feat(packages/feature-flags): create a FeatureFlagClient class
  packages/feature-flags/index.d.ts
  packages/feature-flags/index.js
  packages/feature-flags/src/feature-flag-client.js
  packages/feature-flags/src/is-feature-active.js
Due: none

fix(packages/feature-flags): correct entry point to index.js
  packages/feature-flags/package.json
Due: none

chore(packages/feature-flags): rename index to is-feature-active
  packages/feature-flags/index.d.ts
  packages/feature-flags/index.js
  packages/feature-flags/src/is-feature-active.js
Due: none

chore(e2e): use feature flag connection string instead of endpoint
  apps/e2e/cypress.config.js
Due: azure-pipelines-e2e.yml

chore(web/applications): install @pins/feature-flags
  apps/e2e/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

chore(web/applications): install @azure/app-configuration
  apps/web/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

feat(e2e): create a FeatureFlagClient as a fixture
  apps/e2e/cypress/fixtures/feature-flag-client.js
Due: azure-pipelines-e2e.yml

feat(web/applications): define a FeatureFlagClient at the top level
  apps/web/src/common/__tests__/feature-flags.test.js
  apps/web/src/common/feature-flags.js
Due: azure-pipelines-e2e.yml

feat(api/applications): replace old isFeatureActive util with FF client
  apps/api/src/server/utils/__tests__/feature-flags.test.js
  apps/api/src/server/utils/feature-flags.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
