Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

chore(api/applications): event broadcasts representations redact and tests (boas-1430)
  apps/api/src/server/applications/application/representations/redact/__tests__/patch-redact.test.js
  apps/api/src/server/applications/application/representations/redact/redact.controller.js
  apps/api/src/server/applications/application/representations/redact/redact.service.js
  apps/api/src/server/applications/application/representations/status/__tests__/patch-status.test.js
Due: azure-pipelines-e2e.yml

feat(api/applications): add event broadcasts representations update tests2 (boas-1430)
  apps/api/src/server/applications/application/representations/__tests__/patch-representation.test.js
Due: azure-pipelines-e2e.yml

chore(api/applications): event broadcasts representations status refactor (boas-1430)
  apps/api/src/server/applications/application/representations/publish/publish.service.js
  apps/api/src/server/applications/application/representations/publish/representation.js
  apps/api/src/server/applications/application/representations/status/__tests__/patch-status.test.js
  apps/api/src/server/applications/application/representations/status/status.controller.js
  apps/api/src/server/applications/application/representations/status/status.service.js
Due: azure-pipelines-e2e.yml

chore(api/applications): nsip rel reps spelling corrections (boas-1430)
  apps/api/src/server/applications/application/application.routes.js
  apps/api/src/server/applications/application/representations/redact/redact.route.js
  apps/api/src/server/applications/application/representations/representaions.service.js
  apps/api/src/server/applications/application/representations/representations.routes.js
Due: azure-pipelines-e2e.yml

feat(api/applications): add event broadcasts representations update (boas-1430)
  apps/api/src/server/applications/application/representations/representations.controller.js
  apps/api/src/server/applications/application/representations/representations.service.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

chore(api/applications): event broadcasts representations function refactor (boas-1430)
  apps/api/src/server/applications/application/representations/publish/publish.service.js
  apps/api/src/server/applications/application/representations/publish/representation.js
  apps/api/src/server/applications/application/representations/representations.service.js
Due: azure-pipelines-e2e.yml

chore(web/applications): nsip rel reps spelling corrections (boas-1430)
  apps/web/src/server/applications/case/representations/publish-updated-representations/publish-updated-representations.view-model.js
Due: azure-pipelines-e2e.yml

feat(api/applications): add event broadcasts nsip-exam-timetable (boas-1433)
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
Due: azure-pipelines-e2e.yml

test(e2e): changed date format
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/e2e/cypress/support/utils/createTimetableItemInfo.js
Due: azure-pipelines-e2e.yml

feat(applications/web): amend some fields within the exam timetable item forms (BOAS-1348)
  apps/api/src/database/migrations/20240125110850_update_template_type_in_exam_timetable_type/migration.sql
  apps/api/src/database/seed/data-static.js
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/applications-timetable.test.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.validators.js
  apps/web/src/server/views/applications/case-timetable/timetable-details-form.njk
  apps/web/testing/applications/fixtures/timetable-types.js
Due: azure-pipelines-e2e.yml

test(e2e): removed double checks
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(api): add middleware to check for api key in request
  appeals/api/src/server/utils/cache-data.js
  apps/api/package.json
  apps/api/src/server/build-app.js
  apps/api/src/server/config/config.js
  apps/api/src/server/config/schema.js
  apps/api/src/server/middleware/authorise-request.js
  apps/api/src/server/utils/cache-data.js
  apps/api/src/server/utils/fetch-api-key.js
  package-lock.json
  packages/key-vault-secrets-client/src/get-key-vault-secrets-client.js
  packages/key-vault-secrets-client/src/local-key-vault-secrets-client.js
Due: azure-pipelines-e2e.yml

feat(/packages/key-vault-secrets-client): add key vault secret client package
  package-lock.json
  packages/key-vault-secrets-client/index.d.ts
  packages/key-vault-secrets-client/index.js
  packages/key-vault-secrets-client/jsconfig.json
  packages/key-vault-secrets-client/package.json
  packages/key-vault-secrets-client/src/get-key-vault-secrets-client.js
  packages/key-vault-secrets-client/src/key-vault-secrets-client.js
  packages/key-vault-secrets-client/src/local-key-vault-secrets-client.js
Due: none

feat(web): remove all point of failures for api keys for checking on live service
  apps/api/src/server/middleware/authorise-request.js
  apps/api/src/server/utils/fetch-api-key.js
  apps/web/src/server/lib/add-auth-headers.js
  apps/web/src/server/lib/fetch-api-key.js
  package-lock.json
  packages/key-vault-secrets-client/src/get-key-vault-secrets-client.js
  packages/key-vault-secrets-client/src/key-vault-secrets-client.js
  packages/key-vault-secrets-client/src/local-key-vault-secrets-client.js
Due: azure-pipelines-e2e.yml

feat(web): add api key fetch to backend requests
  apps/web/environment/config.d.ts
  apps/web/environment/config.js
  apps/web/environment/schema.js
  apps/web/src/server/applications/case/project-team/application-project-team.azure-service.js
  apps/web/src/server/lib/add-auth-headers.js
  apps/web/src/server/lib/cache-handler.js
  apps/web/src/server/lib/fetch-api-key.js
  apps/web/src/server/lib/request.js
Due: azure-pipelines-e2e.yml

test(e2e): removed faker data for project location
  apps/e2e/cypress/support/utils/createProjectInformation.js
Due: azure-pipelines-e2e.yml

test(e2e): fixed failed scripts due to application changes
  apps/e2e/cypress.config.js
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/support/e2e.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(appeals/web): restored signout test
  appeals/web/src/server/app/auth/__tests__/auth.test.js
  appeals/web/src/server/app/auth/auth.controller.js
Due: none

fix(appeals): viewing personal list - shows page not found error
  appeals/api/src/server/repositories/appeal.repository.js
  appeals/api/src/server/utils/__tests__/sort-appeals.test.js
  appeals/api/src/server/utils/appeal-sorter.js
  packages/platform/http/hooks.js
Due: none

fix(appeals/api): always-on checks
  appeals/api/src/server/build-app.js
Due: none

feat(api): feature/BOAT-706 API - National List Filters
  appeals/api/src/server/endpoints/appeals/__tests__/appeals.test.js
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/api/src/server/endpoints/appeals/appeals.middleware.js
  appeals/api/src/server/endpoints/appeals/appeals.routes.js
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/openapi.json
  appeals/api/src/server/repositories/appeal.repository.js
Due: none

fix(api): fix integration of reps for representation reference and status
  apps/api/src/server/applications/application/representations/representation.mapper.js
  apps/api/src/server/repositories/__tests__/representation.repository.test.js
  apps/api/src/server/repositories/representation.repository.js
  apps/functions/applications-command-handlers/register-representation-command/__tests__/register-representation-command.test.js
  apps/functions/applications-command-handlers/register-representation-command/index.js
  packages/applications/types/representation.d.ts
Due: azure-pipelines-e2e.yml

feat(api/applications): add event broadcasts representations update tests (boas-1430)
  apps/api/src/server/applications/application/representations/__tests__/patch-representation.test.js
  apps/api/src/server/applications/application/representations/representation.mapper.js
  apps/api/src/server/applications/application/representations/representations.service.js
  apps/api/src/server/repositories/__tests__/representation.repository.test.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

feat(api/applications): add event broadcasts representations create (boas-1430)
  apps/api/src/server/applications/application/representations/__tests__/create-representation.test.js
  apps/api/src/server/applications/application/representations/representations.controller.js
  apps/api/src/server/applications/application/representations/representations.service.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
