Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      pool:
        name: pins-odt-agent-pool
      gitFetchDepth: 0
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      validationJobs:
      - name: Run Linting & API Tests
        steps:
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

chore(web): move @planning-inspectorate/address-lookup into the codebase
  apps/web/package.json
  apps/web/setup-tests.js
  apps/web/src/server/applications/common/services/address-lookup/README.md
  apps/web/src/server/applications/common/services/address-lookup/index.d.ts
  apps/web/src/server/applications/common/services/address-lookup/index.js
  apps/web/src/server/applications/common/services/address-lookup/services/findAddressListByPostcode.js
  apps/web/src/server/applications/common/services/address-lookup/services/services.test.js
  apps/web/src/server/applications/common/services/address-lookup/utils/capitalizeString.js
  apps/web/src/server/applications/common/services/address-lookup/utils/formatAddress.js
  apps/web/src/server/applications/common/services/address-lookup/utils/logger.js
  apps/web/src/server/applications/common/services/address-lookup/utils/utils.test.js
  apps/web/src/server/applications/common/services/address.service.js
  package-lock.json
  package.json
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/api/src/server/applications/application/documents/__tests__/shapefile-processing.service.test.js
  apps/api/src/server/applications/application/documents/__tests__/update-document-status.test.js
  apps/api/src/server/applications/application/documents/shapefile-processing.service.js
  apps/api/src/server/applications/applications.routes.js
  apps/api/src/server/applications/documents/documents.service.js
  apps/api/src/server/repositories/document.repository.js
  apps/functions/applications-background-jobs/common/config.js
  apps/functions/applications-background-jobs/common/service-bus-client.js
  apps/functions/applications-background-jobs/malware-detected/__tests__/index.test.js
  apps/functions/applications-background-jobs/malware-detected/index.js
  apps/functions/applications-background-jobs/malware-detected/src/__tests__/shapefile-queue.test.js
  apps/functions/applications-background-jobs/malware-detected/src/back-office-api-client.js
  apps/functions/applications-background-jobs/malware-detected/src/shapefile-queue.js
  apps/functions/applications-background-jobs/process-shapefile/__tests__/index.test.js
  apps/functions/applications-background-jobs/process-shapefile/function.json
  apps/functions/applications-background-jobs/process-shapefile/index.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/functions/applications-background-jobs/package.json
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/api/src/server/applications/application/documents/document.controller.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/functions/applications-background-jobs/malware-detected/index.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/documents/documents.controller.js
  apps/functions/applications-background-jobs/process-shapefile/__tests__/index.test.js
  apps/functions/applications-background-jobs/process-shapefile/index.js
  apps/functions/applications-background-jobs/process-shapefile/src/__tests__/validate-geojson.test.js
  apps/functions/applications-background-jobs/process-shapefile/src/validate-geojson.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

ci: pipeline updates and e2e fixes
  apps/e2e/cypress.config.js
  apps/e2e/cypress/e2e/back-office-applications/keyDates.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/page_objects/createCasePage.js
  apps/e2e/cypress/page_objects/keyDatesPage.js
  apps/e2e/cypress/support/utils/createProjectInformation.js
  azure-pipelines-e2e-applications.yml
  packages/feature-flags/src/static-feature-flags.js
Due: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

ci: witch tests to run against local instance in pipelines
  apps/e2e/scripts/prepare-local-fixtures.sh
  apps/e2e/scripts/run-cypress-specs.sh
  azure-pipelines-e2e-applications.yml
  docker-compose.e2e.yml
  pipelines/templates/e2e-local-compose-steps.yml
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

ci: fix docker issue
  apps/e2e/scripts/e2e-compose.sh
  pipelines/templates/e2e-local-compose-steps.yml
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

ci: fix the local run
  docker-compose.e2e.yml
Due: azure-pipelines-ci.yml

ci: speed up run
  apps/e2e/scripts/prepare-local-fixtures.sh
  apps/e2e/scripts/start-local-apps.sh
  apps/e2e/scripts/stop-local-apps.sh
  docker-compose.e2e.yml
  pipelines/templates/e2e-local-compose-steps.yml
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

ci: fix latest error
  apps/e2e/scripts/prepare-local-fixtures.sh
  apps/e2e/scripts/run-cypress-specs.sh
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/api/src/server/applications/application/documents/__tests__/create-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/update-document-status.test.js
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/applications/documents/documents.service.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/api/src/server/applications/application/documents/__tests__/create-document.test.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/repositories/document-metadata.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

ci: make tests retry safe
  apps/e2e/cypress.config.js
  apps/e2e/cypress/e2e/back-office-applications/addRepresentation.spec.js
  apps/e2e/cypress/e2e/back-office-applications/addTeam.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentPropertiesWelsh.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentVersioning.spec.js
  apps/e2e/cypress/e2e/back-office-applications/editCase.spec.js
  apps/e2e/cypress/e2e/back-office-applications/folders.spec.js
  apps/e2e/cypress/e2e/back-office-applications/keyDates.spec.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/searchDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateAndRemoveTeam.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/fixtures/feature-flags.js
  apps/e2e/cypress/page_objects/createCasePage.js
  apps/e2e/cypress/page_objects/keyDatesPage.js
  apps/e2e/scripts/prepare-local-fixtures.sh
  apps/e2e/scripts/run-cypress-specs.sh
  apps/e2e/scripts/start-local-apps.sh
  apps/e2e/scripts/stop-local-apps.sh
  packages/feature-flags/src/feature-flag-client.js
  packages/feature-flags/src/feature-flag-client.test.js
  packages/feature-flags/src/static-feature-flags.js
Due: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/api/src/server/applications/documents/documents.service.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/functions/applications-background-jobs/process-shapefile/src/validate-shapefile.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): update file size validation message for large zip files (idas-602)
  apps/web/src/client/components/file-uploader/_client-actions.js
  apps/web/src/client/components/file-uploader/_html.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(api): duplicate document refs after FO submission v2 (idas-428)
  apps/api/setup-tests.js
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/repositories/document.repository.js
  apps/api/src/server/utils/query-with-retry.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/api/src/server/applications/application/__tests__/create-application.test.js
  apps/api/src/server/applications/application/documents/__tests__/shapefile-processing.service.test.js
  apps/api/src/server/applications/application/documents/shapefile-processing.service.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/functions/applications-background-jobs/process-shapefile/index.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/functions/applications-background-jobs/process-shapefile/__tests__/index.test.js
  apps/functions/applications-background-jobs/process-shapefile/index.js
  apps/functions/applications-background-jobs/process-shapefile/src/__tests__/validate-shapefile.test.js
  apps/functions/applications-background-jobs/process-shapefile/src/validate-shapefile.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/functions/applications-background-jobs/common/config.js
  apps/functions/applications-background-jobs/package.json
  apps/functions/applications-background-jobs/process-shapefile/__tests__/index.test.js
  apps/functions/applications-background-jobs/process-shapefile/src/__tests__/validate-shapefile.test.js
  apps/functions/applications-background-jobs/process-shapefile/src/validate-shapefile.js
  package-lock.json
  package.json
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/functions/applications-background-jobs/common/blob-client.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/functions/applications-background-jobs/common/config.js
  apps/functions/applications-background-jobs/common/service-bus-client.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(api): add data centres project type subsector (idas-579)
  apps/api/src/database/migrations/20260505134411_add_data_centres_subsector/migration.sql
  apps/api/src/database/migrations/migration_lock.toml
  apps/api/src/database/seed/data-static.js
  apps/api/src/database/seed/seed-clear.js
  apps/api/src/database/seed/seed-development.js
  package-lock.json
  package.json
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): add spreadsheet migration script (idas-510)
  apps/functions/applications-migration/local.settings.json.example
  apps/functions/applications-migration/package.json
  apps/functions/applications-migration/spreadsheet-case-data-migration/database.js
  apps/functions/applications-migration/spreadsheet-case-data-migration/index.js
  package-lock.json
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

test: improve retry resilience
  apps/e2e/cypress.config.js
  apps/e2e/cypress/e2e/back-office-applications/addTeam.spec.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/searchDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/sectorAsTraing.spec.js
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/fixtures/feature-flags.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/createCaseSections/regions.js
  apps/e2e/cypress/page_objects/createCaseSections/sector.js
  apps/e2e/cypress/page_objects/searchResultsPage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
  apps/e2e/cypress/support/utils/createProjectInformation.js
  apps/e2e/scripts/run-cypress-specs.sh
  azure-pipelines-e2e-applications.yml
  packages/feature-flags/src/feature-flag-client.js
  packages/feature-flags/src/feature-flag-client.test.js
  pipelines/templates/e2e-local-compose-steps.yml
Due: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

test: fix smoke
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

ci: minor improvements
  apps/e2e/cypress/e2e/back-office-applications/addTeam.spec.js
  pipelines/templates/e2e-local-compose-steps.yml
Due: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

test: harden check
  apps/e2e/cypress/e2e/back-office-applications/sectorAsTraing.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(functions): added shapefile processing (idas-221)
  apps/functions/applications-background-jobs/malware-detected/__tests__/index.test.js
  apps/functions/applications-background-jobs/malware-detected/index.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

test: fix add team test
  apps/e2e/cypress/page_objects/applicationsHomePage.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

test: fix latest ci fail
  apps/e2e/cypress/e2e/back-office-applications/sectorAsTraing.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

ci: harden for rerunning of same build
  pipelines/templates/e2e-local-compose-steps.yml
Due: azure-pipelines-ci.yml

ci: fix db error
  pipelines/templates/e2e-local-compose-steps.yml
Due: azure-pipelines-ci.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e.yml: any of: apps
