Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

fix(api/applications): remove console logs (boas-1329)
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
Due: azure-pipelines-e2e.yml

fix(api/applications): exam timetable various swagger fixes (boas-1329)
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.routes.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

fix(api/applications): fix exam timetable lost type repost issue (boas-1329)
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
Due: azure-pipelines-e2e.yml

fix(web/applications): display exam timetable errors inc non unique error (boas-1329)
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.service.js
Due: azure-pipelines-e2e.yml

fix(api/applications): fix exam timetable auto uppercase of name (boas-1329)~
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.validators.js
Due: azure-pipelines-e2e.yml

fix(api/applications): exam timetable name cannot be other (boas-1329)
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.validators.js
Due: azure-pipelines-e2e.yml

fix(api/applications): exam timetable name must be unique (boas-1329)
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.validators.js
  apps/api/src/server/repositories/examination-timetable-items.repository.js
Due: azure-pipelines-e2e.yml

fix(web/applications): exam timetable name display error if other (boas-1329)
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.service.js
Due: azure-pipelines-e2e.yml

refactor(web): remove obsolete nunjucks component builders
  appeals/web/src/server/appeals/appeal-details/allocation-details/allocation-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/assign-user/assign-user.controller.js
  appeals/web/src/server/appeals/appeal-details/assign-user/assign-user.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.mapper.js
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/nunjucks-template-builders/summary-list-builder.js
  appeals/web/src/server/lib/nunjucks-template-builders/table-builder.js
  appeals/web/src/server/lib/nunjucks-template-builders/tag-builders.js
  appeals/web/src/server/views/appeals/appeal/assign-user.njk
Due: none

fix(appeals/api): appellant with no email
  appeals/api/src/database/schema.prisma
  appeals/api/src/message-schemas/pins-root.schema.json
  appeals/api/src/server/endpoints/integrations/integrations.controller.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/service-user.mapper.js
Due: none

fix(appeals/api): appellant with no email
  appeals/api/src/database/migrations/20231127093218_agent_submission/migration.sql
Due: none

test(e2e): fixed failed test scripts
  apps/e2e/cypress/e2e/back-office-applications/addTeam.spec.js
  apps/e2e/cypress/e2e/back-office-applications/createCase.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/search.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/fixtures/NI_Template_2.html
  apps/e2e/cypress/fixtures/NI_Video_Template_2.html
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
  apps/e2e/cypress/support/cypressUtils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(appeals): function refactoring
  appeals/functions/casedata-import/appellant-case/function.json
  appeals/functions/casedata-import/questionnaire/function.json
  appeals/functions/document-processing/document-copy/todo.txt
  appeals/functions/document-processing/malware-detection/todo.txt
Due: none

fix(web/applications): update contact link on publish representations error page
  apps/web/src/server/applications/case/representations/publish-representations-error/__tests__/__snapshots__/publish-representations-error.test.js.snap
  apps/web/src/server/views/applications/representations/publish-representations-error.njk
Due: azure-pipelines-e2e.yml

fix(api): standardise identity version
  apps/functions/applications-migration/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

fix(api): install blob storage
  apps/functions/applications-migration/package.json
  azure-pipelines-build.yml
  package-lock.json
Due: azure-pipelines-e2e.yml

test(api/applications): mock app insights connection string in tests
  apps/api/setup-tests.js
Due: azure-pipelines-e2e.yml

chore(api/applications): install applicationinsights npm package
  apps/api/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

feat(api/applications): initialise App Insights in back office API
  apps/api/src/server/app.js
Due: azure-pipelines-e2e.yml

chore(api/applications): add App Insights connection string to config
  apps/api/src/server/config/config.js
  apps/api/src/server/config/schema.js
Due: azure-pipelines-e2e.yml

test(e2e): fixed failed test scripts
  apps/e2e/cypress/e2e/back-office-applications/search.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): added comments for case team commented block
  apps/e2e/cypress/fixtures/NI_Template_2.html
  apps/e2e/cypress/fixtures/NI_Video_Template_2.html
Due: azure-pipelines-e2e.yml

test(e2e): added comments for case team commented blocks
  apps/e2e/cypress/e2e/back-office-applications/createCase.spec.js
  apps/e2e/cypress/e2e/back-office-applications/search.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
