Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

fix(api): cast automatic update IDs to numbers
  apps/functions/applications-migration/project-updates-migration/src/project-updates-migration.js
Due: azure-pipelines-e2e.yml

fix(api): fix update status
  apps/functions/applications-migration/project-updates-migration/src/project-updates-migration.js
Due: azure-pipelines-e2e.yml

feat(appeals/api): return the redaction status from the get appeals document endpoint
  appeals/api/src/server/endpoints/documents/__tests__/documents.test.js
  appeals/api/src/server/endpoints/documents/documents.routes.js
  appeals/api/src/server/openapi.json
  appeals/api/src/server/repositories/document.repository.js
  appeals/api/src/server/tests/documents/mocks.js
Due: none

fix(appeals/api): questionnaire import nearby
  appeals/api/src/server/endpoints/integrations/integrations.controller.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/index.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/questionnaire.mapper.js
  appeals/api/src/server/endpoints/integrations/integrations.service.js
  appeals/api/src/server/repositories/integrations.repository.js
Due: none

fix(appeals/api): questionnaire import nearby
  appeals/api/src/server/repositories/integrations.repository.js
Due: none

fix(web): fix 404 error when scheduling site visit
  appeals/web/src/server/appeals/appeal-details/appeal-details.types.d.ts
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.controller.js
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/site-visit.test.js
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.controller.js
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

refactor(api/applications): set up connection from log to doc version
  apps/api/src/server/repositories/document-activity-log.repository.js
Due: azure-pipelines-e2e.yml

fix(api): only migrate most recent subscription
  apps/api/src/server/migration/migrators/nsip-subscription-migrator.js
Due: azure-pipelines-e2e.yml

fix(web): add back link to document upload page
  appeals/web/src/server/appeals/appeal-documents/__tests__/__snapshots__/document-upload.test.js.snap
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.controller.js
  appeals/web/src/server/views/appeals/documents/document-upload.njk
Due: none

test(e2e): made some changes to make the scripts to work
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/fixtures/sample-doc.pdf
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): verified the title update for s51
  apps/e2e/cypress/page_objects/s51AdvicePage.js
Due: azure-pipelines-e2e.yml

fix(web/applications): render proper error on S51 status change
  apps/web/src/server/applications/case/s51/applications-s51.service.js
Due: azure-pipelines-e2e.yml

test(e2e): added pdf file
  apps/e2e/cypress/fixtures/sample-doc.pdf
Due: azure-pipelines-e2e.yml

feat(api/applications): return unpublishedDate in case response
  apps/api/src/server/utils/mapping/map-case-details.js
Due: azure-pipelines-e2e.yml

feat(web/applications): render 'Last updated' next to NOT PUBLISHED
  apps/web/src/server/views/applications/case/overview.njk
Due: azure-pipelines-e2e.yml

test(api/applications): add unpublishedDate property to test payload
  apps/api/src/server/applications/application/__tests__/get-application-details.test.js
Due: azure-pipelines-e2e.yml

test(e2e): updated the locator
  apps/e2e/cypress.config.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/page_objects/basePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): changed the retries
  apps/e2e/cypress.config.js
Due: azure-pipelines-e2e.yml

test(e2e): changed the locator to short version
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/page_objects/basePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

docs: .env.local -> .env
  docs/azurite-blob-emulator.md
  docs/enabling-ad-locally.md
  docs/uploading-files.md
Due: none

test(e2e): changed the locator to shorter version
  apps/e2e/cypress/page_objects/basePage.js
Due: azure-pipelines-e2e.yml

fix(applications/web): assert group membership for all routes
  apps/web/src/server/app/app.router.js
Due: azure-pipelines-e2e.yml
