Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

fix(web): update issue determination status tag label to issue decision
  appeals/web/src/server/lib/nunjucks-filters/index.js
  appeals/web/src/server/lib/nunjucks-filters/status-name.js
  appeals/web/src/server/lib/nunjucks-filters/status-tag.js
  appeals/web/src/server/views/appeals/components/status-tag.njk
Due: none

feat(appeals/api): copy blobs from FO
  appeals/api/src/server/config/config.js
  appeals/api/src/server/config/schema.js
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/integrations/integrations.controller.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/document.mapper.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/index.js
  appeals/api/src/server/endpoints/integrations/integrations.service.js
  appeals/api/src/server/infrastructure/topics.js
  appeals/api/src/server/repositories/document-metadata.repository.js
  appeals/api/src/server/repositories/integrations.repository.js
  appeals/functions/document-processing/document-copy/config.js
  appeals/functions/document-processing/document-copy/function.json
  appeals/functions/document-processing/document-copy/index.js
  appeals/functions/document-processing/package.json
  package-lock.json
  packages/blob-storage-client/src/blob-storage-client.js
Due: none

feat(appeals/api): copy blobs from FO
  appeals/functions/document-processing/document-move/blob.js
  appeals/functions/document-processing/document-move/config.js
  appeals/functions/document-processing/document-move/function.json
  appeals/functions/document-processing/document-move/index.js
Due: none

fix(web/applications): fix published date not displaying correctly
  apps/web/src/server/applications/case/representations/applications-relevant-reps.controller.js
  apps/web/src/server/lib/dates.js
Due: azure-pipelines-e2e.yml

fix(web/applications): set absolute url for search-results page (boas-1375)
  apps/web/src/server/app/app.controller.js
  apps/web/src/server/app/auth/__tests__/auth.test.js
  apps/web/src/server/applications/__tests__/__snapshots__/applications.test.js.snap
  apps/web/src/server/applications/search-results/__tests/__snapshots__/applications-search.test.js.snap
  apps/web/src/server/lib/nunjucks-filters/url.js
  apps/web/src/server/views/applications/search-results/application-search.component.njk
Due: azure-pipelines-e2e.yml

feat(appeals/api): copy blobs from FO
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/tests/appeals/expectation.js
Due: none

feat(appeals/api): copy blobs from FO
  appeals/api/.env.test
  appeals/api/src/server/endpoints/integrations/integrations.controller.js
Due: none

feat(appeals): integration of FO documents
  appeals/api/src/server/endpoints/integrations/integrations.controller.js
  appeals/api/src/server/repositories/integrations.repository.js
  appeals/functions/document-processing/document-move/blob.js
Due: none

feat(appeals): personal list part 1
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appeals/appeals.formatter.js
  appeals/api/src/server/repositories/appeal.repository.js
  appeals/api/src/server/utils/appeal-sorter.js
  appeals/web/src/server/appeals/appeals.router.js
  appeals/web/src/server/appeals/personal-list/__tests__/__snapshots__/personal-list.test.js.snap
  appeals/web/src/server/appeals/personal-list/__tests__/personal-list.test.js
  appeals/web/src/server/appeals/personal-list/personal-list.controller.js
  appeals/web/src/server/appeals/personal-list/personal-list.mapper.js
  appeals/web/src/server/appeals/personal-list/personal-list.router.js
  appeals/web/src/server/appeals/personal-list/personal-list.service.js
  appeals/web/src/server/lib/mappers/mapper-types-jsdoc.js
  appeals/web/src/server/views/patterns/display-page.pattern.njk
  appeals/web/testing/app/fixtures/referencedata.js
  packages/appeals/types/appeal.d.ts
Due: none

fix(appeals/api): import lpaq docs DB and validation fixes
  appeals/api/src/server/endpoints/integrations/integrations.mappers/address.mapper.js
  appeals/api/src/server/repositories/integrations.repository.js
Due: none

fix(appeals/api): new appeals default to assign_case_officer
  appeals/api/src/server/repositories/integrations.repository.js
Due: none

fix(web): add visuallyHiddenText to lpaq and appellant case summary action links
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/appeals/national-list/__tests__/__snapshots__/national-list.test.js.snap
  appeals/web/src/server/lib/mappers/appellantCase.mapper.js
  appeals/web/src/server/lib/mappers/lpaQuestionnaire.mapper.js
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

feat(api/applications): add new document type to document NSIP payload
  apps/api/src/server/applications/application/documents/document.js
Due: azure-pipelines-e2e.yml

feat(api/applications): update document to relevant rep attachment
  apps/api/src/server/applications/application/representations/attachment/attachment.service.js
Due: azure-pipelines-e2e.yml

feat(api/applications): add the documentType column to Document schema
  apps/api/src/database/migrations/20231208133850_add_document_type/migration.sql
  apps/api/src/database/migrations/20231208134356_document_type_required/migration.sql
  apps/api/src/database/schema.prisma
Due: azure-pipelines-e2e.yml

test(api/applications): mock findUnique method of RRs repo package
  apps/api/setup-tests.js
  apps/api/src/server/applications/application/representations/__tests__/get-representation.test.js
  apps/api/src/server/applications/application/representations/attachment/__tests__/post-attachment.test.js
  apps/api/src/server/applications/application/representations/status/__tests__/patch-status.test.js
  apps/api/src/server/repositories/__tests__/representation.repository.test.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

feat(api/applications): record documentType when inserting
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/applications/constants.js
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
Due: azure-pipelines-e2e.yml

fix(api/applications): use findUnique to find representation by ID
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

feat(api/applications): add relevant representation type constants
  apps/api/src/server/applications/constants.js
Due: azure-pipelines-e2e.yml

test(e2e): fixed failed tests
  apps/e2e/cypress/e2e/back-office-applications/createCase.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/page_objects/projectTeamPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): fixed failed ones
  apps/e2e/cypress/e2e/back-office-applications/updateAndRemoveTeam.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml
