Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

chore(appeals/api): trying to fix DB seed
  appeals/api/src/database/seed/seed-clear.js
Due: none

test(e2e): verified the title update for s51
  apps/e2e/cypress/page_objects/s51AdvicePage.js
Due: azure-pipelines-e2e.yml

refactor(e2e): all case information assertions
  apps/e2e/cypress/e2e/back-office-applications/documentDownload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentVersioning.spec.js
  apps/e2e/cypress/e2e/back-office-applications/keyDates.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(appeals): moved static config to constants
  appeals/api/package.json
  appeals/api/src/server/config/config.js
  appeals/api/src/server/config/schema.js
  appeals/api/src/server/endpoints/appellant-cases/appellant-cases.controller.js
  appeals/api/src/server/endpoints/appellant-cases/appellant-cases.formatter.js
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/documents/documents.mapper.js
  appeals/api/src/server/utils/business-days.js
Due: none

refactor(e2e): update case reference selector
  apps/e2e/cypress/e2e/back-office-applications/keyDates.spec.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(web): single line inputs to replace textareas
  appeals/web/src/client/components/add-another/add-another.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.types.d.ts
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-invalid/outcome-invalid.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/outcome-incomplete/outcome-incomplete.controller.js
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/mappers/validation-outcome-reasons.mapper.js
Due: none

test(e2e): revert retries
  apps/e2e/cypress.config.js
Due: azure-pipelines-e2e.yml

refactor(e2e): wip
  apps/e2e/cypress.config.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/support/utils/createProjectInformation.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

refactor(e2e): wip
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-e2e.yml

refactor(e2e): wip
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(web/applications): add unpublish page and its success page (boas-681)
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/__tests__/applications-case.test.js
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/applications-case.router.js
  apps/web/src/server/applications/common/services/case.service.js
  apps/web/src/server/views/applications/case/successfully-unpublished.njk
  apps/web/src/server/views/applications/case/unpublish.njk
Due: azure-pipelines-e2e.yml

chore(appeals/api): moved bank holiday feed to static const
  appeals/api/src/server/config/config.js
  appeals/api/src/server/config/schema.js
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/utils/business-days.js
Due: none

fix(api/applications): add missing tables to seed script (boas-1216)
  apps/api/src/database/seed/seed-clear.js
Due: azure-pipelines-e2e.yml

chore(appeals): uses node 18 when running db:seed
  azure-pipelines-db-seed-appeals-production.yml
  azure-pipelines-db-seed-appeals.yml
Due: none

fix(web/applications): add publishing success page (boas-1206)
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/__tests__/applications-case.test.js
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/lib/nunjucks-filters/key-dates-property.js
  apps/web/src/server/views/applications/case/project-information.njk
  apps/web/src/server/views/applications/case/project-success-banner.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): add republish banner on case pages (boas-1206)
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/views/applications/case/layouts/applications-case-layout.njk
  apps/web/src/server/views/applications/case/project-success-banner.njk
Due: azure-pipelines-e2e.yml

refactor(api/applications): improve code consuming document update API
  apps/web/src/server/applications/case/documentation-metadata/documentation-metadata.service.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
Due: azure-pipelines-e2e.yml

feat(api/applications): return results + errors when updating documents
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.validators.js
Due: azure-pipelines-e2e.yml

feat(api/applications): remove `/update` from path of document update
  apps/api/src/server/applications/application/documents/__tests__/update-document-status.test.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/web/src/server/applications/case/documentation-metadata/__tests__/documentation-metadata.test.js
  apps/web/src/server/applications/case/documentation-metadata/documentation-metadata.service.js
  apps/web/src/server/applications/case/documentation/__tests__/applications-documentation.test.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
Due: azure-pipelines-e2e.yml

refactor(api/applications): improve code structure in update handler
  apps/api/src/server/applications/application/documents/document.controller.js
Due: azure-pipelines-e2e.yml

refactor(api/applications): code improvements in document controller
  apps/api/src/server/applications/application/documents/document.controller.js
Due: azure-pipelines-e2e.yml

refactor(api/applications): improve readability of document update
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml

fix(web/applications): display inline document errors send from API
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
  apps/web/src/server/views/applications/case-documentation/documentation-table.njk
Due: azure-pipelines-e2e.yml

chore(api/applications): generate Swagger spec
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
Due: azure-pipelines-e2e.yml

test(api/applications): repair unit tests for document updates
  apps/api/src/server/applications/application/documents/__tests__/publish-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/update-document-status.test.js
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/repositories/document-metadata.repository.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
