Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

feat(appeals/web): add neighbouring site
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/__tests__/appeal-details.test.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.router.js
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/__tests__/__snapshots__/neighbouring-sites.test.js.snap
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/__tests__/neighbouring-sites.test.js
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.controller.js
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.mapper.js
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.router.js
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.service.js
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.validators.js
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/address-formatter.js
  appeals/web/src/server/lib/display-page-formatter.js
  appeals/web/src/server/lib/error-handlers/__tests__/error-handlers.test.js
  appeals/web/src/server/lib/error-handlers/address-error-handler.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/notification-banners.mapper.js
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

fix(api/applications): schema validation fix 1 doc sourcesystem (boas-1606)
  apps/api/src/database/migrations/20240301150419_correct_sourcesystem_for_nsip_docs/migration.sql
  apps/api/src/database/schema.prisma
  apps/api/src/server/applications/application/documents/__tests__/create-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/delete-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/document.service.test.js
  apps/api/src/server/applications/application/documents/__tests__/get-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/unpublish-document.test.js
  apps/api/src/server/applications/application/file-folders/__tests__/get-folder-details.test.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
  apps/api/src/server/utils/create-enums.js
  apps/functions/applications-background-jobs/publish-document/__tests__/test-event.json
Due: azure-pipelines-e2e.yml

feat(appeals/api): adds audit trails for linked, related and neighbours
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/link-appeals/link-appeals.controller.js
  appeals/api/src/server/endpoints/neighbouring-sites/neighbouring-sites.controller.js
  appeals/api/src/server/repositories/appeal.repository.js
Due: none

test(e2e): updated change link code for postcode
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-e2e.yml

fix(web): fix character count validation issue on issue decision invalid reason textarea
  appeals/web/src/server/appeals/appeal-details/issue-decision/__tests__/__snapshots__/issue-decision.test.js.snap
  appeals/web/src/server/appeals/appeal-details/issue-decision/__tests__/issue-decision.test.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.controller.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.mapper.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.router.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.validators.js
  appeals/web/src/server/lib/display-page-formatter.js
  appeals/web/src/server/lib/sanitizers/textarea-sanitizer.js
  appeals/web/src/server/lib/validators/textarea-validator.js
Due: none

feat(appeals): mapping and seed improvements
  appeals/api/src/database/seed/data-test.js
  appeals/api/src/server/repositories/appeal.repository.js
  appeals/api/src/server/repositories/integrations.repository.js
  appeals/api/src/server/utils/appeal-reference.js
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/lib/mappers/appeal.mapper.js
Due: none

test(e2e): updated dynamic data to static data
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
Due: azure-pipelines-e2e.yml

fix(functions): removed fullstop from error message
  apps/api/src/server/applications/application/documents/document.validators.js
Due: azure-pipelines-e2e.yml

fix(web): add drag and drop to file upload component
  appeals/web/src/client/components/file-uploader/_client-actions.js
  appeals/web/src/client/components/file-uploader/_errors.js
  appeals/web/src/client/components/file-uploader/_html.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/issue-decision/__tests__/__snapshots__/issue-decision.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-documents/__tests__/__snapshots__/appeal-documents.test.js.snap
  appeals/web/src/server/views/app/components/file-uploader.component.njk
  appeals/web/src/styles/7-components/file-upload.scss
Due: none

test(e2e): changed the date for leap year
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(appeals/api): remove final states from personal list
  appeals/api/src/server/repositories/appeal.repository.js
Due: none

fix(web): fix back link on unlink appeal page
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/__tests__/__snapshots__/manage-linked-appeals.test.js.snap
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/__tests__/manage-linked-appeals.test.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
Due: none

fix(web): prevent linking appeal to itself
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/__tests__/__snapshots__/manage-linked-appeals.test.js.snap
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/__tests__/manage-linked-appeals.test.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
Due: none

fix(appeals/web): removeActions breaking table rows
  appeals/web/environment/config.d.ts
  appeals/web/environment/config.js
  appeals/web/environment/schema.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.mapper.js
  appeals/web/src/server/appeals/personal-list/personal-list.mapper.js
  appeals/web/src/server/lib/mappers/mapper-utilities.js
  appeals/web/testing/app/mocks/auth.js
Due: none

fix(appeals/web): removeActions breaking table rows
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
Due: none

fix(web/applications): revaldiate version on version-routes (boas-1566)
  apps/api/src/server/middleware/version-routes.js
  apps/web/src/server/lib/request.js
Due: azure-pipelines-e2e.yml

fix(web/applications): remove console logs (boas-1566)
  apps/api/src/server/applications/documents/documents.controller.js
  apps/web/src/client/components/file-uploader/_client-actions.js
  apps/web/src/client/components/file-uploader/_server-actions.js
Due: azure-pipelines-e2e.yml

fix(web/applications): revaldiate version on version-routes (boas-1566)
  apps/api/src/server/middleware/version-routes.js
  apps/web/src/server/applications/case/s51/applications-s51.validators.js
Due: azure-pipelines-e2e.yml

fix(web/applications): increase html allowed length (boas-1566)
  apps/api/src/server/applications/documents/documents.service.js
Due: azure-pipelines-e2e.yml

fix(web/applications): change regex (boa-1566)
  apps/api/src/server/applications/documents/documents.service.js
Due: azure-pipelines-e2e.yml

fix(web/applications): remove console logs (boas-1566)
  apps/api/src/server/applications/documents/documents.service.js
Due: azure-pipelines-e2e.yml

fix(web/applications): fix regex for isValid url (boas-1566)
  apps/web/src/server/applications/case/project-updates/project-updates.controller.js
  apps/web/src/server/lib/request.js
Due: azure-pipelines-e2e.yml

fix(web/applications): fix postUpload locals (boas-1566)
  apps/web/src/server/app/app.locals.js
  apps/web/src/server/app/app.router.js
  apps/web/src/server/app/components/file-uploader.component.js
  apps/web/src/server/applications/case/representations/publish-updated-representations/publish-updated-representations.controller.js
  apps/web/src/server/applications/case/representations/publish-updated-representations/publish-updated-representations.router.js
Due: azure-pipelines-e2e.yml

fix(web/applications): remove cookieparser (boas-1566)
  apps/web/src/server/app/app.express.js
Due: azure-pipelines-e2e.yml

fix(web/applications): check dynamic function (boas-1566)
  appeals/api/src/server/middleware/version-routes.js
Due: none

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
