Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

fix(api): fix for publishing of reps where status being sent as valid
  apps/api/src/server/applications/application/representations/publish/__tests__/publish-representation.test.js
  apps/api/src/server/applications/application/representations/publish/publish.service.js
  apps/api/src/server/applications/application/representations/representations.service.js
Due: azure-pipelines-e2e.yml

test(e2e): updated failed tests
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/support/utils/createTimetableItemInfo.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(applications): remove usage of querystring (BOAS-1113)
  apps/functions/applications-background-jobs/notify-subscribers/src/back-office-api-client.js
  apps/web/src/server/applications/case/representations/__tests__/applications-representaions.test.js
  apps/web/src/server/applications/common/components/__tests__/build-query-string.unit.test.js
  apps/web/src/server/applications/common/components/build-query-string.js
Due: azure-pipelines-e2e.yml

feat(api): exam timetable migration endpoint
  apps/api/package.json
  apps/api/src/server/migration/migrator.service.js
  apps/api/src/server/migration/migrators/nsip-exam-timetable-migrator.js
  apps/api/src/server/migration/migrators/utils.js
  apps/functions/applications-migration/common/utils.js
  apps/functions/applications-migration/exam-timetable-migration/debug.js
  apps/functions/applications-migration/exam-timetable-migration/src/exam-timetable-migration.js
  apps/functions/applications-migration/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

fix(api): return empty object if key with status not found
  apps/api/src/server/middleware/authorise-request.js
Due: azure-pipelines-e2e.yml

test(e2e): removed optional checks
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/support/utils/createTimetableItemInfo.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(appeals/api): introduce an appeal type repository for transfers
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/api/src/server/endpoints/appeals/appeals.formatter.js
  appeals/api/src/server/endpoints/change-appeal-type/change-appeal-type.middleware.js
  appeals/api/src/server/repositories/appeal-type.repository.js
Due: none

chore(applications): stop returning 405 for unregistered routes (BOAS-1009)
  apps/api-testing/tests/inspector/inspector.test.js
  apps/api-testing/tests/region/region.test.js
  apps/api-testing/tests/sector/sector.test.js
  apps/api-testing/tests/zoom-level/zoom-level.test.js
  apps/api/src/server/build-app.js
Due: azure-pipelines-e2e.yml

fix(appeals/api): logic to add linked appeals
  appeals/api/src/server/endpoints/link-appeals/link-appeals.controller.js
  appeals/api/src/server/endpoints/link-appeals/link-appeals.service.js
Due: none

feat(appeals/api): pR fixes
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeals.controller.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeals.service.js
  appeals/api/src/server/utils/__tests__/horizon-gateway.test.js
  appeals/api/src/server/utils/horizon-gateway.js
  appeals/api/src/server/utils/mapping/map-horizon.js
Due: none

feat(applications/api): change long s51 string columns to ntext
  apps/api/src/database/migrations/20240131161431_make_s51_enquiry_and_advice_details_ntext/migration.sql
  apps/api/src/database/schema.prisma
Due: azure-pipelines-e2e.yml

feat(functions): s51 advice data migration
  apps/api/src/server/migration/migrator.service.js
  apps/api/src/server/migration/migrators/s51-advice-migrator.js
  apps/functions/applications-migration/common/back-office-api-client.js
  apps/functions/applications-migration/common/utils.js
  apps/functions/applications-migration/s51-advice-migration/debug.js
  apps/functions/applications-migration/s51-advice-migration/function.json
  apps/functions/applications-migration/s51-advice-migration/index.js
  apps/functions/applications-migration/s51-advice-migration/src/s51-advice-migration.js
  package-lock.json
Due: azure-pipelines-e2e.yml

test(api/applications): update SERVICE_USER tests to expect entityType
  apps/api/src/server/applications/application/__tests__/update-application.test.js
Due: azure-pipelines-e2e.yml

feat(api/applications): add entityType header to SERVICE_USER events
  apps/api/src/server/applications/subscriptions/subscriptions.service.js
  apps/api/src/server/infrastructure/event-broadcasters.js
Due: azure-pipelines-e2e.yml

fix(api): send representation messages as list to fix update bug
  apps/api/src/server/applications/application/representations/__tests__/create-representation.test.js
  apps/api/src/server/applications/application/representations/__tests__/patch-representation.test.js
  apps/api/src/server/applications/application/representations/redact/__tests__/patch-redact.test.js
  apps/api/src/server/applications/application/representations/representations.service.js
  apps/api/src/server/applications/application/representations/status/__tests__/patch-status.test.js
Due: azure-pipelines-e2e.yml

feat(appeals/api): add appealID and some refactoring
  appeals/api/src/server/endpoints/linkable-appeals/__tests__/linkable-appeal.test.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeals.formatter.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeals.routes.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeals.service.js
  appeals/api/src/server/openapi-types.ts
  appeals/api/src/server/openapi.json
  appeals/api/src/server/swagger.js
  appeals/api/src/server/utils/horizon-gateway.js
  appeals/api/src/server/utils/mapping/map-horizon.js
Due: none

feat(api): ensure unit tests use test api key
  apps/api/src/server/app-test.js
Due: azure-pipelines-e2e.yml

fix(api): add missing status codes to api errors
  apps/api/src/server/middleware/authorise-request.js
Due: azure-pipelines-e2e.yml

feat(api): add error throw when no api key
  apps/api/src/server/middleware/authorise-request.js
  apps/api/src/server/utils/fetch-api-key.js
  apps/functions/applications-background-jobs/common/backend-api-request.js
  apps/functions/applications-background-jobs/malware-detected/back-office-api-client.js
  apps/functions/applications-background-jobs/notify-subscribers/src/back-office-api-client.js
  apps/functions/applications-background-jobs/publish-document/__tests__/publish-document.test.js
  apps/functions/applications-background-jobs/publish-document/index.js
  apps/functions/applications-background-jobs/unpublish-document/index.js
  apps/functions/applications-command-handlers/common/backend-api-request.js
  apps/functions/applications-command-handlers/deadline-submission-command/back-office-api-client.js
  apps/functions/applications-command-handlers/handle-subscription-command/back-office-api-client.js
  apps/functions/applications-command-handlers/register-representation-command/back-office-api-client.js
  apps/functions/applications-migration/common/back-office-api-client.js
  apps/web/src/server/lib/cache-handler.js
  packages/add-auth-headers-for-backend/src/add-auth-headers-for-backend.js
  packages/add-auth-headers-for-backend/src/fetch-api-key.js
Due: azure-pipelines-e2e.yml

Revert "fix(applications/web): fixed high npm vulnerabilities (BOAS-1496)"
  package-lock.json
Due: none

fix(applications/web): updated web env.example (BOAS-1496)
  README.md
  apps/web/.env.example
Due: azure-pipelines-e2e.yml

fix(applications/web): fixed high npm vulnerabilities (BOAS-1496)
  package-lock.json
Due: none

fix(applications/web): removed unised vars from web env.example (BOAS-1496)
  apps/web/.env.example
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
