Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      gitFetchDepth: 0
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      validationJobs:
      - name: Run Linting & Tests
        steps:
        - script: git fetch origin main:main
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

feat(web): can upload .xlsm files (APPLICS-1326)
  apps/web/src/server/app/components/file-uploader.component.js
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/lib/nunjucks-filters/mime-type.js
  apps/web/src/server/views/applications/case-documentation/documentation-upload.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(api): add two new fields to representation table and add migration file (applics-1698)
  apps/api/src/database/migrations/20250905095144_representation_add_new_columns/migration.sql
  apps/api/src/database/schema.prisma
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): use <br> tags to render newlines for original representation
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/__tests__/redact-representation.service.test.js
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/redact-representation.service.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): update redaction suggestions table when undoing all changes
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/__tests__/__snapshots__/redact-representation.test.js.snap
  apps/web/src/server/views/applications/representations/representation-details/redact-representation/redact-representation.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): normalise new lines before fetching redaction suggestions
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/__tests__/__snapshots__/redact-representation.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/__tests__/redact-representation.test.view-model.unit.test.js
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/redact-representation.view-model.js
  apps/web/src/server/views/applications/representations/representation-details/redact-representation/redact-representation.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): unpublishing relevant representations (applics-1519)
  apps/web/src/server/applications/case/representations/applications-relevant-reps.controller.js
  apps/web/src/server/applications/case/representations/applications-relevant-reps.router.js
  apps/web/src/server/applications/case/representations/config.js
  apps/web/src/server/applications/case/representations/unpublish-representations-error/unpublish-representations-error.controller.js
  apps/web/src/server/applications/case/representations/unpublish-representations-error/unpublish-representations-error.router.js
  apps/web/src/server/applications/case/representations/unpublish-representations/unpublish-representations.controller.js
  apps/web/src/server/applications/case/representations/unpublish-representations/unpublish-representations.router.js
  apps/web/src/server/applications/case/representations/unpublish-representations/unpublish-representations.service.js
  apps/web/src/server/applications/case/representations/utils/publish-representations.js
  apps/web/src/server/views/applications/representations/representations.njk
  apps/web/src/server/views/applications/representations/unpublish-representations-error.njk
  apps/web/src/server/views/applications/representations/unpublish-representations.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

chore(infrastructure): split up e2e pipeline for parallel testing
  azure-pipelines-e2e-applications.yml
Due: azure-pipelines-ci.yml

fix(web): make screening and scoping its own group (applics-1553)
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/key-dates/applications-key-dates.controller.js
  apps/web/src/server/lib/nunjucks-filters/key-dates-property.js
  apps/web/src/server/views/applications/case-key-dates/key-dates-index.njk
  apps/web/src/server/views/applications/case-key-dates/key-dates.component.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): can upload xlsm as a new version, attached to a rep and to S51 advice (APPLICS-1326)
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/representations/representation/attachment-upload/__tests__/__snapshots__/attachment-upload.controller.test.js.snap
  apps/web/src/server/views/applications/case-documentation/documentation-version-upload.njk
  apps/web/src/server/views/applications/case-s51/properties/s51-upload.njk
  apps/web/src/server/views/applications/representations/representation/attachment-upload.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

chore(web): including updated snapshots for tests (APPLICS-1326)
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/representations/representation/attachment-upload/__tests__/__snapshots__/attachment-upload.controller.test.js.snap
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): unpublishing relevant representations (applics-1519)
  apps/web/src/server/applications/case/representations/applications-relevant-reps.router.js
  apps/web/src/server/applications/case/representations/unpublish-representations-error/__tests__/unpublish-representations-error.test.js
  apps/web/src/server/applications/case/representations/unpublish-representations-error/unpublish-representations-error.controller.js
  apps/web/src/server/applications/case/representations/unpublish-representations/__tests__/__snapshots__/unpublish-representations.test.js.snap
  apps/web/src/server/applications/case/representations/unpublish-representations/__tests__/unpublish-representations.test.js
  apps/web/src/server/applications/case/representations/unpublish-representations/unpublish-representations.controller.js
  apps/web/src/server/applications/case/representations/unpublish-representations/unpublish-representations.service.js
  apps/web/src/server/views/applications/representations/unpublish-representations.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): unpublishing relevant representations (applics-1519)
  apps/web/src/server/applications/case/representations/unpublish-representations-error/__tests__/__snapshots__/unpublish-representations-error.test.js.snap
  apps/web/src/server/applications/case/representations/unpublish-representations-error/__tests__/unpublish-representations-error.test.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): refactored key dates headings
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/views/applications/case-key-dates/key-dates-index.njk
  apps/web/src/server/views/applications/case-key-dates/key-dates.component.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(e2e): update dotenv to 17.2.0 (applics-1619)
  package-lock.json
  package.json
Due: azure-pipelines-ci.yml

fix(e2e): fix broken e2e tests (applics-1619)
  apps/e2e/cypress.config.js
  apps/e2e/cypress/e2e/back-office-applications/editCase.spec.js
  apps/e2e/cypress/support/utils/createProjectInformation.js
  apps/e2e/cypress/support/utils/string.js
Due: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): add missing link class and update snapshots
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/views/applications/case-documentation/properties/tab-history.component.njk
  apps/web/src/server/views/applications/case/layouts/applications-case-layout.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(tooling): adding concurrency for npm test
  package.json
Due: azure-pipelines-ci.yml

fix(tooling): updating agent pool for test
  azure-pipelines-ci.yml
Due: azure-pipelines-ci.yml

fix(web): updating pre examination section on key dates page (applics-1707)
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/key-dates/applications-key-dates.controller.js
  apps/web/src/server/lib/nunjucks-filters/key-dates-property.js
  apps/web/src/server/views/applications/case-key-dates/key-dates-index.njk
  apps/web/src/server/views/applications/case-key-dates/key-dates-section.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(functions): improve error logging for failed deadline submissions (applics-1709)
  apps/functions/applications-command-handlers/deadline-submission-command/index.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

chore(infrastructure): upgrade terraform version
  infrastructure/providers.tf
Due: none

feat(api): allow sort on nested display name field (applics-1262)
  apps/api/src/server/applications/application/representations/representation.mapper.js
  apps/api/src/server/repositories/__tests__/representation.repository.test.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): add sort functionality to from column on rel reps page (applics-1262)
  apps/web/src/server/applications/case/representations/__fixtures__/representations.fixture.js
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/applications/case/representations/application-representations.view-model.js
  apps/web/src/server/applications/case/representations/utils/table.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(tooling): exam library doc link checker (applics-1583)
  packages/scripts/run/exam-library-checker.js
  packages/scripts/src/exam-library-checker.js
Due: azure-pipelines-ci.yml

feat(packages/scripts): work-in-progress example-library-checker
  package-lock.json
  package.json
  packages/scripts/package.json
  packages/scripts/run/exam-library-checker.js
  packages/scripts/src/exam-library-checker.js
Due: azure-pipelines-ci.yml

feat(packages/*): exam library doc link checker comment (applics-1583)
  packages/scripts/src/exam-library-checker.js
Due: azure-pipelines-ci.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e.yml: any of: apps
