Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

refactor(web/applications): use guard structure in assertIsAuthenticated
  apps/web/src/server/app/auth/auth.guards.js
Due: azure-pipelines-e2e.yml

feat(packages/redis): use a DistributedCachePlugin with MSAL
  packages/redis/src/index.js
  packages/redis/src/partition-manager.js
Due: none

feat(web): file upload back modal
  appeals/web/src/client/components/file-uploader/_client-actions.js
Due: none

fix(appeals/web): address code review comments
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.controller.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.mapper.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.router.js
Due: none

fix(appeals/web): fix ts check
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.mapper.js
Due: none

fix(appeals/web): session handling for distinct appeals
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.controller.js
Due: none

feat(appeals/web): feature/BOAT 654 changing appeal type by resubmission
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appeal-details.router.js
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/__tests__/__snapshots__/change-appeal-type.test.js.snap
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/__tests__/change-appeal-type.test.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.controller.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.mapper.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.router.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.service.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.types.d.ts
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.validators.js
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/appeals/appeals.types.d.ts
  appeals/web/src/server/appeals/change-page/change-page.controller.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/mapper-types-jsdoc.js
  appeals/web/src/server/views/appeals/confirmation.njk
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

fix(applications/api): format exam timetable item description items (BOAS-1461)
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
  apps/api/src/server/utils/mapping/__tests__/map-examination-timetable-item-description.test.js
  apps/api/src/server/utils/mapping/map-examination-timetable-item-description.js
Due: azure-pipelines-e2e.yml

fix(applications/web): fix timetable item success page (BOAS-1327)
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/applications-timetable.test.js
  apps/web/src/server/views/applications/case-timetable/timetable-success-banner.njk
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

refactor(api): service users
  appeals/api/src/database/schema.d.ts
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appeals/__tests__/appeals.test.js
  appeals/api/src/server/endpoints/appeals/appeals.formatter.js
  appeals/api/src/server/endpoints/appellant-cases/appellant-cases.formatter.js
  appeals/api/src/server/tests/appeals/expectation.js
Due: none

refactor(api): service users
  appeals/api/src/database/migrations/20240123121654_service_users_refactor/migration.sql
  appeals/api/src/database/schema.d.ts
  appeals/api/src/database/schema.prisma
  appeals/api/src/database/seed/data-samples.js
  appeals/api/src/database/seed/data-test.js
  appeals/api/src/database/seed/seed-clear.js
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appeals/__tests__/appeals.test.js
  appeals/api/src/server/endpoints/appeals/appeals.formatter.js
  appeals/api/src/server/endpoints/appellant-cases/__tests__/appellant-cases.test.js
  appeals/api/src/server/endpoints/appellant-cases/appellant-cases.formatter.js
  appeals/api/src/server/endpoints/appellant-cases/appellant-cases.service.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/service-user.mapper.js
  appeals/api/src/server/repositories/appeal.repository.js
  appeals/api/src/server/repositories/integrations.repository.js
  appeals/api/src/server/tests/appeals/expectation.js
  appeals/api/src/server/tests/appeals/mocks.js
Due: none

feat(appeals): case contacts accordion
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

feat(appeals/api): clearing up old fields for BOAT-676
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appeals/__tests__/appeals.test.js
  appeals/api/src/server/endpoints/appeals/appeals.formatter.js
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

fix(applications/web): fix descending-date-published-order (BOAS-1327)
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/project-updates.test.js
  apps/web/src/server/applications/case/project-updates/project-updates.controller.js
Due: azure-pipelines-e2e.yml

feat(appeals/web): redis implementation
  appeals/web/.env.test
  appeals/web/environment/config.d.ts
  appeals/web/environment/config.js
  appeals/web/environment/schema.js
  appeals/web/src/server/app/auth/auth.controller.js
  appeals/web/src/server/app/auth/auth.guards.js
  appeals/web/src/server/app/auth/auth.service.js
  appeals/web/src/server/app/config/session.js
  appeals/web/src/server/lib/active-directory-token.js
  appeals/web/src/server/lib/msal.js
  appeals/web/src/server/lib/redis.js
Due: none

fix(applications/web): amend created as added (BOAS-1327)
  apps/web/src/server/views/applications/case-timetable/timetable-success-banner.njk
Due: azure-pipelines-e2e.yml

fix(appeals/web): fixes appellant case rendering
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appellant-cases/appellant-cases.formatter.js
  appeals/api/src/server/tests/appeals/expectation.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/lib/mappers/appellantCase.mapper.js
Due: none

feat(appeals/api): clearing up old fields for BOAT-676 / comments
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

fix(api/applications): return 204 for Azure AlwaysOn checks in apps/api
  apps/api/src/server/build-app.js
Due: azure-pipelines-e2e.yml

fix(web/applications): return 204 for AlwaysOn checks in apps/web
  apps/web/src/server/app/app.controller.js
  apps/web/src/server/app/app.router.js
Due: azure-pipelines-e2e.yml

fix(applications/web): fix highlighting in project documentation link menu (BOAS-1465)
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/views/applications/case/project-documentation.njk
  apps/web/src/styles/7-components/link-menu.scss
  apps/web/src/styles/main.scss
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
