Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

fix(api/applications): update secret name for db connection string
  azure-pipelines-db-seed.yml
  azure-pipelines-deploy.yml
  azure-pipelines-release.yml
Due: none

feat(appeals): add issue invalid decision
  appeals/api/src/server/state/state-machines/has.js
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/__tests__/appeal-details.test.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/__tests__/__snapshots__/issue-decision.test.js.snap
  appeals/web/src/server/appeals/appeal-details/issue-decision/__tests__/issue-decision.test.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.controller.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.mapper.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.router.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.service.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.types.d.ts
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.validators.js
  appeals/web/src/server/lib/validators/textarea-validator.js
Due: none

feat(appeals): add linked appeals
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.formatter.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.service.js
  appeals/api/src/server/utils/mapping/map-horizon.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/linked-appeals/linked-appeals.controller.js
  appeals/web/src/server/appeals/appeal-details/linked-appeals/linked-appeals.mapper.js
  appeals/web/src/server/appeals/appeal-details/linked-appeals/linked-appeals.router.js
  appeals/web/src/server/appeals/appeal-details/linked-appeals/linked-appeals.service.js
  appeals/web/src/server/appeals/appeal-details/linked-appeals/linked-appeals.validators.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/mapper-types-jsdoc.js
  appeals/web/src/server/lib/mappers/notification-banners.mapper.js
  appeals/web/src/server/views/patterns/check-and-confirm-page.pattern.njk
Due: none

fix(applications/web): removed semantic-release (BOAS-1517)
  package-lock.json
  package.json
Due: none

fix(applications/api): case stage should be added to deadline sub folders (BOAS-1558)
  apps/api/src/server/applications/application/project-updates/project-updates.service.js
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
Due: azure-pipelines-e2e.yml

feat(functions): nsip-representation migration
  apps/api/src/server/migration/migrator.service.js
  apps/api/src/server/migration/migrators/nsip-representation-migrator.js
  apps/functions/applications-migration/common/back-office-api-client.js
  apps/functions/applications-migration/common/config.js
  apps/functions/applications-migration/nsip-representation-migration/debug.js
  apps/functions/applications-migration/nsip-representation-migration/function.json
  apps/functions/applications-migration/nsip-representation-migration/index.js
  apps/functions/applications-migration/nsip-representation-migration/src/nsip-representation-migration.js
Due: azure-pipelines-e2e.yml

fix(appeals/api): disable govnotify
  appeals/api/src/server/endpoints/appellant-cases/__tests__/appellant-cases.test.js
  appeals/api/src/server/endpoints/appellant-cases/appellant-cases.service.js
Due: none

chore(functions): throw error on unexpected conditions when handling subscription
  apps/functions/applications-command-handlers/handle-subscription-command/__tests__/handle-subscription-command.test.js
  apps/functions/applications-command-handlers/handle-subscription-command/index.js
  apps/functions/applications-command-handlers/register-representation-command/__tests__/register-representation-command.test.js
Due: azure-pipelines-e2e.yml

test: wip
  apps/functions/applications-command-handlers/handle-subscription-command/__tests__/handle-subscription-command.test.js
  apps/functions/applications-command-handlers/register-representation-command/__tests__/register-representation-command.test.js
Due: azure-pipelines-e2e.yml

feat(appeals): add linked appeals
  appeals/web/src/server/appeals/appeal-details/appeal-details.router.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/__tests__/__snapshots__/manage-linked-appeals.test.js.snap
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/__tests__/linked-appeals.test.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.controller.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.router.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.service.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.validators.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
Due: none

feat(appeals): add linked appeals
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/__tests__/manage-linked-appeals.test.js
Due: none

fix(appeals/api): security alerts
  appeals/api/src/server/endpoints/appellant-cases/__tests__/appellant-cases.test.js
  appeals/api/src/server/endpoints/lpa-questionnaires/__tests__/lpa-questionnaires.test.js
  appeals/api/src/server/endpoints/lpa-questionnaires/lpa-questionnaires.controller.js
Due: none

fix(appeals/api): security alerts 1
  appeals/api/src/server/endpoints/appeal-allocation/appeal-allocation-controller.js
  appeals/api/src/server/endpoints/appellant-cases/appellant-cases.controller.js
  appeals/api/src/server/endpoints/appellants/appellants.controller.js
  appeals/api/src/server/endpoints/lpa-questionnaires/lpa-questionnaires.controller.js
  appeals/api/src/server/middleware/version-routes.js
Due: none

feat(appeals): add linked appeals
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.service.js
Due: none

fix(applications/web): pre-examination items not appearing in pre exam section (BOAS-1563)
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/views/applications/case-timetable/components/timetable-items-list.component.njk
Due: azure-pipelines-e2e.yml

chore(functions): remove nsip-representation status field mapping
  apps/functions/applications-migration/nsip-representation-migration/src/nsip-representation-migration.js
Due: azure-pipelines-e2e.yml

feat(appeals): add linked appeals
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
Due: none

fix(api/applications): include email to service user in list subs api (boas-1546)
  apps/api/src/server/repositories/subscription.respository.js
Due: azure-pipelines-e2e.yml

feat(appeals): add linked appeals
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.formatter.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.service.js
  appeals/api/src/server/utils/mapping/map-horizon.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.router.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.controller.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.router.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.service.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.validators.js
  appeals/web/src/server/appeals/personal-list/personal-list.mapper.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/mapper-types-jsdoc.js
  appeals/web/src/server/lib/mappers/notification-banners.mapper.js
  appeals/web/src/server/views/patterns/check-and-confirm-page.pattern.njk
Due: none

feat(appeals): add linked appeals
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.formatter.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.service.js
  appeals/web/src/server/appeals/appeal-details/appeal-timetables/appeal-timetables.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.service.js
Due: none

feat(appeals): add linked appeals
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.formatter.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.service.js
  appeals/api/src/server/utils/mapping/map-horizon.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.router.js
  appeals/web/src/server/appeals/appeal-details/appeal-timetables/appeal-timetables.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.controller.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.router.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.service.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.validators.js
  appeals/web/src/server/appeals/personal-list/personal-list.mapper.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/mapper-types-jsdoc.js
  appeals/web/src/server/lib/mappers/notification-banners.mapper.js
  appeals/web/src/server/views/patterns/check-and-confirm-page.pattern.njk
Due: none

fix(api/applications): seed script duplicate references (boas-1569)
  apps/api/src/database/seed/data-static.js
  apps/api/src/database/seed/seed-clear.js
Due: azure-pipelines-e2e.yml

fix(applications/api): relevant representations - issue with sorting (BOAS-1559)
  apps/api/src/server/repositories/__tests__/representation.repository.test.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

test(e2e): changed download document code
  apps/e2e/cypress/e2e/back-office-applications/documentDownload.spec.js
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(appeals/web): review and refactor date logic
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/dates.js
Due: none

feat(appeals): add linked appeals
  appeals/web/src/server/lib/display-page-formatter.js
Due: none

feat(appeals): add linked appeals
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.formatter.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.service.js
  appeals/api/src/server/utils/mapping/map-horizon.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.router.js
  appeals/web/src/server/appeals/appeal-details/appeal-timetables/appeal-timetables.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.controller.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.router.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.service.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.validators.js
  appeals/web/src/server/appeals/personal-list/personal-list.mapper.js
  appeals/web/src/server/lib/display-page-formatter.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/mapper-types-jsdoc.js
  appeals/web/src/server/lib/mappers/notification-banners.mapper.js
  appeals/web/src/server/views/patterns/check-and-confirm-page.pattern.njk
Due: none
