Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-ci.yml:
  extends:
    template: stages/wrapper_ci.yml@templates
    parameters:
      gitFetchDepth: 0
      globalVariables:
      - template: azure-pipelines-variables.yml@self
      validationJobs:
      - name: Run Linting & Tests
        steps:
        - script: git fetch origin main:main
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/views/applications/case/components/case-applicant-table.component.njk
  apps/web/src/server/views/applications/case/components/case-info-table-preview.component.njk
  apps/web/src/server/views/applications/case/components/case-key-dates-table.component.njk
  apps/web/src/server/views/applications/case/preview-and-publish.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/styles/7-components/files-list.scss
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/views/applications/representations/representations.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/views/applications/case/project-updates/project-updates-table.njk
  apps/web/src/styles/7-components/_table.scss
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/styles/4-generic/_generic.font-weight.scss
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/views/applications/representations/components/table/representations-table.component.njk
  apps/web/src/styles/7-components/_table.scss
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/styles/7-components/files-list.scss
  apps/web/src/styles/7-components/list-menu.scss
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/styles/7-components/_masthead.scss
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(e2e): update dotenv (applics-1619)
  apps/e2e/package.json
  package-lock.json
  package.json
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

docs(tooling): amend pathway for data model schemas (applics-1552)
  README.md
Due: azure-pipelines-ci.yml

remove comment apps/e2e/cypress.config.js (applics-1619)
  apps/e2e/cypress.config.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(infrastructure): adding extra agents to pr pipeline to test HW
  azure-pipelines-ci.yml
Due: azure-pipelines-ci.yml

feat(web): updated gds to v5 (applics-1632)
  apps/web/src/server/applications/__tests__/__snapshots__/applications.test.js.snap
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/applications/case/representations/publish-updated-representations/__tests__/__snapshots__/publish-updated-representations.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/__tests__/__snapshots__/redact-representation.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/applications/search-results/__tests/__snapshots__/applications-search.test.js.snap
  apps/web/src/server/views/applications/case/project-updates/project-updates-table.njk
  apps/web/src/server/views/applications/components/status-tag.component.njk
  apps/web/src/styles/7-components/status-tag.scss
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(infrastructure): removed extra stages in agent b to pr pipeline to test HW
  azure-pipelines-ci.yml
Due: azure-pipelines-ci.yml

fix(infrastructure): added parameter in script for extra stages in agent b
  azure-pipelines-ci.yml
Due: azure-pipelines-ci.yml

fix(infrastructure): updated script for extra stages in agent b
  azure-pipelines-ci.yml
Due: azure-pipelines-ci.yml

fix(infrastructure): updated package.json to include prisma generate for agent b
  apps/web/package.json
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

chore(infrastructure): increase request rate limit in dev and test env
  infrastructure/environments/dev.tfvars
  infrastructure/environments/test.tfvars
Due: none

feat(web): add unpublished status tag and update data model (applics-1552)
  apps/web/src/server/views/applications/representations/representation-details/components/representation-status-tag.njk
  package-lock.json
  package.json
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e.yml: any of: apps
