Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

feat(applications): removed dummy data file (applic-266)
  packages/feature-flags/src/static-feature-flags.js
Due: none

feat(applications): added basic static feature flags option (applic-266)
  apps/api/.env.example
  apps/api/src/server/config/config.js
  apps/api/src/server/config/schema.js
  apps/e2e/.env.sample
  apps/web/.env.example
  apps/web/environment/config.d.ts
  apps/web/environment/config.js
  apps/web/environment/schema.js
  packages/feature-flags/src/is-feature-active.js
  packages/feature-flags/src/list-flags.js
  packages/feature-flags/src/static-feature-flags.js
Due: azure-pipelines-e2e.yml

feat(applications): code review feedback and clean up (applic-266)
  packages/feature-flags/src/is-feature-active.js
  packages/feature-flags/src/list-flags.js
Due: none

fix(functions): examtimetable function mapper
  apps/functions/applications-migration/common/migrators/exam-timetable-migration.js
Due: azure-pipelines-e2e.yml

style(web): adjust dateInput spacing
  apps/web/src/styles/5-elements/_elements.form-group.scss
Due: azure-pipelines-e2e.yml

fix(applications/web): projects update italics issue (APPLICS-275)
  apps/web/src/server/applications/case/project-updates/__tests__/project-updates.mapper.test.js
  apps/web/src/server/applications/case/project-updates/project-updates.mapper.js
Due: azure-pipelines-e2e.yml

feat(api): create representation attachment entries
  apps/api/src/database/schema.d.ts
  apps/api/src/server/migration/migrators/nsip-representation-migrator.js
  apps/functions/applications-migration/common/migrators/nsip-document-migration.js
  apps/functions/applications-migration/common/migrators/nsip-representation-migration.js
Due: azure-pipelines-e2e.yml

fix(api): corrected type in representativeId mapping
  apps/api/src/server/migration/migrators/nsip-representation-migrator.js
  apps/api/src/server/repositories/representation.repository.js
  apps/functions/applications-migration/common/migrators/nsip-representation-migration.js
Due: azure-pipelines-e2e.yml

feat(applications): fixed logger issue and env files update (applic-266)
  apps/e2e/.env.sample
  apps/e2e/cypress.config.js
  apps/e2e/package.json
  apps/web/.env.test
  packages/feature-flags/src/get-static-flags.js
  packages/feature-flags/src/is-feature-active.js
  packages/feature-flags/src/list-flags.js
Due: azure-pipelines-e2e.yml

chore(tooling): remove static-feature-flags.json from the .gitignore
  .gitignore
Due: none

refactor(packages/feature-flags): use a JavaScript module for statics
  packages/feature-flags/src/get-static-flags.js
  packages/feature-flags/src/is-feature-active.js
  packages/feature-flags/src/list-flags.js
  packages/feature-flags/src/static-feature-flags.js
Due: none

fix(applications/web): spelling mistake in timetable item description (APPLICS-315)
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/views/applications/case-timetable/timetable-details-form.njk
Due: azure-pipelines-e2e.yml

fix(packages/feature-flags): static flags don't require conxion string
  packages/feature-flags/src/feature-flag-client.js
  packages/feature-flags/src/list-flags.js
Due: none

chore(applications): upgrade prisma to 5 (APPLICS-106)
  apps/api/package.json
  package-lock.json
  package.json
Due: azure-pipelines-e2e.yml

test(e2e): added feature flag
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/page_objects/createCasePage.js
  apps/e2e/cypress/page_objects/createCaseSections/checkYourAnswers.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(packages/feature-flags): add a useStaticFlags argument
  apps/api/src/server/utils/feature-flags.js
  apps/e2e/cypress/fixtures/feature-flags.js
  apps/web/src/common/feature-flags.js
  packages/feature-flags/src/feature-flag-client.js
  packages/feature-flags/src/is-feature-active.js
  packages/feature-flags/src/list-flags.js
Due: azure-pipelines-e2e.yml

fix(api/applications): update s51-advice payload mapping
  apps/api/src/server/applications/s51advice/__tests__/s51-advice-update.test.js
  apps/api/src/server/applications/s51advice/__tests__/s51-advice.test.js
  apps/api/src/server/infrastructure/payload-builders/nsip-s51-advice.js
Due: azure-pipelines-e2e.yml

fix(api): s51 transform title for front office
  apps/api/src/server/migration/migrators/s51-advice-migrator.js
Due: azure-pipelines-e2e.yml

test(e2e): updated if statements
  apps/e2e/cypress/page_objects/createCasePage.js
  apps/e2e/cypress/page_objects/createCaseSections/checkYourAnswers.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-e2e.yml

fix(api): remove unnecessary spaces from 'from' field
  apps/api/src/server/migration/migrators/s51-advice-migrator.js
Due: azure-pipelines-e2e.yml

feat(functions): remove local.settings.json
  apps/functions/applications-migration/local.settings.json
Due: azure-pipelines-e2e.yml

feat(functions): migration func wrapper to handle resp and errors
  apps/functions/applications-migration/.gitignore
  apps/functions/applications-migration/common/migration-function-wrapper.js
  apps/functions/applications-migration/nsip-project-migration/index.js
Due: azure-pipelines-e2e.yml

feat(functions): response and error handling added
  apps/functions/applications-migration/common/handle-migration-with-response.js
  apps/functions/applications-migration/exam-timetable-migration/index.js
  apps/functions/applications-migration/folder-migration/index.js
  apps/functions/applications-migration/migrate-case/function.json
  apps/functions/applications-migration/migrate-case/index.js
  apps/functions/applications-migration/nsip-document-migration/index.js
  apps/functions/applications-migration/nsip-project-migration/index.js
  apps/functions/applications-migration/nsip-representation-migration/index.js
  apps/functions/applications-migration/project-updates-migration/index.js
  apps/functions/applications-migration/s51-advice-migration/index.js
  apps/functions/applications-migration/service-user-migration/index.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
