Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

fix(applications/api): make sure api http logs are formatted as json (BOAS-1670)
  apps/api/package.json
  apps/api/src/server/build-app.js
  package-lock.json
Due: azure-pipelines-e2e.yml

chore(functions): use http when invoking migrator function locally
  apps/functions/applications-migration/common/back-office-api-client.js
Due: azure-pipelines-e2e.yml

fix(functions): allow migrating nsip-project without zoomlevel
  apps/api/src/server/migration/migrators/nsip-project-migrator.js
  apps/api/src/server/migration/migrators/utils.js
Due: azure-pipelines-e2e.yml

fix(functions): send full nsip-project payload from migrator function
  apps/functions/applications-migration/common/migrators/nsip-project-migration.js
Due: azure-pipelines-e2e.yml

feat(appeals/web): fix to link class
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/__tests__/__snapshots__/neighbouring-sites.test.js.snap
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.mapper.js
Due: none

feat(appeals/web): fix snapshots
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
Due: none

feat(appeals/web): add manage and delete inspector and third party neighbouring sites
  appeals/api/src/server/common/validators/string-parameter.js
  appeals/api/src/server/endpoints/neighbouring-sites/neighbouring-sites.validators.js
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/__tests__/appeal-details.test.js
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/__tests__/__snapshots__/neighbouring-sites.test.js.snap
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/__tests__/neighbouring-sites.test.js
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.controller.js
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.mapper.js
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.router.js
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.service.js
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.validators.js
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/mapper-types-jsdoc.js
  appeals/web/src/server/lib/mappers/notification-banners.mapper.js
Due: none

fix(web): fix lpaq add document details allowing future date
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/lpa-questionnaire.test.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.router.js
Due: none

feat(appeals/api): adding a valid date field
  appeals/api/src/database/migrations/20240312150327_add_appeal_valid_date/migration.sql
  appeals/api/src/database/schema.d.ts
  appeals/api/src/database/schema.prisma
  appeals/api/src/database/seed/data-test.js
  appeals/api/src/server/common/validators/date-parameter.js
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appeals/__tests__/appeals.test.js
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/api/src/server/endpoints/appeals/appeals.formatter.js
  appeals/api/src/server/endpoints/appeals/appeals.validators.js
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/link-appeals/link-appeals.controller.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.service.js
  appeals/api/src/server/openapi-types.ts
  appeals/api/src/server/openapi.json
  appeals/api/src/server/repositories/appeal.repository.js
  appeals/api/src/server/swagger.js
  appeals/api/src/server/tests/appeals/mocks.js
  appeals/api/src/server/utils/__tests__/date-comparison.test.js
  appeals/api/src/server/utils/date-comparison.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.types.d.ts
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

feat(api/applications): updated application endpoints with new key-dates
  apps/api/src/server/applications/application/application.controller.js
  apps/api/src/server/applications/application/application.mapper.js
  apps/api/src/server/applications/application/application.validators.js
  apps/api/src/server/repositories/case.repository.js
  packages/applications/types/application.d.ts
Due: azure-pipelines-e2e.yml

fix(applications): email notification - issue with bold text (BOAS-1671)
  apps/functions/applications-background-jobs/notify-subscribers/src/__tests__/notify-subscribers.test.js
  apps/functions/applications-background-jobs/notify-subscribers/src/notify-subscribers.js
Due: azure-pipelines-e2e.yml

fix(functions): revert - send full nsip-project payload from migrator function
  apps/functions/applications-migration/common/migrators/nsip-project-migration.js
Due: azure-pipelines-e2e.yml

fix(applications): project updates email notification parsing (BOAS-1659)
  apps/functions/applications-background-jobs/notify-subscribers/src/__tests__/notify-subscribers.test.js
  apps/functions/applications-background-jobs/notify-subscribers/src/notify-subscribers.js
Due: azure-pipelines-e2e.yml

fix(appeals/web): some changes requested in PR for 695 that were missed
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.mapper.js
  appeals/web/src/server/appeals/appeal-details/neighbouring-sites/neighbouring-sites.service.js
Due: none

feat(web/applications): add re-open and re-open closes date to pre-examination key dates
  apps/web/environment/config.d.ts
  apps/web/environment/config.js
  apps/web/environment/schema.js
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/key-dates/__tests__/applications-key-dates.utils.test.js
  apps/web/src/server/applications/case/key-dates/applications-key-dates.controller.js
  apps/web/src/server/applications/case/key-dates/applications-key-dates.utils.js
  apps/web/src/server/lib/dates.js
  apps/web/src/server/lib/nunjucks-filters/key-dates-property.js
  apps/web/src/server/views/applications/case-key-dates/includes/pre-examination/pre-examination-key-dates.include.njk
  apps/web/src/server/views/applications/case-key-dates/includes/pre-examination/pre-examination-manage-dates.include.njk
  apps/web/src/server/views/applications/case-key-dates/key-dates-index.njk
  apps/web/src/server/views/applications/case-key-dates/key-dates-section.njk
  apps/web/src/styles/7-components/key-dates-section.scss
Due: azure-pipelines-e2e.yml

fix(applications/web): fixed Applicant Website link (BOAS-1680)
  apps/web/src/server/views/applications/case/overview.njk
Due: azure-pipelines-e2e.yml

test(e2e): updated smoke pack with delete scenarios
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/page_objects/examinationTimetablePage.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(applications/web): add white-space: pre-wrap to project description field (BOAS-1680)
  apps/web/src/server/views/applications/case/components/case-applicant-table.component.njk
  apps/web/src/server/views/applications/case/components/case-details-table.component.njk
  apps/web/src/server/views/applications/case/components/case-info-table-preview.component.njk
  apps/web/src/server/views/applications/case/components/case-info-table.component.njk
  apps/web/src/server/views/applications/case/components/case-key-dates-table.component.njk
  apps/web/src/styles/7-components/project-details-table.scss
  apps/web/src/styles/main.scss
Due: azure-pipelines-e2e.yml

fix(applications/web): updated snapshots (BOAS-1680)
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
Due: azure-pipelines-e2e.yml

test(e2e): updated smoke tests with missing scenarios
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/examinationTimetablePage.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(functions/applications-background-jobs): linting
  apps/functions/applications-background-jobs/notify-subscribers/src/__tests__/notify-subscribers.test.js
Due: azure-pipelines-e2e.yml

feat(functions/applications-background-jobs): add project name to notify subscribers email data
  apps/functions/applications-background-jobs/notify-subscribers/src/__tests__/notify-subscribers.test.js
  apps/functions/applications-background-jobs/notify-subscribers/src/back-office-api-client.js
  apps/functions/applications-background-jobs/notify-subscribers/src/notify-subscribers.js
  apps/functions/applications-background-jobs/notify-subscribers/src/types.d.ts
  packages/applications/types/project-update.d.ts
Due: azure-pipelines-e2e.yml

fix(api/applications): use datePublished from DocumentVersion
  apps/api/src/server/utils/mapping/map-document-details.js
Due: azure-pipelines-e2e.yml

feat(api): script to add default folders to a case
  apps/api/package.json
  apps/api/src/server/utils/scripts/add-folders.js
Due: azure-pipelines-e2e.yml

fix(web): terminate session cookie after 8 hours
  apps/web/src/server/app/config/session.js
Due: azure-pipelines-e2e.yml
