Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

fix(test/e2e): fix broken tests to use page object functions
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/examinationTimetablePage.js
  apps/e2e/cypress/support/utils/createTimetableItemInfo.js
  apps/web/src/server/views/applications/case-timetable/components/timetable-items-list.component.njk
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(test/e2e): improve welsh feature flag functionality within tests
  apps/e2e/cypress/e2e/back-office-applications/sectorAsTraing.spec.js
  apps/e2e/cypress/page_objects/casePage.js
  apps/e2e/cypress/support/utils/utils.js
  apps/web/src/server/views/applications/case-timetable/components/timetable-items-list.component.njk
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(api): move publishing exam timetable validation to the api
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.routes.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.validators.js
  apps/api/src/server/middleware/error-handler.js
  apps/api/src/server/utils/is-string-json.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.service.js
Due: azure-pipelines-e2e.yml

fix(test/e2e): fix broken test
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(applications/web): make project property pages more consistent
  apps/web/src/server/applications/applications.types.d.ts
  apps/web/src/server/applications/case/edit/applicant/applications-edit-applicant.controller.js
  apps/web/src/server/applications/case/edit/case/__tests__/__snapshots__/applications-edit-case.test.js.snap
  apps/web/src/server/applications/case/edit/case/applications-edit-case.controller.js
  apps/web/src/server/applications/create-new-case/case/applications-create-case.validators.js
  apps/web/src/server/views/applications/case/case-form/case-edit-textinput.njk
Due: azure-pipelines-e2e.yml

fix(test/e2e): report feature flags in cypress terminal logs
  apps/e2e/cypress.config.js
  apps/e2e/cypress/support/cypressUtils.js
  apps/e2e/cypress/support/e2e.js
Due: azure-pipelines-e2e.yml

test(e2e): add publish welsh timetable tests
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(applications): revert backgound jobs to node 18 (APPLICS-455)
  apps/functions/applications-background-jobs/package.json
Due: azure-pipelines-e2e.yml

fix(test/e2e): make examination timetable e2e tests more stable
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/examinationTimetablePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(web): update test snapshots after dependency update
  apps/web/src/server/app/__tests__/__snapshots__/app.test.js.snap
  apps/web/src/server/app/auth/__tests__/__snapshots__/auth.test.js.snap
  apps/web/src/server/applications/__tests__/__snapshots__/applications.test.js.snap
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/documentation-metadata/__tests__/__snapshots__/documentation-metadata.test.js.snap
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/edit/applicant/__tests__/__snapshots__/applications-edit-applicant.test.js.snap
  apps/web/src/server/applications/case/edit/case/__tests__/__snapshots__/applications-edit-case.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/general-s51/__tests__/__snapshots__/applications-general-s51.controller.test.js.snap
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/applications/case/representations/publish-representations-error/__tests__/__snapshots__/publish-representations-error.test.js.snap
  apps/web/src/server/applications/case/representations/publish-updated-representations/__tests__/__snapshots__/publish-updated-representations.test.js.snap
  apps/web/src/server/applications/case/representations/publish-valid-representations/__tests__/__snapshots__/publish-valid-reps.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/__tests__/__snapshots__/applications-relevant-rep-details.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/change-redaction/__tests__/__snapshots__/change-redaction.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/__tests__/__snapshots__/redact-representation.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/representation-status/__tests__/__snapshots__/representation-status.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/representation-status/representation-status-notes/__tests__/__snapshots__/representation-status-notes.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/task-log/__tests__/__snapshots__/task-log.test.js.snap
  apps/web/src/server/applications/case/representations/representation/address-details/__tests__/__snapshots__/address-details.test.js.snap
  apps/web/src/server/applications/case/representations/representation/attachment-upload/__tests__/__snapshots__/attachment-upload.controller.test.js.snap
  apps/web/src/server/applications/case/representations/representation/contact-details/__tests__/__snapshots__/rr-contact-details.test.js.snap
  apps/web/src/server/applications/case/representations/representation/contact-method/__tests__/__snapshots__/rr-contact-method.test.js.snap
  apps/web/src/server/applications/case/representations/representation/representation-comment/__tests__/__snapshots__/representation-comment.test.js.snap
  apps/web/src/server/applications/case/representations/representation/representation-entity/__tests__/__snapshots__/represetation-entity.test.js.snap
  apps/web/src/server/applications/case/representations/representation/representation-type/__tests__/__snapshots__/represetation-type.test.js.snap
  apps/web/src/server/applications/case/representations/representation/under-18/__tests__/__snapshots__/represetation-under-18.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/applications/create-new-case/applicant/__tests__/__snapshots__/applications-create-applicant.test.js.snap
  apps/web/src/server/applications/create-new-case/case/__tests__/__snapshots__/applications-create-case.test.js.snap
  apps/web/src/server/applications/create-new-case/check-your-answers/__tests__/__snapshots__/applications-create-check-your-answers.test.js.snap
  apps/web/src/server/applications/create-new-case/key-dates/__tests__/__snapshots__/applications-create-key-dates.test.js.snap
  apps/web/src/server/applications/search-results/__tests/__snapshots__/applications-search.test.js.snap
  apps/web/src/server/views/applications/components/__tests__/__snapshots__/excerpt.component.test.js.snap
Due: azure-pipelines-e2e.yml

chore(applications): rework node_modules merging pipeline step
  .gitignore
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/documentation-metadata/__tests__/__snapshots__/documentation-metadata.test.js.snap
  apps/web/src/server/applications/case/edit/applicant/__tests__/__snapshots__/applications-edit-applicant.test.js.snap
  apps/web/src/server/applications/case/edit/case/__tests__/__snapshots__/applications-edit-case.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/create-new-case/applicant/__tests__/__snapshots__/applications-create-applicant.test.js.snap
  apps/web/src/server/applications/create-new-case/case/__tests__/__snapshots__/applications-create-case.test.js.snap
  apps/web/src/server/applications/create-new-case/key-dates/__tests__/__snapshots__/applications-create-key-dates.test.js.snap
  azure-pipelines-build.yml
  azure-pipelines-package-function-dep-install.yml
  azure-pipelines-package-function-merge.yml
Due: azure-pipelines-e2e.yml

chore(applications): update readme.md with dependency adding instructions
  README.md
Due: none

chore(applications): consolidate dependency versions across repo
  apps/api-testing/package.json
  apps/api/package.json
  apps/functions/applications-background-jobs/package.json
  apps/functions/applications-command-handlers/package.json
  apps/functions/applications-migration/package.json
  apps/web/package.json
  package-lock.json
  package.json
  packages/add-auth-headers-for-backend/package.json
  packages/applications/package.json
  packages/blob-storage-client/package.json
  packages/event-client/package.json
  packages/express/package.json
  packages/feature-flags/package.json
  packages/key-vault-secrets-client/package.json
  packages/platform/package.json
  packages/redis/package.json
  packages/scripts/package.json
Due: azure-pipelines-e2e.yml

chore(applications): dockerfiles only install required deps & corrected updated minifying process
  apps/api/Dockerfile
  apps/web/Dockerfile
  apps/web/scripts/rollup/minify-js.js
  turbo.json
Due: azure-pipelines-e2e.yml

chore(applications): move unnecessary prod package to devDependencies
  apps/functions/applications-background-jobs/package.json
  apps/web/src/server/applications/case/documentation-metadata/__tests__/__snapshots__/documentation-metadata.test.js.snap
  package.json
Due: azure-pipelines-e2e.yml

feat(applications/web): create welsh project update (APPLICS-30)
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/project-updates.test.js
  apps/web/src/server/applications/case/project-updates/project-updates.controller.js
  apps/web/src/server/applications/case/project-updates/project-updates.router.js
  apps/web/src/server/applications/case/project-updates/project-updates.validators.js
  apps/web/src/server/applications/case/project-updates/project-updates.view-model.js
  apps/web/src/server/views/applications/components/html-content-editor.njk
Due: azure-pipelines-e2e.yml

feat(applications/web): create welsh project update e2e (APPLICS-30)
  apps/e2e/cypress/e2e/back-office-applications/projectUpdates.spec.js
  apps/e2e/cypress/page_objects/projectUpdatesPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(applications): upgrade backgound jobs to node 20 (applics-455)
  apps/functions/applications-background-jobs/package.json
Due: azure-pipelines-e2e.yml

feat(applications/web): create welsh project update (APPLICS-30)
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/project-updates.mapper.test.js
  apps/web/src/server/applications/case/project-updates/__tests__/project-updates.test.js
  apps/web/src/server/applications/case/project-updates/project-updates.controller.js
  apps/web/src/server/applications/case/project-updates/project-updates.mapper.js
  apps/web/src/server/applications/case/project-updates/project-updates.router.js
  apps/web/src/server/applications/case/project-updates/project-updates.validators.js
  apps/web/src/server/applications/case/project-updates/project-updates.view-model.js
  apps/web/src/server/views/applications/components/html-content-editor.njk
Due: azure-pipelines-e2e.yml

feat(applications/web): create welsh project update e2e (APPLICS-30)
  apps/e2e/cypress/e2e/back-office-applications/projectUpdates.spec.js
  apps/e2e/cypress/page_objects/projectUpdatesPage.js
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(applications/web): fix welsh project update validation (APPLICS-30)
  apps/e2e/cypress/e2e/back-office-applications/projectUpdates.spec.js
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/project-updates.test.js
  apps/web/src/server/applications/case/project-updates/project-updates.validators.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(applications): rework node_modules merging pipeline step
  .gitignore
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/documentation-metadata/__tests__/__snapshots__/documentation-metadata.test.js.snap
  apps/web/src/server/applications/case/edit/applicant/__tests__/__snapshots__/applications-edit-applicant.test.js.snap
  apps/web/src/server/applications/case/edit/case/__tests__/__snapshots__/applications-edit-case.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/create-new-case/applicant/__tests__/__snapshots__/applications-create-applicant.test.js.snap
  apps/web/src/server/applications/create-new-case/case/__tests__/__snapshots__/applications-create-case.test.js.snap
  apps/web/src/server/applications/create-new-case/key-dates/__tests__/__snapshots__/applications-create-key-dates.test.js.snap
  azure-pipelines-build.yml
  azure-pipelines-package-function-dep-install.yml
  azure-pipelines-package-function-merge.yml
Due: azure-pipelines-e2e.yml
