Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

fix(tooling): add env param to apikey gen pipeline
  azure-pipelines-regenerate-api-key.yml
Due: none

feat(functions): refactor api-requests to have a pre request hook
  apps/api/src/server/build-app.js
  apps/functions/applications-background-jobs/common/backend-api-request.js
  apps/functions/applications-background-jobs/malware-detected/back-office-api-client.js
  apps/functions/applications-background-jobs/notify-subscribers/src/back-office-api-client.js
  apps/functions/applications-background-jobs/package.json
  apps/functions/applications-background-jobs/publish-document/__tests__/publish-document.test.js
  apps/functions/applications-background-jobs/publish-document/index.js
  apps/functions/applications-background-jobs/unpublish-document/index.js
  apps/functions/applications-command-handlers/common/backend-api-request.js
  apps/functions/applications-command-handlers/deadline-submission-command/back-office-api-client.js
  apps/functions/applications-command-handlers/handle-subscription-command/back-office-api-client.js
  apps/functions/applications-command-handlers/package.json
  apps/functions/applications-command-handlers/register-representation-command/back-office-api-client.js
  apps/functions/applications-migration/common/back-office-api-client.js
  apps/functions/applications-migration/package.json
  apps/web/package.json
  apps/web/src/server/lib/request.js
  package-lock.json
Due: azure-pipelines-e2e.yml

feat(web): add-auth-headers-for-backend is now a package to share with Functions
  apps/web/package.json
  apps/web/src/server/lib/add-auth-headers.js
  apps/web/src/server/lib/request.js
  package-lock.json
  packages/add-auth-headers-for-backend/index.d.ts
  packages/add-auth-headers-for-backend/index.js
  packages/add-auth-headers-for-backend/jsconfig.json
  packages/add-auth-headers-for-backend/package.json
  packages/add-auth-headers-for-backend/src/add-auth-headers-for-backend.js
  packages/add-auth-headers-for-backend/src/cache-handler.js
  packages/add-auth-headers-for-backend/src/fetch-api-key.js
Due: azure-pipelines-e2e.yml

feat(functions): create a function to watch for training cases
  apps/functions/applications-background-jobs/watch-training-cases/function.json
  apps/functions/applications-background-jobs/watch-training-cases/index.js
Due: azure-pipelines-e2e.yml

fix(web): update national list hint text to ensure spaces are included in postcode
  appeals/web/src/server/appeals/national-list/__tests__/__snapshots__/national-list.test.js.snap
  appeals/web/src/server/appeals/national-list/national-list.controller.js
Due: none

feat(appeals/api): endpoints to manage current and legacy linked appeals
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appeals.routes.js
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/link-appeals/__tests__/link-appeal.test.js
  appeals/api/src/server/endpoints/link-appeals/link-appeals.controller.js
  appeals/api/src/server/endpoints/link-appeals/link-appeals.routes.js
  appeals/api/src/server/endpoints/link-appeals/link-appeals.service.js
  appeals/api/src/server/endpoints/link-appeals/link-appeals.validators.js
  appeals/api/src/server/openapi-types.ts
  appeals/api/src/server/openapi.json
  appeals/api/src/server/repositories/appeal.repository.js
  appeals/api/src/server/swagger.js
  appeals/api/src/server/tests/linked-appeals/mocks.js
Due: none

test(e2e): removed faker data for project description
  apps/e2e/cypress/support/utils/createProjectInformation.js
Due: azure-pipelines-e2e.yml

test(e2e): removed the count verification
  apps/e2e/cypress/e2e/back-office-applications/search.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): increased wait time
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-e2e.yml

test(e2e): updated test data for S51 section
  apps/e2e/cypress/support/utils/createS51Advice.js
Due: azure-pipelines-e2e.yml

fix(appeals/api): issue a decision flow - snapshot
  appeals/web/src/server/appeals/appeal-details/issue-decision/__tests__/__snapshots__/issue-decision.test.js.snap
Due: none

fix(appeals/api): issue a decision flow - fixes
  appeals/web/src/server/appeals/appeal-details/appeal-details.router.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/__tests__/__snapshots__/issue-decision.test.js.snap
  appeals/web/src/server/appeals/appeal-details/issue-decision/__tests__/issue-decision.test.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.controller.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.mapper.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.router.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.service.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.types.d.ts
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.validators.js
  appeals/web/src/server/appeals/issue-decision/__tests__/issue-decision.test.js
Due: none

fix(web/applications): fix minor issues on relevant reps and project updates (boas-1453)
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/views/applications/case/project-updates/project-updates-details.njk
  apps/web/src/server/views/applications/components/folder/folder-header.component.njk
  apps/web/src/server/views/applications/representations/representations.njk
Due: azure-pipelines-e2e.yml

fix(appeals/api): personal list filter dropdown ordering
  appeals/api/src/server/endpoints/appeals/__tests__/appeals.test.js
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/web/src/server/appeals/personal-list/__tests__/__snapshots__/personal-list.test.js.snap
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

feat(appeals/api): set state to TRANSFERRED - BOAT-659
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appeals/appeals.formatter.js
  appeals/api/src/server/endpoints/change-appeal-type/__tests__/change-appeal-type.test.js
  appeals/api/src/server/endpoints/change-appeal-type/change-appeal-type.controller.js
  appeals/api/src/server/endpoints/change-appeal-type/change-appeal-type.middleware.js
  appeals/api/src/server/endpoints/change-appeal-type/change-appeal-type.routes.js
  appeals/api/src/server/endpoints/change-appeal-type/change-appeal-type.validators.js
  appeals/api/src/server/endpoints/link-appeals/link-appeals.controller.js
  appeals/api/src/server/openapi-types.ts
  appeals/api/src/server/openapi.json
  appeals/api/src/server/state/state-machines/has.js
  appeals/api/src/server/swagger.js
Due: none

fix(api): fix bugs following reps integration testing
  apps/api/src/server/applications/application/application.validators.js
  apps/api/src/server/applications/application/representations/__tests__/create-representation.test.js
  apps/functions/applications-command-handlers/register-representation-command/__tests__/register-representation-command.test.js
  apps/functions/applications-command-handlers/register-representation-command/index.js
Due: azure-pipelines-e2e.yml

fix(api/applications): return Document with DocumentVersion on publish
  apps/api/src/server/repositories/document-metadata.repository.js
Due: azure-pipelines-e2e.yml

refactor(web): add mappers to decouple web app from API data structures
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-invalid/outcome-invalid.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-invalid/outcome-invalid.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-valid/outcome-valid.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-valid/outcome-valid.mapper.js
  appeals/web/src/server/appeals/appeal-details/assign-user/assign-user.controller.js
  appeals/web/src/server/appeals/appeal-details/assign-user/assign-user.mapper.js
  appeals/web/src/server/appeals/appeal-details/assign-user/assign-user.types.d.ts
  appeals/web/src/server/appeals/appeal-details/issue-decision/__tests__/__snapshots__/issue-decision.test.js.snap
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.controller.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/outcome-incomplete/outcome-incomplete.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/outcome-incomplete/outcome-incomplete.mapper.js
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.controller.js
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.mapper.js
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.service.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.controller.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.mapper.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.types.d.ts
  appeals/web/src/server/views/appeals/documents/decision-letter-upload.njk
Due: none

feat(appeals/api): add linkable appeals search and horizon gateway
  appeals/api/.env.test
  appeals/api/src/server/config/config.js
  appeals/api/src/server/config/schema.js
  appeals/api/src/server/endpoints/appeals.routes.js
  appeals/api/src/server/endpoints/linkable-appeals/__tests__/linkable-appeal.test.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeals.controller.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeals.formatter.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeals.routes.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeals.service.js
  appeals/api/src/server/openapi-types.ts
  appeals/api/src/server/openapi.json
  appeals/api/src/server/repositories/appeal.repository.js
  appeals/api/src/server/swagger.js
  appeals/api/src/server/tests/appeals/mocks.js
  appeals/api/src/server/tests/horizon/mocks.js
  appeals/api/src/server/utils/__tests__/horizon-gateway.test.js
  appeals/api/src/server/utils/horizon-gateway.js
  appeals/api/src/server/utils/mapping/map-horizon.js
Due: none

fix(api): ensure swagger has x-service-name and x-api-key headers
  apps/api/src/server/applications/application/application.routes.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/applications/application/file-folders/folders.routes.js
  apps/api/src/server/applications/application/project-updates/notification-logs/notification-logs.routes.js
  apps/api/src/server/applications/application/project-updates/project-updates.routes.js
  apps/api/src/server/applications/application/representations/representations.routes.js
  apps/api/src/server/applications/applications.routes.js
  apps/api/src/server/applications/case-stage/case-stage.routes.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.routes.js
  apps/api/src/server/applications/examination-timetable-type/examination-timetable-type.routes.js
  apps/api/src/server/applications/key-dates/key-dates.routes.js
  apps/api/src/server/applications/project-team/project-team.routes.js
  apps/api/src/server/applications/region/region.routes.js
  apps/api/src/server/applications/s51advice/s51-advice.routes.js
  apps/api/src/server/applications/search/case-search.routes.js
  apps/api/src/server/applications/sector/sector.routes.js
  apps/api/src/server/applications/subscriptions/subscriptions.routes.js
  apps/api/src/server/applications/zoom-level/zoom-level.routes.js
  apps/api/src/server/swagger-output.json
Due: azure-pipelines-e2e.yml

fix(appeals/api): fixed import typo
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeals.service.js
Due: none

fix(appeals/api): national list filter statuses
  appeals/api/src/server/endpoints/appeals/__tests__/appeals.test.js
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/api/src/server/repositories/appeal.repository.js
Due: none

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
