Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

test(web/applications): remove case overview unit test
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/__tests__/applications-case.test.js
Due: azure-pipelines-e2e.yml

test(e2e): updated welsh fields locators
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-e2e.yml

refactor(packages/feature-flags): load flags ahead of time
  apps/e2e/cypress/fixtures/feature-flags.js
  apps/web/src/server/app/app.express.js
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/edit/case/applications-edit-case.controller.js
  packages/feature-flags/index.js
  packages/feature-flags/src/feature-flag-client.js
  packages/feature-flags/src/is-feature-active.js
  packages/feature-flags/src/list-flags.js
Due: azure-pipelines-e2e.yml

fix(web/applications): change redirect based on Welsh feature flag
  apps/web/src/server/applications/case/edit/applicant/applications-edit-applicant.controller.js
  apps/web/src/server/applications/case/edit/applications-edit.locals.js
  apps/web/src/server/applications/case/edit/case/applications-edit-case.controller.js
Due: azure-pipelines-e2e.yml

test(e2e): make regions label consistent with the design (APPLICS-70) make sure welsh fields are only checked when feature flag is set and wales is selected
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/page_objects/createCaseSections/checkYourAnswers.js
  apps/e2e/cypress/support/utils/utils.js
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/create-new-case/check-your-answers/__tests__/__snapshots__/applications-create-check-your-answers.test.js.snap
  apps/web/src/server/lib/nunjucks-globals/__tests__/build-case-information.test.js
  apps/web/src/server/lib/nunjucks-globals/build-case-information.js
  apps/web/src/server/views/applications/case/components/case-info-table-preview.component.njk
  apps/web/src/server/views/applications/create-new-case/check-your-answers.njk
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

refactor(web/applications): move Azure project team code to common
  apps/web/src/server/applications/case/project-team/application-project-team.azure-service.js
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/src/server/applications/case/project-team/applications-project-team.service.js
  apps/web/src/server/applications/common/services/project-team.service.js
  apps/web/testing/app/mocks/project-team.js
Due: azure-pipelines-e2e.yml

feat(applications): start work on e2e tests for changes (APPLICS-70)
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentVersioning.spec.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/page_objects/casePage.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): fixed failed tests
  apps/e2e/cypress/e2e/back-office-applications/updateAndRemoveTeam.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/casePage.js
  apps/e2e/cypress/page_objects/projectTeamPage.js
  apps/e2e/cypress/page_objects/representationPage.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): increased the timeout
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-e2e.yml

feat(web/applications): add welsh fields on doc properties page (apps-18)
  apps/api/src/server/applications/application/documents/document.validators.js
  apps/api/src/server/repositories/document.repository.js
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/utils/mapping/map-document-details.js
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/applications-case.locals.js
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/views/applications/case-documentation/properties/documentation-properties.njk
  apps/web/src/server/views/applications/case-documentation/properties/tab-details.component.njk
Due: azure-pipelines-e2e.yml

test(web/applications): update snapshots on doc page (apps-18)
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
Due: azure-pipelines-e2e.yml

fix(api/applications): refactor filter incomplete welsh props (apps-18)
  apps/api/src/server/applications/application/documents/document.validators.js
Due: azure-pipelines-e2e.yml

feat(api/applications): load feature flags on api (apps-18)
  apps/api/src/server/build-app.js
Due: azure-pipelines-e2e.yml

fix(web/applications): add 'Case stage' to project overview table
  apps/web/src/server/lib/nunjucks-globals/__tests__/build-case-information.test.js
  apps/web/src/server/lib/nunjucks-globals/build-case-information.js
Due: azure-pipelines-e2e.yml

test(web/applications): update test snapshots
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
Due: azure-pipelines-e2e.yml

fix(api/applications): fix tests expected resutls (apps-18)
  apps/api/src/server/applications/application/documents/__tests__/get-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/publish-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/store-document-metadata.test.js
  apps/api/src/server/applications/application/documents/__tests__/unpublish-document.test.js
  apps/api/src/server/applications/application/file-folders/__tests__/get-folder-details.test.js
  apps/api/src/server/utils/mapping/map-document-details.js
Due: azure-pipelines-e2e.yml

test(e2e): added more scenarios for welsh tests
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): updated regions text
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-e2e.yml

feat(functions): migration validation
  apps/api/src/server/migration/migration.routes.js
  apps/api/src/server/migration/validate-migration.controller.js
  apps/api/src/server/repositories/service-user.repository.js
  apps/functions/applications-migration/common/back-office-api-client.js
  apps/functions/applications-migration/common/handle-migration-with-response.js
  apps/functions/applications-migration/common/migrators/exam-timetable-migration.js
  apps/functions/applications-migration/common/migrators/nsip-document-migration.js
  apps/functions/applications-migration/common/migrators/nsip-project-migration.js
  apps/functions/applications-migration/common/migrators/nsip-representation-migration.js
  apps/functions/applications-migration/common/migrators/s51-advice-migration.js
  apps/functions/applications-migration/common/migrators/service-user-migration.js
  apps/functions/applications-migration/common/validate-migration.js
  apps/functions/applications-migration/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

test(e2e): added test for welsh fields
  apps/e2e/cypress/e2e/back-office-applications/documentPropertiesWelsh.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(applications/web): preview content type retrieved from db instead of blob
  apps/web/src/server/app/components/file-downloader.component.js
Due: azure-pipelines-e2e.yml

test(e2e): commented document properties field
  apps/e2e/cypress/e2e/back-office-applications/documentPropertiesWelsh.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(functions): change blob contentType on publish document
  apps/functions/applications-background-jobs/publish-document/index.js
  packages/blob-storage-client/src/blob-storage-client.js
Due: azure-pipelines-e2e.yml

feat(functions): added logging for content type update
  packages/blob-storage-client/src/blob-storage-client.js
Due: none

test(applications/api): fixed publish document tests
  apps/functions/applications-background-jobs/publish-document/__tests__/publish-document.test.js
Due: azure-pipelines-e2e.yml

feat(web/applications): render overview update success banner in bold
  apps/web/src/server/views/applications/case/overview.njk
Due: azure-pipelines-e2e.yml

fix(web/applications): use the session to conditionally render success
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/edit/applicant/applications-edit-applicant.controller.js
  apps/web/src/server/applications/case/edit/case/applications-edit-case.controller.js
  apps/web/src/server/views/applications/case/overview.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): render correct success banner for updated field
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/edit/applicant/applications-edit-applicant.controller.js
  apps/web/src/server/applications/case/edit/applications-edit.service.js
  apps/web/src/server/applications/case/edit/case/applications-edit-case.controller.js
  apps/web/src/server/views/applications/case/overview.njk
Due: azure-pipelines-e2e.yml

refactor(web/applications): move session banner code to common location
  apps/web/src/server/applications/case/project-updates/project-updates.controller.js
  apps/web/src/server/applications/case/project-updates/project-updates.session.js
  apps/web/src/server/applications/common/services/session.service.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
