Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

refactor(web): update older pages to use new dynamic builder approach
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/allocation-details/allocation-details.controller.js
  appeals/web/src/server/appeals/appeal-details/allocation-details/allocation-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.controller.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.types.d.ts
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.types.d.ts
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.mapper.js
  appeals/web/src/server/lib/display-page-formatter.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/global-mapper-formatter.js
  appeals/web/src/server/lib/mappers/lpaQuestionnaire.mapper.js
  appeals/web/src/server/lib/mappers/mapper-utilities.js
  appeals/web/src/server/lib/mappers/notification-banners.mapper.js
  appeals/web/src/server/lib/nunjucks-template-builders/gds-components-properties-jsdoc.js
  appeals/web/src/server/lib/nunjucks-template-builders/page-component-rendering.js
  appeals/web/src/server/lib/object-utilities.js
  appeals/web/src/server/lib/ts-utilities.js
  appeals/web/src/server/views/appeals/components/page-component.njk
  appeals/web/src/server/views/patterns/display-page.pattern.njk
  packages/appeals/types/appeal.d.ts
Due: none

test(e2e): added html file for error test case
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/fixtures/sample-error-file.html
  apps/e2e/cypress/support/cypressUtils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore: update interested-party.schema.json
  apps/api/src/message-schemas/events/interested-party.schema.json
Due: azure-pipelines-e2e.yml

docs(appeals/web): add windows instructions for blob storage emulator
  docs/azurite-blob-emulator-windows.md
  docs/self-signed-ssl.md
Due: none

docs(appeals/web): add documentation for Azurite Blob Emulator on Windows
  docs/azurite-blob-emulator-windows.md
  docs/azurite-blob-emulator.md
  docs/self-signed-ssl.md
Due: none

fix(appeals/api): add logging to auditTrail to identify source of upload doc bug
  appeals/api/src/server/endpoints/audit-trails/audit-trails.service.js
Due: none

refactor(web): update older pages to use new dynamic builder approach
  appeals/web/src/server/appeals/appeal-details/appeal-timetables/appeal-timetables.controller.js
  appeals/web/src/server/appeals/appeal-details/appeal-timetables/appeal-timetables.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/question-page/question-page.controller.js
  appeals/web/src/server/appeals/question-page/question-page.mapper.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/lpaQuestionnaire.mapper.js
  appeals/web/src/server/lib/nunjucks-template-builders/gds-components-properties-jsdoc.js
  appeals/web/src/server/views/appeals/appeal/update-due-date.njk
  appeals/web/src/server/views/patterns/question-page.pattern.njk
Due: none

chore(applications): update interested-party.schema.json
  apps/api/src/message-schemas/events/interested-party.schema.json
Due: azure-pipelines-e2e.yml

fix(api/applications): auto unpublish old doc versions as system user (boas-1293)
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/applications/constants.js
  apps/api/src/server/repositories/document-metadata.repository.js
Due: azure-pipelines-e2e.yml

fix(api/applications): fix doc swagger errors (boas-1293)
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

fix(api/applications): auto unpublish old doc versions as system user v2 (boas-1293)
  apps/api/src/server/repositories/document-metadata.repository.js
Due: azure-pipelines-e2e.yml

refactor(web): update older pages to use new dynamic builder approach
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/web/src/server/appeals/appeal-details/allocation-details/allocation-details.controller.js
  appeals/web/src/server/appeals/appeal-details/allocation-details/allocation-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.controller.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.router.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.service.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.types.d.ts
  appeals/web/src/server/appeals/appeal-details/appeal-timetables/appeal-timetables.controller.js
  appeals/web/src/server/appeals/appeal-details/appeal-timetables/appeal-timetables.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/lpa-questionnaire.test.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.router.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.service.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.types.d.ts
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.validators.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/outcome-incomplete/outcome-incomplete.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/outcome-incomplete/outcome-incomplete.router.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/outcome-incomplete/outcome-incomplete.validators.js
  appeals/web/src/server/appeals/change-page/change-page.controller.js
  appeals/web/src/server/appeals/change-page/change-page.mapper.js
  appeals/web/src/server/appeals/change-page/change-page.router.js
  appeals/web/src/server/appeals/question-page/question-page.controller.js
  appeals/web/src/server/appeals/question-page/question-page.mapper.js
  appeals/web/src/server/lib/address-formatter.js
  appeals/web/src/server/lib/display-page-formatter.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/global-mapper-formatter.js
  appeals/web/src/server/lib/mappers/lpaQuestionnaire.mapper.js
  appeals/web/src/server/lib/mappers/validation-outcome-reasons.mapper.js
  appeals/web/src/server/lib/nunjucks-template-builders/gds-components-properties-jsdoc.js
  appeals/web/src/server/views/app/confirmation.njk
  appeals/web/src/server/views/appeals/appeal/update-due-date.njk
  appeals/web/src/server/views/patterns/change-page.pattern.njk
  appeals/web/src/server/views/patterns/display-page.pattern.njk
  appeals/web/src/server/views/patterns/question-page.pattern.njk
Due: none

feat(api/applications): add a route for processing HTML files
  apps/api/src/server/applications/applications.routes.js
  apps/api/src/server/applications/documents/documents.controller.js
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

feat(api/applications): extract YouTube URL from provided HTML snippet
  apps/api/src/server/applications/documents/documents.controller.js
  apps/api/src/server/applications/documents/documents.service.js
Due: azure-pipelines-e2e.yml

feat(api/applications): render YouTube HTML template for front office
  apps/api/src/server/applications/documents/documents.controller.js
  apps/api/src/server/applications/documents/documents.service.js
  apps/api/src/server/applications/documents/youtube-html-template.js
Due: azure-pipelines-e2e.yml

feat(api): refactor rel reps to service users
  apps/api/src/database/migrations/20231110102118_representation_service_user_refactor/migration.sql
  apps/api/src/database/migrations/20231110102119_representation_service_user_refactor/migration.sql
  apps/api/src/database/schema.d.ts
  apps/api/src/database/schema.prisma
  apps/api/src/database/seed/data-samples.js
  apps/api/src/database/seed/data-test.js
  apps/api/src/database/seed/seed-clear.js
  apps/api/src/server/applications/application/representations/contacts/__tests___/delete-contact.test.js
  apps/api/src/server/applications/application/representations/contacts/contacts.controller.js
  apps/api/src/server/applications/application/representations/contacts/contacts.route.js
  apps/api/src/server/applications/application/representations/contacts/contacts.service.js
  apps/api/src/server/applications/application/representations/download/utils/map-rep-to-csv.js
  apps/api/src/server/applications/application/representations/publish/representation.js
  apps/api/src/server/applications/application/representations/publishable/publishable.controller.js
  apps/api/src/server/applications/application/representations/representation.mapper.js
  apps/api/src/server/applications/application/representations/representations.controller.js
  apps/api/src/server/applications/application/representations/representations.routes.js
  apps/api/src/server/repositories/representation.repository.js
  apps/api/src/server/swagger-output.json
  apps/web/src/server/applications/case/representations/relevant-representation.types.d.ts
  apps/web/src/server/applications/case/representations/representation-details/representation-status/representation-status.view-model.js
  apps/web/src/server/applications/case/representations/representation-details/task-log/task-log.controller.js
  apps/web/src/server/applications/case/representations/representation/representation-entity/entity.controller.js
  apps/web/src/server/applications/case/representations/representation/representation.middleware.js
  apps/web/src/server/applications/case/representations/representation/representation.service.js
Due: azure-pipelines-e2e.yml

feat(web/applications): call API to render HTML template for YouTube
  apps/web/src/client/components/file-uploader/_client-actions.js
  apps/web/src/client/components/file-uploader/_server-actions.js
  apps/web/src/server/app/app.router.js
  apps/web/src/server/app/components/file-uploader.component.js
Due: azure-pipelines-e2e.yml

feat(api/applications): validate that iframe src is a YouTube URL
  apps/api/src/server/applications/documents/documents.service.js
Due: azure-pipelines-e2e.yml

chore(web/applications): sanitize HTML files before calling API
  apps/web/src/client/components/file-uploader/_server-actions.js
Due: azure-pipelines-e2e.yml

feat(web/applications): add pages and functionalities for adding project team members (boas-1035)
  apps/api/setup-tests.js
  apps/api/src/database/migrations/20231116175012_add_project_team_table/migration.sql
  apps/api/src/database/schema.d.ts
  apps/api/src/database/schema.prisma
  apps/api/src/server/applications/applications.routes.js
  apps/api/src/server/applications/project-team/__tests__/project-team.test.js
  apps/api/src/server/applications/project-team/project-team.controller.js
  apps/api/src/server/applications/project-team/project-team.routes.js
  apps/api/src/server/repositories/project-team.repository.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
  apps/api/src/server/utils/mapping/map-project-team.js
  apps/web/src/server/applications/case/project-team/application-project-team.azure-service.js
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/src/server/applications/case/project-team/applications-project-team.router.js
  apps/web/src/server/applications/case/project-team/applications-project-team.service.js
  apps/web/src/server/lib/http-error.js
  apps/web/src/server/views/applications/case-project-team/project-team-choose-role.njk
  apps/web/src/server/views/applications/case-project-team/project-team-list.njk
  apps/web/src/server/views/applications/case/project-team.njk
  apps/web/testing/app/mocks/project-team.js
Due: azure-pipelines-e2e.yml

feat(api): add createdAt field in project-team table (boas-1035)
  apps/api/src/database/migrations/20231117144113_add_project_team_table/migration.sql
  apps/api/src/database/schema.prisma
  apps/api/src/server/applications/project-team/__tests__/project-team.test.js
  apps/api/src/server/repositories/project-team.repository.js
  apps/api/src/server/utils/mapping/map-project-team.js
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/applications-project-team.test.js
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/src/server/views/applications/case-project-team/project-team-choose-role.njk
Due: azure-pipelines-e2e.yml

test(web/applications): add tests (boas-1035)
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/applications-project-team.test.js
  apps/web/src/server/applications/case/project-team/applications-project-team.service.js
Due: azure-pipelines-e2e.yml

fix(web/applications): pull request fixes (boas-1035)
  apps/api/src/server/utils/mapping/map-project-team.js
  apps/web/src/server/applications/case/project-team/application-project-team.azure-service.js
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/src/server/applications/case/project-team/applications-project-team.service.js
Due: azure-pipelines-e2e.yml

fix(web/applications): title "change role" when changing user (boas-1035)
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/applications-project-team.test.js
  apps/web/src/server/views/applications/case-project-team/project-team-choose-role.njk
Due: azure-pipelines-e2e.yml

test(web/applications): add tests for POST choose-role page (boas-1035)
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/applications-project-team.test.js
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/src/server/applications/case/project-team/applications-project-team.router.js
  apps/web/src/server/applications/case/project-team/applications-project-team.validators.js
Due: azure-pipelines-e2e.yml
