Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

fix(web): fix/BOAT-594-fix-add-remove-line
  appeals/web/src/client/components/add-another/add-another.js
Due: none

feat(appeals): add document details page
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.controller.js
Due: none

fix(web): fix/BOAT-545-minor-changes-to-lpaq-page
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/lib/mappers/lpaQuestionnaire.mapper.js
Due: none

feat(appeals/api): add personal list API
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/api/src/server/endpoints/appeals/appeals.formatter.js
  appeals/api/src/server/endpoints/appeals/appeals.routes.js
  appeals/api/src/server/openapi.json
  appeals/api/src/server/repositories/appeal.repository.js
  appeals/api/src/server/utils/__tests__/sort-appeals.test.js
  appeals/api/src/server/utils/appeal-sorter.js
Due: none

feat(appeals/api): personal list comments
  appeals/api/src/server/utils/appeal-sorter.js
Due: none

feat(appeals/web): add dynamic question page
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.router.js
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.router.js
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.mapper.js
  appeals/web/src/server/appeals/question-page/question-page.controller.js
  appeals/web/src/server/appeals/question-page/question-page.mapper.js
  appeals/web/src/server/appeals/question-page/question-page.router.js
  appeals/web/src/server/lib/display-page-formatter.js
  appeals/web/src/server/lib/mappers/__tests__/mappers.test.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/global-mapper-formatter.js
  appeals/web/src/server/lib/mappers/lpaQuestionnaire.mapper.js
  appeals/web/src/server/views/app/components/document-upload-info.njk
  appeals/web/src/server/views/app/components/file-uploader.component.njk
  appeals/web/src/server/views/patterns/question-page.pattern.njk
  appeals/web/testing/app/fixtures/referencedata.js
  appeals/web/testing/lib/testMappers.js
Due: none

fix(web): time before time validation fix
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/times.js
  appeals/web/src/server/lib/validators/time-input.validator.js
Due: none

fix(web): fix/BOAT-622-623-624-various-copy-fixes
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appeal-timetables/appeal-timetables.controller.js
  appeals/web/src/server/appeals/appeal-details/appeal-timetables/appeal-timetables.mapper.js
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/lib/mappers/appeal.mapper.js
Due: none

feat(appeals): improved sorting and seed data
  appeals/api/src/database/seed/data-test.js
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appeals/appeals.formatter.js
  appeals/api/src/server/endpoints/appeals/appeals.routes.js
  appeals/api/src/server/openapi.json
  appeals/api/src/server/utils/__tests__/sort-appeals.test.js
  appeals/api/src/server/utils/appeal-sorter.js
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/appeals-formatter.js
Due: none

fix(web/applications): add controller for unpublishing single document
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.router.js
  apps/web/src/server/views/applications/case-documentation/properties/documentation-properties.njk
Due: azure-pipelines-e2e.yml

test(web/applications): update test snapshots
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
Due: azure-pipelines-e2e.yml

refactor(applications/web): change CTA button text
  apps/web/src/server/applications/case/representations/publish-valid-representations/__tests__/__snapshots__/publish-valid-reps.test.js.snap
  apps/web/src/server/applications/case/representations/publish-valid-representations/__tests__/publish-valid-reps.test.js
  apps/web/src/server/views/applications/representations/publish-valid-representations/index.njk
Due: azure-pipelines-e2e.yml

test(e2e): fixed session related issues
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentVersioning.spec.js
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/keyDates.spec.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web/applications): hide published date if status is not published (boas-1299)
  apps/web/src/server/views/applications/case-documentation/properties/tab-details.component.njk
Due: azure-pipelines-e2e.yml

fix(appeals/web): add time to site visit on appeals details page
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/global-mapper-formatter.js
  appeals/web/src/server/lib/times.js
Due: none

test(e2e): fixed session time related issues
  apps/e2e/cypress/support/cypressUtils.js
Due: azure-pipelines-e2e.yml

test(e2e): commented version count
  apps/e2e/cypress/e2e/back-office-applications/documentVersioning.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(api/applications): correct schema for line items
  apps/api/src/message-schemas/events/nsip-exam-timetable.d.ts
  apps/api/src/message-schemas/events/nsip-exam-timetable.schema.json
Due: azure-pipelines-e2e.yml

chore(api/applications): remove examinationTimetableId from schema
  apps/api/src/message-schemas/events/nsip-exam-timetable.schema.json
Due: azure-pipelines-e2e.yml

feat(api/applications): add caseReference to the exam timetable schema
  apps/api/src/message-schemas/events/nsip-exam-timetable.schema.json
Due: azure-pipelines-e2e.yml

test(api/applications): update tests to reflect exam timetable changes
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
Due: azure-pipelines-e2e.yml

fix(api/applications): construct single exam-timetable event
  apps/api/src/database/schema.d.ts
  apps/api/src/message-schemas/events/nsip-exam-timetable.d.ts
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
  apps/api/src/server/repositories/examination-timetable.repository.js
Due: azure-pipelines-e2e.yml
