Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

feat(web): create an S51 document upload page
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
  apps/web/src/server/applications/case/s51/applications-s51.router.js
  apps/web/src/server/views/applications/case-s51/properties/s51-upload.njk
Due: azure-pipelines-e2e.yml

feat(web): render S51 advice attachments into a table
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
  apps/web/src/server/views/applications/case-s51/properties/s51-attachments.component.njk
Due: azure-pipelines-e2e.yml

fix(api/applications): restore documentName property validation
  apps/document-storage/src/server/app/validator.js
Due: azure-pipelines-e2e.yml

feat(web): create a simple s51-attachments component
  apps/web/src/server/views/applications/case-s51/properties/s51-attachments.component.njk
  apps/web/src/server/views/applications/case-s51/properties/s51-properties.njk
Due: azure-pipelines-e2e.yml

feat(api/applications): create an endpoint to get documents for an s51
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/applications/s51advice/s51-advice.routes.js
  apps/api/src/server/applications/s51advice/s51-advice.service.js
  apps/api/src/server/repositories/document.repository.js
  apps/api/src/server/repositories/s51-advice-document.repository.js
  apps/document-storage/src/server/app/validator.js
Due: azure-pipelines-e2e.yml

feat(web): construct href for S51 upload button
  apps/web/src/server/views/applications/case-s51/properties/s51-properties.njk
Due: azure-pipelines-e2e.yml

test(web): update test snapshots
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
Due: azure-pipelines-e2e.yml

feat(web): list attachments on S51 advice
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
  apps/web/src/server/applications/case/s51/applications-s51.service.js
  apps/web/src/server/views/applications/case-s51/properties/s51-attachments.component.njk
  apps/web/src/server/views/applications/case-s51/properties/s51-properties.njk
Due: azure-pipelines-e2e.yml

test(web): update snapshots
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
Due: azure-pipelines-e2e.yml

fix(api/applications): fix S51 paginated endpoint hanging
  apps/api/src/server/applications/s51advice/__tests__/s51-advice.test.js
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/applications/s51advice/s51-advice.routes.js
Due: azure-pipelines-e2e.yml

test(web): updated test snapshots
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
Due: azure-pipelines-e2e.yml

test(api/applications): disable non-existing exam timetable item test
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
Due: azure-pipelines-e2e.yml

fix(tooling): automatically deploy to dev, test and prod
  azure-pipelines-deploy.yml
Due: none

fix(web): arrange site visit unaccompanied visit type should not require times
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/site-visit.test.js
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.validators.js
  appeals/web/src/server/lib/validators/time-input.validator.js
Due: none

fix(web/applications): remove not used service (boas-1014)
  apps/web/src/server/applications/applications.types.d.ts
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/views/applications/case-s51/properties/s51-attachments.component.njk
  apps/web/src/server/views/applications/case-s51/properties/s51-properties.njk
  apps/web/src/server/views/applications/case-s51/properties/tab-attachments.component.njk
  apps/web/testing/applications/factory/s51-advice.js
Due: azure-pipelines-e2e.yml

feat(web/applications): integrate ui with api
  apps/web/src/server/applications/case/s51/applications-s51.service.js
  apps/web/src/server/views/applications/case-s51/properties/tab-attachments.component.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): add attachments tab (boas-1014)
  apps/web/src/server/applications/applications.types.d.ts
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/applications-s51.test.js
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
  apps/web/src/server/applications/case/s51/applications-s51.service.js
  apps/web/src/server/views/applications/case-s51/properties/tab-attachments.component.njk
  apps/web/testing/applications/factory/s51-advice.js
Due: azure-pipelines-e2e.yml

test(web/applications): fix tests (boas-1014)
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
Due: azure-pipelines-e2e.yml

fix(api): temp revert deployment pipeline
  azure-pipelines-deploy.yml
Due: none

fix(web): amend copy for details component on schedule site visit page
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/views/appeals/appeal/schedule-site-visit.njk
Due: none

test(e2e): versioning test
  apps/e2e/cypress/e2e/back-office-applications/documentVersioning.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(api): set unpublishedUpdates when redacting published representation
  apps/api/src/server/applications/application/representations/redact/__tests__/patch-redact.test.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

fix(web): render full name and organization of enquirer in s51 props
  apps/web/src/server/views/applications/case-s51/properties/tab-details.component.njk
Due: azure-pipelines-e2e.yml

test(web): update snapshots for s51
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
Due: azure-pipelines-e2e.yml

fix(web/applications): update snapshots (boas-1073)
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
Due: azure-pipelines-e2e.yml

fix(web/applications): fix banner not disappearing on refresh (boas-1073)
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/applications-s51.test.js
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
  apps/web/src/server/applications/case/s51/applications-s51.service.js
  apps/web/src/server/views/applications/case-s51/properties/s51-properties.njk
  apps/web/src/server/views/applications/case-s51/properties/tab-attachments.component.njk
Due: azure-pipelines-e2e.yml

fix(tooling): deploy dev, test and prod automatically
  azure-pipelines-deploy.yml
Due: none
