Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

fix(api): fix error for getting s51 attachemnts
  apps/api/src/server/applications/s51advice/__tests__/s51-advice.test.js
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
Due: azure-pipelines-e2e.yml

refactor(api): remove unwanted logs
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
Due: azure-pipelines-e2e.yml

feat(api): set unpublishedUpdates when deleting contact from published representation
  apps/api/src/server/applications/application/representations/contacts/__tests___/delete-contact.test.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

fix(tooling): deploy dev, test and prod automatically
  azure-pipelines-deploy.yml
Due: none

chore(appeals/web): test AD groups
  appeals/web/src/server/appeals/national-list/national-list.controller.js
  appeals/web/src/server/appeals/national-list/national-list.router.js
Due: none

feat(api/applications): s51 advice db add publishedstatusprev field (boas-1075)
  apps/api/src/database/migrations/20230824150019_s51_advice_add_published_status_prev_field/migration.sql
  apps/api/src/database/schema.prisma
Due: azure-pipelines-e2e.yml

feat(api/applications): s51 advice statuses update api (boas-1075)
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/applications/s51advice/s51-advice.routes.js
  apps/api/src/server/applications/s51advice/s51-advice.service.js
  apps/api/src/server/applications/s51advice/s51-advice.validators.js
  apps/api/src/server/repositories/s51-advice.repository.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

feat(api/applications): s51 advice statuses update api tests (boas-1075)
  apps/api/setup-tests.js
  apps/api/src/server/applications/s51advice/__tests__/s51-advice-update.test.js
  apps/api/src/server/repositories/s51-advice.repository.js
Due: azure-pipelines-e2e.yml

feat(api/applications): s51 advice statuses update validation (boas-1075)~
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/applications/s51advice/s51-advice.validators.js
  apps/api/src/server/repositories/s51-advice.repository.js
Due: azure-pipelines-e2e.yml

feat(tooling): enable turborepo remote cache
  .gitignore
  package-lock.json
  package.json
Due: none

feat(web): bOAT-446-date-validator-future-date
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/lpa-questionnaire.test.js
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/site-visit.test.js
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/dates.js
  appeals/web/src/server/lib/validators/date-input.validator.js
Due: none

fix(api): pr feedback - jsdoc update
  apps/api/src/server/applications/application/representations/attachment/attachment.controller.js
Due: azure-pipelines-e2e.yml

feat(api): set unpublishedUpdates when deleting attachment from published representation
  apps/api/src/server/applications/application/representations/attachment/__tests__/delete-attachment.test.js
  apps/api/src/server/applications/application/representations/attachment/attachment.controller.js
  apps/api/src/server/applications/application/representations/attachment/attachment.service.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

feat(api): set unpublishedUpdates when creating attachment for published representation
  apps/api/src/server/applications/application/representations/attachment/__tests__/post-attachment.test.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

feat(api): set unpublishedUpdates when updating published representation details
  apps/api/src/server/applications/application/representations/__tests__/patch-representation.test.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

feat(tooling): provide env variables to test run
  azure-pipelines-build.yml
Due: none

fix(web): update to give appellant case review outcome confirmation pages their own routes
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.router.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.router.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-invalid/outcome-invalid.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-invalid/outcome-invalid.router.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-valid/outcome-valid.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-valid/outcome-valid.router.js
Due: none

test(e2e): add success page test to s51 advice test
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/e2e/cypress/page_objects/s51AdviceProperties.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(tooling): provide env variables
  azure-pipelines-build.yml
  azure-pipelines-ci.yml
Due: none

fix(api): force cache invalidation
  apps/api/src/server/app-test.js
Due: azure-pipelines-e2e.yml

fix(api): force dependency cache invalidation
  packages/blob-storage-client/index.js
Due: none

fix(tooling): add synthetic task to create code dependency
  packages/blob-storage-client/index.js
  turbo.json
Due: none

fix(tooling): remove cache invalidation test
  apps/api/src/server/app-test.js
Due: azure-pipelines-e2e.yml

fix(web): s51 upload attachment
  apps/web/src/client/components/file-uploader/_server-actions.js
  apps/web/src/server/app/app.router.js
  apps/web/src/server/app/components/file-uploader.component.js
  apps/web/src/server/views/app/components/file-uploader.component.njk
  apps/web/src/server/views/applications/case-s51/properties/s51-upload.njk
Due: azure-pipelines-e2e.yml
