Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

fix(api): submitted files and comments are lost (APPLICS-861)
  apps/api/src/server/applications/application/documents/__tests__/create-document.test.js
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml

fix(e2e): excluded material changes test when the feature flag is off (applics-878)
  apps/e2e/cypress/e2e/back-office-applications/editCase.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web): correct key for material change in case info table
  apps/e2e/cypress/e2e/back-office-applications/editCase.spec.js
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/lib/nunjucks-globals/__tests__/build-case-information.test.js
  apps/web/src/server/lib/nunjucks-globals/build-case-information.js
  apps/web/src/server/views/applications/case/components/case-info-table.component.njk
  apps/web/src/styles/7-components/project-details-table.scss
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(api): create a feature flag for fo submissions (APPLICS-816)
  apps/api/src/server/applications/application/documents/__tests__/create-document.test.js
  apps/api/src/server/applications/application/documents/document.service.js
  packages/feature-flags/src/static-feature-flags.js
Due: azure-pipelines-e2e.yml

feat(functions): examtimetable migration new format
  apps/functions/applications-migration/common/migrators/exam-timetable-migration.js
Due: azure-pipelines-e2e.yml

fix(e2e): allow smoke tests spec to pass
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web): file upload validate content type and signature (APPLICS-517)
  apps/web/src/client/components/file-uploader/_client-actions.js
  apps/web/src/client/components/file-uploader/_html.js
  apps/web/src/client/components/file-uploader/_server-actions.js
  apps/web/src/server/app/app.router.js
  apps/web/src/server/app/components/__tests__/file-uploader.component.test.js
  apps/web/src/server/app/components/file-uploader.component.js
Due: azure-pipelines-e2e.yml

fix(api): changes to project updates are not published to FO (APPLICS-885)
  apps/api/src/server/applications/application/project-updates/project-updates.controller.js
  apps/api/src/server/applications/application/project-updates/project-updates.routes.js
  apps/api/src/server/applications/application/project-updates/project-updates.service.js
  apps/api/src/server/repositories/project-update.respository.js
  apps/api/src/server/swagger-output.json
  apps/web/src/server/applications/case/project-updates/project-updates.controller.js
  apps/web/src/server/applications/case/project-updates/project-updates.service.js
Due: azure-pipelines-e2e.yml

fix(api): update draft status (APPLICS-885)
  apps/api/src/server/applications/application/project-updates/project-updates.service.js
Due: azure-pipelines-e2e.yml

fix(api): update tests (APPLICS-885)
  apps/api/src/server/applications/application/project-updates/__tests__/project-updates.test.js
  apps/web/src/server/applications/case/project-updates/__tests__/project-updates.test.js
Due: azure-pipelines-e2e.yml

fix(api): remove redundant parameter (APPLICS-885)
  apps/api/src/server/applications/application/project-updates/project-updates.service.js
Due: azure-pipelines-e2e.yml

fix(web): fix e2e tests (APPLICS-517)
  apps/e2e/cypress/fixtures/NI_Template_2.html
  apps/e2e/cypress/fixtures/NI_Video_Template_2.html
  apps/e2e/cypress/fixtures/Sample.mp3
  apps/e2e/cypress/fixtures/sample-doc.pdf
  apps/e2e/cypress/fixtures/test.pdf
  apps/web/src/server/app/components/file-uploader.component.js
  apps/web/src/server/lib/nunjucks-filters/mime-type.js
Due: azure-pipelines-e2e.yml

test(e2e): just gittt demo
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(functions): correct migration examtimetable event type
  apps/functions/applications-migration/common/migrators/exam-timetable-migration.js
Due: azure-pipelines-e2e.yml

fix(web): fix unit tests (APPLICS-517)
  apps/web/src/server/app/components/__tests__/file-uploader.component.test.js
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/representations/representation/attachment-upload/__tests__/__snapshots__/attachment-upload.controller.test.js.snap
Due: azure-pipelines-e2e.yml

chore(tooling): add some text to test the pipeline. Remove later
  README.md
Due: none

fix(api): fix publish issue (APPLICS-885)
  apps/api/src/server/applications/application/project-updates/project-updates.service.js
Due: azure-pipelines-e2e.yml

docs(web): added instructions on adding a dummy user data file when running locally
  README.md
Due: none

ci: change function deployment config to match release config
  azure-pipelines-deploy.yml
Due: none

fix(functions): add fromFrontOffice to deadline submissions (APPLICS-861)
  apps/functions/applications-command-handlers/deadline-submission-command/back-office-api-client.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
