Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

chore(applications): default message schema to pins-data-model fallback to back-office (APPLICS-117)
  apps/api/src/message-schemas/commands/new-deadline-submission.d.ts
  apps/api/src/message-schemas/commands/register-nsip-subscription.d.ts
  apps/api/src/message-schemas/commands/register-representation.d.ts
  apps/functions/applications-command-handlers/deadline-submission-command/index.js
  apps/functions/applications-command-handlers/handle-subscription-command/logging-utils.js
  apps/functions/applications-command-handlers/register-representation-command/index.js
Due: azure-pipelines-e2e.yml

feat(api): populate s51document relational table on s51 advice migration
  apps/api/src/server/migration/migrators/nsip-representation-migrator.js
  apps/api/src/server/migration/migrators/s51-advice-migrator.js
  apps/api/src/server/repositories/representation.repository.js
  apps/api/src/server/repositories/s51-advice-document.repository.js
Due: azure-pipelines-e2e.yml

fix(packages/feature-flags): prevent crash if connection string invalid
  packages/feature-flags/src/feature-flag-client.js
Due: none

test(e2e): increased the timeout
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-e2e.yml

refactor(web/applications): move AD methods to a separate service module
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/src/server/applications/common/services/azure-project-team.js
  apps/web/src/server/applications/common/services/project-team.service.js
  apps/web/testing/app/mocks/project-team.js
Due: azure-pipelines-e2e.yml

chore(web/applications): create a common function to get project team
  apps/web/src/server/applications/common/services/project-team.service.js
Due: azure-pipelines-e2e.yml

refactor(web/applications): move Azure project team code to common
  apps/web/src/server/applications/case/project-team/application-project-team.azure-service.js
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/src/server/applications/case/project-team/applications-project-team.service.js
  apps/web/src/server/applications/common/services/project-team.service.js
  apps/web/testing/app/mocks/project-team.js
Due: azure-pipelines-e2e.yml

test(web/applications): update tests to match new Overview page
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/__tests__/applications-case.test.js
  apps/web/src/server/applications/case/edit/applicant/__tests__/__snapshots__/applications-edit-applicant.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
Due: azure-pipelines-e2e.yml

test(web/applications): remove case overview unit test
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/__tests__/applications-case.test.js
Due: azure-pipelines-e2e.yml

feat(web/applications): update case overview to match new designs
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/views/applications/case/overview.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): render case manager and NSIP officers
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/lib/nunjucks-globals/__tests__/build-case-information.test.js
  apps/web/src/server/lib/nunjucks-globals/build-case-information.js
  apps/web/src/server/views/applications/case/components/case-details-table.component.njk
  apps/web/src/server/views/applications/case/overview.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): pass key team members to Overview page template
  apps/web/src/server/applications/case/applications-case.controller.js
Due: azure-pipelines-e2e.yml

feat(web/applications): only render Project Information link if no flag
  apps/web/src/server/lib/nunjucks-filters/feature-flag.js
  apps/web/src/server/lib/nunjucks-filters/index.js
  apps/web/src/server/views/applications/case/components/case-page-navigation.component.njk
Due: azure-pipelines-e2e.yml

refactor(packages/feature-flags): load flags ahead of time
  apps/e2e/cypress/fixtures/feature-flags.js
  apps/web/src/server/app/app.express.js
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/edit/case/applications-edit-case.controller.js
  packages/feature-flags/index.js
  packages/feature-flags/src/feature-flag-client.js
  packages/feature-flags/src/is-feature-active.js
  packages/feature-flags/src/list-flags.js
Due: azure-pipelines-e2e.yml

test(e2e): merged with main
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(web/applications): update test snapshots
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/edit/applicant/__tests__/__snapshots__/applications-edit-applicant.test.js.snap
Due: azure-pipelines-e2e.yml

test(e2e): updated welsh fields
  apps/e2e/cypress/support/utils/createProjectInformation.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-e2e.yml

test(e2e): fixed failed tests
  apps/e2e/cypress/e2e/back-office-applications/updateAndRemoveTeam.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/casePage.js
  apps/e2e/cypress/page_objects/projectTeamPage.js
  apps/e2e/cypress/page_objects/representationPage.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(web/applications): only show overview design changes with flag
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/applications-case.router.js
  apps/web/src/server/views/applications/case/overview-legacy.njk
Due: azure-pipelines-e2e.yml

feat(applications): start work on e2e tests for changes (APPLICS-70)
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentVersioning.spec.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/page_objects/casePage.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): updated welsh fields locators
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-e2e.yml

fix(web/applications): change redirect based on Welsh feature flag
  apps/web/src/server/applications/case/edit/applicant/applications-edit-applicant.controller.js
  apps/web/src/server/applications/case/edit/applications-edit.locals.js
  apps/web/src/server/applications/case/edit/case/applications-edit-case.controller.js
Due: azure-pipelines-e2e.yml

feat(web/applications): bring back old case details table as legacy
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/lib/nunjucks-globals/build-case-information.js
  apps/web/src/server/views/applications/case/components/case-details-table-legacy.component.njk
  apps/web/src/server/views/applications/case/project-information.njk
Due: azure-pipelines-e2e.yml

fix(web/applications): only render Overview change link if editable
  apps/web/src/server/views/applications/case/components/case-details-table-legacy.component.njk
  apps/web/src/server/views/applications/case/components/case-details-table.component.njk
Due: azure-pipelines-e2e.yml

test(e2e): make regions label consistent with the design (APPLICS-70) make sure welsh fields are only checked when feature flag is set and wales is selected
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/page_objects/createCaseSections/checkYourAnswers.js
  apps/e2e/cypress/support/utils/utils.js
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/create-new-case/check-your-answers/__tests__/__snapshots__/applications-create-check-your-answers.test.js.snap
  apps/web/src/server/lib/nunjucks-globals/__tests__/build-case-information.test.js
  apps/web/src/server/lib/nunjucks-globals/build-case-information.js
  apps/web/src/server/views/applications/case/components/case-info-table-preview.component.njk
  apps/web/src/server/views/applications/create-new-case/check-your-answers.njk
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml
