Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

feat(functions): migration func wrapper to handle resp and errors
  apps/functions/applications-migration/.gitignore
  apps/functions/applications-migration/common/migration-function-wrapper.js
  apps/functions/applications-migration/nsip-project-migration/index.js
Due: azure-pipelines-e2e.yml

feat(tooling): add release pipeline with blue/green deployments
  azure-pipelines-deploy-release.yml
Due: none

feat(tooling): try release pipeline on test first
  azure-pipelines-deploy-release.yml
Due: none

fix(functions): increase express body limit
  apps/api/src/server/build-app.js
Due: azure-pipelines-e2e.yml

fix(tooling): don't auto trigger release on merge
  azure-pipelines-deploy-release.yml
Due: none

fix(tooling): artefacts are already downloaded for pipeline resources
  azure-pipelines-deploy-release.yml
Due: none

test(e2e) updated welsh fields
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-e2e.yml

feat(api): call service bus with publish doc function post migration
  apps/api/src/server/migration/migrators/nsip-document-migrator.js
Due: azure-pipelines-e2e.yml

fix(tooling): download build artifacts before deploy
  azure-pipelines-deploy-release.yml
Due: none

fix(tooling): skip api/web deploy is not selected
  azure-pipelines-deploy-release.yml
Due: none

fix(applications/api): folder migration creation
  apps/api/src/server/migration/migrators/folder-migrator.js
Due: azure-pipelines-e2e.yml

fix(applications/api): renamed to filterOutExistingFolders
  apps/api/src/server/migration/migrators/folder-migrator.js
Due: azure-pipelines-e2e.yml

test(e2e): added welsh test
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/page_objects/createCasePage.js
  apps/e2e/cypress/page_objects/createCaseSections/checkYourAnswers.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(applications): point release pipleine to prod (applics-328)
  azure-pipelines-deploy-release.yml
Due: none

feat(e2e): add FEATURE_FLAG_CONNECTION_STRING variable to e2e pipeline
  azure-pipelines-e2e-applications.yml
Due: none

fix(applications/api): folder migration map typo
  apps/api/src/server/migration/migrators/folder/folder.js
Due: azure-pipelines-e2e.yml

fix(api): pass correct parameters to SB call for migrated docs
  apps/api/src/server/migration/migrators/nsip-document-migrator.js
Due: azure-pipelines-e2e.yml

fix(applications/api): s51 advice item - 'Do not publish' status error (APPLICS-374)
  apps/api/src/server/utils/mapping/__tests__/map-s51-advice-details.test.js
  apps/api/src/server/utils/mapping/map-s51-advice-details.js
Due: azure-pipelines-e2e.yml

test(test/e2e): allow welsh spec to skip when feature flag is off (APPLICS-387)
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/page_objects/createCasePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(applications): for message schema commands, use data-model repo instead of local (APPLICS-117)
  apps/api/src/message-schemas/commands/new-deadline-submission.d.ts
  apps/api/src/message-schemas/commands/register-nsip-subscription.d.ts
  apps/api/src/message-schemas/commands/register-representation.d.ts
  apps/functions/applications-command-handlers/deadline-submission-command/index.js
  apps/functions/applications-command-handlers/handle-subscription-command/logging-utils.js
Due: azure-pipelines-e2e.yml

chore(applications): default message schema to pins-data-model fallback to back-office (APPLICS-117)
  apps/api/src/message-schemas/commands/new-deadline-submission.d.ts
  apps/api/src/message-schemas/commands/register-nsip-subscription.d.ts
  apps/api/src/message-schemas/commands/register-representation.d.ts
  apps/functions/applications-command-handlers/deadline-submission-command/index.js
  apps/functions/applications-command-handlers/handle-subscription-command/logging-utils.js
  apps/functions/applications-command-handlers/register-representation-command/index.js
Due: azure-pipelines-e2e.yml
