Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

feat(tooling): create remove training cases script more logging (APPLICS-605)
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script hard delete training folders (APPLICS-605)
  apps/api/src/server/utils/prisma-middleware.js
  packages/scripts/src/remove-training-cases.js
Due: azure-pipelines-e2e.yml

feat(tooling): create remove training cases script fix bug (APPLICS-605)
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script improve efficiency (APPLICS-605)
  apps/api/src/server/utils/prisma-middleware.js
  packages/scripts/src/remove-training-cases.js
Due: azure-pipelines-e2e.yml

feat(tooling): create remove training cases script fix pipeline (APPLICS-605)
  azure-pipelines-remove-training-cases.yml
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script include a count (APPLICS-605)
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script (APPLICS-605)
  packages/scripts/package.json
  packages/scripts/run/remove-all-training-cases-entry.js
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script add pipeline (APPLICS-605)
  azure-pipelines-remove-training-cases.yml
Due: none

feat(tooling): create remove training cases script hard delete training folders (APPLICS-605)
  apps/api/src/server/utils/prisma-middleware.js
Due: azure-pipelines-e2e.yml

feat(tooling): create remove training cases script hard delete training documents (APPLICS-605)
  apps/api/src/server/utils/prisma-middleware.js
  packages/scripts/src/remove-training-cases.js
Due: azure-pipelines-e2e.yml

feat(tooling): create remove training cases script delete folders individually (APPLICS-605)
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script display folders and docs (APPLICS-605)
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script review changes (APPLICS-605)
  azure-pipelines-remove-training-cases.yml
  packages/scripts/run/remove-all-training-cases-entry.js
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script clean up (APPLICS-605)
  packages/scripts/src/remove-training-cases.js
Due: none

fix(tooling): fix hard delete bug (APPLICS-605)
  apps/api/src/server/utils/prisma-middleware.js
Due: azure-pipelines-e2e.yml

feat(api/applications): new examtimetable line item welsh description
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
  package-lock.json
  package.json
Due: azure-pipelines-e2e.yml

test: examtimetable line item welsh description
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
Due: azure-pipelines-e2e.yml

feat(web/applications): add case overview link to start of breadcrumb
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/web/src/server/applications/case/applications-case.locals.js
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
Due: azure-pipelines-e2e.yml

feat(e2e): add delete folder e2e test
  apps/e2e/cypress/e2e/back-office-applications/folders.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
  apps/web/src/server/views/applications/components/folder/folder-delete.njk
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(functions): readme update
  apps/functions/applications-migration/README.md
Due: azure-pipelines-e2e.yml

feat(functions): move folder creation to project migrator
  apps/functions/applications-migration/common/migrators/nsip-project-migration.js
  apps/functions/applications-migration/folder-migration/debug.js
  apps/functions/applications-migration/folder-migration/function.json
  apps/functions/applications-migration/folder-migration/index.js
  apps/functions/applications-migration/migrate-case/index.js
Due: azure-pipelines-e2e.yml

fix(functions): fix migration folder creation
  apps/api/src/server/migration/migrators/folder/__tests__/folder.test.js
  apps/api/src/server/migration/migrators/folder/folder.js
Due: azure-pipelines-e2e.yml

fix(test/e2e): fix some bugs in automated e2e tests (APPLICS-780)
  apps/e2e/cypress/page_objects/searchResultsPage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/views/applications/case-documentation/search/document-search-results.njk
Due: azure-pipelines-e2e.yml

docs(api/applications): structurizr port 8082
  package.json
Due: none

chore(applications/api): service-bus-silent-failure-issue-add-more-catches (APPLICS-588)
  apps/api/src/server/infrastructure/event-broadcasters.js
Due: azure-pipelines-e2e.yml

chore(applications/api): service-bus-silent-failure-issue (APPLICS-588)
  apps/api/src/server/applications/application/project-updates/project-updates.service.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
  apps/api/src/server/applications/subscriptions/subscriptions.controller.js
  apps/api/src/server/applications/subscriptions/subscriptions.service.js
  apps/api/src/server/infrastructure/event-batch-broadcaster.js
  packages/event-client/src/local-event-client.js
Due: azure-pipelines-e2e.yml

chore(applications/api): make-is-case-welsh-more-efficient (APPLICS-588)
  apps/api/src/server/utils/is-case-welsh.js
Due: azure-pipelines-e2e.yml

chore(tooling): delete specified cases (APPLICS-605)
  azure-pipelines-remove-specified-cases.yml
  packages/scripts/package.json
  packages/scripts/run/remove-all-training-cases-entry.js
  packages/scripts/run/remove-specified-cases-entry.js
  packages/scripts/src/remove-cases.js
Due: none

chore(tooling): delete specified training cases (APPLICS-605)
  azure-pipelines-remove-specified-cases.yml
  azure-pipelines-remove-training-cases.yml
  packages/scripts/src/remove-cases.js
Due: none

chore(applications/api): do not log training case errors (APPLICS-588)
  apps/api/src/server/applications/application/application.validators.js
  apps/api/src/server/infrastructure/event-broadcasters.js
  apps/api/src/server/repositories/document-metadata.repository.js
  apps/api/src/server/utils/is-training-case.js
  apps/api/src/server/utils/logger.js
Due: azure-pipelines-e2e.yml
