Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

fix(appeals/api): mapping caseRef and removing integration flag
  appeals/api/src/server/config/config.js
  appeals/api/src/server/config/schema.js
  appeals/api/src/server/endpoints/integrations/integrations.controller.js
  appeals/api/src/server/endpoints/integrations/integrations.mapper.js
Due: none

fix(e2e): remove chrome from run script
  apps/e2e/package.json
Due: azure-pipelines-e2e.yml

test(e2e): update for e2e tests
  apps/e2e/README.md
  apps/e2e/cypress/e2e/back-office-applications/keyDates.spec.js
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/page_objects/keyDatesPage.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/e2e/cypress/page_objects/s51AdviceProperties.js
  apps/e2e/cypress/support/utils/utils.js
  apps/e2e/env.sh
  apps/e2e/install-chromium.sh
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(e2e): revert chrome install script delete
  apps/e2e/install-chromium.sh
Due: azure-pipelines-e2e.yml

test(e2e): update run script, key dates test
  apps/e2e/cypress/e2e/back-office-applications/keyDates.spec.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/keyDatesPage.js
  apps/e2e/cypress/support/utils/createProjectInformation.js
  apps/e2e/cypress/support/utils/utils.js
  apps/e2e/package.json
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(web): single line inputs to replace textareas
  appeals/web/src/server/appeals/appeal-details/appeal-details.types.d.ts
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.service.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.types.d.ts
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/outcome-incomplete/outcome-incomplete.controller.js
  appeals/web/src/server/lib/mappers/validation-outcome-reasons.mapper.js
Due: none

feat(web): single line inputs to replace textareas
  appeals/web/src/client/components/add-another/add-another.js
  appeals/web/src/server/views/app/components/add-another.njk
  appeals/web/src/server/views/appeals/appeal/appellant-case-invalid-incomplete.njk
  appeals/web/src/server/views/appeals/appeal/lpa-questionnaire-incomplete.njk
  appeals/web/src/server/views/appeals/components/add-another-reason.njk
  appeals/web/src/styles/8-utilities/_layout.scss
  appeals/web/src/styles/main.scss
Due: none

feat(web): single line inputs to replace textareas
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/nunjucks-filters/add-conditional-html.js
  appeals/web/src/server/lib/nunjucks-filters/checkbox-item-parameter-add-conditional-html.js
  appeals/web/src/server/lib/nunjucks-filters/index.js
Due: none

fix(web/applications): only refresh s51 title page if title isn't unique
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
Due: azure-pipelines-e2e.yml

feat(packages/applications): add type for case stage
  packages/applications/types/application.d.ts
Due: none

feat(web/applications): render a template for editing case stage
  apps/web/src/server/applications/case/edit/case/applications-edit-case.controller.js
  apps/web/src/server/applications/case/edit/case/applications-edit-case.router.js
  apps/web/src/server/applications/common/components/form/form-case.component.js
  apps/web/src/server/applications/create-new-case/case/applications-create-case.types.d.ts
  apps/web/src/server/views/applications/components/case-form/case/stage.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): add info text below case stage radio buttons
  apps/web/src/server/views/applications/components/case-form/case/stage.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): render the case status in project information
  apps/web/src/server/views/applications/case/components/case-info-table.component.njk
Due: azure-pipelines-e2e.yml

feat(api/applications): add stage to Swagger spec
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

feat(api/applications): enable updating case stage
  apps/api/src/server/applications/application/application.mapper.js
  apps/api/src/server/applications/application/application.validators.js
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-e2e.yml

feat(web/applications): filter out the draft option from case stage list
  apps/web/src/server/applications/common/components/form/form-case.component.js
Due: azure-pipelines-e2e.yml

chore(web/applications): add a validator for the stage parameter
  apps/web/src/server/applications/case/edit/case/applications-edit-case.router.js
  apps/web/src/server/applications/create-new-case/case/applications-create-case.validators.js
Due: azure-pipelines-e2e.yml

feat(api/applications): create an endpoint to fetch all case stages
  apps/api/src/server/applications/applications.routes.js
  apps/api/src/server/applications/case-stage/case-stage.controller.js
  apps/api/src/server/applications/case-stage/case-stage.routes.js
  apps/api/src/server/swagger.js
  apps/api/src/server/utils/mapping/map-case-status-string.js
  apps/web/src/server/applications/common/services/entities.service.js
Due: azure-pipelines-e2e.yml

feat(web/applications): render radio button layout for editing stage
  apps/web/src/server/applications/applications.types.d.ts
  apps/web/src/server/applications/common/components/form/form-case.component.js
  apps/web/src/server/applications/create-new-case/case/applications-create-case.types.d.ts
  apps/web/src/server/lib/camel-to-snake.js
  apps/web/src/server/views/applications/case/components/case-info-table.component.njk
  apps/web/src/server/views/applications/components/case-form/case-form-layout.njk
  apps/web/src/server/views/applications/components/case-form/case/stage.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): perform API call to update case stage
  apps/web/src/server/applications/case/edit/case/applications-edit-case.controller.js
  apps/web/src/server/applications/case/edit/case/applications-edit-case.router.js
  apps/web/src/server/applications/common/components/form/form-case.component.js
Due: azure-pipelines-e2e.yml

test(web/applications): update test snapshots
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
Due: azure-pipelines-e2e.yml

chore(web/applications): add null and error handling for case stages
  apps/web/src/server/applications/common/components/form/form-case.component.js
  apps/web/src/server/applications/common/services/entities.service.js
Due: azure-pipelines-e2e.yml

fix(api/applications): add new case stage record to maintain history
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-e2e.yml

fix(api/applications): correct JSDoc status type in case repo file
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-e2e.yml

chore(api/applications): improve isRedacted logic to be more concise
  apps/api/src/server/applications/application/documents/document.controller.js
Due: azure-pipelines-e2e.yml

refactor(api/applications): remove need for large if-statement in docs
  apps/api/src/server/applications/application/documents/document.controller.js
Due: azure-pipelines-e2e.yml
