Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

fix(api/applications): representations schema payload missing caseid (boas-1650)
  apps/api/src/server/repositories/__tests__/representation.repository.test.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

fix(applications/web): fix e2e tests for document properties page (BOAS-1660)
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/folderDocumentsPage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-e2e.yml

test(e2e): adding smoke tests
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(appeals/web): removes mobile-specific headers
  appeals/api/src/server/utils/mapping/map-horizon.js
  appeals/web/src/server/app/app.express.js
Due: none

test(e2e): added upload test
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(functions): add local.setting.json to gitignore to avoid committing secrets
  apps/functions/applications-background-jobs/.gitignore
  apps/functions/applications-background-jobs/common/__tests__/html-validation.test.js
  apps/functions/applications-background-jobs/common/__tests__/test-utils/test-constants.js
  apps/functions/applications-background-jobs/common/__tests__/test-utils/test-html.js
  apps/functions/applications-background-jobs/common/blob-client.js
  apps/functions/applications-background-jobs/common/config.js
  apps/functions/applications-background-jobs/common/html-validation.js
  apps/functions/applications-background-jobs/common/util.js
  apps/functions/applications-background-jobs/local.settings.example.json
  apps/functions/applications-background-jobs/publish-document/src/back-office-api-client.js
  apps/functions/applications-background-jobs/publish-document/src/handle-html-validity-fail.js
  apps/functions/applications-background-jobs/publish-document/src/util.js
Due: azure-pipelines-e2e.yml

feat(functions): add html check to publish-document and refactor applications-background-jobs
  apps/functions/applications-background-jobs/local.settings.example.json
  apps/functions/applications-background-jobs/malware-detected/__tests__/html-validation.test.js
  apps/functions/applications-background-jobs/malware-detected/__tests__/test-utils/test-constants.js
  apps/functions/applications-background-jobs/malware-detected/__tests__/test-utils/test-html.js
  apps/functions/applications-background-jobs/malware-detected/index.js
  apps/functions/applications-background-jobs/malware-detected/src/back-office-api-client.js
  apps/functions/applications-background-jobs/malware-detected/src/blob-client.js
  apps/functions/applications-background-jobs/malware-detected/src/config.js
  apps/functions/applications-background-jobs/malware-detected/src/html-validation.js
  apps/functions/applications-background-jobs/malware-detected/src/util.js
  apps/functions/applications-background-jobs/publish-document/__tests__/publish-document.test.js
  apps/functions/applications-background-jobs/publish-document/blob-client.js
  apps/functions/applications-background-jobs/publish-document/config.js
  apps/functions/applications-background-jobs/publish-document/index.js
  apps/functions/applications-background-jobs/unpublish-document/blob-client.js
  apps/functions/applications-background-jobs/unpublish-document/config.js
  apps/functions/applications-background-jobs/unpublish-document/index.js
  apps/functions/applications-background-jobs/unpublish-document/utils.js
Due: azure-pipelines-e2e.yml

test(e2e): increased wait time for upload file verification
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-e2e.yml

fix(applications/web): publishing queue link incorrectly placed (BOAS-1282)
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/views/applications/case-documentation/properties/documentation-properties.njk
  apps/web/src/styles/7-components/_nav-button-group.scss
  apps/web/src/styles/main.scss
Due: azure-pipelines-e2e.yml

feat(api/applications): added date open releventreps start and close
  apps/api/src/database/migrations/20240308122534_add_dates_of_open_rr_to_application_details/migration.sql
  apps/api/src/database/schema.prisma
Due: azure-pipelines-e2e.yml

fix(functions): pull correct property to get document reference in publish-document function
  apps/functions/applications-background-jobs/publish-document/__tests__/publish-document.test.js
  apps/functions/applications-background-jobs/publish-document/index.js
  apps/functions/applications-background-jobs/publish-document/src/util.js
Due: azure-pipelines-e2e.yml

test(e2e): added smoke tests to one spec file
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(applications/api): fix folder seed issue (BOAS-1613)
  apps/api/src/database/seed/seed-clear.js
Due: azure-pipelines-e2e.yml

feat(api/applications): rr reopen start + clos dates to key-dates endpoint
  apps/api/src/server/applications/key-dates/key-dates.utils.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

fix(applications/api): fix seed error deleting in dependency order (BOAS-1613)
  apps/api/src/database/seed/seed-clear.js
Due: azure-pipelines-e2e.yml

test(e2e): appeals spike
  apps/e2e/cypress/e2e/back-office-appeals/assignUserToCase.spec.js
  apps/e2e/cypress/e2e/back-office-appeals/nationalListSearch.spec.js
  apps/e2e/cypress/e2e/back-office-appeals/reviewAppellantCase.spec.js
  apps/e2e/cypress/e2e/back-office-appeals/scheduleSiteVisit.spec.js
  apps/e2e/cypress/page_objects/appealsListPage.js
  apps/e2e/cypress/page_objects/basePage.js
Due: azure-pipelines-e2e.yml

fix(applications/api): fix seed error retry delete (BOAS-1613)
  apps/api/src/database/seed/seed-clear.js
Due: azure-pipelines-e2e.yml

fix(applications/api): fix seed error (BOAS-1613)
  apps/api/src/database/seed/seed-clear.js
Due: azure-pipelines-e2e.yml

fix(applications/api): add db:reset pipeline for dev and test (BOAS-1613)
  azure-pipelines-db-reset-apps.yml
Due: none

test(e2e): semantic selector example
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/lib/mappers/appeal.mapper.js
Due: none

chore(applications/api): reseed tables for migration
  apps/api/src/database/migrations/20240228104443_reseed_tables_for_migration/migration.sql
Due: azure-pipelines-e2e.yml

test(e2e): added S51 test
  apps/e2e/README.md
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/package.json
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(appeals/api): only broadcast to service bus if enabled in config
  appeals/api/src/server/endpoints/integrations/integrations.service.js
Due: none

test(e2e): make ci green again
  apps/e2e/cypress/e2e/back-office-appeals/assignUserToCase.spec.js
  apps/e2e/cypress/e2e/back-office-appeals/nationalListSearch.spec.js
  apps/e2e/cypress/e2e/back-office-appeals/reviewAppellantCase.spec.js
  apps/e2e/cypress/e2e/back-office-appeals/reviewLpaq.spec.js
  apps/e2e/cypress/e2e/back-office-appeals/scheduleSiteVisit.spec.js
  apps/e2e/cypress/page_objects/appealsListPage.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
