Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

fix(web/applications): leave empty field if RR has no received date
  apps/web/src/server/applications/case/representations/application-representations.view-model.js
Due: azure-pipelines-e2e.yml

fix(applications/api): set api docker build to node 18.19 (BOAS-1704)
  apps/api/Dockerfile
Due: azure-pipelines-e2e.yml

chore(deps): remove appeals workspace as a project dependency
  package-lock.json
  package.json
Due: none

chore(deps): remove appeals-related scripts from package.json
  package.json
Due: none

chore(applications): remove reference to appeals from jsconfig
  apps/web/jsconfig.json
Due: azure-pipelines-e2e.yml

chore(tooling): disallow appeals as a scope for commit messages
  commitlint.config.cjs
Due: none

chore(deps): remove appeals packages from project
  packages/appeals/index.d.ts
  packages/appeals/package.json
  packages/appeals/types/appeal.d.ts
  packages/appeals/types/case-officer.d.ts
  packages/appeals/types/document.d.ts
  packages/appeals/types/index.d.ts
  packages/appeals/types/inspector.d.ts
  packages/appeals/types/validation.d.ts
Due: none

build(deps): do not look for appeals when merging function packages
  azure-pipelines-package-function-merge.yml
Due: none

chore(tooling): remove/correct references to appeals in README
  README.md
Due: none

build(deps): remove step to install appeals dependencies
  azure-pipelines-build.yml
Due: none

test(e2e): updated add rep scenarios
  apps/e2e/cypress/e2e/back-office-applications/addRepresentation.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/representationPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(functions): add horizon blob path capabilities and add test cases
  apps/functions/applications-background-jobs/common/__tests__/html-validation.test.js
  apps/functions/applications-background-jobs/common/__tests__/test-utils/string-to-stream.js
  apps/functions/applications-background-jobs/common/__tests__/test-utils/test-html.js
  apps/functions/applications-background-jobs/common/constants.js
  apps/functions/applications-background-jobs/common/html-validation.js
  apps/functions/applications-background-jobs/common/util.js
  apps/functions/applications-background-jobs/publish-document/__tests__/publish-document.test.js
  apps/functions/applications-background-jobs/publish-document/index.js
  apps/functions/applications-background-jobs/publish-document/src/get-blob-path-type.js
  apps/functions/applications-background-jobs/publish-document/src/util.js
Due: azure-pipelines-e2e.yml

feat(functions): remove unnecessary code
  apps/functions/applications-background-jobs/common/constants.js
  apps/functions/applications-background-jobs/common/html-validation.js
  apps/functions/applications-background-jobs/common/util.js
  apps/functions/applications-background-jobs/publish-document/__tests__/publish-document.test.js
  apps/functions/applications-background-jobs/publish-document/index.js
  apps/functions/applications-background-jobs/publish-document/src/get-blob-path-type.js
Due: azure-pipelines-e2e.yml

feat(functions): refactor test suite to add reusability and reduce floating strings
  apps/functions/applications-background-jobs/.env.test
  apps/functions/applications-background-jobs/common/__tests__/html-validation.test.js
  apps/functions/applications-background-jobs/common/__tests__/test-setup/setup-client-mocks.js
  apps/functions/applications-background-jobs/common/__tests__/test-setup/setup-test-env-vars.js
  apps/functions/applications-background-jobs/common/__tests__/test-utils/test-constants.js
  apps/functions/applications-background-jobs/common/__tests__/util.test.js
  apps/functions/applications-background-jobs/jest.config.js
  apps/functions/applications-background-jobs/publish-document/__tests__/publish-document.test.js
Due: azure-pipelines-e2e.yml

fix(api): fix scenario where docs without a version1 do not get listed
  apps/api/src/server/repositories/document.repository.js
Due: azure-pipelines-e2e.yml

feat(functions): nsip-document migration
  apps/api/package.json
  apps/api/src/server/migration/migrator.service.js
  apps/api/src/server/migration/migrators/nsip-document-migrator.js
  apps/functions/applications-migration/common/migrators/nsip-project-migration.js
  apps/functions/applications-migration/nsip-document-migration/debug.js
  apps/functions/applications-migration/nsip-document-migration/function.json
  apps/functions/applications-migration/nsip-document-migration/index.js
  apps/functions/applications-migration/nsip-document-migration/src/nsip-document-migration.js
  apps/functions/applications-migration/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

chore(functions): wip
  apps/api/src/server/migration/migrators/nsip-document-migrator.js
  apps/functions/applications-migration/nsip-project-migration/debug.js
Due: azure-pipelines-e2e.yml

chore(functions): wip
  apps/api/src/server/migration/migrators/nsip-document-migrator.js
Due: azure-pipelines-e2e.yml

feat(applications): allow cypress tests to run in local dev (BOAS-1655)
  .gitignore
  apps/e2e/.env.sample
  apps/e2e/.gitignore
  apps/e2e/cypress.config.js
  apps/e2e/cypress/support/commands.js
  apps/web/.env.example
  apps/web/environment/config.d.ts
  apps/web/environment/config.js
  apps/web/environment/schema.js
  apps/web/src/server/applications/case/representations/representation/address-details/utils/get-address-list.js
  apps/web/src/server/applications/common/components/form/form-applicant.component.js
  apps/web/src/server/applications/common/services/address.service.js
Due: azure-pipelines-e2e.yml

fix(applications/web): remove extra hr on preview review pages (BOAS-1251)
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/project-updates/project-updates.view-model.js
Due: azure-pipelines-e2e.yml

fix(web/applications): general section 51 functionality
  apps/api/src/database/seed/data-gs51.js
  apps/api/src/database/seed/data-test.js
  apps/api/src/database/seed/seed-development.js
  apps/api/src/database/seed/seed-production.js
  apps/api/src/server/repositories/case.repository.js
  apps/web/src/server/applications/applications.router.js
  apps/web/src/server/applications/applications.service.js
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/general-s51/__tests__/applications-general-s51.controller.test.js
  apps/web/src/server/applications/case/general-s51/applications-general-s51.config.js
  apps/web/src/server/applications/case/general-s51/applications-general-s51.controller.js
  apps/web/src/server/applications/case/general-s51/utils/get-general-section-51-URL.js
  apps/web/src/server/applications/case/general-s51/utils/get-general-section-51-data.js
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
  apps/web/src/server/views/applications/case-s51/s51-table.njk
  apps/web/src/server/views/applications/case/layouts/applications-case-layout.njk
  apps/web/src/server/views/applications/components/folder/folder-header.component.njk
  apps/web/src/server/views/applications/components/folder/folder-status.component.njk
  apps/web/src/server/views/applications/components/folder/folder.njk
Due: azure-pipelines-e2e.yml

fix(applications/web): requested changes after review (BOAS-1585)
  apps/api/src/server/infrastructure/payload-builders/nsip-document.js
  apps/api/src/server/utils/map-case-to-case-stage.js
Due: azure-pipelines-e2e.yml

fix(applications/web): fix broken back links in s51 advice (BOAS-1205)
  apps/web/src/server/applications/case/s51/__tests__/applications-s51.test.js
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
  apps/web/src/server/views/applications/case-s51/s51-advice-details.njk
  apps/web/src/server/views/applications/case-s51/s51-delete-attachment.njk
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
