Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

refactor(web): remove unwanted logs
  apps/web/src/client/components/file-uploader/_server-actions.js
  apps/web/src/server/views/applications/case-s51/properties/s51-upload.njk
Due: azure-pipelines-e2e.yml

fix(web): update to give appellant case review outcome confirmation pages their own routes
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.router.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.router.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-invalid/outcome-invalid.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-invalid/outcome-invalid.router.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-valid/outcome-valid.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-valid/outcome-valid.router.js
Due: none

fix(web): s51 upload attachment
  apps/web/src/client/components/file-uploader/_server-actions.js
  apps/web/src/server/app/app.router.js
  apps/web/src/server/app/components/file-uploader.component.js
  apps/web/src/server/views/app/components/file-uploader.component.njk
  apps/web/src/server/views/applications/case-s51/properties/s51-upload.njk
Due: azure-pipelines-e2e.yml

fix(appeals/api): update appellant case incomplete reasons reference data
  appeals/api/src/database/seed/data-static.js
Due: none

docs: add prisma type example with relation
  docs/types.md
Due: none

fix(web): routes for appellant case outcome confirmation pages
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.router.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.router.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-invalid/outcome-invalid.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-invalid/outcome-invalid.router.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-valid/outcome-valid.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-valid/outcome-valid.router.js
Due: none

feat(web): add s51 attachment tabs
  apps/web/src/server/views/applications/case-s51/properties/tab-attachments.component.njk
Due: azure-pipelines-e2e.yml

test(web): update snapshots
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
Due: azure-pipelines-e2e.yml

feat(api/applications): s51 advice update api post pr tweaks (boas-1075)
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
Due: azure-pipelines-e2e.yml

feat(api/applications): s51 advice statuses update api (boas-1075)
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/applications/s51advice/s51-advice.routes.js
  apps/api/src/server/applications/s51advice/s51-advice.service.js
  apps/api/src/server/applications/s51advice/s51-advice.validators.js
  apps/api/src/server/repositories/s51-advice.repository.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

feat(api/applications): s51 advice db add publishedstatusprev field (boas-1075)
  apps/api/src/database/migrations/20230824150019_s51_advice_add_published_status_prev_field/migration.sql
  apps/api/src/database/schema.prisma
Due: azure-pipelines-e2e.yml

feat(api/applications): s51 advice statuses update validation (boas-1075)~
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/applications/s51advice/s51-advice.validators.js
  apps/api/src/server/repositories/s51-advice.repository.js
Due: azure-pipelines-e2e.yml

feat(api/applications): s51 advice statuses update api tests (boas-1075)
  apps/api/setup-tests.js
  apps/api/src/server/applications/s51advice/__tests__/s51-advice-update.test.js
  apps/api/src/server/repositories/s51-advice.repository.js
Due: azure-pipelines-e2e.yml

test(e2e): add success page test to s51 advice test
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/e2e/cypress/page_objects/s51AdviceProperties.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(appeals/api): add test appeals data specifically for trainers to use
  appeals/api/src/database/seed/data-samples.js
  appeals/api/src/database/seed/data-test.js
Due: none

feat(tooling): cache result of build:release
  azure-pipelines-ci.yml
Due: none

feat(tooling): cache result of tscheck
  turbo.json
Due: none

feat(tooling): provide remote cache variables to tscheck
  azure-pipelines-ci.yml
Due: none

feat(tooling): cache tscheck on build
  azure-pipelines-build.yml
Due: none

fix(functions): revert build step for document publish
  azure-pipelines-build.yml
Due: none

build: copy whole node_modules for document publish function
  azure-pipelines-build.yml
Due: none

feat(tooling): extend db seed for prod
  azure-pipelines-db-seed.yml
Due: none

fix(appeals/api): allow unaccompanied site visits to be saved without a visit time
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/site-visits/__tests__/site-visits.test.js
  appeals/api/src/server/endpoints/site-visits/site-visits.validators.js
  appeals/api/src/server/utils/check-strings-match.js
  appeals/api/src/server/utils/check-validation-outcome.js
Due: none

fix(web): routes for lpaq outcome confirmation pages
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/lpa-questionnaire.test.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.router.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/outcome-incomplete/outcome-incomplete.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/outcome-incomplete/outcome-incomplete.router.js
Due: none

feat(api): select non-deleted attachments only
  apps/api/src/server/repositories/s51-advice-document.repository.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
