Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

test(e2e): updated code with s51 publish
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(api/applications): correct syntax of deletedAt where clause
  apps/api/src/server/utils/prisma-middleware.js
Due: azure-pipelines-e2e.yml

test(e2e): added missing scenarios
  apps/e2e/cypress/e2e/back-office-applications/addTeam.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(tooling): create remove training cases script more logging (APPLICS-605)
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script improve efficiency (APPLICS-605)
  apps/api/src/server/utils/prisma-middleware.js
  packages/scripts/src/remove-training-cases.js
Due: azure-pipelines-e2e.yml

feat(tooling): create remove training cases script hard delete training documents (APPLICS-605)
  apps/api/src/server/utils/prisma-middleware.js
  packages/scripts/src/remove-training-cases.js
Due: azure-pipelines-e2e.yml

feat(tooling): create remove training cases script hard delete training folders (APPLICS-605)
  apps/api/src/server/utils/prisma-middleware.js
  packages/scripts/src/remove-training-cases.js
Due: azure-pipelines-e2e.yml

feat(tooling): create remove training cases script clean up (APPLICS-605)
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script delete folders individually (APPLICS-605)
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script add pipeline (APPLICS-605)
  azure-pipelines-remove-training-cases.yml
Due: none

feat(tooling): create remove training cases script (APPLICS-605)
  packages/scripts/package.json
  packages/scripts/run/remove-all-training-cases-entry.js
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script include a count (APPLICS-605)
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script fix pipeline (APPLICS-605)
  azure-pipelines-remove-training-cases.yml
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script fix bug (APPLICS-605)
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script review changes (APPLICS-605)
  azure-pipelines-remove-training-cases.yml
  packages/scripts/run/remove-all-training-cases-entry.js
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script display folders and docs (APPLICS-605)
  packages/scripts/src/remove-training-cases.js
Due: none

feat(tooling): create remove training cases script hard delete training folders (APPLICS-605)
  apps/api/src/server/utils/prisma-middleware.js
Due: azure-pipelines-e2e.yml

feat(web/applications): add an optional 'context label' to text input
  apps/web/src/server/views/applications/components/folder/folder-create.njk
  apps/web/src/server/views/applications/components/folder/folder-rename.njk
  apps/web/src/server/views/applications/components/textinput-form-component.njk
Due: azure-pipelines-e2e.yml

feat(functions): function errors in response
  apps/api/src/server/migration/migration.controller.js
  apps/functions/applications-migration/common/handle-migration-with-response.js
  apps/functions/applications-migration/common/migrators/exam-timetable-migration.js
  apps/functions/applications-migration/common/migrators/folder-migration.js
  apps/functions/applications-migration/common/migrators/nsip-document-migration.js
  apps/functions/applications-migration/common/migrators/nsip-project-migration.js
  apps/functions/applications-migration/common/migrators/nsip-representation-migration.js
  apps/functions/applications-migration/common/migrators/s51-advice-migration.js
  apps/functions/applications-migration/common/migrators/service-user-migration.js
Due: azure-pipelines-e2e.yml

fix(web/applications): display Welsh description field if any English
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
  apps/web/src/server/views/applications/case-timetable/components/timetable-item-summary.component.njk
Due: azure-pipelines-e2e.yml

fix(functions): workarounds for curated layer issues
  apps/functions/applications-migration/common/migrators/nsip-project-migration.js
Due: azure-pipelines-e2e.yml

feat(web/applications): show Welsh name and description in check answers
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
  apps/web/src/server/applications/common/isCaseWelsh.js
Due: azure-pipelines-e2e.yml

refactor(web/applications): make type coercions more explicit
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
Due: azure-pipelines-e2e.yml

test(e2e): updated code with publish and unpublish scenarios for exam timetable
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/page_objects/examinationTimetablePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web/applications): change 'Enter folder name' to 'Folder name'
  apps/web/src/server/views/applications/components/folder/folder-create.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): prepopulate with rename field with current name
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/views/applications/components/folder/folder-rename.njk
Due: azure-pipelines-e2e.yml

feat(web): build delete folder page
  apps/web/src/server/views/applications/components/folder/folder-create.njk
  apps/web/src/server/views/applications/components/folder/folder-delete.njk
  apps/web/src/server/views/applications/components/folder/folder-header.component.njk
  apps/web/src/server/views/applications/components/folder/folder-rename.njk
  apps/web/src/server/views/applications/layouts/folder-edit-property.layout.njk
  apps/web/src/styles/7-components/_button-group.scss
Due: azure-pipelines-e2e.yml

feat(web): integrate ui with api and handle redirects
  apps/api/src/server/applications/application/file-folders/__tests__/get-folder-details.test.js
  apps/api/src/server/utils/mapping/map-folder-details.js
  apps/web/src/server/applications/applications.types.d.ts
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.router.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
  apps/web/src/server/lib/nunjucks-filters/url.js
Due: azure-pipelines-e2e.yml
