Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

fix(web/applications): allow research for name+surname together (boas-1341)
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/applications-project-team.test.js
  apps/web/src/server/applications/case/project-team/applications-project-team.service.js
Due: azure-pipelines-e2e.yml

fix(web/applications): return empty string when auth is not enabled (boas-1341)
  apps/web/src/server/applications/case/project-team/application-project-team.azure-service.js
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/src/server/applications/case/project-team/applications-project-team.service.js
  apps/web/src/server/applications/case/project-team/applications-project-team.validators.js
Due: azure-pipelines-e2e.yml

feat(appeals/api): relaxing mandatory fields in schema
  appeals/api/src/message-schemas/pins-root.schema.json
Due: none

refactor(web/applications): use ternary operator instead of if-statement
  apps/web/src/client/components/file-uploader/_server-actions.js
Due: azure-pipelines-e2e.yml

fix(web/applications): pass along fileRowId with HTML uploads
  apps/web/src/client/components/file-uploader/_server-actions.js
Due: azure-pipelines-e2e.yml

refactor(api/applications): use map syntax instead of Array.push
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml

fix(web/applications): add fileRowId to file instead of copying object
  apps/web/src/client/components/file-uploader/_server-actions.js
Due: azure-pipelines-e2e.yml

test(e2e): added team member related scenarios
  apps/e2e/cypress/e2e/back-office-applications/addTeam.spec.js
  apps/e2e/cypress/page_objects/projectTeamPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(appeals): function infrastructure refactor
  appeals/api/src/message-schemas/pins-appeal.schema.json
  appeals/functions/casedata-import/README.md
  appeals/functions/casedata-import/appellant-case/back-office-api-client.js
  appeals/functions/casedata-import/appellant-case/config.js
  appeals/functions/casedata-import/appellant-case/function.json
  appeals/functions/casedata-import/appellant-case/index.js
  appeals/functions/casedata-import/package.json
  appeals/functions/casedata-import/questionnaire/back-office-api-client.js
  appeals/functions/casedata-import/questionnaire/config.js
  appeals/functions/casedata-import/questionnaire/function.json
  appeals/functions/casedata-import/questionnaire/index.js
  appeals/functions/document-processing/README.md
  appeals/functions/hr-data-import/README.md
  appeals/functions/lpaq-import/README.md
  appeals/functions/lpaq-import/host.json
  appeals/functions/lpaq-import/local.settings.json
  appeals/functions/lpaq-import/package.json
  appeals/functions/user-import/README.md
  appeals/functions/user-import/employee/back-office-api-client.js
  appeals/functions/user-import/employee/config.js
  appeals/functions/user-import/employee/function.json
  appeals/functions/user-import/employee/index.js
  appeals/functions/user-import/host.json
  appeals/functions/user-import/local.settings.json
  appeals/functions/user-import/package.json
  appeals/functions/user-import/service-user/back-office-api-client.js
  appeals/functions/user-import/service-user/config.js
  appeals/functions/user-import/service-user/function.json
  appeals/functions/user-import/service-user/index.js
  azure-pipelines-build.yml
  azure-pipelines-deploy-appeals.yml
Due: none

feat(appeals): function infrastructure refactor
  package-lock.json
Due: none

test(e2e): removed emails and updated the desc description
  apps/e2e/cypress/e2e/back-office-applications/addTeam.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

refactor(web): update older pages to use new dynamic builder approach
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/allocation-details/__tests__/__snapshots__/allocation-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/allocation-details/allocation-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.service.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.types.d.ts
  appeals/web/src/server/appeals/appeal-details/appeal-timetables/__tests__/__snapshots__/appeal-timetables.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appeal-timetables/appeal-timetables.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-invalid/outcome-invalid.controller.js
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/assign-user/assign-user.service.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.types.d.ts
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.controller.js
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.mapper.js
  appeals/web/src/server/appeals/appeals.types.d.ts
  appeals/web/src/server/appeals/change-page/change-page.mapper.js
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/mappers/__tests__/mappers.test.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/appellantCase.mapper.js
  appeals/web/src/server/lib/mappers/global-mapper-formatter.js
  appeals/web/src/server/lib/mappers/lpaQuestionnaire.mapper.js
  appeals/web/src/server/lib/mappers/mapper-types-jsdoc.js
  appeals/web/src/server/lib/mappers/validation-outcome-reasons.mapper.js
  appeals/web/src/server/lib/nunjucks-template-builders/gds-components-properties-jsdoc.js
  appeals/web/src/server/views/appeals/components/page-component.njk
  appeals/web/src/server/views/patterns/display-page.pattern.njk
  appeals/web/testing/app/fixtures/referencedata.js
  appeals/web/testing/lib/testMappers.js
Due: none

feat(appeals): function infrastructure refactor
  azure-pipelines-build.yml
  azure-pipelines-deploy-appeals.yml
Due: none

test(e2e): updated email retrieval
  apps/e2e/cypress/e2e/back-office-applications/addTeam.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(appeals): function infrastructure refactor
  azure-pipelines-build.yml
Due: none

feat(web): feature/BOAT-538-site-visit-manage
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/site-visit.test.js
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.controller.js
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.router.js
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.service.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/views/appeals/appeal/schedule-site-visit.njk
  appeals/web/src/server/views/appeals/appeal/site-visit-booked.njk
Due: none

fix(applications/web): fixed url missing case ID (BOAS-1352)
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/views/applications/case/overview.njk
Due: azure-pipelines-e2e.yml

feat(api): poc for querying service users directly from synapse
  apps/functions/applications-migration/common/config.js
  apps/functions/applications-migration/common/synapse-db.js
  apps/functions/applications-migration/package.json
  apps/functions/applications-migration/service-user-migration/debug.js
  apps/functions/applications-migration/service-user-migration/function.json
  apps/functions/applications-migration/service-user-migration/index.js
  apps/functions/applications-migration/service-user-migration/src/service-user-migration.js
  package-lock.json
Due: azure-pipelines-e2e.yml

fix(web/applications): update contact link on publish representations error page
  apps/web/src/server/applications/case/representations/publish-representations-error/__tests__/__snapshots__/publish-representations-error.test.js.snap
  apps/web/src/server/views/applications/representations/publish-representations-error.njk
Due: azure-pipelines-e2e.yml

feat(api): feature/BOAT-538-site-visit-manage-allow-empty-time-slot-update-for-unaccompanied-visit
  appeals/api/src/server/endpoints/site-visits/__tests__/site-visits.test.js
  appeals/api/src/server/endpoints/site-visits/site-visits.validators.js
Due: none

feat(appeals): reorganising functions
  appeals/functions/casedata-import/questionnaire/back-office-api-client.js
  appeals/functions/casedata-import/questionnaire/index.js
  appeals/functions/user-import/employee/index.js
  appeals/functions/user-import/service-user/index.js
Due: none

fix(api/applications): exam timetable name must be unique (boas-1329)
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.validators.js
  apps/api/src/server/repositories/examination-timetable-items.repository.js
Due: azure-pipelines-e2e.yml

fix(web/applications): display exam timetable errors inc non unique error (boas-1329)
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.service.js
Due: azure-pipelines-e2e.yml

fix(api/applications): fix exam timetable auto uppercase of name (boas-1329)~
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.validators.js
Due: azure-pipelines-e2e.yml

fix(api/applications): exam timetable name cannot be other (boas-1329)
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.validators.js
Due: azure-pipelines-e2e.yml

fix(api/applications): fix exam timetable lost type repost issue (boas-1329)
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
Due: azure-pipelines-e2e.yml

fix(web/applications): exam timetable name display error if other (boas-1329)
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.service.js
Due: azure-pipelines-e2e.yml
