Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

fix(api/applications): prevent updating publishedStatus when published
  apps/api/src/server/applications/application/documents/document.controller.js
Due: azure-pipelines-e2e.yml

fix(api/applications): correct JSDoc status type in case repo file
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-e2e.yml

fix(api/applications): add new case stage record to maintain history
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-e2e.yml

refactor(api/applications): move updateDocuments logic into service file
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml

chore(web/applications): update to expect new response from doc update
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
Due: azure-pipelines-e2e.yml

chore(api/applications): return status code for partial success
  apps/api/src/server/applications/application/documents/document.controller.js
Due: azure-pipelines-e2e.yml

feat(api/applications): return errors alongside successful results
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
Due: azure-pipelines-e2e.yml

chore(api/applications): change error message to be user-friendly
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml

fix(api/applications): short-circuit loop if document update errors
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml

test(api/applications): update tests to match new API contract
  apps/api/src/server/applications/application/documents/__tests__/update-document-status.test.js
Due: azure-pipelines-e2e.yml

fix(appeals/api): remove test data from some lpa questionnaire documents
  appeals/api/src/server/endpoints/lpa-questionnaires/lpa-questionnaires.formatter.js
  appeals/api/src/server/tests/data.js
Due: none

feat(applications/api): get publishable reps add previouslyPublished
  apps/api/src/server/applications/application/representations/publishable/__tests__/publishable-representations.test.js
  apps/api/src/server/applications/application/representations/publishable/publishable.controller.js
  apps/api/src/server/applications/application/representations/publishable/publishable.route.js
  apps/api/src/server/applications/application/representations/publishable/publishable.service.js
  apps/api/src/server/repositories/representation.repository.js
  apps/api/src/server/swagger-output.json
Due: azure-pipelines-e2e.yml

feat(web): single line inputs to replace textareas
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/lpa-questionnaire.test.js
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

feat(appeals/api): integration progress, audit trail on FO messages
  appeals/api/src/database/seed/data-static.js
  appeals/api/src/database/seed/seed-clear.js
  appeals/api/src/server/endpoints/appeals.routes.js
  appeals/api/src/server/endpoints/integrations/integrations.controller.js
  appeals/api/src/server/endpoints/integrations/integrations.mapper.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/appeal-allocation.mapper.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/appeal-type.mapper.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/index.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/questionnaire.mapper.js
Due: none

feat(appeals/api): integration progress, audit trail on FO messages
  appeals/api/src/server/endpoints/appeals.routes.js
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/integrations/integrations.controller.js
  appeals/api/src/server/repositories/integrations.repository.js
Due: none

fix(appeals/api): delete users earlier in the seeding to avoid constraint issues
  appeals/api/src/database/seed/seed-clear.js
Due: none

feat(web): single line inputs to replace textareas
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/lpa-questionnaire.test.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/outcome-incomplete/outcome-incomplete.validators.js
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

fix(appeals/api): remove config set test mailbox from seeding
  appeals/api/src/database/seed/data-samples.js
Due: none

test(applications/api): minor test update
  apps/api/src/server/applications/application/representations/publishable/__tests__/publishable-representations.test.js
Due: azure-pipelines-e2e.yml

fix(tooling): don't load all app config for seeding
  appeals/api/src/database/seed/seed-development.js
  appeals/api/src/database/seed/seed-production.js
  apps/api/src/database/seed/seed-development.js
  apps/api/src/database/seed/seed-production.js
Due: azure-pipelines-e2e.yml

verifying title
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

refactor(e2e): wip
  apps/e2e/cypress.config.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/support/utils/createProjectInformation.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

refactor(e2e): wip
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-e2e.yml

refactor(e2e): wip
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Updated selector
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(appeals/api): trying to fix DB seed
  appeals/api/package.json
  appeals/api/src/database/seed/seed-clear.js
Due: none

chore(appeals/api): trying to fix DB seed
  appeals/api/src/database/seed/seed-clear.js
Due: none

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
