Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

chore(applications): dockerfiles only install required deps & corrected updated minifying process
  apps/api/Dockerfile
  apps/web/Dockerfile
  apps/web/scripts/rollup/minify-js.js
  turbo.json
Due: azure-pipelines-e2e.yml

chore(applications): move unnecessary prod package to devDependencies
  apps/functions/applications-background-jobs/package.json
  apps/web/src/server/applications/case/documentation-metadata/__tests__/__snapshots__/documentation-metadata.test.js.snap
  package.json
Due: azure-pipelines-e2e.yml

chore(applications): update readme.md with dependency adding instructions
  README.md
Due: none

chore(applications): rework node_modules merging pipeline step
  .gitignore
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/documentation-metadata/__tests__/__snapshots__/documentation-metadata.test.js.snap
  apps/web/src/server/applications/case/edit/applicant/__tests__/__snapshots__/applications-edit-applicant.test.js.snap
  apps/web/src/server/applications/case/edit/case/__tests__/__snapshots__/applications-edit-case.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/create-new-case/applicant/__tests__/__snapshots__/applications-create-applicant.test.js.snap
  apps/web/src/server/applications/create-new-case/case/__tests__/__snapshots__/applications-create-case.test.js.snap
  apps/web/src/server/applications/create-new-case/key-dates/__tests__/__snapshots__/applications-create-key-dates.test.js.snap
  azure-pipelines-build.yml
  azure-pipelines-package-function-dep-install.yml
  azure-pipelines-package-function-merge.yml
Due: azure-pipelines-e2e.yml

chore(web): update test snapshots after dependency update
  apps/web/src/server/app/__tests__/__snapshots__/app.test.js.snap
  apps/web/src/server/app/auth/__tests__/__snapshots__/auth.test.js.snap
  apps/web/src/server/applications/__tests__/__snapshots__/applications.test.js.snap
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/documentation-metadata/__tests__/__snapshots__/documentation-metadata.test.js.snap
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/edit/applicant/__tests__/__snapshots__/applications-edit-applicant.test.js.snap
  apps/web/src/server/applications/case/edit/case/__tests__/__snapshots__/applications-edit-case.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/general-s51/__tests__/__snapshots__/applications-general-s51.controller.test.js.snap
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/applications/case/representations/publish-representations-error/__tests__/__snapshots__/publish-representations-error.test.js.snap
  apps/web/src/server/applications/case/representations/publish-updated-representations/__tests__/__snapshots__/publish-updated-representations.test.js.snap
  apps/web/src/server/applications/case/representations/publish-valid-representations/__tests__/__snapshots__/publish-valid-reps.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/__tests__/__snapshots__/applications-relevant-rep-details.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/change-redaction/__tests__/__snapshots__/change-redaction.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/__tests__/__snapshots__/redact-representation.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/representation-status/__tests__/__snapshots__/representation-status.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/representation-status/representation-status-notes/__tests__/__snapshots__/representation-status-notes.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/task-log/__tests__/__snapshots__/task-log.test.js.snap
  apps/web/src/server/applications/case/representations/representation/address-details/__tests__/__snapshots__/address-details.test.js.snap
  apps/web/src/server/applications/case/representations/representation/attachment-upload/__tests__/__snapshots__/attachment-upload.controller.test.js.snap
  apps/web/src/server/applications/case/representations/representation/contact-details/__tests__/__snapshots__/rr-contact-details.test.js.snap
  apps/web/src/server/applications/case/representations/representation/contact-method/__tests__/__snapshots__/rr-contact-method.test.js.snap
  apps/web/src/server/applications/case/representations/representation/representation-comment/__tests__/__snapshots__/representation-comment.test.js.snap
  apps/web/src/server/applications/case/representations/representation/representation-entity/__tests__/__snapshots__/represetation-entity.test.js.snap
  apps/web/src/server/applications/case/representations/representation/representation-type/__tests__/__snapshots__/represetation-type.test.js.snap
  apps/web/src/server/applications/case/representations/representation/under-18/__tests__/__snapshots__/represetation-under-18.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/applications/create-new-case/applicant/__tests__/__snapshots__/applications-create-applicant.test.js.snap
  apps/web/src/server/applications/create-new-case/case/__tests__/__snapshots__/applications-create-case.test.js.snap
  apps/web/src/server/applications/create-new-case/check-your-answers/__tests__/__snapshots__/applications-create-check-your-answers.test.js.snap
  apps/web/src/server/applications/create-new-case/key-dates/__tests__/__snapshots__/applications-create-key-dates.test.js.snap
  apps/web/src/server/applications/search-results/__tests/__snapshots__/applications-search.test.js.snap
  apps/web/src/server/views/applications/components/__tests__/__snapshots__/excerpt.component.test.js.snap
Due: azure-pipelines-e2e.yml

fix(web): mock custom pins module to correct importing error while running test
  apps/web/setup-tests.js
  apps/web/src/client/components/file-uploader/__tests__/file-uploader.test.js
Due: azure-pipelines-e2e.yml

feat(applications/web): create welsh project update preview (APPLICS-31)
  apps/e2e/cypress/e2e/back-office-applications/projectUpdates.spec.js
  apps/e2e/cypress/page_objects/projectUpdatesPage.js
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/project-updates.test.js
  apps/web/src/server/applications/case/project-updates/project-updates-views.d.ts
  apps/web/src/server/applications/case/project-updates/project-updates.controller.js
  apps/web/src/server/applications/case/project-updates/project-updates.mapper.js
  apps/web/src/server/applications/case/project-updates/project-updates.router.js
  apps/web/src/server/applications/case/project-updates/project-updates.view-model.js
  apps/web/src/server/views/applications/case/project-updates/project-updates-details.njk
  packages/applications/lib/application/project-update.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(e2e): added fs-extra dependency to package.json
  apps/e2e/package.json
  package-lock.json
  package.json
Due: azure-pipelines-e2e.yml

fix(api): add wildcard value to apikey generation pipeline
  azure-pipelines-regenerate-api-key.yml
Due: none

feat(test/e2e): fix project updates e2e tests (APPLICS-31)
  apps/e2e/cypress/e2e/back-office-applications/projectUpdates.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(applications/web): project update links contain corrupt ampersands (APPLICS-604)
  apps/web/src/server/applications/case/project-updates/__tests__/project-updates.mapper.test.js
  apps/web/src/server/applications/case/project-updates/project-updates.mapper.js
Due: azure-pipelines-e2e.yml

test(e2e): added missing scenarios to document properties for welsh
  apps/e2e/cypress/e2e/back-office-applications/documentPropertiesWelsh.spec.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(test/e2e): remove appeals e2e tests from back office repo (APPLICS-639)
  apps/e2e/cypress/e2e/back-office-appeals/assignUserToCase.spec.js
  apps/e2e/cypress/e2e/back-office-appeals/nationalListSearch.spec.js
  apps/e2e/cypress/e2e/back-office-appeals/reviewAppellantCase.spec.js
  apps/e2e/cypress/e2e/back-office-appeals/reviewLpaq.spec.js
  apps/e2e/cypress/e2e/back-office-appeals/scheduleSiteVisit.spec.js
  apps/e2e/cypress/page_objects/appealsListPage.js
  apps/e2e/cypress/page_objects/updateDueDatePage.js
Due: azure-pipelines-e2e.yml

feat(functions/notify-subscribers): include Welsh content in update
  apps/functions/applications-background-jobs/notify-subscribers/src/notify-subscribers.js
Due: azure-pipelines-e2e.yml

feat(functions/notify-subscribers): use Welsh notify template
  apps/functions/applications-background-jobs/notify-subscribers/index.js
  apps/functions/applications-background-jobs/notify-subscribers/src/config.js
  apps/functions/applications-background-jobs/notify-subscribers/src/notify-subscribers.js
Due: azure-pipelines-e2e.yml

feat(functions/notify-subscribers): pass Welsh title and subject
  apps/functions/applications-background-jobs/notify-subscribers/src/back-office-api-client.js
  apps/functions/applications-background-jobs/notify-subscribers/src/notify-subscribers.js
  apps/functions/applications-background-jobs/notify-subscribers/src/types.d.ts
Due: azure-pipelines-e2e.yml

chore(applications): setup loggers to only pretty print in dev
  apps/api/src/server/config/config.js
  apps/api/src/server/config/schema.js
  apps/api/src/server/utils/logger.js
  apps/web/environment/config.js
  apps/web/environment/schema.js
  apps/web/src/server/lib/logger.js
Due: azure-pipelines-e2e.yml

fix(functions/notify-subscribers): load GOV_NOTIFY_TEMPLATE_WELSH_ID
  apps/functions/applications-background-jobs/notify-subscribers/src/config.js
Due: azure-pipelines-e2e.yml

fix(applications/api): unable to publish s51 advice without welsh fields (APPLICS-653)
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/applications/s51advice/s51-advice.service.js
  apps/api/src/server/applications/s51advice/s51-advice.validators.js
  apps/api/src/server/repositories/s51-advice.repository.js
Due: azure-pipelines-e2e.yml

chore(tooling): add applic-625-custom-folders to static flags
  packages/feature-flags/src/static-feature-flags.js
Due: none

fix(functions): install pins-data-model in applications-command-hanlders
  apps/functions/applications-command-handlers/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

feat(tooling): unable to publish ETTs when Welsh selected (APPLICS-663)
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.validators.js
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/utils/is-case-welsh.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
