Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

fix(api/applications): skip initialising app insights locally
  apps/api/src/server/app.js
  apps/api/src/server/config/schema.js
Due: azure-pipelines-e2e.yml

test(e2e): added remove and update team role scenarios
  apps/e2e/cypress/e2e/back-office-applications/updateAndRemoveTeam.spec.js
  apps/e2e/cypress/page_objects/projectTeamPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(appeals): function infrastructure refactor
  azure-pipelines-build.yml
Due: none

feat(appeals): function infrastructure refactor
  package-lock.json
Due: none

feat(appeals): reorganising functions
  appeals/functions/casedata-import/questionnaire/back-office-api-client.js
  appeals/functions/casedata-import/questionnaire/index.js
  appeals/functions/user-import/employee/index.js
  appeals/functions/user-import/service-user/index.js
Due: none

feat(appeals): function infrastructure refactor
  azure-pipelines-build.yml
  azure-pipelines-deploy-appeals.yml
Due: none

feat(appeals): function refactoring
  appeals/functions/casedata-import/appellant-case/function.json
  appeals/functions/casedata-import/questionnaire/function.json
  appeals/functions/document-processing/document-copy/todo.txt
  appeals/functions/document-processing/malware-detection/todo.txt
Due: none

feat(appeals): function infrastructure refactor
  appeals/api/src/message-schemas/pins-appeal.schema.json
  appeals/functions/casedata-import/README.md
  appeals/functions/casedata-import/appellant-case/back-office-api-client.js
  appeals/functions/casedata-import/appellant-case/config.js
  appeals/functions/casedata-import/appellant-case/function.json
  appeals/functions/casedata-import/appellant-case/index.js
  appeals/functions/casedata-import/package.json
  appeals/functions/casedata-import/questionnaire/back-office-api-client.js
  appeals/functions/casedata-import/questionnaire/config.js
  appeals/functions/casedata-import/questionnaire/function.json
  appeals/functions/casedata-import/questionnaire/index.js
  appeals/functions/document-processing/README.md
  appeals/functions/hr-data-import/README.md
  appeals/functions/lpaq-import/README.md
  appeals/functions/lpaq-import/host.json
  appeals/functions/lpaq-import/local.settings.json
  appeals/functions/lpaq-import/package.json
  appeals/functions/user-import/README.md
  appeals/functions/user-import/employee/back-office-api-client.js
  appeals/functions/user-import/employee/config.js
  appeals/functions/user-import/employee/function.json
  appeals/functions/user-import/employee/index.js
  appeals/functions/user-import/host.json
  appeals/functions/user-import/local.settings.json
  appeals/functions/user-import/package.json
  appeals/functions/user-import/service-user/back-office-api-client.js
  appeals/functions/user-import/service-user/config.js
  appeals/functions/user-import/service-user/function.json
  appeals/functions/user-import/service-user/index.js
  azure-pipelines-build.yml
  azure-pipelines-deploy-appeals.yml
Due: none

fix(appeals): rename func artifact to deploy
  azure-pipelines-deploy-appeals.yml
Due: none

feat(appeals): new functions skeleton
  appeals/functions/document-processing/document-copy/config.js
  appeals/functions/document-processing/document-copy/function.json
  appeals/functions/document-processing/document-copy/index.js
  appeals/functions/document-processing/document-copy/todo.txt
  appeals/functions/document-processing/host.json
  appeals/functions/document-processing/local.settings.json
  appeals/functions/document-processing/malware-detection/config.js
  appeals/functions/document-processing/malware-detection/function.json
  appeals/functions/document-processing/malware-detection/index.js
  appeals/functions/document-processing/malware-detection/todo.txt
  appeals/functions/document-processing/package.json
  package-lock.json
Due: none

fix(appeals): renamed user import
  azure-pipelines-build.yml
Due: none

fix(appeals): renamed user import
  azure-pipelines-build.yml
  package-lock.json
Due: none

feat(api): feature/BOAT-653 API - Publish appeal decision (Invalid)
  appeals/api/src/database/migrations/20231128131711_optional_decision_letter_guid_in_inspector_decision/migration.sql
  appeals/api/src/database/schema.prisma
  appeals/api/src/server/endpoints/appeal-decision/__tests__/appeal-decision.test.js
  appeals/api/src/server/endpoints/appeal-decision/appeal-decision.validator.js
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appeals.routes.js
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/invalid-appeal-decision/__tests__/invalid-appeal-decision.test.js
  appeals/api/src/server/endpoints/invalid-appeal-decision/invalid-appeal-decision.controller.js
  appeals/api/src/server/endpoints/invalid-appeal-decision/invalid-appeal-decision.middleware.js
  appeals/api/src/server/endpoints/invalid-appeal-decision/invalid-appeal-decision.routes.js
  appeals/api/src/server/endpoints/invalid-appeal-decision/invalid-appeal-decision.service.js
  appeals/api/src/server/endpoints/invalid-appeal-decision/invalid-appeal-decision.validator.js
  appeals/api/src/server/openapi-types.ts
  appeals/api/src/server/openapi.json
  appeals/api/src/server/repositories/appeal.repository.js
  appeals/api/src/server/swagger.js
Due: none

feat(web/applications): initial UI setup v1 for document search (boas-1312)
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.router.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
  apps/web/src/server/applications/case/documentation/applications-documentation.types.d.ts
  apps/web/src/server/applications/case/documentation/applications-documentation.validators.js
  apps/web/src/server/views/applications/case-documentation/search-results/document-search-results.njk
  apps/web/src/server/views/applications/case-documentation/search-results/document-search.component.njk
  apps/web/src/server/views/applications/case/project-documentation.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): ui setup v3 for document search (boas-1312)
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
  apps/web/src/server/views/applications/case-documentation/search-results/document-search-results.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): ui setup v2 for document search (boas-1312)
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
  apps/web/src/server/lib/nunjucks-filters/url.js
  apps/web/src/server/views/applications/case-documentation/search-results/document-search-results.njk
  apps/web/src/server/views/applications/case-documentation/search-results/document-search.component.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): document search ui posting (boas-1148)
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.router.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
  apps/web/src/server/applications/case/documentation/applications-documentation.types.d.ts
  apps/web/src/server/lib/nunjucks-filters/url.js
  apps/web/src/server/views/applications/case-documentation/search-results/document-search-results.njk
  apps/web/src/server/views/applications/case-documentation/search-results/document-search.component.njk
  apps/web/src/server/views/applications/case/project-documentation.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): ui pagination for document search (boas-1312)
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.router.js
Due: azure-pipelines-e2e.yml

fix(api): update swagger docs (boas-1148)
  apps/api/src/server/swagger-output.json
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
Due: azure-pipelines-e2e.yml

fix(web/applications): remove console logs (boas-1148)
  apps/web/src/server/applications/case/applications-case.locals.js
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.router.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
  apps/web/src/server/applications/case/documentation/applications-documentation.types.d.ts
  apps/web/src/server/applications/search-results/applications-search.controller.js
  apps/web/src/server/views/applications/case-documentation/search/document-search-results.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): handle errors and add tests (boas-1148)
  apps/api/src/server/applications/application/documents/__tests__/get-document.test.js
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/applications/application/documents/document.validators.js
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/documentation/__tests__/applications-documentation.test.js
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.router.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
  apps/web/src/server/applications/case/documentation/applications-documentation.validators.js
  apps/web/src/server/views/applications/case-documentation/search/document-search-results.njk
  apps/web/src/server/views/applications/case-documentation/search/document-search.component.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): ui pagination for document search (boas-1312)
  apps/web/src/server/applications/case/applications-case.locals.js
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.router.js
  apps/web/src/server/applications/case/documentation/applications-documentation.validators.js
  apps/web/src/server/applications/search-results/applications-search.controller.js
  apps/web/src/server/views/applications/case-documentation/search-results/document-search-results.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): continue ui document search (boas-1148)
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.router.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
  apps/web/src/server/lib/nunjucks-filters/url.js
  apps/web/src/server/views/applications/case-documentation/search-results/document-search-results.njk
  apps/web/src/server/views/applications/case-documentation/search/document-search-results.njk
  apps/web/src/server/views/applications/case-documentation/search/document-search.component.njk
  apps/web/src/server/views/applications/case/project-documentation.njk
Due: azure-pipelines-e2e.yml

fix(api): update swagger docs (boas-1148)
  apps/api/src/server/swagger-output.json
Due: azure-pipelines-e2e.yml

refactor(web/applications): avoid useless if in search documents controller (boas-1148)
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
Due: azure-pipelines-e2e.yml

fix(api): fix wrong swagger type (boas-1148)
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
