Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e.yml: any of: apps

feat(web): update redaction tool without console logs for testing (applics-1791)
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/redact-representation.service.js
  apps/web/src/server/lib/azure-ai-language.js
  packages/feature-flags/src/static-feature-flags.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

chore(infrastructure): remove node install
  azure-pipelines-e2e-applications.yml
Due: azure-pipelines-ci.yml

fix(infrastructure): testing node installs
  azure-pipelines-e2e-applications.yml
Due: azure-pipelines-ci.yml

feat(web): configure azure redaction tool categories (applics-1791)
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/redact-representation.service.js
  apps/web/src/server/lib/azure-ai-language.js
  packages/feature-flags/src/static-feature-flags.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): add text and button to reopened rel reps section in key dates (applics-1760)
  apps/web/src/server/views/applications/case-key-dates/includes/pre-examination/pre-examination-key-dates.include.njk
  apps/web/src/server/views/applications/case-key-dates/key-dates-index.njk
  apps/web/src/server/views/applications/case-key-dates/key-dates.component.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

refactor(api): get and patch new application details fields
  apps/api/src/server/applications/application/__tests__/get-application-details.test.js
  apps/api/src/server/applications/application/__tests__/update-application.test.js
  apps/api/src/server/applications/application/application.mapper.js
  apps/api/src/server/applications/application/application.validators.js
  apps/api/src/server/applications/key-dates/key-dates.utils.js
  apps/api/src/server/infrastructure/payload-builders/nsip-project.js
  apps/api/src/server/utils/mapping/map-case-details.js
  apps/web/src/server/lib/nunjucks-filters/key-dates-property.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

refactor(api): move enums to constants file (applics-1776)
  apps/api/src/server/applications/application/application.validators.js
  apps/api/src/server/applications/constants.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): edited rep now used for ai redaction (applics-1838)
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/__tests__/redact-representation.test.view-model.unit.test.js
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/redact-representation.controller.js
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/redact-representation.view-model.js
  apps/web/src/server/views/applications/representations/representation-details/redact-representation/redact-representation-legacy.njk
  apps/web/src/server/views/applications/representations/representation-details/redact-representation/redact-representation.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): added fees and forecasting page (applics-1679)
  apps/web/src/server/applications/case/applications-case.router.js
  apps/web/src/server/applications/case/fees-forecasting/__tests__/__snapshots__/applications-fees-forecasting.test.js.snap
  apps/web/src/server/applications/case/fees-forecasting/__tests__/applications-fees-forecasting.test.js
  apps/web/src/server/applications/case/fees-forecasting/applications-fees-forecasting.controller.js
  apps/web/src/server/applications/case/fees-forecasting/applications-fees-forecasting.router.js
  apps/web/src/server/views/applications/case-fees-forecasting/fees-forecasting-index.njk
  apps/web/src/server/views/applications/case/components/case-page-navigation.component.njk
  packages/feature-flags/src/static-feature-flags.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(tooling): adding npm ci in deploy pipeline
  azure-pipelines-deploy.yml
Due: azure-pipelines-ci.yml

fix(web): rewire /overview page links
  apps/web/src/server/applications/__tests__/__snapshots__/applications.test.js.snap
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/applications-case.router.js
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/fees-forecasting/__tests__/__snapshots__/applications-fees-forecasting.test.js.snap
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/views/applications/case/components/case-page-navigation.component.njk
  apps/web/src/server/views/applications/case/fees.njk
  apps/web/src/server/views/applications/case/project-documentation.njk
  apps/web/src/server/views/applications/case/project-updates.njk
  apps/web/src/server/views/applications/dashboard.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): replace button with hyperlink in rel reps re-open section (applics-1760)
  apps/web/src/server/views/applications/case-key-dates/key-dates-index.njk
  apps/web/src/server/views/applications/case-key-dates/key-dates.component.njk
  apps/web/src/styles/7-components/key-dates-section.scss
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): update links to point to new overview URL
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/applications-case.locals.js
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/edit/applicant/applications-edit-applicant.controller.js
  apps/web/src/server/applications/case/edit/applications-edit.locals.js
  apps/web/src/server/applications/case/edit/case/applications-edit-case.controller.js
  apps/web/src/server/views/applications/case/project-success-banner.njk
  apps/web/src/server/views/applications/search-results/search-results.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): add text and link to reopened rel reps sections in key dates (applics-1760)
  apps/web/src/server/views/applications/case-key-dates/includes/pre-examination/pre-examination-key-dates.include.njk
  apps/web/src/server/views/applications/case-key-dates/key-dates-index.njk
  apps/web/src/server/views/applications/case-key-dates/key-dates.component.njk
  apps/web/src/styles/7-components/key-dates-section.scss
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

chore(infrastructure): exclude rep redaction field from waf rules
  infrastructure/front-door.tf
Due: none

feat(web): added first summary list to fees and forecasting (applics-1680)
  apps/web/src/server/applications/case/fees-forecasting/applications-fees-forecasting-index.view-model.js
  apps/web/src/server/applications/case/fees-forecasting/applications-fees-forecasting.controller.js
  apps/web/src/server/applications/case/fees-forecasting/fees-forecasting.config.js
  apps/web/src/server/lib/summary-list-mapper.js
  apps/web/src/server/views/applications/case-fees-forecasting/fees-forecasting-index.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): updated tests for fees forecasting (applics-1680)
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/fees-forecasting/__tests__/__snapshots__/applications-fees-forecasting.test.js.snap
  apps/web/src/server/applications/case/fees-forecasting/__tests__/applications-fees-forecasting.test.js
  apps/web/src/server/applications/case/fees-forecasting/applications-fees-forecasting-index.view-model.js
  apps/web/src/server/applications/case/fees-forecasting/applications-fees-forecasting.controller.js
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/lib/__tests__/summary-list-mapper.test.js
  apps/web/testing/applications/fixtures/fees-forecasting.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): add fees and forecasting accordion to view model and template (applics-1815)
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/fees-forecasting/__tests__/__snapshots__/applications-fees-forecasting.test.js.snap
  apps/web/src/server/applications/case/fees-forecasting/applications-fees-forecasting-index.view-model.js
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/views/applications/case-fees-forecasting/fees-forecasting-index.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): added table mapping, and the fees table (applics-1680)
  apps/web/src/server/applications/case/fees-forecasting/applications-fees-forecasting-index.view-model.js
  apps/web/src/server/applications/case/fees-forecasting/applications-fees-forecasting.controller.js
  apps/web/src/server/applications/case/fees-forecasting/applications-fees-forecasting.service.js
  apps/web/src/server/applications/case/fees-forecasting/fees-forecasting.config.js
  apps/web/src/server/lib/summary-list-mapper.js
  apps/web/src/server/lib/table-mapper.js
  apps/web/src/server/views/applications/case-fees-forecasting/fees-forecasting-index.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml
