Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

feat(api/applications): use a JS Proxy to decorate arguments to pino
  apps/api/src/server/utils/logger.js
Due: azure-pipelines-e2e.yml

test(api/applications): remove tests against logger
  apps/api/src/server/applications/application/__tests__/publish-application.test.js
Due: azure-pipelines-e2e.yml

feat(api/applications): pass the AI operation ID when logging
  apps/api/src/server/utils/logger.js
Due: azure-pipelines-e2e.yml

fix(applications/web): updated snapshots (BOAS-1386)
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
Due: azure-pipelines-e2e.yml

fix(applications/web): alphabetized accepted file type list (BOAS-1386)
  apps/web/src/server/views/applications/case-documentation/documentation-upload.njk
  apps/web/src/server/views/applications/case-documentation/documentation-version-upload.njk
Due: azure-pipelines-e2e.yml

fix(appeals/api): import of case data with existing doc guids
  appeals/api/src/server/endpoints/integrations/integrations.service.js
Due: none

feat(appeals/api): healthcheck on / and /health
  appeals/api/src/server/build-app.js
Due: none

fix(web): bugfix/BOAT-770-fix-web-jest-test
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
Due: none

chore(api/applications): remove pretty print transport for pino
  apps/api/src/server/utils/logger.js
Due: azure-pipelines-e2e.yml

chore(api/applications): pass null to pino if there is no operationId
  apps/api/src/server/utils/logger.js
Due: azure-pipelines-e2e.yml

chore(api/applications): get operation ID directly from AI context
  apps/api/src/server/utils/logger.js
Due: azure-pipelines-e2e.yml

fix(api/applications): correct path to operationId + include trace Id
  apps/api/src/server/utils/logger.js
Due: azure-pipelines-e2e.yml

feat(functions): register-representation function
  apps/api/src/message-schemas/commands/register-representation.d.ts
  apps/api/src/message-schemas/commands/register-representation.schema.json
  apps/api/src/server/applications/application/representations/representation.mapper.js
  apps/functions/register-representation/.funcignore
  apps/functions/register-representation/host.json
  apps/functions/register-representation/jest.config.js
  apps/functions/register-representation/package.json
  apps/functions/register-representation/register-representation-command/__tests__/register-representation-command.test.js
  apps/functions/register-representation/register-representation-command/back-office-api-client.js
  apps/functions/register-representation/register-representation-command/config.js
  apps/functions/register-representation/register-representation-command/function.json
  apps/functions/register-representation/register-representation-command/index.js
  azure-pipelines-build.yml
  azure-pipelines-deploy.yml
  package-lock.json
  packages/applications/types/representation.d.ts
Due: azure-pipelines-e2e.yml

test(e2e): added msg file type scenario
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/fixtures/Test-e-mail.msg.msg
  apps/e2e/cypress/support/cypressUtils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(appeals/web): add notification banner and error banner for virus status
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/lpa-questionnaire.test.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.controller.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.mapper.js
  appeals/web/src/server/appeals/appeal.constants.js
  appeals/web/src/server/lib/mappers/mapper-types-jsdoc.js
  appeals/web/src/server/lib/mappers/notification-banners.mapper.js
  appeals/web/src/server/views/appeals/documents/manage-document.njk
  appeals/web/src/server/views/appeals/documents/manage-folder.njk
  appeals/web/src/server/views/patterns/display-page.pattern.njk
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

feat(appeals/web): fix tscheck
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
Due: none

feat(appeals/web): removed duplicate clonedeep
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
Due: none

feat(functions): add placeholder nsip-project migration function
  apps/functions/applications-migration/nsip-project-migration/debug.js
  apps/functions/applications-migration/nsip-project-migration/function.json
  apps/functions/applications-migration/nsip-project-migration/index.js
  apps/functions/applications-migration/nsip-project-migration/src/nsip-project-migration.js
  apps/functions/applications-migration/service-user-migration/src/service-user-migration.js
Due: azure-pipelines-e2e.yml

fix(functions): copy-paste import naming error
  apps/functions/applications-migration/nsip-project-migration/index.js
Due: azure-pipelines-e2e.yml

fix(appeals/web): fix order of document versions in version list
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.mapper.js
Due: none

fix(appeals/web): reversed order
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.mapper.js
Due: none
