Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

test(e2e): test authorWelsh field on documents
  apps/e2e/cypress/e2e/back-office-applications/documentPropertiesWelsh.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(web/applications): add "From in Welsh" field to doc properties
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/views/applications/case-documentation/properties/tab-details.component.njk
Due: azure-pipelines-e2e.yml

test(api/applications): update tests to include authorWelsh field
  apps/api/src/server/applications/application/documents/__tests__/get-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/publish-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/store-document-metadata.test.js
  apps/api/src/server/applications/application/documents/__tests__/unpublish-document.test.js
  apps/api/src/server/applications/application/file-folders/__tests__/get-folder-details.test.js
Due: azure-pipelines-e2e.yml

feat(api/applications): include authorWelsh in response for documents
  apps/api/src/server/utils/mapping/map-document-details.js
Due: azure-pipelines-e2e.yml

feat(api/applications): add authorWelsh field to request validator
  apps/api/src/server/applications/application/documents/document.validators.js
Due: azure-pipelines-e2e.yml

feat(web/applications): add a form layout for authorWelsh field
  apps/web/src/server/applications/case/documentation-metadata/documentation-metadata.controller.js
Due: azure-pipelines-e2e.yml

chore(api/applications): add authorWelsh to DocumentDetails type
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

feat(applications/web): s51 advice properties: view welsh fields on properties (APPLICS-26)
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/web/src/server/applications/case/s51/__tests__/applications-s51.test.js
  apps/web/src/server/applications/case/s51/applications-s51.router.js
  apps/web/src/server/views/applications/case-s51/properties/s51-properties.njk
  apps/web/src/server/views/applications/case-s51/properties/tab-details.component.njk
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

ci: update deploy pipeline template
  azure-pipelines-deploy.yml
Due: none

feat(functions): azure function to transform html files for appIds/refs
  apps/api/src/server/applications/application/documents/__tests__/get-document.test.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/migration/README.md
  apps/api/src/server/repositories/document.repository.js
  apps/api/src/server/utils/mapping/map-document-details.js
  apps/functions/applications-migration/common/back-office-api-client.js
  apps/functions/applications-migration/common/config.js
  apps/functions/applications-migration/common/utils.js
  apps/functions/applications-migration/transform-html-files/blob-client.js
  apps/functions/applications-migration/transform-html-files/debug.js
  apps/functions/applications-migration/transform-html-files/function.json
  apps/functions/applications-migration/transform-html-files/index.js
  apps/functions/applications-migration/transform-html-files/transform-migrated-html-files.js
Due: azure-pipelines-e2e.yml

chore(api/applications): add descriptionWelsh field to API validator
  apps/api/src/server/applications/application/documents/document.validators.js
Due: azure-pipelines-e2e.yml

chore(api/applications): remove unnecessary comments
  apps/api/src/server/applications/application/documents/document.controller.js
Due: azure-pipelines-e2e.yml

feat(web/applications): add a form layout of descriptionWelsh field
  apps/web/src/server/applications/case/documentation-metadata/documentation-metadata.controller.js
Due: azure-pipelines-e2e.yml

test(e2e): test new descriptionWelsh field
  apps/e2e/cypress/e2e/back-office-applications/documentPropertiesWelsh.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(web/applications): add a form layout for webfilterWelsh field
  apps/web/src/server/applications/case/documentation-metadata/documentation-metadata.controller.js
Due: azure-pipelines-e2e.yml

chore(api/applications): add filter1Welsh field to API validator
  apps/api/src/server/applications/application/documents/document.validators.js
Due: azure-pipelines-e2e.yml

test(e2e): test webfilterWelsh field in document properties
  apps/e2e/cypress/e2e/back-office-applications/documentPropertiesWelsh.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web): add english text in welsh edit pages (applics-425)
  apps/web/src/server/applications/__tests__/__snapshots__/applications.test.js.snap
  apps/web/src/server/applications/case/edit/case/__tests__/__snapshots__/applications-edit-case.test.js.snap
  apps/web/src/server/applications/case/edit/case/__tests__/applications-edit-case.test.js
  apps/web/src/server/applications/case/edit/case/applications-edit-case.router.js
  apps/web/src/server/views/applications/case/components/case-details-table.component.njk
  apps/web/src/server/views/applications/components/case-form/case/description.njk
  apps/web/src/server/views/applications/components/case-form/case/project-location.njk
  apps/web/src/server/views/applications/components/case-form/case/title.njk
  apps/web/testing/app/mocks/featureFlags.js
  apps/web/testing/applications/fixtures/cases.js
Due: azure-pipelines-e2e.yml

chore(tooling): upgrade to node 20
  .nvmrc
  apps/api/Dockerfile
  apps/api/package.json
  apps/functions/applications-background-jobs/local.settings.example.json
  apps/functions/applications-background-jobs/package.json
  apps/web/Dockerfile
  apps/web/package.json
  azure-pipelines-api-test.yml
  azure-pipelines-build.yml
  azure-pipelines-ci.yml
  azure-pipelines-db-create-gs51.yml
  azure-pipelines-db-reset-apps.yml
  azure-pipelines-db-seed.yml
  azure-pipelines-deploy-release.yml
  azure-pipelines-deploy.yml
  azure-pipelines-e2e-applications.yml
  azure-pipelines-regenerate-api-key.yml
  package-lock.json
  package.json
  packages/add-auth-headers-for-backend/package.json
  packages/applications/package.json
  packages/blob-storage-client/package.json
  packages/event-client/package.json
  packages/express/package.json
  packages/feature-flags/package.json
  packages/key-vault-secrets-client/package.json
  packages/platform/package.json
  packages/redis/package.json
  packages/scripts/package.json
Due: azure-pipelines-e2e.yml

fix(applications): stop running e2e on pr checks (applics-448)
  azure-pipelines-e2e-applications.yml
Due: none

chore(web/applications): set Project page row content to 2 colspan
  apps/web/src/server/lib/nunjucks-globals/build-case-information.js
Due: azure-pipelines-e2e.yml

fix(web/applications): fix reference to case in caseDetailsTable
  apps/web/src/server/views/applications/case/components/case-details-table.component.njk
Due: azure-pipelines-e2e.yml

test(web/applications): update snapshots and amend test for colspan
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/lib/nunjucks-globals/__tests__/build-case-information.test.js
Due: azure-pipelines-e2e.yml
