Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

Updating common pipeline tag to 3.18.1
  azure-pipelines-deploy.yml
Due: none

fix: updating common pipeline tag to 3.18.1
  azure-pipelines-deploy-release.yml
Due: none

fix: updating common pipeline tag to 3.18.1
  azure-pipelines-deploy.yml
Due: none

fix(tooling): updating common pipeline tag to 3.18.1
  azure-pipelines-deploy-release.yml
Due: none

fix(tooling): updating common pipeline tag to 3.18.1
  azure-pipelines-deploy.yml
Due: none

chore(web): remove unused images from static folder
  apps/api/package.json
  apps/api/setup-tests.js
  apps/e2e/package.json
  apps/functions/applications-background-jobs/package.json
  apps/functions/applications-command-handlers/package.json
  apps/functions/applications-migration/package.json
  apps/web/package.json
  apps/web/src/server/static/images/govuk-logotype-crown.png
  apps/web/src/server/static/images/govuk-mask-icon.svg
  apps/web/src/server/static/images/govuk-opengraph-image.png
  package.json
Due: azure-pipelines-e2e.yml

fix(e2e): restore puppeteer package (applics-850)
  apps/e2e/package.json
Due: azure-pipelines-e2e.yml

fix(web): use CSS grid to keep filter checkboxes in their columns
  apps/web/src/styles/7-components/filter-box.scss
Due: azure-pipelines-e2e.yml

feat(functions): odw migration db layer for project
  apps/functions/applications-migration/common/migrators/nsip-project-migration.js
Due: azure-pipelines-e2e.yml

feat(web): manage key dates remove duplicate hint (APPLICS-872)
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/lib/nunjucks-filters/key-dates-property.js
Due: azure-pipelines-e2e.yml

feat(web): manage key dates remove duplicate hint completely (APPLICS-872)
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/views/applications/case-key-dates/key-dates-section.njk
Due: azure-pipelines-e2e.yml

wip
  apps/api/src/server/applications/constants.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
  apps/web/nodemon.json
  apps/web/package.json
  package-lock.json
  package.json
  packages/examination-timetable-item-datetime/src/constants.js
  packages/examination-timetable-item-datetime/src/map-examination-timetable-item-datetime.js
  packages/examination-timetable-utils/index.d.ts
  packages/examination-timetable-utils/index.js
  packages/examination-timetable-utils/jsconfig.json
  packages/examination-timetable-utils/package.json
  packages/examination-timetable-utils/src/constants.js
  packages/examination-timetable-utils/src/map-examination-timetable-item-datetime.js
Due: azure-pipelines-e2e.yml

feat(web): conditional header attributes for training env
  apps/web/src/server/app/__tests__/app.locals.test.js
  apps/web/src/server/app/app.locals.js
  apps/web/src/server/app/app.router.js
  apps/web/src/server/app/auth/__tests__/__snapshots__/auth.test.js.snap
  apps/web/src/server/views/app/components/global-header.njk
  apps/web/src/server/views/app/layouts/app.layout.njk
  apps/web/src/server/views/applications/layouts/applications.layout.njk
  apps/web/src/styles/7-components/app-header.scss
Due: azure-pipelines-e2e.yml

(web): add mapper and tests for outgoing datetimes for examtimetableitems
  apps/web/src/server/applications/case/examination-timetable/__tests__/applications-timetable.mappers.test.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.mappers.js
  apps/web/src/server/lib/nunjucks-filters/date.js
Due: azure-pipelines-e2e.yml

chore(tooling): update release docs (applics-673)
  docs/test-deployment.noop.js
Due: none

chore(e2e): improve cbos e2e tests and reuse existing functions (APPLICS-1015)
  apps/e2e/cypress/e2e/back-office-applications/documentPropertiesWelsh.spec.js
  apps/e2e/cypress/e2e/back-office-applications/editCase.spec.js
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/casePage.js
  apps/e2e/cypress/page_objects/createCaseSections/sector.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/examinationTimetablePage.js
  apps/e2e/cypress/page_objects/folderDocumentsPage.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/views/applications/case-documentation/properties/tab-history.component.njk
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(e2e): improve cbos e2e tests representations (APPLICS-1015)
  apps/e2e/cypress/page_objects/representationPage.js
  apps/web/src/server/applications/case/representations/representation/attachment-upload/__tests__/__snapshots__/attachment-upload.controller.test.js.snap
  apps/web/src/server/views/applications/representations/representation/attachment-upload.njk
Due: azure-pipelines-e2e.yml

feat(api): exam timetable item date time handling in UTC
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
  apps/web/nodemon.json
  apps/web/package.json
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/applications-timetable.test.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.mappers.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.types.d.ts
  apps/web/src/server/lib/nunjucks-filters/date.js
  apps/web/testing/applications/fixtures/timetable-types.js
  package-lock.json
  package.json
  packages/examination-timetable-utils/index.d.ts
  packages/examination-timetable-utils/index.js
  packages/examination-timetable-utils/jsconfig.json
  packages/examination-timetable-utils/package.json
  packages/examination-timetable-utils/src/constants.js
  packages/examination-timetable-utils/src/map-examination-timetable-item-datetime.js
  packages/examination-timetable-utils/src/map-examination-timetable-item-datetime.test.js
Due: azure-pipelines-e2e.yml

fix(api): examtimetable utc handling bug
  apps/api/package.json
  apps/web/package.json
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.mappers.js
  packages/examination-timetable-utils/src/map-examination-timetable-item-datetime.js
Due: azure-pipelines-e2e.yml

fix(api): add cross-env command to dev script
  apps/api/package.json
Due: azure-pipelines-e2e.yml

feat(functions): s51 advice enquiryMethod field to optional in DB
  apps/api/src/database/migrations/20241002122303_s51_advice_enquiry_method_optional/migration.sql
  apps/api/src/database/schema.prisma
  apps/functions/applications-migration/common/migrators/s51-advice-migration.js
Due: azure-pipelines-e2e.yml
