Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

feat(web): unpublishing relevant representations (applics-1519)
  apps/web/src/server/applications/case/representations/unpublish-representations/unpublish-representations.controller.js
Due: azure-pipelines-e2e.yml

feat(web): unpublishing relevant representations (applics-1519)
  apps/web/package.json
  apps/web/src/server/applications/case/representations/unpublish-representations/__tests__/unpublish-representations.test.js
  apps/web/src/server/applications/case/representations/unpublish-representations/unpublish-representations.controller.js
Due: azure-pipelines-e2e.yml

fix(web): add govukSummaryList to key-dates accordion (applics-1548)
  apps/web/src/server/views/applications/case-key-dates/key-dates-index.njk
  apps/web/src/styles/7-components/key-dates-section.scss
Due: azure-pipelines-e2e.yml

fix(web): add govukSummaryList to key-dates accordion (applics-1548)
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
Due: azure-pipelines-e2e.yml

chore(infrastructure): split e2e pipeline tests
  azure-pipelines-e2e-applications.yml
Due: none

fix(web): ensureArray() function returns empty[] when type is not string; updated tests
  apps/web/src/server/applications/case/representations/__tests__/applications-representaions.test.js
  apps/web/src/server/applications/case/representations/__tests__/filter-view-model.test.js
  apps/web/src/server/applications/case/representations/utils/filter/filter-view-model.js
Due: azure-pipelines-e2e.yml

fix(api): only ever return count of documents that have been deleted
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

chore(tooling): unpublishing relevant representations (applics-1519)
  apps/web/package.json
Due: azure-pipelines-e2e.yml

feat(web): add clear filter button to rel reps page (applics-1624)
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/applications/case/representations/applications-relevant-reps.controller.js
  apps/web/src/server/views/applications/representations/components/pre-search.component.njk
  apps/web/src/server/views/applications/representations/representations.njk
Due: azure-pipelines-e2e.yml

fix(web): add gds summary card borders to key dates display (applics-1548)
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/views/applications/case-key-dates/key-dates-index.njk
Due: azure-pipelines-e2e.yml

chore(infrastructure): split pr pipeline
  azure-pipelines-ci.yml
Due: none

feat(web): updated gds to v5 (applics-1632)
  apps/web/src/server/applications/__tests__/__snapshots__/applications.test.js.snap
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/applications/case/representations/publish-updated-representations/__tests__/__snapshots__/publish-updated-representations.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/__tests__/__snapshots__/redact-representation.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/applications/search-results/__tests/__snapshots__/applications-search.test.js.snap
  apps/web/src/server/views/applications/case/project-updates/project-updates-table.njk
  apps/web/src/server/views/applications/components/status-tag.component.njk
  apps/web/src/styles/7-components/status-tag.scss
Due: azure-pipelines-e2e.yml

chore(infrastructure): parallel tests on e2e pipeline
  apps/e2e/run-tests.sh
  azure-pipelines-e2e-applications.yml
Due: azure-pipelines-e2e.yml

fix(web): make Screening and scoping its own group (applics-1553)
  apps/e2e/cypress/e2e/back-office-applications/keyDates.spec.js
  apps/e2e/cypress/page_objects/keyDatesPage.js
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/key-dates/applications-key-dates.controller.js
  apps/web/src/server/lib/nunjucks-filters/key-dates-property.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/styles/7-components/files-list.scss
  apps/web/src/styles/7-components/list-menu.scss
Due: azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/views/applications/representations/components/table/representations-table.component.njk
  apps/web/src/styles/7-components/_table.scss
Due: azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/styles/7-components/files-list.scss
Due: azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/styles/4-generic/_generic.font-weight.scss
Due: azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/views/applications/case/project-updates/project-updates-table.njk
  apps/web/src/styles/7-components/_table.scss
Due: azure-pipelines-e2e.yml

feat(web): add unpublished status tag and update data model (applics-1552)
  apps/web/src/server/views/applications/representations/representation-details/components/representation-status-tag.njk
  package-lock.json
  package.json
Due: azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/views/applications/case/components/case-applicant-table.component.njk
  apps/web/src/server/views/applications/case/components/case-info-table-preview.component.njk
  apps/web/src/server/views/applications/case/components/case-key-dates-table.component.njk
  apps/web/src/server/views/applications/case/preview-and-publish.njk
Due: azure-pipelines-e2e.yml

fix(web): draft-pr (applics-1553)
  apps/e2e/cypress/support/utils/utils.js
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/lib/nunjucks-globals/__tests__/build-case-information.test.js
  apps/web/src/server/lib/nunjucks-globals/build-case-information.js
Due: azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/styles/7-components/_masthead.scss
Due: azure-pipelines-e2e.yml

chore(infrastructure): updating script
  apps/e2e/run-tests.sh
  azure-pipelines-e2e-applications.yml
Due: azure-pipelines-e2e.yml

test(e2e): update tests to reflect content changes (applics-1619)
  apps/e2e/cypress.config.js
  apps/e2e/cypress/e2e/back-office-applications/editCase.spec.js
  apps/e2e/cypress/support/utils/createProjectInformation.js
  apps/e2e/cypress/support/utils/string.js
  apps/e2e/package.json
  package-lock.json
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e.yml

fix(web): fixing gds upgrade bugs (applics-1694)
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/views/applications/representations/representations.njk
Due: azure-pipelines-e2e.yml

chore(deps): use most recent version of data model npm package (applics-1552)
  apps/api/package.json
  apps/api/src/message-schemas/commands/register-nsip-subscription.d.ts
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
  apps/api/src/server/applications/subscriptions/__tests__/subscriptions.test.js
  apps/api/src/server/infrastructure/payload-builders/folder.js
  apps/api/src/server/infrastructure/payload-builders/nsip-document.js
  apps/api/src/server/infrastructure/payload-builders/nsip-project-update.js
  apps/api/src/server/infrastructure/payload-builders/nsip-project.js
  apps/api/src/server/infrastructure/payload-builders/nsip-representation.js
  apps/api/src/server/infrastructure/payload-builders/nsip-s51-advice.js
  apps/api/src/server/infrastructure/payload-builders/nsip-subscription.js
  apps/api/src/server/infrastructure/payload-builders/service-user.js
  apps/api/src/server/migration/migrator.service.js
  apps/api/src/server/migration/migrators/folder/utils.js
  apps/api/src/server/migration/migrators/nsip-document-migrator.js
  apps/api/src/server/migration/migrators/nsip-exam-timetable-migrator.js
  apps/api/src/server/migration/migrators/nsip-project-migrator.js
  apps/api/src/server/migration/migrators/nsip-project-update-migrator.js
  apps/api/src/server/migration/migrators/nsip-representation-migrator.js
  apps/api/src/server/migration/migrators/nsip-subscription-migrator.js
  apps/api/src/server/migration/migrators/s51-advice-migrator.js
  apps/api/src/server/migration/migrators/service-user-migrator.js
  apps/api/src/server/utils/map-case-to-case-stage.js
  apps/api/src/server/utils/schema-test-utils.js
  apps/functions/applications-background-jobs/notify-subscribers/index.js
  apps/functions/applications-background-jobs/notify-subscribers/src/notify-subscribers.js
  apps/functions/applications-command-handlers/deadline-submission-command/index.js
  apps/functions/applications-command-handlers/handle-subscription-command/logging-utils.js
  apps/functions/applications-command-handlers/package.json
  apps/functions/applications-command-handlers/register-representation-command/index.js
  apps/functions/applications-migration/common/migrators/exam-timetable-migration.js
  apps/functions/applications-migration/common/validation.js
  apps/functions/applications-migration/odw-curated-layer-healthcheck/index.js
  apps/functions/applications-migration/package.json
  package-lock.json
  package.json
  packages/event-client/src/generic-event-client.js
Due: azure-pipelines-e2e.yml

chore(infrastructure): parallel tests on e2e pipeline
  apps/e2e/run-tests.sh
Due: azure-pipelines-e2e.yml

chore(infrastructure): parallel tests on e2e pipeline
  azure-pipelines-e2e-applications.yml
Due: none

fix(infrastructure): adding extra agents to pr pipeline to test HW
  azure-pipelines-ci.yml
Due: none

docs(tooling): amend instructions for updating the data model package (applics-1552)
  README.md
Due: none

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
