Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

feat(api): remove unused functions
  apps/functions/document-check/.env.test
  apps/functions/document-check/.funcignore
  apps/functions/document-check/README.md
  apps/functions/document-check/check-document/__tests__/blob-utils.test.js
  apps/functions/document-check/check-document/__tests__/check-new-document.test.js
  apps/functions/document-check/check-document/back-office-api-client.js
  apps/functions/document-check/check-document/blob-utils.js
  apps/functions/document-check/check-document/check-my-blob.js
  apps/functions/document-check/check-document/clam-av-client.js
  apps/functions/document-check/check-document/config.js
  apps/functions/document-check/check-document/event-client.js
  apps/functions/document-check/check-document/function.json
  apps/functions/document-check/check-document/index.js
  apps/functions/document-check/check-document/scan-stream.js
  apps/functions/document-check/host.json
  apps/functions/document-check/jest.config.js
  apps/functions/document-check/local.settings.json
  apps/functions/document-check/package.json
  apps/functions/odw-integration/.funcignore
  apps/functions/odw-integration/host.json
  apps/functions/odw-integration/local.settings.json
  apps/functions/odw-integration/package.json
  apps/functions/odw-integration/update-employee/function.json
  apps/functions/odw-integration/update-employee/index.js
Due: azure-pipelines-e2e.yml

fix(api): change app names
  azure-pipelines-deploy.yml
Due: none

fix(api): re-initialise package lock
  package-lock.json
Due: none

feat(api): consolidate command handler functions
  apps/functions/command-handlers/.funcignore
  apps/functions/command-handlers/.vscode/extensions.json
  apps/functions/command-handlers/README.md
  apps/functions/command-handlers/deadline-submission-command/__tests__/deadline-submission-command.test.js
  apps/functions/command-handlers/deadline-submission-command/back-office-api-client.js
  apps/functions/command-handlers/deadline-submission-command/blob-client.js
  apps/functions/command-handlers/deadline-submission-command/config.js
  apps/functions/command-handlers/deadline-submission-command/event-client.js
  apps/functions/command-handlers/deadline-submission-command/function.json
  apps/functions/command-handlers/deadline-submission-command/index.js
  apps/functions/command-handlers/handle-subscription-command/__tests__/handle-subscription-command.test.js
  apps/functions/command-handlers/handle-subscription-command/back-office-api-client.js
  apps/functions/command-handlers/handle-subscription-command/config.js
  apps/functions/command-handlers/handle-subscription-command/function.json
  apps/functions/command-handlers/handle-subscription-command/index.js
  apps/functions/command-handlers/handle-subscription-command/logging-utils.js
  apps/functions/command-handlers/host.json
  apps/functions/command-handlers/jest.config.js
  apps/functions/command-handlers/local.settings.json
  apps/functions/command-handlers/package.json
  apps/functions/command-handlers/register-representation-command/__tests__/register-representation-command.test.js
  apps/functions/command-handlers/register-representation-command/back-office-api-client.js
  apps/functions/command-handlers/register-representation-command/config.js
  apps/functions/command-handlers/register-representation-command/function.json
  apps/functions/command-handlers/register-representation-command/index.js
  apps/functions/command-handlers/test-deadline-submission/config.js
  apps/functions/command-handlers/test-deadline-submission/function.json
  apps/functions/command-handlers/test-deadline-submission/index.js
  apps/functions/deadline-submissions/package.json
  apps/functions/handle-subscriptions/README.md
  apps/functions/handle-subscriptions/host.json
  apps/functions/register-representation/.funcignore
  apps/functions/register-representation/host.json
  apps/functions/register-representation/jest.config.js
  apps/functions/register-representation/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

fix(functions): synapse query assignment
  apps/functions/applications-migration/service-user-migration/src/service-user-migration.js
Due: azure-pipelines-e2e.yml

test(e2e): fixed S51 test failures
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/support/utils/createS51Advice.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(appeals): fix issues with document and folder typescript definitions
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/web/src/server/appeals/appeal-details/appeal-details.types.d.ts
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.service.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.types.d.ts
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.service.js
  appeals/web/src/server/appeals/appeal-documents/appeal.documents.service.js
  appeals/web/src/server/appeals/appeals.types.d.ts
  appeals/web/src/server/lib/display-page-formatter.js
  appeals/web/src/server/lib/mappers/appellantCase.mapper.js
  appeals/web/src/server/lib/mappers/lpaQuestionnaire.mapper.js
  appeals/web/src/server/lib/mappers/validation-outcome-reasons.mapper.js
  appeals/web/src/server/lib/ts-utilities.js
Due: none

feat(api): implement migration api request
  apps/functions/applications-migration/exam-timetable-migration/src/exam-timetable-migration.js
Due: azure-pipelines-e2e.yml

fix(functions): remove null values from service-user payload
  apps/functions/applications-migration/common/utils.js
  apps/functions/applications-migration/nsip-project-migration/src/nsip-project-migration.js
  apps/functions/applications-migration/service-user-migration/src/service-user-migration.js
Due: azure-pipelines-e2e.yml

fix(applications/api): unable to publish a document for s51 advice (BOAS-1449)
  apps/api/src/server/applications/application/documents/document.js
Due: azure-pipelines-e2e.yml

fix(functions): upgrade pins-data-model version
  apps/api/package.json
  apps/functions/applications-migration/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

feat(applications): rename field notificationDateForEventsDeveloper (BOAS-1448)
  apps/api/src/database/migrations/20240117104411_rename_column_suffix_from_developer_to_applicant/migration.sql
  apps/api/src/database/schema.prisma
  apps/api/src/server/applications/key-dates/key-dates.utils.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/lib/nunjucks-filters/key-dates-property.js
  apps/web/testing/applications/fixtures/key-dates.js
Due: azure-pipelines-e2e.yml

fix(applications/web): remove test option from representation invalid (BOAS-1391)
  apps/web/src/server/applications/case/representations/representation-details/representation-status/representation-status-notes/__tests__/representation-status-notes.test.js
  apps/web/src/server/applications/case/representations/representation-details/representation-status/representation-status-notes/representation-status-notes.view-model.js
Due: azure-pipelines-e2e.yml

feat(web): feature/BOAT-591-personal-list-filters-1
  appeals/api/src/server/endpoints/appeals/__tests__/appeals.test.js
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/api/src/server/repositories/appeal.repository.js
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/appeals/national-list/__tests__/__snapshots__/national-list.test.js.snap
  appeals/web/src/server/appeals/national-list/national-list.controller.js
  appeals/web/src/server/appeals/personal-list/__tests__/__snapshots__/personal-list.test.js.snap
  appeals/web/src/server/appeals/personal-list/__tests__/personal-list.test.js
  appeals/web/src/server/appeals/personal-list/personal-list.controller.js
  appeals/web/src/server/appeals/personal-list/personal-list.mapper.js
  appeals/web/src/server/appeals/personal-list/personal-list.service.js
  appeals/web/src/server/lib/mappers/__tests__/mappers.test.js
  appeals/web/src/server/lib/mappers/pagination.mapper.js
  appeals/web/src/server/lib/nunjucks-filters/status-tag.js
  appeals/web/src/server/lib/string-utilities.js
  appeals/web/testing/app/fixtures/referencedata.js
  packages/appeals/types/appeal.d.ts
Due: none

fix(functions): update pins-data-model ref in package-lock
  package-lock.json
Due: none

test(web/applications): increase memory limit for tests
  apps/web/package.json
Due: azure-pipelines-e2e.yml

chore(web/applications): re-enable commented Redis setup code
  apps/web/src/server/app/config/session.js
Due: azure-pipelines-e2e.yml

test(web/applications): initialise Redis iff conn string is provided
  apps/web/src/server/app/config/session.js
  apps/web/src/server/lib/redis.js
  apps/web/src/server/server.js
Due: azure-pipelines-e2e.yml

refactor(web/applications): use implicit return and guard statements
  apps/web/src/server/app/auth/auth.service.js
  apps/web/src/server/app/config/session.js
Due: azure-pipelines-e2e.yml

chore(tooling): add redis dump.rdb to .gitignore
  .gitignore
Due: none

feat(web/applications): persist MSAL cache in redis
  apps/web/src/server/lib/msal.js
  apps/web/src/server/lib/redis.js
Due: azure-pipelines-e2e.yml

refactor(web/applications): move Redis client code into a shared package
  package-lock.json
  packages/redis/index.d.ts
  packages/redis/index.js
  packages/redis/jsconfig.json
  packages/redis/package.json
  packages/redis/src/index.js
  packages/redis/src/msal-plugin.js
  packages/redis/src/types.d.ts
Due: none

refactor(web/applications): change to use new @pins/redis package
  apps/web/package.json
  apps/web/src/server/app/config/session.js
  apps/web/src/server/lib/msal.js
  apps/web/src/server/lib/redis.js
  apps/web/src/server/server.js
  package-lock.json
  packages/redis/index.d.ts
  packages/redis/src/msal-plugin.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
