Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

test(e2e): changed download document code
  apps/e2e/cypress/e2e/back-office-applications/documentDownload.spec.js
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(applications/api): deploy to test fails prisma issue project team (BOAS-1576)
  apps/api/src/database/migrations/20240215140602_create_foreign_key_on_project_team_for_case/migration.sql
  apps/api/src/database/schema.prisma
Due: azure-pipelines-e2e.yml

fix(applications/api): reapply case and project team relationship (BOAS-1576)
  apps/api/src/database/migrations/20240221133814_recreate_case_and_project_team_relationship/migration.sql
  apps/api/src/database/schema.prisma
Due: azure-pipelines-e2e.yml

fix(web): catch error if upload doc call returns a bad request
  apps/web/src/server/app/components/file-uploader.component.js
Due: azure-pipelines-e2e.yml

feat(appeals/api): add get appeal by case reference endpoint for BOAT 333
  appeals/api/src/server/endpoints/addresses/addresses.routes.js
  appeals/api/src/server/endpoints/appeal-allocation/appeal-allocation-routes.js
  appeals/api/src/server/endpoints/appeal-decision/appeal-decision.routes.js
  appeals/api/src/server/endpoints/appeal-timetables/appeal-timetables.routes.js
  appeals/api/src/server/endpoints/appeals/__tests__/appeals.test.js
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/api/src/server/endpoints/appeals/appeals.routes.js
  appeals/api/src/server/endpoints/appellant-cases/appellant-cases.routes.js
  appeals/api/src/server/endpoints/appellants/appellants.routes.js
  appeals/api/src/server/endpoints/audit-trails/audit-trails.routes.js
  appeals/api/src/server/endpoints/change-appeal-type/change-appeal-type.routes.js
  appeals/api/src/server/endpoints/documents/documents.routes.js
  appeals/api/src/server/endpoints/invalid-appeal-decision/invalid-appeal-decision.routes.js
  appeals/api/src/server/endpoints/link-appeals/link-appeals.routes.js
  appeals/api/src/server/endpoints/lpa-questionnaires/lpa-questionnaires.routes.js
  appeals/api/src/server/endpoints/site-visits/site-visits.routes.js
  appeals/api/src/server/middleware/check-appeal-exists-and-add-to-request.js
  appeals/api/src/server/openapi.json
Due: none

feat(appeals): add linked appeals
  appeals/web/src/server/lib/display-page-formatter.js
Due: none

feat(appeals/web): personal list no assigned cases
  appeals/web/src/server/appeals/personal-list/__tests__/__snapshots__/personal-list.test.js.snap
  appeals/web/src/server/appeals/personal-list/__tests__/personal-list.test.js
  appeals/web/src/server/appeals/personal-list/personal-list.mapper.js
Due: none

fix(web): catch error if upload doc call returns a bad request
  apps/web/src/server/app/app.router.js
  apps/web/src/server/app/components/file-uploader.component.js
Due: azure-pipelines-e2e.yml

fix(applications): warn on uploading existing deleted file (BOAS-1568)
  apps/api/src/server/applications/application/documents/__tests__/create-document.test.js
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/applications/s51advice/s51-advice.service.js
  apps/web/src/client/components/file-uploader/_html.js
  apps/web/src/client/components/file-uploader/_server-actions.js
Due: azure-pipelines-e2e.yml

fix(appeals/web): fix duplication of names
  .vscode/settings.json
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/lib/mappers/appellantCase.mapper.js
Due: none

fix(web/applications): web tests fail windows only (boas-1583)
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/views/applications/case-project-team/project-team-choose-role.njk
  apps/web/src/server/views/applications/case-s51/components/enquirer-string.njk
Due: azure-pipelines-e2e.yml

feat(applications/web): fix message (BOAS-1568)
  apps/web/src/client/components/file-uploader/_html.js
Due: azure-pipelines-e2e.yml

fix(applications/web): prevent duplicate unique roles in a project team (BOAS-1553)
  apps/web/src/server/applications/applications.types.d.ts
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/applications-project-team.test.js
  apps/web/src/server/applications/case/project-team/application-project-team.azure-service.js
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/src/server/applications/case/project-team/applications-project-team.service.js
  apps/web/src/server/views/applications/case-project-team/project-team-choose-role.njk
  apps/web/testing/app/mocks/project-team.js
  apps/web/testing/applications/factory/project-team.js
Due: azure-pipelines-e2e.yml

feat(applications/web): fix accumulator (BOAS-1553)
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
Due: azure-pipelines-e2e.yml

feat(appeals/api): neighbouring sites api
  appeals/api/setup-tests.js
  appeals/api/src/database/migrations/20240221170144_neighbouring_sites/migration.sql
  appeals/api/src/database/schema.d.ts
  appeals/api/src/database/schema.prisma
  appeals/api/src/database/seed/data-test.js
  appeals/api/src/database/seed/seed-clear.js
  appeals/api/src/server/common/validators/number-parameter.js
  appeals/api/src/server/common/validators/regex-parameter.js
  appeals/api/src/server/common/validators/string-parameter.js
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appeals.routes.js
  appeals/api/src/server/endpoints/appeals/appeals.formatter.js
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/neighbouring-sites/__tests__/neighbouring-sites.test.js
  appeals/api/src/server/endpoints/neighbouring-sites/neighbouring-sites.controller.js
  appeals/api/src/server/endpoints/neighbouring-sites/neighbouring-sites.routes.js
  appeals/api/src/server/endpoints/neighbouring-sites/neighbouring-sites.validators.js
  appeals/api/src/server/endpoints/transferred-appeals/transferred-appeal.routes.js
  appeals/api/src/server/openapi-types.ts
  appeals/api/src/server/openapi.json
  appeals/api/src/server/repositories/appeal.repository.js
  appeals/api/src/server/repositories/neighbouring-sites.repository.js
  appeals/api/src/server/repositories/service-customer.repository.js
  appeals/api/src/server/swagger.js
Due: none

feat(appeals/api): neighbouring sites api
  appeals/api/src/server/endpoints/appeals.d.ts
Due: none

test(e2e): removed inspector related tests
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(appeals): add linked appeals
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/__tests__/appeal-details.test.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.controller.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

feat(appeals): add linked appeals
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
Due: none

fix(appeals/api): aligns the sort order of documents (by creation date, desc)
  appeals/api/src/server/repositories/folder.repository.js
Due: none

feat(appeals): add linked appeals
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/__tests__/appeal-details.test.js
  appeals/web/src/server/lib/display-page-formatter.js
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

fix(appeals/api): jest fake timers
  appeals/api/src/server/endpoints/appellant-cases/__tests__/appellant-cases.test.js
  appeals/api/src/server/endpoints/lpa-questionnaires/__tests__/lpa-questionnaires.test.js
Due: none

fix(applications): fix fake timers (BOAS-1595)
  apps/api/src/server/applications/application/__tests__/create-application.test.js
  apps/api/src/server/applications/application/__tests__/start-case.test.js
  apps/api/src/server/applications/application/__tests__/update-application.test.js
  apps/api/src/server/applications/application/project-updates/__tests__/project-updates.test.js
  apps/api/src/server/applications/application/representations/download/__tests__/get-representation-download.test.js
  apps/api/src/server/applications/application/representations/publish/__tests__/publish-representation.test.js
  apps/api/src/server/applications/application/representations/redact/__tests__/patch-redact.test.js
  apps/api/src/server/applications/application/representations/status/__tests__/patch-status.test.js
  apps/api/src/server/applications/s51advice/__tests__/s51-advice-publish.test.js
  apps/functions/applications-background-jobs/publish-document/__tests__/publish-document.test.js
  apps/functions/applications-command-handlers/handle-subscription-command/__tests__/handle-subscription-command.test.js
  apps/functions/applications-command-handlers/register-representation-command/__tests__/register-representation-command.test.js
  apps/web/src/server/applications/case/representations/__tests__/get-key-dates.test.js
Due: azure-pipelines-e2e.yml

test(e2e): increased wait time for upload file verification
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
