Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

feat(api/applications): add the documentType column to Document schema
  apps/api/src/database/migrations/20231208133850_add_document_type/migration.sql
  apps/api/src/database/migrations/20231208134356_document_type_required/migration.sql
  apps/api/src/database/schema.prisma
Due: azure-pipelines-e2e.yml

feat(api/applications): record documentType when inserting
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/applications/constants.js
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
Due: azure-pipelines-e2e.yml

test(api/applications): mock findUnique method of RRs repo package
  apps/api/setup-tests.js
  apps/api/src/server/applications/application/representations/__tests__/get-representation.test.js
  apps/api/src/server/applications/application/representations/attachment/__tests__/post-attachment.test.js
  apps/api/src/server/applications/application/representations/status/__tests__/patch-status.test.js
  apps/api/src/server/repositories/__tests__/representation.repository.test.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

fix(api/applications): use findUnique to find representation by ID
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

test(e2e): updated with review comments
  apps/e2e/cypress/e2e/back-office-applications/createCase.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): fixed failed tests
  apps/e2e/cypress/e2e/back-office-applications/createCase.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/page_objects/projectTeamPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): fixed failed ones
  apps/e2e/cypress/e2e/back-office-applications/updateAndRemoveTeam.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web): accessibility improvements to appeal ID number reading
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/appeals/national-list/__tests__/__snapshots__/national-list.test.js.snap
  appeals/web/src/server/appeals/personal-list/__tests__/__snapshots__/personal-list.test.js.snap
  appeals/web/src/server/appeals/personal-list/personal-list.mapper.js
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/accessibility.js
  appeals/web/src/server/lib/display-page-formatter.js
  appeals/web/src/server/lib/nunjucks-filters/index.js
  appeals/web/src/server/views/appeals/components/appeals-table.njk
Due: none

fix(api/applications): convert dates in S51 payload to ISO strings
  apps/api/src/server/applications/s51advice/s51-advice.js
Due: azure-pipelines-e2e.yml

test(api/applications): add a test for S51 advice date conversion
  apps/api/src/server/applications/s51advice/__tests__/s51-advice-payload.test.js
Due: azure-pipelines-e2e.yml

feat(appeals/api): improving seed data to match process and states
  appeals/api/src/database/migrations/20231212091313_default_status_assign_case_officer/migration.sql
  appeals/api/src/database/schema.prisma
  appeals/api/src/database/seed/data-test.js
Due: none

fix(web/applications): correct unpublish documents form endpoint
  apps/web/src/server/views/applications/case-documentation/documentation-unpublish.njk
Due: azure-pipelines-e2e.yml

feat(appeals/api): additional mapping for broadcast
  appeals/api/src/message-schemas/pins-root.schema.json
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/appellant-case.mapper.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/questionnaire.mapper.js
  appeals/api/src/server/endpoints/integrations/integrations.service.js
Due: none

feat(appeals/api): additional mapping for broadcast
  appeals/api/src/server/endpoints/integrations/integrations.mappers/questionnaire.mapper.js
Due: none

feat(appeals/api): additional mapping for broadcast
  appeals/api/src/server/endpoints/integrations/integrations.service.js
Due: none

feat(web/applications): add msg as allowed upload format (boas-773)
  apps/web/src/client/components/file-uploader/__tests__/file-uploader.test.js
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/lib/nunjucks-filters/mime-type.js
  apps/web/src/server/views/applications/case-documentation/documentation-upload.njk
  apps/web/src/server/views/applications/case-documentation/documentation-version-upload.njk
Due: azure-pipelines-e2e.yml

feat(applications/api): publish representation service users
  apps/api/src/server/applications/application/representations/publish/__tests__/publish-representation.test.js
  apps/api/src/server/applications/application/representations/publish/publish.service.js
  apps/api/src/server/applications/application/representations/publish/representation.js
  apps/api/src/server/repositories/representation.repository.js
  apps/web/src/server/applications/case/representations/relevant-representation.types.d.ts
Due: azure-pipelines-e2e.yml

fix(api/applications): publish attachments when publishing S51
  apps/api/src/server/applications/s51advice/s51-advice.service.js
  apps/api/src/server/repositories/s51-advice.repository.js
Due: azure-pipelines-e2e.yml

test(api/applications): update tests to match updated S51 contract
  apps/api/src/server/applications/application/documents/__tests__/publish-document.test.js
Due: azure-pipelines-e2e.yml

refactor(api/applications): move document publish function to service
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml

fix(api/applications): remove caseId param from representation.getById
  apps/api/src/server/applications/application/representations/representaions.service.js
  apps/api/src/server/applications/application/representations/representations.controller.js
  apps/api/src/server/repositories/__tests__/representation.repository.test.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

feat(appeals/api): collects telemetry if application insights is enabled
  appeals/api/package.json
  appeals/api/src/server/app.js
  appeals/api/src/server/config/config.js
  appeals/api/src/server/config/schema.js
  package-lock.json
Due: none

feat(appeals/api): collects telemetry if application insights is enabled
  appeals/api/package.json
Due: none
