Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

docs(tooling): improve runbook for CBOS test deployment
  docs/test-deployment.noop.js
Due: none

feat(api): added unit test for partial mapping migration function
  apps/api/src/server/migration/migrators/folder/__tests__/folder.test.js
  apps/api/src/server/migration/migrators/folder/folder-name-map.js
Due: azure-pipelines-e2e.yml

feat(api): add suffix to custom folders
  apps/api/src/server/migration/migrators/folder/__tests__/folder.test.js
  apps/api/src/server/migration/migrators/folder/folder-name-map.js
Due: azure-pipelines-e2e.yml

feat(api): implement partial folder mapping for migration
  apps/api/src/server/migration/migrators/folder/folder-name-map.js
  apps/api/src/server/migration/migrators/folder/folder.js
Due: azure-pipelines-e2e.yml

fix(web): get all entra group members (APPLICS-833)
  apps/web/src/server/applications/common/services/azure-project-team.js
Due: azure-pipelines-e2e.yml

fix(functions): odw health check updates
  apps/functions/applications-migration/common/validate-migration.js
  apps/functions/applications-migration/odw-curated-layer-healthcheck/index.js
  azure-pipelines-odw-curated-layer-healthcheck.yml
Due: azure-pipelines-e2e.yml

fix(web): use pagination to find users in AD (APPLICS-365)
  apps/web/src/server/applications/case/project-team/applications-project-team.service.js
  apps/web/src/server/applications/common/services/azure-project-team.js
  apps/web/src/server/lib/msGraphRequest.js
Due: azure-pipelines-e2e.yml

chore(api): upgrade pins-data-model to version 1.9.0
  package-lock.json
  package.json
Due: none

feat(api): add an isMaterialChange column to the Case table
  apps/api/src/database/migrations/20240809093008_is_material_change/migration.sql
  apps/api/src/database/schema.prisma
  apps/api/src/server/applications/application/application.mapper.js
  apps/api/src/server/repositories/case.repository.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
  packages/applications/types/application.d.ts
Due: azure-pipelines-e2e.yml

refactor(api): create a mapping function for updating a case
  apps/api/src/server/applications/application/application.controller.js
  apps/api/src/server/applications/application/application.mapper.js
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-e2e.yml

chore(tooling): odw healthcheck cron schedule update
  azure-pipelines-odw-curated-layer-healthcheck.yml
Due: none

fix(web): examination timetable change options error (APPLICS-782)
  apps/web/src/server/views/applications/case-timetable/components/timetable-item-summary.component.njk
Due: azure-pipelines-e2e.yml

docs(tooling): expand Structure section of the README
  README.md
  apps/api/README.md
  apps/web/README.md
Due: azure-pipelines-e2e.yml

fix(api): refactor s51 advice migrator for parallel flow and better error reporting
  apps/api/src/server/migration/migrators/s51-advice-migrator.js
Due: azure-pipelines-e2e.yml

chore(web): log the full error when Azure AD fails
  apps/web/src/server/applications/common/services/azure-project-team.js
Due: azure-pipelines-e2e.yml

fix(functions): migration minor fixes
  apps/functions/applications-migration/common/handle-migration-with-response.js
  azure-pipelines-odw-curated-layer-healthcheck.yml
Due: azure-pipelines-e2e.yml

fix(e2e): optimize e2e regression pack tests (APPLICS-836)
  apps/e2e/cypress/e2e/back-office-applications/addRepresentation.spec.js
  apps/e2e/cypress/e2e/back-office-applications/addTeam.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentPropertiesWelsh.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentVersioning.spec.js
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/folders.spec.js
  apps/e2e/cypress/e2e/back-office-applications/keyDates.spec.js
  apps/e2e/cypress/e2e/back-office-applications/projectUpdates.spec.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/e2e/back-office-applications/searchDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/sectorAsTraing.spec.js
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateAndRemoveTeam.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/page_objects/applicationsHomePage.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/examinationTimetablePage.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web): temporary log of active directory token issue (APPLICS-849)
  apps/web/src/server/applications/common/services/azure-project-team.js
Due: azure-pipelines-e2e.yml

docs: update environment variable instructions
  README.md
  apps/api/.env.example
  apps/e2e/README.md
Due: azure-pipelines-e2e.yml

chore(packages/feature-flags): add a material changes feature flag
  packages/feature-flags/src/static-feature-flags.js
Due: none

fix(functions): migration missing broadcasts
  apps/api/src/server/migration/migrators/nsip-exam-timetable-migrator.js
  apps/api/src/server/migration/migrators/nsip-representation-migrator.js
  apps/functions/applications-migration/common/migrators/nsip-representation-migration.js
Due: azure-pipelines-e2e.yml

feat(web): add is material change field and edit page
  apps/web/src/server/applications/case/edit/case/applications-edit-case.controller.js
  apps/web/src/server/applications/case/edit/case/applications-edit-case.router.js
  apps/web/src/server/lib/nunjucks-globals/build-case-information.js
  apps/web/src/server/lib/static-data-view-models.js
  apps/web/src/server/views/applications/case/components/case-info-table.component.njk
  apps/web/src/server/views/applications/case/overview-legacy.njk
  apps/web/src/server/views/applications/components/case-form/case-form-layout.njk
  apps/web/src/server/views/applications/components/case-form/case/material-change.njk
Due: azure-pipelines-e2e.yml

feat(api): return is material change for get applications endpoint
  apps/api/src/server/applications/application/application.routes.js
  apps/api/src/server/applications/application/application.service.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/utils/mapping/map-case-details.js
  apps/api/src/server/utils/published-case-fields-changed.js
  apps/web/src/server/applications/common/components/form/form-case.component.js
  apps/web/src/server/lib/nunjucks-globals/__tests__/build-case-information.test.js
Due: azure-pipelines-e2e.yml

docs(web): update tsdocs
  apps/web/src/server/applications/applications.types.d.ts
  apps/web/src/server/applications/create-new-case/case/applications-create-case.types.d.ts
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
