Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

feat(web): handle duplicate folder error
  apps/api/src/server/applications/application/file-folders/folders.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
Due: azure-pipelines-e2e.yml

feat(web): add banner text for folder creation success
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.types.d.ts
  apps/web/src/server/views/applications/components/folder/folder.njk
Due: azure-pipelines-e2e.yml

feat(e2e): add a test case for creating a top-level folder
  apps/e2e/cypress/e2e/back-office-applications/folders.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(e2e): add a test case for creating a nested subfolder
  apps/e2e/cypress/e2e/back-office-applications/folders.spec.js
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(e2e): skip bespoke folder tests if feature flag is off
  apps/e2e/cypress/e2e/back-office-applications/folders.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web/applications): 'Create Folder' -> 'Create folder'
  apps/web/src/server/views/applications/components/folder/folder-header.component.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): add a 'Rename folder' link
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/views/applications/components/folder/folder-header.component.njk
Due: azure-pipelines-e2e.yml

fix(e2e): 'Create Folder' -> 'Create folder'
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-e2e.yml

feat(web): ensure create folder success does not persist
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
Due: azure-pipelines-e2e.yml

feat(api/applications): add an isCustom column to the folders table
  apps/api/src/database/migrations/20240722112425_custom_folders/migration.sql
  apps/api/src/database/schema.prisma
  apps/api/src/server/applications/application/__tests__/start-case.test.js
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/repositories/folder.repository.js
  packages/applications/types/file-folders.d.ts
Due: azure-pipelines-e2e.yml

feat(api/applications): create route and controller for folder rename
  apps/api/src/server/applications/application/file-folders/folders.controller.js
  apps/api/src/server/applications/application/file-folders/folders.routes.js
  apps/api/src/server/applications/application/file-folders/folders.service.js
  apps/api/src/server/applications/application/file-folders/folders.validation.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

fix(api/applications): include isCustom field in folder mapping function
  apps/api/src/server/utils/mapping/map-folder-details.js
Due: azure-pipelines-e2e.yml

docs(api/applications): structurizr updates to add back office info
  workspace.dsl
Due: none

docs(api/applications): structurizr realationships update
  workspace.dsl
Due: none

feat(web/applications): implement UI changes for folder renaming
  apps/web/src/server/applications/applications.types.d.ts
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.router.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
  apps/web/src/server/applications/case/documentation/applications-documentation.types.d.ts
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/lib/nunjucks-filters/url.js
  apps/web/src/server/views/applications/components/folder/folder-header.component.njk
  apps/web/src/server/views/applications/components/folder/folder-rename.njk
  apps/web/src/server/views/applications/components/folder/folder.njk
Due: azure-pipelines-e2e.yml

test(e2e): add E2E tests for folder rename workflow
  apps/e2e/cypress/e2e/back-office-applications/folders.spec.js
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(functions): change response parsing to deal with array change in curated layer data
  apps/functions/applications-migration/common/migrators/nsip-project-migration.js
  apps/functions/applications-migration/common/migrators/nsip-representation-migration.js
  apps/functions/applications-migration/common/migrators/s51-advice-migration.js
  apps/functions/applications-migration/common/utils.js
Due: azure-pipelines-e2e.yml

fix(functions): amend regions field name
  apps/functions/applications-migration/common/migrators/nsip-project-migration.js
Due: azure-pipelines-e2e.yml

feat(api): add isCustomFolder check and improve error handling
  apps/api/src/server/applications/application/file-folders/folders.controller.js
  apps/api/src/server/applications/application/file-folders/folders.service.js
Due: azure-pipelines-e2e.yml

feat(api): add deletedAt property to folders to allow soft-delete + addressed comment
  apps/api/src/database/migrations/20240723133812_soft_delete_custom_folders/migration.sql
  apps/api/src/database/schema.prisma
  apps/api/src/database/seed/seed-development.js
  apps/api/src/server/applications/application/file-folders/folders.service.js
  apps/api/src/server/utils/prisma-middleware.js
Due: azure-pipelines-e2e.yml

feat(api): completed folder deletion process for api
  apps/api/src/server/applications/application/file-folders/folders.controller.js
  apps/api/src/server/applications/application/file-folders/folders.routes.js
  apps/api/src/server/applications/application/file-folders/folders.service.js
  apps/api/src/server/repositories/document.repository.js
  apps/api/src/server/repositories/folder.repository.js
  apps/api/src/server/swagger-output.json
Due: azure-pipelines-e2e.yml

test(e2e): added missing scenarios
  apps/e2e/cypress/e2e/back-office-applications/addTeam.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml
