Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

feat(functions): create directory for a malware-detect Azure function
  apps/functions/malware-detected/.funcignore
  apps/functions/malware-detected/.vscode/extensions.json
  apps/functions/malware-detected/host.json
  apps/functions/malware-detected/local.settings.json
  apps/functions/malware-detected/package.json
Due: azure-pipelines-e2e.yml

feat(functions): add build & deploy files for malware detected function
  azure-pipelines-build.yml
  azure-pipelines-deploy.yml
  azure-pipelines-release.yml
Due: none

feat(functions): create a simple Azure function to respond to malware
  apps/functions/malware-detected/malware-detected/function.json
  apps/functions/malware-detected/malware-detected/index.js
Due: azure-pipelines-e2e.yml

chore(functions): add malware function changes to package-lock file
  package-lock.json
Due: none

feat(web/applications): introduce depublish banner on representation details page
  apps/web/src/server/applications/case/representations/representation-details/__tests__/__snapshots__/applications-relevant-rep-details.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/__tests__/applications-relevant-rep-details.test.js
  apps/web/src/server/applications/case/representations/representation-details/applications-relevant-rep-details.controller.js
  apps/web/src/server/applications/case/representations/representation-details/applications-relevant-rep-details.view-model.js
  apps/web/src/server/applications/case/representations/representation-details/representation-status/representation-status-notes/representation-status-notes.controller.js
  apps/web/src/server/applications/case/representations/representation-details/representation-status/representation-status-notes/utils/is-representation-depublished.js
  apps/web/src/server/applications/case/representations/representation-details/representation-status/representation-status.controller.js
  apps/web/src/server/applications/case/representations/representation-details/representation-status/representation-status.utils.js
  apps/web/src/server/applications/case/representations/representation-details/representation-status/representation-status.view-model.js
  apps/web/src/server/applications/case/representations/representation-details/utils/representation-status-map.js
  apps/web/src/server/views/applications/representations/representation-details/index.njk
Due: azure-pipelines-e2e.yml

test(e2e): added html upload tests
  apps/e2e/cypress/e2e/back-office-applications/uploadHtmlFiles.spec.js
  apps/e2e/cypress/fixtures/sample-file.html
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(api/applications): fix db seed casepublishedstate (boas-1325)
  apps/api/src/database/seed/seed-clear.js
Due: azure-pipelines-e2e.yml

fix(appeals/api): handle null agent in appeal submission;
  appeals/api/src/server/endpoints/integrations/integrations.mappers/service-user.mapper.js
Due: none

chore(functions): include local settings file in malware function
  apps/functions/malware-detected/local.settings.json
Due: azure-pipelines-e2e.yml

chore(functions): include a config file in the malware function
  apps/functions/malware-detected/malware-detected/config.js
Due: azure-pipelines-e2e.yml

feat(web/applications): add key dates to relevant-representations page
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/applications-representaions.test.js
  apps/web/src/server/applications/case/representations/__tests__/get-key-dates.test.js
  apps/web/src/server/applications/case/representations/__tests__/is-relevant-reps-period-closed.unit.test.js
  apps/web/src/server/applications/case/representations/applications-relevant-reps.controller.js
  apps/web/src/server/applications/case/representations/utils/get-key-dates.js
  apps/web/src/server/applications/case/representations/utils/is-relevant-reps-period-closed.js
  apps/web/src/server/lib/dates.js
  apps/web/src/server/views/applications/representations/representations.njk
Due: azure-pipelines-e2e.yml

fix(web/applications): check for date set to 000-00-00
  apps/web/src/server/lib/dates.js
Due: azure-pipelines-e2e.yml

fix(functions): use older Node function declaration syntax
  apps/functions/malware-detected/malware-detected/index.js
Due: azure-pipelines-e2e.yml

feat(appeals/api): refactoring mocks and types
  appeals/api/src/server/endpoints/addresses/__tests__/addresses.test.js
  appeals/api/src/server/endpoints/appeal-allocation/__tests__/appeal-allocation.test.js
  appeals/api/src/server/endpoints/appeal-decision/__tests__/appeal-decision.test.js
  appeals/api/src/server/endpoints/appeal-timetables/__tests__/appeal-timetables.test.js
  appeals/api/src/server/endpoints/appeals/__tests__/appeals.test.js
  appeals/api/src/server/endpoints/appellant-case-incomplete-reasons/__tests__/appellant-case-incomplete-reasons.test.js
  appeals/api/src/server/endpoints/appellant-case-invalid-reasons/__tests__/appellant-case-invalid-reasons.test.js
  appeals/api/src/server/endpoints/appellant-case-validation-outcomes/__tests__/appellant-case-validation-outcomes.test.js
  appeals/api/src/server/endpoints/appellant-cases/__tests__/appellant-cases.test.js
  appeals/api/src/server/endpoints/appellants/__tests__/appellants.test.js
  appeals/api/src/server/endpoints/audit-trails/__tests__/audit-trails.test.js
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/designated-sites/__tests__/designated-sites.test.js
  appeals/api/src/server/endpoints/document-redaction-statuses/__tests__/document-redaction-statuses.test.js
  appeals/api/src/server/endpoints/documents/__tests__/documents.test.js
  appeals/api/src/server/endpoints/documents/documents.routes.js
  appeals/api/src/server/endpoints/integrations/integrations.controller.js
  appeals/api/src/server/endpoints/knowledge-of-other-landowners/__tests__/knowledge-of-other-landowners.test.js
  appeals/api/src/server/endpoints/lpa-notification-methods/__tests__/lpa-notification-methods.test.js
  appeals/api/src/server/endpoints/lpa-questionnaire-incomplete-reasons/__tests__/lpa-questionnaire-incomplete-reasons.test.js
  appeals/api/src/server/endpoints/lpa-questionnaire-validation-outcomes/__tests__/lpa-questionnaire-validation-outcomes.test.js
  appeals/api/src/server/endpoints/lpa-questionnaires/__tests__/lpa-questionnaires.test.js
  appeals/api/src/server/endpoints/planning-obligation-statuses/__tests__/planning-obligation-statuses.test.js
  appeals/api/src/server/endpoints/procedure-types/__tests__/procedure-types.test.js
  appeals/api/src/server/endpoints/schedule-types/__tests__/schedule-types.test.js
  appeals/api/src/server/endpoints/site-visit-types/__tests__/site-visit-types.test.js
  appeals/api/src/server/endpoints/site-visits/__tests__/site-visits.test.js
  appeals/api/src/server/openapi-types.ts
  appeals/api/src/server/openapi.json
  appeals/api/src/server/swagger.js
  appeals/api/src/server/tests/data.js
  appeals/api/src/server/tests/documents/mocks.js
Due: none

feat(appeals/api): refactoring mocks and types
  appeals/api/src/server/tests/appeals/expectation.js
  appeals/api/src/server/tests/appeals/mocks.js
  appeals/api/src/server/tests/shared/mocks.js
Due: none

feat(appeals/api): refactoring mocks and types
  appeals/api/src/server/endpoints/integrations/integrations.controller.js
Due: none

test(e2e): added mpg and video test
  apps/e2e/cypress/e2e/back-office-applications/uploadMP3Files.spec.js
  apps/e2e/cypress/e2e/back-office-applications/uploadVideoFiles.spec.js
  apps/e2e/cypress/fixtures/Sample.mp3
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/support/cypressUtils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(functions): fix azure doc unpublishing binding (boas-1321)
  apps/functions/document-publish/unpublish-document/function.json
Due: azure-pipelines-e2e.yml

chore(functions): add module type to package.json for malware function
  apps/functions/malware-detected/package.json
Due: azure-pipelines-e2e.yml

fix(functions): change syntax for logging event from malware function
  apps/functions/malware-detected/malware-detected/index.js
Due: azure-pipelines-e2e.yml

fix(functions): fix azure doc unpublishing 2 (boas-1321)
  apps/functions/document-publish/unpublish-document/config.js
Due: azure-pipelines-e2e.yml

feat(functions): perform logic to update document after scan result
  apps/functions/malware-detected/malware-detected/back-office-api-client.js
  apps/functions/malware-detected/malware-detected/index.js
Due: azure-pipelines-e2e.yml

feat(functions): disable ClamAV scanning for BO storage account
  apps/functions/document-check/check-document/blob-utils.js
  apps/functions/document-check/check-document/config.js
  apps/functions/document-check/check-document/index.js
Due: azure-pipelines-e2e.yml

test(e2e): added different file types
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/fixtures/Sample.mp3
  apps/e2e/cypress/fixtures/sample-file.html
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/support/cypressUtils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

refactor(web): update older pages to use new dynamic builder approach
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/allocation-details/allocation-details.controller.js
  appeals/web/src/server/appeals/appeal-details/allocation-details/allocation-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.controller.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.types.d.ts
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.types.d.ts
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.mapper.js
  appeals/web/src/server/lib/display-page-formatter.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/global-mapper-formatter.js
  appeals/web/src/server/lib/mappers/lpaQuestionnaire.mapper.js
  appeals/web/src/server/lib/mappers/mapper-utilities.js
  appeals/web/src/server/lib/mappers/notification-banners.mapper.js
  appeals/web/src/server/lib/nunjucks-template-builders/gds-components-properties-jsdoc.js
  appeals/web/src/server/lib/nunjucks-template-builders/page-component-rendering.js
  appeals/web/src/server/lib/object-utilities.js
  appeals/web/src/server/lib/ts-utilities.js
  appeals/web/src/server/views/appeals/components/page-component.njk
  appeals/web/src/server/views/patterns/display-page.pattern.njk
  packages/appeals/types/appeal.d.ts
Due: none
