Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

test(e2e): added search document scenarios
  apps/e2e/cypress/e2e/back-office-applications/searchDocuments.spec.js
  apps/e2e/cypress/fixtures/dmap.dbf
  apps/e2e/cypress/fixtures/ptest-prj.prj
  apps/e2e/cypress/fixtures/smap.shp
  apps/e2e/cypress/fixtures/xmap.shx
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/searchResultsPage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
  apps/e2e/cypress/support/cypressUtils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(appeals): remove redis, more logging on AV scan
  appeals/functions/document-processing/malware-detection/back-office-api-client.js
  appeals/functions/document-processing/malware-detection/index.js
  appeals/web/src/server/app/config/session.js
Due: none

fix(appeals): remove redis, more logging on AV scan
  appeals/functions/document-processing/malware-detection/back-office-api-client.js
Due: none

feat(appeals): aligned function config to renamed topic and subscription
  appeals/functions/document-processing/document-copy/config.js
  appeals/functions/document-processing/document-copy/function.json
Due: none

fix(appeals): av check api call
  appeals/api/src/server/endpoints/documents/documents.routes.js
  appeals/functions/document-processing/malware-detection/back-office-api-client.js
  appeals/functions/document-processing/malware-detection/index.js
Due: none

fix(appeals): api specs not aligned
  appeals/api/src/server/openapi.json
Due: none

fix(appeals): api specs not aligned
  appeals/api/src/server/endpoints/documents/documents.routes.js
  appeals/api/src/server/openapi.json
  appeals/functions/document-processing/malware-detection/back-office-api-client.js
Due: none

fix(web/applications): render name and organisation under S51 enquirer
  apps/web/src/server/lib/nunjucks-filters/format-name-org.js
  apps/web/src/server/lib/nunjucks-filters/index.js
  apps/web/src/server/views/applications/case-s51/s51-unpublish.njk
Due: azure-pipelines-e2e.yml

fix(appeals/web): download a specific version of a file fix
  appeals/web/src/server/app/components/file-downloader.component.js
Due: none

fix(appeals/web): download a specific version of a file fix (AV guard)
  appeals/web/src/server/app/components/file-downloader.component.js
Due: none

feat(web/applications): add bank holidays to key dates review date
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/applications-representaions.test.js
  apps/web/src/server/applications/case/representations/__tests__/get-key-dates.test.js
  apps/web/src/server/applications/case/representations/applications-relevant-reps.controller.js
  apps/web/src/server/applications/case/representations/utils/get-key-dates.js
  apps/web/src/server/lib/__tests__/add-business-days-to-date.test.js
  apps/web/src/server/lib/add-business-days-to-date.js
Due: azure-pipelines-e2e.yml

chore(api/applications): move setup of App Insights to separate module
  apps/api/src/server/app.js
  apps/api/src/server/utils/app-insights.js
Due: azure-pipelines-e2e.yml

feat(api/applications): manually track database calls as a dependency
  apps/api/src/server/utils/prisma-middleware.js
Due: azure-pipelines-e2e.yml

chore(api/applications): specify database name when tracking DB calls
  apps/api/src/server/config/config.js
  apps/api/src/server/config/schema.js
  apps/api/src/server/utils/prisma-middleware.js
Due: azure-pipelines-e2e.yml

chore(api/applications): default DATABASE_NAME to 'Back Office Database'
  apps/api/src/server/config/config.js
Due: azure-pipelines-e2e.yml

docs(api): update message schema for representations
  apps/api/src/message-schemas/events/nsip-representation.schema.json
Due: azure-pipelines-e2e.yml

feat(web): document virus scan labels and ctas
  appeals/web/src/server/appeals/appeal-details/allocation-details/__tests__/__snapshots__/allocation-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.types.d.ts
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/lpa-questionnaire.test.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.mapper.js
  appeals/web/src/server/appeals/appeals.types.d.ts
  appeals/web/src/server/lib/display-page-formatter.js
  appeals/web/src/server/lib/mappers/appellantCase.mapper.js
  appeals/web/src/server/lib/mappers/lpaQuestionnaire.mapper.js
  appeals/web/src/server/lib/mappers/mapper-types-jsdoc.js
  appeals/web/src/server/lib/nunjucks-template-builders/gds-components-properties-jsdoc.js
  appeals/web/src/server/lib/nunjucks-template-builders/page-component-rendering.js
  appeals/web/src/server/views/appeals/appeal/assign-user.njk
  appeals/web/src/server/views/appeals/appeal/schedule-site-visit.njk
  appeals/web/src/server/views/appeals/appeal/set-site-visit-type.njk
  appeals/web/src/server/views/appeals/components/page-component.njk
  appeals/web/src/server/views/appeals/components/status-tag.njk
  appeals/web/src/server/views/appeals/documents/add-document-details.njk
  appeals/web/src/server/views/appeals/documents/manage-document.njk
  appeals/web/src/server/views/appeals/documents/manage-folder.njk
  appeals/web/src/server/views/patterns/change-page.pattern.njk
  appeals/web/src/server/views/patterns/check-and-confirm-page.pattern.njk
  appeals/web/src/server/views/patterns/display-page.pattern.njk
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

chore(api/applications): remove unnecessary config for App Insights
  apps/api/src/server/utils/app-insights.js
Due: azure-pipelines-e2e.yml
