Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

feat(web/applications): change flow check-your-answers in applicant pages (boas-1281)
  apps/web/src/server/applications/create-new-case/applicant/applications-create-applicant.controller.js
  apps/web/src/server/applications/create-new-case/applicant/applications-create-applicant.router.js
  apps/web/src/server/views/applications/create-new-case/check-your-answers.njk
Due: azure-pipelines-e2e.yml

feat(applications/api): add check to not publish general section 51 project
  apps/api/src/server/applications/application/__tests__/publish-application.test.js
  apps/api/src/server/applications/application/application.controller.js
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-e2e.yml

fix(applications/web): add missing lodash-es dependency (BOAS-1706)
  apps/e2e/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

fix(applications/web): remove imported web config file
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-e2e.yml

fix(applications/api): remove imported web config file
  apps/api/src/server/applications/application/application.controller.js
Due: azure-pipelines-e2e.yml

refactor(applications/api): add general 51 case reference to config
  apps/api/src/server/applications/application/application.config.js
  apps/api/src/server/applications/application/application.controller.js
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-e2e.yml

test(e2e): updated exam timetable tests
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): updated verify title
  apps/e2e/cypress/page_objects/s51AdvicePage.js
Due: azure-pipelines-e2e.yml

fix(test/e2e): allow e2e tests to pass on localhost (BOAS-1726)
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/config/config.js
  apps/api/src/server/config/schema.js
  apps/api/src/server/repositories/document-metadata.repository.js
  apps/e2e/README.md
Due: azure-pipelines-e2e.yml

test(e2e): smoke and regression tests separated
  apps/e2e/cypress/e2e/back-office-applications/addRepresentation.spec.js
  apps/e2e/cypress/e2e/back-office-applications/createCase.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentDownload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentVersioning.spec.js
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateAndRemoveTeam.spec.js
  package.json
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web/applications): remove trailing comma from address display
  apps/web/src/server/applications/common/components/form/form-applicant.component.js
Due: azure-pipelines-e2e.yml

fix(web/applications): include county and country in address display
  apps/web/src/server/applications/common/components/form/form-applicant.component.js
Due: azure-pipelines-e2e.yml

test(web/applications): update test snapshots
  apps/web/src/server/applications/case/edit/applicant/__tests__/__snapshots__/applications-edit-applicant.test.js.snap
Due: azure-pipelines-e2e.yml

test(e2e): removed document download test
  apps/e2e/cypress/e2e/back-office-applications/documentDownload.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(api): create gs51 pipeline
  apps/api/package.json
  apps/api/src/database/seed/data-gs51.js
  apps/api/src/database/seed/data-test.js
  apps/api/src/database/seed/seed-gs51.js
  azure-pipelines-db-create-gs51.yml
Due: azure-pipelines-e2e.yml

fix(web/applications): add every s51 validation in editing pages (boas-1592)
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/applications/case/s51/applications-s51.validators.js
  apps/web/src/server/views/applications/case-s51/properties/edit/s51-edit-enquiry-detail.njk
  apps/web/src/server/views/applications/case-s51/properties/edit/s51-edit-person.njk
  apps/web/src/server/views/applications/case-s51/properties/edit/s51-edit-redaction.njk
  apps/web/src/server/views/applications/case-s51/properties/tab-details.component.njk
Due: azure-pipelines-e2e.yml

fix(web/applications): fix error display on enquirer page (boas-1592)
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
  apps/web/src/server/applications/case/s51/applications-s51.validators.js
  apps/web/src/server/views/applications/case-s51/properties/edit/s51-edit-enquirer.njk
Due: azure-pipelines-e2e.yml

test(e2e): e2e test changes
  apps/e2e/cypress/e2e/back-office-applications/addRepresentation.spec.js
  apps/e2e/cypress/e2e/back-office-applications/createCase.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentVersioning.spec.js
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateAndRemoveTeam.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/representationPage.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/e2e/cypress/page_objects/s51AdviceProperties.js
  apps/e2e/cypress/page_objects/uploadFiles.js
  package.json
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(deps): remove appeals workspace as a project dependency
  package-lock.json
  package.json
Due: none

chore(tooling): disallow appeals as a scope for commit messages
  commitlint.config.cjs
Due: none

build(deps): remove step to install appeals dependencies
  azure-pipelines-build.yml
Due: none

chore(deps): remove appeals-related scripts from package.json
  package.json
Due: none

build(deps): do not look for appeals when merging function packages
  azure-pipelines-package-function-merge.yml
Due: none

chore(deps): remove appeals packages from project
  packages/appeals/index.d.ts
  packages/appeals/package.json
  packages/appeals/types/appeal.d.ts
  packages/appeals/types/case-officer.d.ts
  packages/appeals/types/document.d.ts
  packages/appeals/types/index.d.ts
  packages/appeals/types/inspector.d.ts
  packages/appeals/types/validation.d.ts
Due: none

chore(tooling): remove/correct references to appeals in README
  README.md
Due: none

chore(applications): remove reference to appeals from jsconfig
  apps/web/jsconfig.json
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
