Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

fix(api/applications): s51advice ready publish fix incorrect case ref (boas-1261)
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

fix(api/applications): s51advice publish exclude deleted attachments (boas-1261)
  apps/api/src/server/repositories/s51-advice.repository.js
Due: azure-pipelines-e2e.yml

fix(appeals): handle duplicate document upload error
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/documents/documents.controller.js
  appeals/web/src/client/components/file-uploader/_html.js
  appeals/web/src/client/components/file-uploader/_server-actions.js
  appeals/web/src/server/app/components/file-uploader.component.js
Due: none

fix(appeals): handle duplicate document upload error
  appeals/api/src/server/endpoints/documents/documents.controller.js
  appeals/api/src/server/endpoints/documents/documents.service.js
  appeals/web/src/client/components/file-uploader/_server-actions.js
  appeals/web/src/server/app/components/file-uploader.component.js
Due: none

fix(appeals): handle duplicate document upload error
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/documents/documents.controller.js
  appeals/web/src/client/components/file-uploader/_server-actions.js
  appeals/web/src/server/app/components/file-uploader.component.js
Due: none

fix(web): document uploader info fallback for unknown user
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.mapper.js
Due: none

feat(api/applications): auto collect dependencies and use W3C headers
  apps/api/src/server/app.js
Due: azure-pipelines-e2e.yml

feat(web/applications): add bank holidays to key dates review date
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representaions.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/applications-representaions.test.js
  apps/web/src/server/applications/case/representations/__tests__/get-key-dates.test.js
  apps/web/src/server/applications/case/representations/applications-relevant-reps.controller.js
  apps/web/src/server/applications/case/representations/utils/get-key-dates.js
  apps/web/src/server/lib/__tests__/add-business-days-to-date.test.js
  apps/web/src/server/lib/add-business-days-to-date.js
Due: azure-pipelines-e2e.yml

feat(appeals): av scan result and api
  appeals/api/src/database/migrations/20231130170615_document_version_refactor/migration.sql
  appeals/api/src/database/schema.prisma
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/documents/__tests__/documents.test.js
  appeals/api/src/server/endpoints/documents/documents.controller.js
  appeals/api/src/server/endpoints/documents/documents.formatter.js
  appeals/api/src/server/endpoints/documents/documents.routes.js
  appeals/api/src/server/endpoints/documents/documents.validators.js
  appeals/api/src/server/openapi-types.ts
  appeals/api/src/server/openapi.json
  appeals/api/src/server/repositories/document.repository.js
  appeals/api/src/server/swagger.js
  appeals/functions/document-processing/document-copy/function.json
  appeals/functions/document-processing/malware-detection/back-office-api-client.js
  appeals/functions/document-processing/malware-detection/index.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.mapper.js
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

feat(appeals): aligned function config to renamed topic and subscription
  appeals/functions/document-processing/document-copy/config.js
  appeals/functions/document-processing/document-copy/function.json
Due: none

feat(appeals): redis session config
  appeals/web/src/server/app/config/session.js
Due: none

docs(api): update representation schema to remove ServiceUser and Document details
  apps/api/src/message-schemas/events/nsip-representation.schema.json
Due: azure-pipelines-e2e.yml

fix(api/applications): use the Unpublish event type for S51
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
Due: azure-pipelines-e2e.yml

feat(api/applications): update S51 event object to match new schema
  apps/api/src/server/applications/s51advice/s51-advice.js
Due: azure-pipelines-e2e.yml

feat(api/applications): fetch the case for caseReference in S51 event
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/applications/s51advice/s51-advice.js
Due: azure-pipelines-e2e.yml

fix(web/applications): handle js link showing in noscript situation (boas-1244)
  apps/web/src/client/components/excerpts/__tests__/excerpt.test.js
  apps/web/src/client/components/excerpts/excerpt.js
  apps/web/src/server/views/applications/components/__tests__/__snapshots__/excerpt.component.test.js.snap
  apps/web/src/server/views/applications/components/excerpt.component.njk
Due: azure-pipelines-e2e.yml

fix(appeals): av scan regex and block downloads
  appeals/api/src/server/endpoints/documents/documents.controller.js
  appeals/api/src/server/repositories/document.repository.js
  appeals/functions/document-processing/malware-detection/index.js
  appeals/web/src/server/app/components/file-downloader.component.js
Due: none

feat(appeals/api): add virusCheckStatus to folderInfo on API to allow LPAQ and AppellantCase to see
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/documents/documents.formatter.js
  appeals/api/src/server/endpoints/documents/documents.mapper.js
  appeals/api/src/server/repositories/folder.repository.js
Due: none

fix(api): fix projectTeamMembers docs (boas-1309)
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

fix(api): return removed member on team member remove api (boas-1309)
  apps/api/src/server/applications/project-team/project-team.controller.js
  apps/api/src/server/applications/project-team/project-team.routes.js
  apps/api/src/server/swagger-output.json
Due: azure-pipelines-e2e.yml

feat(api): add error swagger docs and input params (boas-1309)
  apps/api/src/server/applications/project-team/project-team.routes.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

fix(appeals): endpoint needs to patch!
  appeals/functions/document-processing/malware-detection/back-office-api-client.js
Due: none

test(e2e): added search document scenarios
  apps/e2e/cypress/e2e/back-office-applications/searchDocuments.spec.js
  apps/e2e/cypress/fixtures/dmap.dbf
  apps/e2e/cypress/fixtures/ptest-prj.prj
  apps/e2e/cypress/fixtures/smap.shp
  apps/e2e/cypress/fixtures/xmap.shx
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/searchResultsPage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
  apps/e2e/cypress/support/cypressUtils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml
