Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e.yml: any of: apps

chore(web): pipeline optimisation test
  azure-pipelines-ci.yml
Due: azure-pipelines-ci.yml

fix(tooling): removing test runs in build pipeline
  azure-pipelines-build.yml
  azure-pipelines-ci.yml
Due: azure-pipelines-ci.yml

fix(tooling): adding a condition for commitlint test
  azure-pipelines-ci.yml
Due: azure-pipelines-ci.yml

fix(tooling): updating deploy-release pipeline
  azure-pipelines-deploy-release.yml
  azure-pipelines-deploy.yml
Due: azure-pipelines-ci.yml

feat(infrastructure): apply noindex robot tags to documents domain
  infrastructure/front-door-docs.tf
Due: none

refactor(api): use new displayname field to limit returned results (applics-1602)
  apps/api/src/server/repositories/__tests__/representation.repository.test.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): updating reps status tag formatting
  apps/web/src/server/applications/__tests__/__snapshots__/applications.test.js.snap
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representations.test.js.snap
  apps/web/src/server/applications/case/representations/publish-updated-representations/__tests__/__snapshots__/publish-updated-representations.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/__tests__/__snapshots__/applications-relevant-rep-details.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/change-redaction/__tests__/__snapshots__/change-redaction.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/__tests__/__snapshots__/redact-representation.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/representation-status/representation-status-notes/__tests__/__snapshots__/representation-status-notes.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/task-log/__tests__/__snapshots__/task-log.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/utils/representation-status-map.js
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/applications/search-results/__tests/__snapshots__/applications-search.test.js.snap
  apps/web/src/server/views/applications/components/status-tag.component.njk
  apps/web/src/server/views/applications/representations/components/table/representations-table.component.njk
  apps/web/src/server/views/applications/representations/representation-details/components/representation-status-tag.njk
  apps/web/testing/applications/fixtures/cases.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): updating reps status tag formatting
  apps/web/src/server/applications/case/representations/__tests__/applications-representations.test.js
  apps/web/src/server/applications/case/representations/representation-details/__tests__/__snapshots__/applications-relevant-rep-details.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/__tests__/applications-relevant-rep-details.test.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): updating reps status tag formattinh
  apps/web/src/server/applications/__tests__/__snapshots__/applications.test.js.snap
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representations.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/applications-representations.test.js
  apps/web/src/server/applications/case/representations/publish-updated-representations/__tests__/__snapshots__/publish-updated-representations.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/__tests__/__snapshots__/applications-relevant-rep-details.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/change-redaction/__tests__/__snapshots__/change-redaction.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/__tests__/__snapshots__/redact-representation.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/representation-status/representation-status-notes/__tests__/__snapshots__/representation-status-notes.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/task-log/__tests__/__snapshots__/task-log.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/applications/search-results/__tests/__snapshots__/applications-search.test.js.snap
  apps/web/src/server/views/applications/components/status-tag.component.njk
  apps/web/src/server/views/applications/representations/components/table/representations-table.component.njk
  apps/web/src/server/views/applications/representations/representation-details/components/representation-status-tag.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(api): migrate to Prisma extensions instead of middleware
  apps/api/src/server/utils/database-connector.js
  apps/api/src/server/utils/prisma-extension.js
  apps/api/src/server/utils/prisma-middleware.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(e2e): add data-cy attribute to key dates action links (applics-1619)
  apps/web/src/server/views/applications/case-key-dates/key-dates.component.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(e2e): update failing representation spec (applics-1619)
  apps/e2e/cypress/page_objects/representationPage.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(e2e): update failing documentProperties spec (applics-1619)
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(api): added columns path and documentCount to folder;path is set for new folders (APPLICS-1683)
  apps/api/src/database/migrations/20250922072142_folder_document_count_and_path/migration.sql
  apps/api/src/database/schema.prisma
  apps/api/src/server/applications/application/application.service.js
  apps/api/src/server/applications/application/application.validators.js
  apps/api/src/server/applications/application/file-folders/folders.controller.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
  apps/api/src/server/repositories/__tests__/folder.repository.test.js
  apps/api/src/server/repositories/case.repository.js
  apps/api/src/server/repositories/folder.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): add edited representation fields to representation details page (applics-1695)
  apps/api/src/server/applications/application/representations/__tests__/create-representation.test.js
  apps/api/src/server/applications/application/representations/representation.mapper.js
  apps/api/src/server/applications/application/representations/representations.controller.js
  apps/api/src/server/applications/application/representations/representations.routes.js
  apps/api/src/server/applications/applications.routes.js
  apps/api/src/server/repositories/__tests__/representation.repository.test.js
  apps/api/src/server/repositories/representation.repository.js
  apps/web/src/server/app/app.router.js
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representations.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/applications-representations.test.js
  apps/web/src/server/applications/case/representations/representation-details/__fixtures__/representation-details.fixture.js
  apps/web/src/server/applications/case/representations/representation-details/__tests__/__snapshots__/applications-relevant-rep-details.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/__tests__/applications-relevant-rep-details.test.js
  apps/web/src/server/applications/case/representations/representation-details/application-representation-details.router.js
  apps/web/src/server/applications/case/representations/representation-details/applications-relevant-rep-details.controller.js
  apps/web/src/server/applications/case/representations/representation-details/applications-relevant-rep-details.service.js
  apps/web/src/server/applications/case/representations/representation-details/applications-relevant-rep-details.view-model.js
  apps/web/src/server/applications/case/representations/representation-details/change-edit/__tests__/__snapshots__/change-edit.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/change-edit/__tests__/change-edit.test.js
  apps/web/src/server/applications/case/representations/representation-details/change-edit/change-edit.controller.js
  apps/web/src/server/applications/case/representations/representation-details/change-edit/change-edit.routes.js
  apps/web/src/server/applications/case/representations/representation-details/change-edit/change-edit.service.js
  apps/web/src/server/applications/case/representations/representation-details/change-redaction/__tests__/__snapshots__/change-redaction.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/__tests__/__snapshots__/redact-representation.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/redact-representation.controller.js
  apps/web/src/server/applications/case/representations/representation-details/redact-representation/redact-representation.view-model.js~
  apps/web/src/server/applications/case/representations/representation-details/representation-status/representation-status-notes/__tests__/__snapshots__/representation-status-notes.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/task-log/__tests__/__snapshots__/task-log.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/utils/get-representation-excerpts.js
  apps/web/src/server/applications/case/representations/representation/representation.middleware.js
  apps/web/src/server/views/applications/representations/representation-details/components/representation-status-tag.njk
  apps/web/src/server/views/applications/representations/representation-details/edit-representation.njk
  apps/web/src/server/views/applications/representations/representation-details/includes/change/representation.include.njk
  apps/web/src/server/views/applications/representations/representation-details/index.njk
  apps/web/src/server/views/applications/representations/representation-details/redact-representation/redact-representation-legacy.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(api): documentCount is increased/decreased when a file is added/deleted (APPLICS-1683)
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/repositories/document.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): added option to download relevant representations as .csv file (applics-1720)
  apps/api/src/server/applications/application/representations/download/__fixtures__/existing-representations.js
  apps/api/src/server/applications/application/representations/download/__fixtures__/expected-csv-string-120.js
  apps/api/src/server/applications/application/representations/download/__tests__/get-representation-download.test.js
  apps/api/src/server/applications/application/representations/download/__tests__/map-rep-to-csv.test.js
  apps/api/src/server/applications/application/representations/download/rep-download.controller.js
  apps/api/src/server/applications/application/representations/download/rep-download.router.js
  apps/api/src/server/applications/application/representations/download/rep-download.service.js
  apps/api/src/server/applications/application/representations/download/utils/map-rep-to-csv.js
  apps/api/src/server/applications/application/representations/download/utils/stream-transform-to-csv.js
  apps/api/src/server/repositories/representation.repository.js
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representations.test.js.snap
  apps/web/src/server/applications/case/representations/applications-relevant-reps.router.js
  apps/web/src/server/applications/case/representations/download/download.controller.js
  apps/web/src/server/views/applications/representations/representations.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(api): examination timetable item can only be deleted when folder is empty (APPLICS-1683)
  apps/api/src/database/migrations/20251002103819_document_count_default_value_zero/migration.sql
  apps/api/src/database/schema.prisma
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
  apps/api/src/server/repositories/folder.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): add space between custom folder rename and delete links (applics-1744)
  apps/web/src/styles/7-components/_button-group.scss
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(api): documentCount of folder is updated when files moved; fixed tests(APPLICS-1683)
  apps/api/src/server/applications/application/documents/__tests__/create-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/delete-document.test.js
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
  apps/api/src/server/applications/s51advice/__tests__/s51-advice.test.js
  apps/api/src/server/repositories/__tests__/folder.repository.test.js
  apps/api/src/server/repositories/document.repository.js
  apps/api/src/server/repositories/folder.repository.js
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/views/applications/case-timetable/components/timetable-items-list.component.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(api): script for populating path column for each Folder in db (APPLICS-1683)
  apps/api/src/database/seed/createPaths.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

chore(functions): align function settings in host.json
  apps/functions/applications-background-jobs/host.json
  apps/functions/applications-command-handlers/host.json
  apps/functions/applications-migration/host.json
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(api): a test script that asserts the of each entry in Folder table is correct (APPLICS-1683)
  apps/api/src/database/seed/create-paths.js
  apps/api/src/database/test-scripts/create-paths.test.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(api): small refactoring and more error handling (APPLICS-1683)
  apps/api/src/database/test-scripts/create-paths-test-script.js
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/repositories/folder.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(api): test script checks paths for all Folders, Promise.All() for efficiency (APPLICS-1683)
  apps/api/src/database/test-scripts/create-paths-test-script.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(web): using strict equality on submission count
  apps/web/src/server/views/applications/case-timetable/components/timetable-items-list.component.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(api): using const instead of let (APPLICS-1683)
  apps/api/src/database/test-scripts/create-paths-test-script.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(packages/*): fix remove cases pipelines (applics-1024)
  azure-pipelines-remove-specified-cases.yml
  packages/scripts/src/remove-cases.js
Due: azure-pipelines-ci.yml

fix(e2e): update failing sector spec (applics-1619)
  apps/e2e/cypress/e2e/back-office-applications/sectorAsTraing.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/casePage.js
  apps/e2e/cypress/support/utils/utils.js
  apps/web/src/server/views/applications/case/layouts/applications-case-layout.njk
  packages/feature-flags/src/static-feature-flags.js
Due: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(e2e): update failing welsh spec (applics-1619)
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml
