Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

chore(packages/feature-flags): use connection string instead of endpoint
  apps/api/src/server/config/config.js
  apps/api/src/server/config/schema.js
  apps/web/environment/config.d.ts
  apps/web/environment/config.js
  apps/web/environment/schema.js
  packages/feature-flags/src/index.js
Due: azure-pipelines-e2e.yml

chore(web/applications): install @pins/feature-flags
  apps/e2e/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

fix(packages/feature-flags): correct entry point to index.js
  packages/feature-flags/package.json
Due: none

chore(web/applications): install @azure/app-configuration
  apps/web/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

feat(packages/feature-flags): create a FeatureFlagClient class
  packages/feature-flags/index.d.ts
  packages/feature-flags/index.js
  packages/feature-flags/src/feature-flag-client.js
  packages/feature-flags/src/is-feature-active.js
Due: none

fix(web/applications): add button to unpublish previous versions (boas-1716)
  apps/web/src/server/views/applications/case-documentation/properties/documentation-properties.njk
Due: azure-pipelines-e2e.yml

chore(e2e): improve e2e efficiency
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/createCasePage.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
  apps/e2e/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

refactor(packages/feature-flags): pass AAC client to functions as arg
  packages/feature-flags/src/feature-flag-client.js
  packages/feature-flags/src/is-feature-active.js
Due: none

chore(e2e): add feature-flags fixture to the keep list
  apps/e2e/cypress/support/cypressUtils.js
Due: azure-pipelines-e2e.yml

chore(packages/feature-flags): ensure type of isFeatureFlagActive
  packages/feature-flags/src/feature-flag-client.js
  packages/feature-flags/src/is-feature-active.js
Due: none

feat(packages/feature-flags): create a method to return all flags
  packages/feature-flags/src/feature-flag-client.js
  packages/feature-flags/src/list-flags.js
Due: none

feat(e2e): fetch all feature flags before running tests
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/fixtures/feature-flag-client.js
  apps/e2e/cypress/fixtures/feature-flags.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(e2e): create Cypress commands for switching tests based on flags
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/fixtures/feature-flags.js
  apps/e2e/cypress/support/commands.js
  apps/e2e/cypress/support/e2e.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(e2e): install @azure/app-configuration
  apps/e2e/package.json
Due: azure-pipelines-e2e.yml

fix(functions): email notification - issue with hyphens, apostrophes and brackets (BOAS-1720)
  apps/functions/applications-background-jobs/notify-subscribers/src/__tests__/notify-subscribers.test.js
  apps/functions/applications-background-jobs/notify-subscribers/src/notify-subscribers.js
  apps/functions/applications-background-jobs/notify-subscribers/src/util.js
  apps/functions/applications-background-jobs/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

chore(functions): increase timeout for migration function
  apps/functions/applications-migration/host.json
Due: azure-pipelines-e2e.yml

feat(tooling): add jest-runner extension and settings
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat(api/applications): add welsh fields (boas-1744)
  apps/api/src/database/migrations/20240425144842_welsh_fields_added/migration.sql
  apps/api/src/database/schema.prisma
Due: azure-pipelines-e2e.yml

chore(applications): bump mysql2 from 3.6.1 to 3.9.4
  apps/functions/applications-migration/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

fix(functions): email notification - formatting issues (BOAS-1720)
  apps/functions/applications-background-jobs/notify-subscribers/src/__tests__/notify-subscribers.test.js
  apps/functions/applications-background-jobs/notify-subscribers/src/notify-subscribers.js
  apps/functions/applications-background-jobs/notify-subscribers/src/util.js
  apps/functions/applications-background-jobs/package.json
  apps/web/src/server/views/app/components/summary-link.component.njk
  package-lock.json
Due: azure-pipelines-e2e.yml

fix(functions): email notification - restore getExtendedProjectUpdate (BOAS-1720)
  apps/functions/applications-background-jobs/notify-subscribers/src/__tests__/notify-subscribers.test.js
  apps/functions/applications-background-jobs/notify-subscribers/src/notify-subscribers.js
  apps/web/src/server/views/app/components/summary-link.component.njk
Due: azure-pipelines-e2e.yml

feat: introduce Structurizr architecture as code diagrams
  .gitignore
  README.md
  package.json
  workspace.dsl
Due: none

fix(applications/web): fix broken link (APPLICS-69)
  apps/web/src/server/app/__tests__/__snapshots__/app.test.js.snap
  apps/web/src/server/app/__tests__/app.test.js
  apps/web/src/server/applications/__tests__/__snapshots__/applications.test.js.snap
  apps/web/src/server/applications/__tests__/applications.test.js
  apps/web/src/server/views/app/401.njk
  apps/web/src/server/views/app/403.njk
  apps/web/src/server/views/app/404.njk
Due: azure-pipelines-e2e.yml

refactor(api/applications): use IIFE to generate caseReference
  apps/api/src/server/infrastructure/payload-builders/nsip-document.js
Due: azure-pipelines-e2e.yml
