Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

fix(web): accessibility audit - validation error (APPLICS-828)
  apps/e2e/cypress/e2e/back-office-applications/addTeam.spec.js
  apps/e2e/cypress/e2e/back-office-applications/createCase.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentPropertiesWelsh.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/createCaseSections/caseCreated.js
  apps/e2e/cypress/page_objects/projectTeamPage.js
  apps/web/src/server/applications/case/examination-timetable/__tests__/applications-timetable.test.js
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/applications-s51.test.js
  apps/web/src/server/views/app/layouts/app.layout.njk
  apps/web/src/server/views/applications/case-s51/s51-attachment-successfully-deleted.njk
  apps/web/testing/util/title.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(api): improve-service-bus-event-logging (APPLICS-885)
  packages/event-client/src/service-bus-event-client.js
Due: none

fix(api): allow published status to send event in project updates (APPLICS-885)
  apps/api/src/server/applications/application/project-updates/project-updates.service.js
Due: azure-pipelines-e2e.yml

feat(functions): migrationOverwrite parameter to force overwriting
  apps/api/src/server/utils/mapping/map-case-details.js
  apps/functions/applications-migration/common/handle-migration-with-response.js
  apps/functions/applications-migration/exam-timetable-migration/index.js
  apps/functions/applications-migration/migrate-case/index.js
  apps/functions/applications-migration/nsip-document-migration/index.js
  apps/functions/applications-migration/nsip-project-migration/index.js
  apps/functions/applications-migration/nsip-representation-migration/index.js
  apps/functions/applications-migration/project-updates-migration/index.js
  apps/functions/applications-migration/s51-advice-migration/index.js
  apps/functions/applications-migration/service-user-migration/index.js
Due: azure-pipelines-e2e.yml

fix(functions): examtimetable migration dates fix
  apps/api/src/server/migration/migrators/nsip-exam-timetable-migrator.js
Due: azure-pipelines-e2e.yml

fix(api): nsip-document should include document stage (APPLICS-860)
  apps/api/src/server/infrastructure/payload-builders/nsip-document.js
Due: azure-pipelines-e2e.yml

fix(api): correctly format bullet point characters in migrated examtimetable items
  apps/api/src/server/migration/migrators/nsip-exam-timetable-migrator.js
Due: azure-pipelines-e2e.yml

chore(tooling): remove duplicate cases pipeline script for test env
  azure-pipelines-remove-specified-cases.yml
  packages/scripts/src/remove-cases.js
Due: none

chore(tooling): package script typo
  azure-pipelines-remove-specified-cases.yml
Due: none

fix(web): increase page limit when fetching team members (APPLICS-887)
  apps/web/src/server/applications/common/services/azure-project-team.js
Due: azure-pipelines-e2e.yml

fix(functions): examtimetable migration default dates
  apps/api/src/server/migration/migrators/nsip-exam-timetable-migrator.js
  apps/functions/applications-migration/common/migrators/exam-timetable-migration.js
Due: azure-pipelines-e2e.yml

fix(api): add `-` as another examtimetable item bulletpoint format type for migration
  apps/api/src/server/migration/migrators/nsip-exam-timetable-migrator.js
  azure-pipelines-package-function-dep-install.yml
Due: azure-pipelines-e2e.yml

test(e2e): removed references
  apps/e2e/cypress/e2e/back-office-applications/addRepresentation.spec.js
  apps/e2e/cypress/e2e/back-office-applications/addTeam.spec.js
  apps/e2e/cypress/e2e/back-office-applications/createCase.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentPropertiesWelsh.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentUpload.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentVersioning.spec.js
  apps/e2e/cypress/e2e/back-office-applications/editCase.spec.js
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/folders.spec.js
  apps/e2e/cypress/e2e/back-office-applications/keyDates.spec.js
  apps/e2e/cypress/e2e/back-office-applications/projectUpdates.spec.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/e2e/back-office-applications/search.spec.js
  apps/e2e/cypress/e2e/back-office-applications/searchDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/sectorAsTraing.spec.js
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateAndRemoveTeam.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web): return a 404 for non-existing document edit pages
  apps/web/src/server/applications/case/documentation-metadata/documentation-metadata.controller.js
Due: azure-pipelines-e2e.yml

chore(e2e): use literal values instead of functions for static data
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(api): create a column for interestedPartyNumber in DocumentVersion
  apps/api/src/database/migrations/20240910125426_interested_party/migration.sql
  apps/api/src/database/schema.prisma
  apps/api/src/server/applications/application/documents/document.validators.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
  apps/api/src/server/utils/mapping/map-document-details.js
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
  apps/functions/applications-command-handlers/deadline-submission-command/back-office-api-client.js
  apps/functions/applications-command-handlers/deadline-submission-command/index.js
  apps/web/src/server/applications/case/documentation-metadata/documentation-metadata.controller.js
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/views/applications/case-documentation/properties/tab-details.component.njk
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(e2e): fix e2e test failure in documents updates
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
Due: azure-pipelines-e2e.yml

chore(tooling): add CODEOWNERS
  .github/CODEOWNERS
Due: none

feat(e2e): accessibility audit radio buttons (APPLICS-532)
  apps/e2e/cypress/e2e/back-office-applications/addTeam.spec.js
  apps/e2e/cypress/e2e/back-office-applications/updateAndRemoveTeam.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/projectTeamPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(web): accessibility audit radio buttons (APPLICS-532)
  apps/web/src/server/applications/case/documentation-metadata/__tests__/__snapshots__/documentation-metadata.test.js.snap
  apps/web/src/server/applications/case/documentation-metadata/documentation-metadata.controller.js
  apps/web/src/server/applications/case/edit/case/__tests__/__snapshots__/applications-edit-case.test.js.snap
  apps/web/src/server/applications/case/edit/case/__tests__/applications-edit-case.test.js
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/representations/representation/representation-type/__tests__/__snapshots__/represetation-type.test.js.snap
  apps/web/src/server/applications/case/representations/representation/under-18/__tests__/__snapshots__/represetation-under-18.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/applications/create-new-case/case/__tests__/__snapshots__/applications-create-case.test.js.snap
  apps/web/src/server/applications/create-new-case/case/__tests__/applications-create-case.test.js
  apps/web/src/server/views/applications/case-documentation/documentation-edit.njk
  apps/web/src/server/views/applications/case-documentation/edit/radios-input.njk
  apps/web/src/server/views/applications/case-project-team/project-team-choose-role.njk
  apps/web/src/server/views/applications/case-s51/properties/edit/s51-edit-method.njk
  apps/web/src/server/views/applications/case-s51/properties/edit/s51-edit-redaction.njk
  apps/web/src/server/views/applications/case-s51/properties/edit/s51-edit-status.njk
  apps/web/src/server/views/applications/case-s51/s51-method.njk
  apps/web/src/server/views/applications/components/case-form/case-form-layout.njk
  apps/web/src/server/views/applications/components/case-form/case/material-change.njk
  apps/web/src/server/views/applications/components/case-form/case/sector.njk
  apps/web/src/server/views/applications/components/case-form/case/stage.njk
  apps/web/src/server/views/applications/components/case-form/case/sub-sector.njk
  apps/web/src/server/views/applications/components/case-form/case/zoom-level.njk
  apps/web/src/server/views/applications/representations/representation/representation-type.njk
  apps/web/src/server/views/applications/representations/representation/under-18.njk
Due: azure-pipelines-e2e.yml

feat(web): accessibility audit checkboxes (APPLICS-534)
  apps/web/src/server/applications/case/edit/case/__tests__/__snapshots__/applications-edit-case.test.js.snap
  apps/web/src/server/applications/case/edit/case/__tests__/applications-edit-case.test.js
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/project-updates/project-updates.controller.js
  apps/web/src/server/applications/create-new-case/applicant/__tests__/__snapshots__/applications-create-applicant.test.js.snap
  apps/web/src/server/applications/create-new-case/case/__tests__/__snapshots__/applications-create-case.test.js.snap
  apps/web/src/server/applications/create-new-case/case/__tests__/applications-create-case.test.js
  apps/web/src/server/views/applications/case/project-updates/project-updates-form.njk
  apps/web/src/server/views/applications/components/case-form/applicant/info-types.njk
  apps/web/src/server/views/applications/components/case-form/case-form-layout.njk
  apps/web/src/server/views/applications/components/case-form/case/regions.njk
Due: azure-pipelines-e2e.yml

fix(web): add class to table row without action
  apps/web/src/server/views/applications/case/components/case-details-table.component.njk
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
