Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-ci.yml: any file but: infrastructure
  azure-pipelines-e2e.yml: any of: apps

fix(web): update unit tests (applics-1619)
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/project-updates.test.js
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representations.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/applications-representations.test.js
  apps/web/src/server/applications/case/representations/applications-relevant-reps.controller.js
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  packages/feature-flags/src/static-feature-flags.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(api): applics-1761-add invoice repository and include on case
  apps/api/src/server/repositories/case.repository.js
  apps/api/src/server/repositories/invoice.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(api): added meeting repository api (applics-1762)
  apps/api/src/server/repositories/meeting.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(api): updated case repository to return meetings attached to cases (applics-1762)
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(api): applics-1761-update-structure
  apps/api/src/server/repositories/case.repository.js
  apps/api/src/server/repositories/invoice.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(e2e): update failing representation spec (applics-1619)
  apps/e2e/cypress/page_objects/representationPage.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(e2e): add data-cy attribute to key dates action links (applics-1619)
  apps/web/src/server/views/applications/case-key-dates/key-dates.component.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(e2e): update failing welsh spec (applics-1619)
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(e2e): update failing sector spec (applics-1619)
  apps/e2e/cypress/e2e/back-office-applications/sectorAsTraing.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/casePage.js
  apps/e2e/cypress/support/utils/utils.js
  apps/web/src/server/views/applications/case/layouts/applications-case-layout.njk
  packages/feature-flags/src/static-feature-flags.js
Due: azure-pipelines-api-test.yml, azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(e2e): update failing documentProperties spec (applics-1619)
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(api): added invoice repository (applics-1761)
  apps/api/src/server/repositories/invoice.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(api): updated case repository to return invoices attached to cases (applics-1761)
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(api): updated Prisma include logic for getById to include meeting (applics-1762)
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(api): ran prettier on case.repository.js (applics-1762)
  apps/api/src/server/repositories/case.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(api): refactored recursivelySetPaths() (APPLICS-1683)
  apps/api/src/server/repositories/folder.repository.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(infrastructure): apply noindex robot tags to documents domain
  infrastructure/front-door-docs.tf
Due: none

chore(tooling): fix .editorconfig syntax
  .editorconfig
Due: azure-pipelines-ci.yml

chore(tooling): dependabot groups
  .github/dependabot.yml
Due: azure-pipelines-ci.yml

fix(e2e): update addRepresentation test (applics-1619)
  apps/e2e/cypress/page_objects/representationPage.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): applics-1758-unpublish all relevant reps button
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representations.test.js.snap
  apps/web/src/server/applications/case/representations/applications-relevant-reps.controller.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(packages/*): fix remove cases pipelines (applics-1024)
  azure-pipelines-remove-specified-cases.yml
  packages/scripts/src/remove-cases.js
Due: azure-pipelines-ci.yml

fix(web): fixing missing users from project (applics-1719)
  apps/web/src/server/applications/common/services/project-team.service.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

chore(tooling): allow dependabot commits through commitlint
  commitlint.config.cjs
Due: azure-pipelines-ci.yml

feat(web): applics-1758-ensure unpublish button appears for published reps to all pages
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representations.test.js.snap
  apps/web/src/server/applications/case/representations/__tests__/applications-representations.test.js
  apps/web/src/server/applications/case/representations/applications-relevant-reps.controller.js
  apps/web/src/server/views/applications/representations/representations.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): applics-1758-update and clean
  apps/web/src/server/applications/case/representations/applications-relevant-reps.controller.js
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): applics-1758-ensure unpublish button appears
  azure-pipelines-remove-specified-cases.yml
  commitlint.config.cjs
  package-lock.json
  package.json
  packages/scripts/src/remove-cases.js
Due: azure-pipelines-ci.yml

fix(web): fixing missing users from project (applics-1719)
  apps/web/src/server/applications/common/services/project-team.service.js
  apps/web/src/server/views/applications/case-project-team/project-team-list.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

fix(tooling): updating deploy-release pipeline
  azure-pipelines-deploy-release.yml
  azure-pipelines-deploy.yml
Due: azure-pipelines-ci.yml

fix(web): fixing missing users from project (applics-1719)
  apps/web/src/server/views/applications/case-project-team/project-team-list.njk
  apps/web/src/server/views/applications/case-project-team/project-team-remove.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): update with utils (applics-1758)
  apps/web/src/server/applications/case/representations/applications-relevant-reps.controller.js
  apps/web/src/server/applications/case/representations/utils/get-published-representations-count.js
  apps/web/src/server/views/applications/representations/representations.njk
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml

feat(web): ensure unpublish button appears for published (applics-1758)
  apps/web/src/server/applications/case/representations/__tests__/__snapshots__/applications-representations.test.js.snap
Due: azure-pipelines-ci.yml, azure-pipelines-e2e.yml
