Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

feat(appeals/api): only broadcast to service bus if enabled in config
  appeals/api/src/server/endpoints/integrations/integrations.service.js
Due: none

fix(applications/web): blur show-folder button when mouse leave (BOAS-1413)
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/views/applications/components/folder/folder-header.component.njk
  apps/web/src/server/views/applications/components/folder/folder.njk
  apps/web/src/styles/7-components/_table.scss
Due: azure-pipelines-e2e.yml

fix(api/applications): representations schema payload missing caseid (boas-1650)
  apps/api/src/server/repositories/__tests__/representation.repository.test.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

fix(api/applications): representations events refactor and typing (boas-1650)
  apps/api/setup-tests.js
  apps/api/src/server/applications/application/representations/publish/__tests__/publish-representation.test.js
  apps/api/src/server/applications/application/representations/publish/publish.service.js
  apps/api/src/server/applications/application/representations/redact/redact.controller.js
  apps/api/src/server/applications/application/representations/representations.controller.js
  apps/api/src/server/applications/application/representations/representations.service.js
  apps/api/src/server/applications/application/representations/status/status.controller.js
  apps/api/src/server/infrastructure/event-batch-broadcaster.js
  apps/api/src/server/infrastructure/event-broadcasters.js
  apps/api/src/server/infrastructure/payload-builders/nsip-representation.js
  apps/api/src/server/repositories/representation.repository.js
Due: azure-pipelines-e2e.yml

fix(api/applications): schema validation fix representations (boas-1650)
  apps/api/src/server/applications/application/representations/__tests__/create-representation.test.js
  apps/api/src/server/applications/application/representations/__tests__/patch-representation.test.js
  apps/api/src/server/applications/application/representations/publish/__tests__/publish-representation.test.js
  apps/api/src/server/applications/application/representations/redact/__tests__/patch-redact.test.js
  apps/api/src/server/applications/application/representations/representations.service.js
  apps/api/src/server/applications/application/representations/status/__tests__/patch-status.test.js
Due: azure-pipelines-e2e.yml

fix(applications/web): hide open button in document properties correctly (BOAS-1485)
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/documentation/__tests__/applications-documentation.test.js
  apps/web/src/server/views/applications/case-documentation/properties/documentation-properties.njk
  apps/web/testing/applications/fixtures/documentation-files.js
Due: azure-pipelines-e2e.yml

test(e2e): update script commands at root level
  apps/e2e/README.md
  package.json
Due: azure-pipelines-e2e.yml

fix(appeals): fix horizon appeal links for linked and related appeals
  appeals/api/src/server/endpoints/link-appeals/__tests__/link-appeal.test.js
  appeals/api/src/server/endpoints/link-appeals/link-appeals.controller.js
  appeals/api/src/server/endpoints/linkable-appeals/__tests__/linkable-appeal.test.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.service.js
  appeals/api/src/server/tests/horizon/mocks.js
  appeals/api/src/server/utils/horizon-gateway.js
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/lib/display-page-formatter.js
Due: none

test(e2e): removed duplicate commands
  apps/e2e/README.md
  package.json
Due: azure-pipelines-e2e.yml

test(e2e): added S51 test
  apps/e2e/README.md
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/package.json
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): adding smoke tests
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): added upload test
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): added smoke tests to one spec file
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(api): change document reference property to documentReference
  apps/api/src/database/migrations/20240312131256_alter_document_reference_column/migration.sql
  apps/api/src/database/schema.prisma
  apps/api/src/server/applications/application/documents/__tests__/delete-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/get-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/publish-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/store-document-metadata.test.js
  apps/api/src/server/applications/application/documents/__tests__/update-document-status.test.js
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/applications/documents/documents.service.js
  apps/api/src/server/repositories/document-metadata.repository.js
  apps/api/src/server/repositories/document.repository.js
  apps/api/src/server/utils/mapping/map-document-details.js
  apps/functions/applications-background-jobs/publish-document/index.js
Due: azure-pipelines-e2e.yml

test(e2e): removed it blocks which are not required
  apps/e2e/cypress/e2e/back-office-applications/search.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(api/applications): updated application endpoints with new key-dates
  apps/api/src/server/applications/application/application.controller.js
  apps/api/src/server/applications/application/application.mapper.js
  apps/api/src/server/applications/application/application.validators.js
  apps/api/src/server/repositories/case.repository.js
  packages/applications/types/application.d.ts
Due: azure-pipelines-e2e.yml

chore(functions/applications-migration): move migrators to a common folder
  apps/functions/applications-migration/common/migrators/exam-timetable-migration.js
  apps/functions/applications-migration/common/migrators/nsip-project-migration.js
  apps/functions/applications-migration/common/migrators/nsip-representation-migration.js
  apps/functions/applications-migration/common/migrators/s51-advice-migration.js
  apps/functions/applications-migration/common/migrators/service-user-migration.js
  apps/functions/applications-migration/exam-timetable-migration/debug.js
  apps/functions/applications-migration/exam-timetable-migration/index.js
  apps/functions/applications-migration/nsip-project-migration/debug.js
  apps/functions/applications-migration/nsip-project-migration/index.js
  apps/functions/applications-migration/nsip-representation-migration/debug.js
  apps/functions/applications-migration/nsip-representation-migration/index.js
  apps/functions/applications-migration/s51-advice-migration/debug.js
  apps/functions/applications-migration/s51-advice-migration/index.js
  apps/functions/applications-migration/service-user-migration/debug.js
  apps/functions/applications-migration/service-user-migration/index.js
Due: azure-pipelines-e2e.yml

feat(applications): add migration coordination function
  apps/functions/applications-migration/migrate-case/README.md
  apps/functions/applications-migration/migrate-case/function.json
  apps/functions/applications-migration/migrate-case/index.js
Due: azure-pipelines-e2e.yml

chore(functions/applications-migration): refactor to have a function for a single case
  apps/functions/applications-migration/exam-timetable-migration/src/exam-timetable-migration.js
  apps/functions/applications-migration/nsip-project-migration/index.js
  apps/functions/applications-migration/nsip-project-migration/src/nsip-project-migration.js
  apps/functions/applications-migration/nsip-representation-migration/src/nsip-representation-migration.js
  apps/functions/applications-migration/s51-advice-migration/src/s51-advice-migration.js
  apps/functions/applications-migration/service-user-migration/src/service-user-migration.js
Due: azure-pipelines-e2e.yml

test(appeals/web): add snapshot error assertion
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
  appeals/web/testing/util/testHelpers.js
Due: none

fix(api): rename reference property to documentReference in transcript reference
  apps/api/src/server/utils/mapping/map-document-details.js
Due: azure-pipelines-e2e.yml

fix(appeals/api): returns the types of related and linked appeals
  appeals/api/src/server/endpoints/appeals/__tests__/appeals.test.js
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/api/src/server/endpoints/appeals/appeals.formatter.js
  appeals/api/src/server/utils/format-linked-appeals.js
Due: none

fix(web): disallow relating appeals to themselves or already related appeals
  appeals/web/src/server/appeals/appeal-details/other-appeals/__tests__/__snapshots__/other-appeals.test.js.snap
  appeals/web/src/server/appeals/appeal-details/other-appeals/other-appeals.controller.js
  appeals/web/src/server/appeals/appeal-details/other-appeals/other-appeals.mapper.js
Due: none

fix(web): rename LPA reference and application reference to LPA application reference
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/appellantCase.mapper.js
Due: none

feat(functions/applications-background-jobs): add project name to notify subscribers email data
  apps/functions/applications-background-jobs/notify-subscribers/src/__tests__/notify-subscribers.test.js
  apps/functions/applications-background-jobs/notify-subscribers/src/back-office-api-client.js
  apps/functions/applications-background-jobs/notify-subscribers/src/notify-subscribers.js
  apps/functions/applications-background-jobs/notify-subscribers/src/types.d.ts
  packages/applications/types/project-update.d.ts
Due: azure-pipelines-e2e.yml

test(functions/applications-background-jobs): linting
  apps/functions/applications-background-jobs/notify-subscribers/src/__tests__/notify-subscribers.test.js
Due: azure-pipelines-e2e.yml
