Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

test(api/applications): test for returning all document metadata
  apps/api/src/server/applications/application/documents/__tests__/unpublish-document.test.js
Due: azure-pipelines-e2e.yml

chore(api/applications): regenerate Swagger docs
  apps/api/src/server/swagger-output.json
Due: azure-pipelines-e2e.yml

refactor(api/applications): use a flatMap to filter instead of forEach
  apps/api/src/server/applications/application/documents/document.controller.js
Due: azure-pipelines-e2e.yml

fix(api/applications): include non-published documents when querying
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/repositories/document-metadata.repository.js
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.service.js
Due: azure-pipelines-e2e.yml

feat(web): update front-end for new applicant multiplicity
  apps/api/setup-tests.js
  apps/api/src/database/schema.prisma
  apps/api/src/server/applications/application/application.service.js
  apps/api/src/server/repositories/case.repository.js
  apps/web/src/server/applications/applications.types.d.ts
  apps/web/src/server/applications/case/edit/applicant/applications-edit-applicant.router.js
  apps/web/src/server/applications/common/components/form/form-applicant.component.js
  apps/web/src/server/applications/common/services/applicant.service.js
  apps/web/src/server/applications/common/services/case.service.js
  apps/web/src/server/applications/create-new-case/applicant/__tests__/applications-create-applicant.test.js
  apps/web/src/server/applications/create-new-case/applicant/applications-create-applicant.locals.js
  apps/web/src/server/applications/create-new-case/applicant/applications-create-applicant.router.js
  apps/web/src/server/applications/create-new-case/applications-create.service.js
  apps/web/src/server/applications/create-new-case/case/__tests__/applications-create-case.test.js
  apps/web/src/server/applications/create-new-case/check-your-answers/applications-create-check-your-answers.service.js
  apps/web/src/server/applications/create-new-case/key-dates/__tests__/applications-create-key-dates.test.js
  apps/web/src/server/views/applications/case/components/case-applicant-table.component.njk
  apps/web/src/server/views/applications/case/overview.njk
  apps/web/testing/applications/factory/application.js
  apps/web/testing/applications/fixtures/cases.js
Due: azure-pipelines-e2e.yml

fix(api/applications): include the owner when creating document versions
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml

test(e2e): added tests for unpublish documents
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/folderDocumentsPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(api): fix tests
  apps/api/setup-tests.js
  apps/api/src/server/applications/application/__tests__/update-application.test.js
Due: azure-pipelines-e2e.yml

feat(appeals): add document details page
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/documents/documents.formatter.js
  appeals/api/src/server/repositories/folder.repository.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.router.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.router.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.controller.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.mapper.js
  appeals/web/src/server/appeals/appeal-documents/appeal.documents.service.js
  appeals/web/src/server/appeals/appeal.constants.js
  appeals/web/src/server/lib/html-utilities.js
  appeals/web/src/server/lib/mappers/notification-banners.mapper.js
  appeals/web/src/server/views/appeals/appeal/appellant-case.njk
  appeals/web/src/server/views/appeals/documents/add-document-details.njk
  appeals/web/src/server/views/appeals/documents/document-upload.njk
Due: none

fix(api): add db migration for schema changes
  apps/api/src/database/migrations/20231016175637_remove_circular_dependency/migration.sql
Due: azure-pipelines-e2e.yml

feat(appeals/web): use redis for session storage in production
  appeals/web/environment/config.d.ts
  appeals/web/environment/config.js
  appeals/web/environment/schema.js
  appeals/web/package.json
  appeals/web/src/server/app/config/session.js
  package-lock.json
Due: none

feat(applications/web): use redis for session storage in production
  apps/web/environment/config.d.ts
  apps/web/environment/config.js
  apps/web/environment/schema.js
  apps/web/package.json
  apps/web/src/server/app/config/session.js
  package-lock.json
  packages/platform/index.d.ts
  packages/platform/index.js
  packages/platform/package.json
  packages/platform/utils/__tests__/redis.test.js
  packages/platform/utils/redis.js
Due: azure-pipelines-e2e.yml

feat(appeals/web): publish valid reps functionality
  apps/web/src/server/applications/case/representations/applications-relevant-reps.controller.js
  apps/web/src/server/applications/case/representations/applications-relevant-reps.service.js
  apps/web/src/server/applications/case/representations/config.js
  apps/web/src/server/applications/case/representations/publish-valid-representations/__fixtures__/publishableRepresentations.fixture.js
  apps/web/src/server/applications/case/representations/publish-valid-representations/__tests__/__snapshots__/publish-valid-reps.test.js.snap
  apps/web/src/server/applications/case/representations/publish-valid-representations/__tests__/publish-valid-reps.test.js
  apps/web/src/server/applications/case/representations/publish-valid-representations/_utils/getPublishableRepsPayload.js
  apps/web/src/server/applications/case/representations/publish-valid-representations/publish-valid-reps.controller.js
  apps/web/src/server/applications/case/representations/publish-valid-representations/publish-valid-reps.router.js
Due: azure-pipelines-e2e.yml

feat(appeals/web): adddress pr comments
  apps/web/src/server/applications/case/representations/publish-valid-representations/__tests__/publish-valid-reps.test.js
  apps/web/src/server/applications/case/representations/publish-valid-representations/_utils/get-publishable-reps-payload.js
  apps/web/src/server/applications/case/representations/publish-valid-representations/publish-valid-reps.controller.js
  apps/web/src/server/applications/case/representations/publish-valid-representations/publish-valid-reps.router.js
Due: azure-pipelines-e2e.yml

fix(web): revert to in memory session storage until infra is fixed
  appeals/web/src/server/app/config/session.js
  apps/web/src/server/app/config/session.js
Due: azure-pipelines-e2e.yml

fix(web/applications): fix back link on document unpublish queue page
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/views/applications/case-documentation/documentation-unpublish.njk
Due: azure-pipelines-e2e.yml

test(e2e): added missing tests for unpublish documents
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/folderDocumentsPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web): fix/BOAT-545-minor-changes-to-lpaq-page
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/lib/mappers/lpaQuestionnaire.mapper.js
Due: none

fix(web/applications): unpublishing a non-published file produces error
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
Due: azure-pipelines-e2e.yml

feat(api): broadcast applicant data for case updates
  apps/api/package.json
  apps/api/src/message-schemas/events/nsip-document.schema.json
  apps/api/src/message-schemas/events/nsip-project.d.ts
  apps/api/src/message-schemas/events/nsip-project.schema.json
  apps/api/src/message-schemas/events/service-user.d.ts
  apps/api/src/server/applications/application/__tests__/application.test.js
  apps/api/src/server/applications/application/__tests__/create-application.test.js
  apps/api/src/server/applications/application/__tests__/publish-application.test.js
  apps/api/src/server/applications/application/__tests__/start-case.test.js
  apps/api/src/server/applications/application/__tests__/update-application.test.js
  apps/api/src/server/applications/application/application.controller.js
  apps/api/src/server/applications/application/application.js
  apps/api/src/server/applications/application/application.service.js
  apps/api/src/server/applications/application/documents/__tests__/document-payload.test.js
  apps/api/src/server/applications/key-dates/__tests__/update-key-dates.test.js
  apps/api/src/server/applications/key-dates/key-dates.controller.js
  apps/api/src/server/infrastructure/event-broadcasters.js
  apps/api/src/server/infrastructure/payload-builders/applicant.js
  apps/api/src/server/infrastructure/payload-builders/constants.js
  apps/api/src/server/infrastructure/payload-builders/nsip-project.js
  apps/api/src/server/infrastructure/topics.js
  apps/api/src/server/migration/migrators/nsip-project-migrator.js
  apps/api/src/server/utils/published-case-fields-changed.js
Due: azure-pipelines-e2e.yml

feat(appeals/api): service users / comments
  appeals/api/src/server/endpoints/integrations/integrations.service.js
  appeals/api/src/server/infrastructure/topics.js
Due: none

feat(appeals/api): publishes service users
  appeals/api/src/message-schemas/pins-appeal.schema.json
  appeals/api/src/message-schemas/pins-appellant-case.schema.json
  appeals/api/src/message-schemas/pins-root.schema.json
  appeals/api/src/server/endpoints/appeal-allocation/appeal-allocation-controller.js
  appeals/api/src/server/endpoints/appeal-timetables/appeal-timetables.controller.js
  appeals/api/src/server/endpoints/appellant-cases/appellant-cases.service.js
  appeals/api/src/server/endpoints/integrations/integrations.controller.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/appellant-case.mapper.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/index.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/questionnaire.mapper.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/service-user.mapper.js
  appeals/api/src/server/endpoints/integrations/integrations.middleware.js
  appeals/api/src/server/endpoints/integrations/integrations.service.js
  appeals/api/src/server/endpoints/lpa-questionnaires/lpa-questionnaires.service.js
  appeals/api/src/server/infrastructure/topics.js
  appeals/api/src/server/repositories/integrations.repository.js
Due: none

feat(appeals): add attrs to service users
  appeals/api/src/message-schemas/pins-root.schema.json
  appeals/api/src/server/endpoints/integrations/integrations.mappers/service-user.mapper.js
Due: none

feat(api/applications): create an endpoint to mark unpublished
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml

feat(api/applications): emit an Update event on Unpublish
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml
