Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

feat(applications/web): simulate document download when auth disabled (BOAS-1723)
  apps/web/src/server/app/components/file-downloader.component.js
Due: azure-pipelines-e2e.yml

feat(applications/web): simulate document upload when auth disabled (BOAS-1723)
  apps/web/src/client/components/file-uploader/_server-actions.js
  apps/web/src/server/lib/active-directory-token.js
Due: azure-pipelines-e2e.yml

test(e2e): updated s51 tests
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/e2e/cypress/page_objects/s51AdviceProperties.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): updated tests with dev changes
  apps/e2e/cypress/e2e/back-office-applications/sectorAsTraing.spec.js
  apps/e2e/cypress/page_objects/applicationsHomePage.js
  apps/e2e/cypress/page_objects/createCasePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(web/applications): go back to check-your-answer when editing draft (boas-1281)
  apps/web/src/server/applications/create-new-case/case/applications-create-case.controller.js
  apps/web/src/server/applications/create-new-case/case/applications-create-case.router.js
  apps/web/src/server/views/applications/components/case-form/case-form-layout.njk
  apps/web/src/server/views/applications/create-new-case/check-your-answers.njk
Due: azure-pipelines-e2e.yml

feat(web/applications): change flow check-your-answers in applicant pages (boas-1281)
  apps/web/src/server/applications/create-new-case/applicant/applications-create-applicant.controller.js
  apps/web/src/server/applications/create-new-case/applicant/applications-create-applicant.router.js
  apps/web/src/server/views/applications/create-new-case/check-your-answers.njk
Due: azure-pipelines-e2e.yml

feat(functions): folder migration
  apps/api/setup-tests.js
  apps/api/src/server/migration/migration.controller.js
  apps/api/src/server/migration/migration.routes.js
  apps/api/src/server/migration/migrator.service.js
  apps/api/src/server/migration/migrators/__tests__/utils.test.js
  apps/api/src/server/migration/migrators/folder-migrator.js
  apps/api/src/server/migration/migrators/folder/folder.js
  apps/api/src/server/migration/migrators/nsip-project-migrator.js
  apps/api/src/server/migration/migrators/utils.js
  apps/api/src/server/swagger-output.json
  apps/functions/applications-migration/folder-migration/debug.js
  apps/functions/applications-migration/folder-migration/function.json
  apps/functions/applications-migration/folder-migration/index.js
  apps/functions/applications-migration/folder-migration/src/folder-migration.js
  apps/functions/applications-migration/s51-advice-migration/index.js
Due: azure-pipelines-e2e.yml

feat(applications/web): add re-open dates to pre-examination key dates
  apps/api/src/database/seed/data-gs51.js
  apps/api/src/server/repositories/case.repository.js
  apps/e2e/cypress/e2e/back-office-applications/sectorAsTraing.spec.js
  apps/web/environment/config.d.ts
  apps/web/environment/config.js
  apps/web/environment/schema.js
  apps/web/src/server/applications/__tests__/applications.test.js
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/documentation/applications-documentation.controller.js
  apps/web/src/server/applications/case/general-s51/__tests__/applications-general-s51.controller.test.js
  apps/web/src/server/applications/case/general-s51/applications-general-s51.config.js
  apps/web/src/server/applications/case/general-s51/applications-general-s51.controller.js
  apps/web/src/server/applications/case/general-s51/utils/get-general-section-51-URL.js
  apps/web/src/server/applications/case/general-s51/utils/get-general-section-51-data.js
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/key-dates/__tests__/applications-key-dates.utils.test.js
  apps/web/src/server/applications/case/key-dates/applications-key-dates.controller.js
  apps/web/src/server/applications/case/key-dates/applications-key-dates.utils.js
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
  apps/web/src/server/lib/dates.js
  apps/web/src/server/lib/nunjucks-filters/key-dates-property.js
  apps/web/src/server/views/applications/case-key-dates/includes/pre-examination/pre-examination-key-dates.include.njk
  apps/web/src/server/views/applications/case-key-dates/includes/pre-examination/pre-examination-manage-dates.include.njk
  apps/web/src/server/views/applications/case-key-dates/key-dates-index.njk
  apps/web/src/server/views/applications/case-key-dates/key-dates-section.njk
  apps/web/src/styles/7-components/key-dates-section.scss
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(applications/web): unable to add attachment to draft representations (BOAS-1575)
  apps/web/src/server/views/applications/representations/representation-details/index.njk
Due: azure-pipelines-e2e.yml

feat(applications): allow cypress tests to run in local dev (BOAS-1698)
  apps/api/.env.example
  apps/e2e/.env.sample
  apps/e2e/.gitignore
  apps/e2e/README.md
  apps/e2e/cypress.config.js
  apps/e2e/cypress/support/commands.js
Due: azure-pipelines-e2e.yml

feat(applications/web): add additional documentation to readme (BOAS-1698)
  apps/e2e/README.md
Due: azure-pipelines-e2e.yml

fix(functions): add optional chaining to lineItemExists
  apps/functions/applications-command-handlers/deadline-submission-command/back-office-api-client.js
Due: azure-pipelines-e2e.yml

fix(functions): make sure errors are thrown in deadline-submission func
  apps/functions/applications-command-handlers/deadline-submission-command/index.js
Due: azure-pipelines-e2e.yml

test(functions): expect deadline submission to throw on failure
  apps/functions/applications-command-handlers/deadline-submission-command/__tests__/deadline-submission-command.test.js
Due: azure-pipelines-e2e.yml

fix(packages/event-client): map deadline-submission-result to schema
  packages/event-client/src/generic-event-client.js
Due: none

fix(applications/web): fix merge issues (BOAS-1718)
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/e2e/cypress/support/utils/createS51Advice.js
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/views/applications/case-s51/properties/s51-properties.njk
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(applications/web): fix broken button styling in S51 document properties page (BOAS-1718)
  apps/web/src/server/views/applications/case-s51/properties/s51-properties.njk
  apps/web/src/styles/7-components/_properties-inset-text.scss
  apps/web/src/styles/main.scss
Due: azure-pipelines-e2e.yml

fix(web/applications): add new flow for title page (boas-1281)
  apps/web/src/server/applications/create-new-case/case/applications-create-case.controller.js
  apps/web/src/server/applications/create-new-case/case/applications-create-case.router.js
  apps/web/src/server/applications/create-new-case/check-your-answers/__tests__/__snapshots__/applications-create-check-your-answers.test.js.snap
  apps/web/src/server/views/applications/create-new-case/check-your-answers.njk
Due: azure-pipelines-e2e.yml

feat(functions): folder migration
  apps/api/setup-tests.js
  apps/api/src/server/migration/migration.controller.js
  apps/api/src/server/migration/migration.routes.js
  apps/api/src/server/migration/migrators/folder-migrator.js
  apps/api/src/server/migration/migrators/folder/folder.js
  apps/api/src/server/migration/migrators/nsip-project-migrator.js
  apps/api/src/server/swagger-output.json
  apps/functions/applications-migration/folder-migration/debug.js
  apps/functions/applications-migration/folder-migration/function.json
  apps/functions/applications-migration/folder-migration/index.js
  apps/functions/applications-migration/folder-migration/src/folder-migration.js
  apps/functions/applications-migration/s51-advice-migration/index.js
Due: azure-pipelines-e2e.yml

fix(web/applications): remove console logs (boas-1281)
  apps/web/src/server/applications/create-new-case/case/applications-create-case.controller.js
Due: azure-pipelines-e2e.yml
