Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

chore(appeals/api): squash DB migrations - secret fix
  azure-pipelines-squash-migrations.yml
Due: none

fix(web/applications): add retry params on env.exmaple (boas-1473)
  appeals/web/.env.example
  apps/web/.env.example
Due: azure-pipelines-e2e.yml

feat(api): add retry options to service bus event (boas-1473)
  packages/event-client/src/service-bus-event-client.js
Due: none

Revert "feat(api/applications): event broadcasts document delete and tests (boas-1431)"
  apps/api/src/server/applications/application/application.validators.js
  apps/api/src/server/applications/application/documents/__tests__/delete-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/document-payload.test.js
  apps/api/src/server/applications/application/documents/__tests__/document.service.test.js
  apps/api/src/server/applications/application/documents/__tests__/mark-as-published.test.js
  apps/api/src/server/applications/application/documents/__tests__/provide-document-upload-urls.test.js
  apps/api/src/server/applications/application/documents/__tests__/publish-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/store-document-metadata.test.js
  apps/api/src/server/applications/application/documents/__tests__/update-document-status.test.js
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/applications/documents/documents.controller.js
  apps/api/src/server/applications/documents/documents.service.js
  apps/api/src/server/applications/s51advice/__tests__/s51-advice-update.test.js
  apps/api/src/server/applications/s51advice/__tests__/s51-advice.test.js
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/repositories/document-metadata.repository.js
  apps/api/src/server/repositories/document.repository.js
Due: azure-pipelines-e2e.yml

fix(web/appeals): updated lpa questionnaire snapshot (boas-1518)
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
Due: none

fix(web/appeals): updated lpa questionnaire snapshot 2(boas-1518)
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
Due: none

test(e2e): added representation scenarios
  apps/e2e/cypress/e2e/back-office-applications/addRepresentation.spec.js
  apps/e2e/cypress/page_objects/representationPage.js
  apps/e2e/cypress/support/utils/createProjectInformation.js
  apps/e2e/cypress/support/utils/createTimetableItemInfo.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(appeals/api): remapped appeal types (BOAT-883)
  appeals/api/src/database/seed/data-static.js
  appeals/api/src/server/endpoints/constants.js
Due: none

feat(applications/api): add event broadcasts nsip-folder (BOAS-1432)
  apps/api/src/server/applications/application/__tests__/start-case.test.js
  apps/api/src/server/applications/application/application.service.js
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
  apps/api/src/server/infrastructure/event-broadcasters.js
  apps/api/src/server/infrastructure/payload-builders/nsip-folder.js
  apps/api/src/server/infrastructure/topics.js
Due: azure-pipelines-e2e.yml

test(e2e): changed dynamic test data to static data
  apps/e2e/cypress/support/utils/createS51Advice.js
Due: azure-pipelines-e2e.yml

feat(web/applications): add retry on govuk business days calculator (boas-1475)
  apps/web/src/server/lib/add-business-days-to-date.js
Due: azure-pipelines-e2e.yml

fix(appeals/api): fix caseREference so as not to use slash
  appeals/api/src/database/seed/data-test.js
Due: none

fix(appeals/api): fix mock is string not bool
  appeals/api/src/server/utils/horizon-gateway.js
Due: none

fix(appeals/api): change config to bool
  appeals/api/.env.test
  appeals/api/src/server/config/schema.js
  appeals/api/src/server/utils/horizon-gateway.js
Due: none

fix(appeals/api): add feature flag on mocking horizon, plus more info on swagger
  appeals/api/.env.test
  appeals/api/src/server/config/config.js
  appeals/api/src/server/config/schema.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.routes.js
  appeals/api/src/server/endpoints/transferred-appeals/transferred-appeal.routes.js
  appeals/api/src/server/utils/horizon-gateway.js
Due: none

feat(applications/api): add folder events (BOAS-1432)
  apps/api/src/server/applications/application/__tests__/start-case.test.js
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
  apps/api/src/server/infrastructure/event-broadcasters.js
  apps/api/src/server/infrastructure/payload-builders/folder.js
  apps/api/src/server/infrastructure/topics.js
  docs/event-repository.md
Due: azure-pipelines-e2e.yml

feat(api/applications): event broadcasts nsip document (boas-1431)
  apps/api/src/server/applications/application/application.validators.js
  apps/api/src/server/applications/application/documents/__tests__/create-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/delete-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/document-payload.test.js
  apps/api/src/server/applications/application/documents/__tests__/document.service.test.js
  apps/api/src/server/applications/application/documents/__tests__/mark-as-published.test.js
  apps/api/src/server/applications/application/documents/__tests__/publish-document.test.js
  apps/api/src/server/applications/application/documents/__tests__/store-document-metadata.test.js
  apps/api/src/server/applications/application/documents/__tests__/update-document-status.test.js
  apps/api/src/server/applications/application/documents/document.controller.js
  apps/api/src/server/applications/application/documents/document.js
  apps/api/src/server/applications/application/documents/document.routes.js
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/applications/documents/documents.controller.js
  apps/api/src/server/applications/documents/documents.service.js
  apps/api/src/server/applications/s51advice/__tests__/s51-advice-update.test.js
  apps/api/src/server/applications/s51advice/__tests__/s51-advice.test.js
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/repositories/document-metadata.repository.js
  apps/api/src/server/repositories/document.repository.js
Due: azure-pipelines-e2e.yml

feat(appeals/api): add/fix audit trails
  appeals/api/src/server/endpoints/appellant-cases/__tests__/appellant-cases.test.js
  appeals/api/src/server/endpoints/appellant-cases/appellant-cases.service.js
  appeals/api/src/server/endpoints/change-appeal-type/change-appeal-type.controller.js
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/lpa-questionnaires/__tests__/lpa-questionnaires.test.js
  appeals/api/src/server/endpoints/lpa-questionnaires/lpa-questionnaires.service.js
Due: none

refactor(web): refactor confirmation pages to use PageComponents
  appeals/web/src/server/appeals/appeal-details/appeal-timetables/appeal-timetables.controller.js
  appeals/web/src/server/appeals/appeal-details/appeal-timetables/appeal-timetables.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-incomplete/outcome-incomplete.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-invalid/outcome-invalid.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-invalid/outcome-invalid.mapper.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-valid/outcome-valid.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/outcome-valid/outcome-valid.mapper.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/__tests__/__snapshots__/change-appeal-type.test.js.snap
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.controller.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.mapper.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.controller.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/outcome-incomplete/outcome-incomplete.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/outcome-incomplete/outcome-incomplete.mapper.js
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.controller.js
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.mapper.js
  appeals/web/src/server/lib/mappers/mapper-types-jsdoc.js
  appeals/web/src/server/views/appeals/confirmation.njk
  appeals/web/src/server/views/patterns/display-page.pattern.njk
Due: none

fix(applications/api): unable to publish the document due to errors (BOAS-1527)
  apps/api/src/server/applications/application/documents/__tests__/update-document-status.test.js
  apps/api/src/server/applications/application/documents/document.service.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
