Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

fix(web/applications): fix reference to case in caseDetailsTable
  apps/web/src/server/views/applications/case/components/case-details-table.component.njk
Due: azure-pipelines-e2e.yml

fix(web): add english text in welsh edit pages (applics-425)
  apps/web/src/server/applications/__tests__/__snapshots__/applications.test.js.snap
  apps/web/src/server/applications/case/edit/case/__tests__/__snapshots__/applications-edit-case.test.js.snap
  apps/web/src/server/applications/case/edit/case/__tests__/applications-edit-case.test.js
  apps/web/src/server/applications/case/edit/case/applications-edit-case.router.js
  apps/web/src/server/views/applications/case/components/case-details-table.component.njk
  apps/web/src/server/views/applications/components/case-form/case/description.njk
  apps/web/src/server/views/applications/components/case-form/case/project-location.njk
  apps/web/src/server/views/applications/components/case-form/case/title.njk
  apps/web/testing/app/mocks/featureFlags.js
  apps/web/testing/applications/fixtures/cases.js
Due: azure-pipelines-e2e.yml

fix(web): remove wrong nunjucks variable (applics-425)
  apps/web/src/server/views/applications/case/components/case-details-table.component.njk
Due: azure-pipelines-e2e.yml

fix(web): fix e2e test for welsh fields (applics-425)
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(web): welsh fields on examination timetable
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/edit/applicant/applications-edit-applicant.controller.js
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/applications-timetable.test.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.router.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.types.d.ts
  apps/web/src/server/applications/common/isCaseWelsh.js
  apps/web/src/server/views/applications/case-timetable/components/timetable-item-summary.component.njk
  apps/web/src/server/views/applications/case-timetable/components/timetable-items-list.component.njk
  apps/web/src/server/views/applications/case-timetable/timetable-delete.njk
  apps/web/src/server/views/applications/case-timetable/timetable-list.njk
  apps/web/src/server/views/applications/case-timetable/timetable-preview.njk
  apps/web/testing/applications/fixtures/timetable-types.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(functions): change response parsing to deal with array change in curated layer data
  apps/functions/applications-migration/common/migrators/nsip-project-migration.js
  apps/functions/applications-migration/common/migrators/nsip-representation-migration.js
  apps/functions/applications-migration/common/migrators/s51-advice-migration.js
  apps/functions/applications-migration/common/utils.js
Due: azure-pipelines-e2e.yml

test(e2e): updated the tests for dev work
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
  apps/e2e/cypress/e2e/back-office-applications/documentPropertiesWelsh.spec.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/publishingQueue.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(tooling): add training option to regen-api-key
  azure-pipelines-regenerate-api-key.yml
Due: none

chore(applications): add training env to seed and reset db pipelines (applics-460)
  azure-pipelines-db-reset-apps.yml
  azure-pipelines-db-seed.yml
Due: none

chore(applications): fixed indentation issues (applics-460)
  azure-pipelines-db-reset-apps.yml
  azure-pipelines-db-seed.yml
Due: none

chore(applications): run seeding for training as prod (applics-460)
  azure-pipelines-db-seed.yml
Due: none

chore(applications): updated Feature Flags setup documentation (applics-432)
  README.md
Due: none

chore(applications): fixed typos (applics-432)
  README.md
Due: none

chore(applications): corrected duplicated environment name (applics-432)
  azure-pipelines-db-seed.yml
Due: none

feat(applications/web): s51 advice properties: edit s51 advice title in welsh (APPLICS-28)
  apps/api/src/server/utils/mapping/map-s51-advice-details.js
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/e2e/cypress/page_objects/s51AdviceProperties.js
  apps/e2e/cypress/support/utils/createS51Advice.js
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/applications-s51.test.js
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
  apps/web/src/server/applications/case/s51/applications-s51.mapper.js
  apps/web/src/server/applications/case/s51/applications-s51.router.js
  apps/web/src/server/applications/case/s51/applications-s51.types.d.ts
  apps/web/src/server/applications/case/s51/applications-s51.validators.js
  apps/web/src/server/views/applications/case-s51/properties/edit/s51-edit-advice-detail-in-welsh.njk
  apps/web/src/server/views/applications/case-s51/properties/edit/s51-edit-enquiry-detail-in-welsh.njk
  apps/web/src/server/views/applications/case-s51/properties/edit/s51-edit-title-in-welsh.njk
  apps/web/src/server/views/applications/case-s51/properties/s51-properties.njk
  apps/web/src/server/views/applications/case-s51/s51-check-your-answers.njk
  apps/web/src/server/views/applications/components/textarea-form-component.njk
  apps/web/src/server/views/applications/layouts/s51-edit-property.layout.njk
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web): fix field on webfilter welsh page and add validation (applics-457)
  apps/web/src/server/applications/applications.types.d.ts
  apps/web/src/server/applications/case/documentation-metadata/__tests__/__snapshots__/documentation-metadata.test.js.snap
  apps/web/src/server/applications/case/documentation-metadata/__tests__/documentation-metadata.test.js
  apps/web/src/server/applications/case/documentation-metadata/documentation-metadata.controller.js
  apps/web/src/server/applications/case/documentation-metadata/documentation-metadata.validators.js
  apps/web/src/server/views/applications/case-documentation/documentation-edit.njk
  apps/web/testing/applications/factory/documentation-file.js
Due: azure-pipelines-e2e.yml

fix(web): change error message (applics-457)
  apps/web/src/server/applications/case/documentation-metadata/__tests__/__snapshots__/documentation-metadata.test.js.snap
  apps/web/src/server/applications/case/documentation-metadata/__tests__/documentation-metadata.test.js
  apps/web/src/server/applications/case/documentation-metadata/documentation-metadata.validators.js
Due: azure-pipelines-e2e.yml

test(web): fix test to cover the welsh webfilter case (applics-457)
  apps/web/src/server/applications/case/documentation-metadata/__tests__/__snapshots__/documentation-metadata.test.js.snap
  apps/web/src/server/applications/case/documentation-metadata/__tests__/documentation-metadata.test.js
Due: azure-pipelines-e2e.yml

feat(applications/web): s51 advice properties: validate welsh properties (APPLICS-475)
  apps/e2e/cypress/e2e/back-office-applications/s51Advice.spec.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/web/src/server/applications/case/s51/applications-s51.router.js
  apps/web/src/server/applications/case/s51/applications-s51.validators.js
  apps/web/src/server/views/applications/case-s51/s51-table.njk
  apps/web/src/server/views/applications/components/folder/folder.njk
  apps/web/src/styles/7-components/files-list.scss
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

chore(applications): fixed readme formatting (applics-432)
  README.md
Due: none

feat(api): migrate exam timetable docs
  apps/api/src/server/migration/migrators/folder/__tests__/folder.test.js
  apps/api/src/server/migration/migrators/folder/folder.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
