Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

fix(web/applications): use the session to conditionally render success
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/edit/applicant/applications-edit-applicant.controller.js
  apps/web/src/server/applications/case/edit/case/applications-edit-case.controller.js
  apps/web/src/server/views/applications/case/overview.njk
Due: azure-pipelines-e2e.yml

refactor(web/applications): move session banner code to common location
  apps/web/src/server/applications/case/project-updates/project-updates.controller.js
  apps/web/src/server/applications/case/project-updates/project-updates.session.js
  apps/web/src/server/applications/common/services/session.service.js
Due: azure-pipelines-e2e.yml

fix(applications/web): add missing preview and publish fields (APPLICS-412)
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/lib/nunjucks-filters/__tests__/build-table-row.test.js
  apps/web/src/server/lib/nunjucks-filters/build-table-rows.js
  apps/web/src/server/lib/nunjucks-filters/index.js
  apps/web/src/server/views/applications/case/components/case-info-table-preview.component.njk
  apps/web/src/server/views/applications/case/preview-and-publish.njk
  apps/web/src/server/views/applications/case/unpublish.njk
Due: azure-pipelines-e2e.yml

fix(applications/web): project can be published with missing fields (APPLICS-412)
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/applications-case.router.js
  apps/web/src/server/applications/case/documentation-metadata/__tests__/__snapshots__/documentation-metadata.test.js.snap
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/key-dates/__tests__/__snapshots__/applications-key-dates.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/representations/publish-updated-representations/__tests__/__snapshots__/publish-updated-representations.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/__tests__/__snapshots__/applications-relevant-rep-details.test.js.snap
  apps/web/src/server/applications/case/representations/representation-details/change-redaction/__tests__/__snapshots__/change-redaction.test.js.snap
  apps/web/src/server/applications/case/representations/representation/address-details/__tests__/__snapshots__/address-details.test.js.snap
  apps/web/src/server/applications/case/representations/representation/contact-method/__tests__/__snapshots__/rr-contact-method.test.js.snap
  apps/web/src/server/applications/case/representations/representation/representation-entity/__tests__/__snapshots__/represetation-entity.test.js.snap
  apps/web/src/server/applications/case/representations/representation/representation-type/__tests__/__snapshots__/represetation-type.test.js.snap
  apps/web/src/server/applications/case/s51/__tests__/__snapshots__/applications-s51.test.js.snap
  apps/web/src/server/applications/create-new-case/applicant/__tests__/__snapshots__/applications-create-applicant.test.js.snap
  apps/web/src/server/applications/create-new-case/case/__tests__/__snapshots__/applications-create-case.test.js.snap
  apps/web/src/server/applications/create-new-case/check-your-answers/__tests__/__snapshots__/applications-create-check-your-answers.test.js.snap
  apps/web/src/server/applications/create-new-case/key-dates/__tests__/__snapshots__/applications-create-key-dates.test.js.snap
  apps/web/src/server/lib/nunjucks-globals/__tests__/build-case-information.test.js
  apps/web/src/server/lib/nunjucks-globals/build-case-information.js
  apps/web/src/server/views/app/layouts/app.layout.njk
  apps/web/src/server/views/applications/case/components/case-details-table.component.njk
  apps/web/src/server/views/applications/case/components/case-edit-link.component.njk
  apps/web/src/server/views/applications/case/overview.njk
Due: azure-pipelines-e2e.yml

fix(applications/web): add new e2e tests (APPLICS-412)
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/createCasePage.js
  apps/e2e/cypress/page_objects/createCaseSections/checkYourAnswers.js
  apps/e2e/cypress/support/utils/createProjectInformation.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): updated failed e2e tests
  apps/e2e/cypress/e2e/back-office-applications/documentPropertiesWelsh.spec.js
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/publishDocuments.spec.js
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
  apps/e2e/cypress/page_objects/createCaseSections/checkYourAnswers.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/e2e/cypress/page_objects/s51AdviceProperties.js
  apps/e2e/cypress/support/utils/utils.js
  packages/feature-flags/src/static-feature-flags.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web/applications): update publish button text to match new design
  apps/web/src/server/views/applications/case/overview.njk
Due: azure-pipelines-e2e.yml

fix(web/applications): render the applicant website as a link
  apps/web/src/server/views/applications/case/components/case-applicant-table.component.njk
Due: azure-pipelines-e2e.yml

fix(applications/web): set static feature flag to true (APPLICS-18)
  packages/feature-flags/src/static-feature-flags.js
Due: none

fix(web/applications): render 'Project page' row in overview table
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/lib/nunjucks-globals/__tests__/build-case-information.test.js
  apps/web/src/server/lib/nunjucks-globals/build-case-information.js
  apps/web/src/server/views/applications/case/components/case-details-table.component.njk
  apps/web/src/server/views/applications/case/overview.njk
Due: azure-pipelines-e2e.yml

test(e2e): updated document properties welsh test
  apps/e2e/cypress/e2e/back-office-applications/documentPropertiesWelsh.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(applications/web): bugs causing e2e tests to fail
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/views/applications/case/components/case-applicant-table.component.njk
  apps/web/src/server/views/applications/case/overview.njk
Due: azure-pipelines-e2e.yml

fix(applications/web): fix e2e tests
  apps/e2e/cypress/e2e/back-office-applications/updateProjectInformation.spec.js
  apps/e2e/cypress/e2e/back-office-applications/welsh.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/casePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(applications/web): fix issues with dates in e2e tests
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/casePage.js
  apps/e2e/cypress/support/utils/createS51Advice.js
  apps/e2e/cypress/support/utils/createTimetableItemInfo.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): merged main into current branch
  apps/e2e/cypress/page_objects/s51AdvicePage.js
  apps/e2e/cypress/page_objects/s51AdviceProperties.js
Due: azure-pipelines-e2e.yml

fix(applications/web): only display welsh fields in publish preview when welsh region (APPLICS-412)
  apps/web/src/server/applications/case/__tests__/__snapshots__/applications-case.test.js.snap
  apps/web/src/server/applications/case/applications-case.controller.js
  apps/web/src/server/applications/case/applications-case.locals.js
  apps/web/src/server/applications/case/applications-case.router.js
  apps/web/src/server/views/applications/case/components/case-info-table-preview.component.njk
  apps/web/src/server/views/applications/case/preview-and-publish.njk
Due: azure-pipelines-e2e.yml

fix(applications/api): added missing package to API
  apps/api/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

fix(applications/api): updated missing package to correct version
  apps/api/package.json
  package-lock.json
Due: azure-pipelines-e2e.yml

fix(applications/api): updated package-lock
  package-lock.json
Due: none

ci: add training environment to deploy
  azure-pipelines-deploy.yml
Due: none

feat(functions): examtimetable migration published field
  apps/api/package.json
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
  apps/api/src/server/migration/migrators/nsip-exam-timetable-migrator.js
  apps/functions/applications-migration/common/migrators/exam-timetable-migration.js
  apps/functions/applications-migration/package.json
  package-lock.json
  package.json
Due: azure-pipelines-e2e.yml

feat(api/applications): add authorWelsh field to request validator
  apps/api/src/server/applications/application/documents/document.validators.js
Due: azure-pipelines-e2e.yml

feat(api/applications): include authorWelsh in response for documents
  apps/api/src/server/utils/mapping/map-document-details.js
Due: azure-pipelines-e2e.yml

chore(api/applications): add authorWelsh to DocumentDetails type
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

feat(web/applications): add a form layout for authorWelsh field
  apps/web/src/server/applications/case/documentation-metadata/documentation-metadata.controller.js
Due: azure-pipelines-e2e.yml
