Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

fix(appeals/web): async route handlers
  appeals/web/src/server/app/app.router.js
  appeals/web/src/server/appeals/appeal-details/allocation-details/allocation-details.router.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.router.js
  appeals/web/src/server/appeals/appeal-details/appeal-timetables/appeal-timetables.router.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.router.js
  appeals/web/src/server/appeals/appeal-details/assign-user/assign-user.router.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.router.js
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.router.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.router.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/outcome-incomplete/outcome-incomplete.router.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.router.js
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.router.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.router.js
  appeals/web/src/server/appeals/change-page/change-page.router.js
  appeals/web/src/server/appeals/national-list/national-list.router.js
  appeals/web/src/server/appeals/personal-list/personal-list.router.js
Due: none

fix(web): add a11y text to manage folder and manage document action links
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.mapper.js
Due: none

fix(web): add a11y text to case details page action links
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/lib/mappers/appeal.mapper.js
Due: none

adding in regression suite option on run pipeline
  azure-pipelines-e2e-applications.yml
Due: none

editing parameter on test-suite
  azure-pipelines-e2e-applications.yml
Due: none

fix(applications/web): amend broken error message link (BOAS-1523)
  apps/web/src/server/app/auth/__tests__/__snapshots__/auth.test.js.snap
  apps/web/src/server/applications/__tests__/__snapshots__/applications.test.js.snap
  apps/web/src/server/applications/case/edit/case/__tests__/__snapshots__/applications-edit-case.test.js.snap
  apps/web/src/server/applications/case/representations/publish-valid-representations/__tests__/__snapshots__/publish-valid-reps.test.js.snap
  apps/web/src/server/applications/create-new-case/case/__tests__/__snapshots__/applications-create-case.test.js.snap
  apps/web/src/server/views/app/500.njk
Due: azure-pipelines-e2e.yml

fix(web): lpa questionnaire wording alignment
  appeals/web/src/server/appeals/national-list/__tests__/__snapshots__/national-list.test.js.snap
  appeals/web/src/server/appeals/personal-list/__tests__/__snapshots__/personal-list.test.js.snap
  appeals/web/src/server/lib/nunjucks-filters/status-tag.js
Due: none

editing env var test suite
  azure-pipelines-e2e-applications.yml
Due: none

fix(web): remove awaiting transfer notification banner from transferred appeals
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
Due: none

test(e2e): editing env var test suite
  azure-pipelines-e2e-applications.yml
Due: none

feat(web): feature/BOAT-333-adding-related-appeals
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appeal-details.router.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.types.d.ts
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/other-appeals/__tests__/__snapshots__/other-appeals.test.js.snap
  appeals/web/src/server/appeals/appeal-details/other-appeals/__tests__/other-appeals.test.js
  appeals/web/src/server/appeals/appeal-details/other-appeals/other-appeals.controller.js
  appeals/web/src/server/appeals/appeal-details/other-appeals/other-appeals.mapper.js
  appeals/web/src/server/appeals/appeal-details/other-appeals/other-appeals.router.js
  appeals/web/src/server/appeals/appeal-details/other-appeals/other-appeals.service.js
  appeals/web/src/server/appeals/appeal-details/other-appeals/other-appeals.validators.js
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.mapper.js
  appeals/web/src/server/lib/address-formatter.js
  appeals/web/src/server/lib/display-page-formatter.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/lpaQuestionnaire.mapper.js
  appeals/web/src/server/lib/mappers/notification-banners.mapper.js
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

fix(applications/api): procedural deadline should be pre-examination (BOAS-1565)
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.controller.js
Due: azure-pipelines-e2e.yml

fix(web): refactor appeal data mapper to optionally avoid async calls
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-details/site-visit/site-visit.mapper.js
  appeals/web/src/server/appeals/change-page/change-page.mapper.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
Due: none

fix(web): remove unsafe eval (BOAS-1597)
  appeals/web/src/server/app/app.express.js
  apps/web/src/server/app/app.express.js
Due: azure-pipelines-e2e.yml

fix(web): generate nonce on every request (BOAS-1597)
  appeals/web/src/server/app/app.express.js
  apps/web/src/server/app/app.express.js
Due: azure-pipelines-e2e.yml

fix(api/applications): fix issues when publishing >5k representations
  apps/api/setup-tests.js
  apps/api/src/database/seed/data-test.js
  apps/api/src/server/applications/_utils/batch-send-events.js
  apps/api/src/server/applications/application/representations/publish/__tests__/publish-representation.test.js
  apps/api/src/server/applications/application/representations/publish/publish.service.js
  apps/api/src/server/applications/application/representations/publishable/__tests__/publishable-representations.test.js
  apps/api/src/server/repositories/__tests__/representation.repository.test.js
  apps/api/src/server/repositories/representation.repository.js
  apps/web/src/server/applications/case/representations/publish-valid-representations/__tests__/__snapshots__/publish-valid-reps.test.js.snap
  apps/web/src/server/views/applications/representations/publish-valid-representations/index.njk
Due: azure-pipelines-e2e.yml

test(e2e): changed the date for leap year
  apps/e2e/cypress/e2e/back-office-applications/documentProperties.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(web): fix character limit on issue decision invalid reason textarea
  appeals/web/src/server/appeals/appeal-details/issue-decision/issue-decision.validators.js
Due: none

feat(applications/web): apply html encode consistently (BOAS-1594)
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
  apps/web/src/server/lib/nunjucks-globals/index.js
  apps/web/src/server/views/applications/case-documentation/search/document-search-results.njk
  apps/web/src/server/views/applications/case-timetable/components/timetable-item-summary.component.njk
  apps/web/src/server/views/applications/case/components/case-applicant-table.component.njk
  apps/web/src/server/views/applications/case/components/case-details-table.component.njk
  apps/web/src/server/views/applications/case/components/case-info-table-preview.component.njk
  apps/web/src/server/views/applications/case/components/case-key-dates-table.component.njk
  apps/web/src/server/views/applications/representations/representation-details/components/representation-summary-list.component.njk
Due: azure-pipelines-e2e.yml

test(e2e): adding parameters for different set of tests
  azure-pipelines-e2e-applications.yml
Due: none

test(e2e): adding test-suite
  azure-pipelines-e2e-applications.yml
Due: none

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
