Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

fix(appeals/api): corrects the name of the horizon setting
  appeals/api/src/server/config/config.js
Due: none

fix(appeals/api): corrects the name of the horizon setting
  appeals/api/.env.test
Due: none

fix(applications/web): catch type violations (BOAS-1324)
  apps/web/src/client/components/file-uploader/_server-actions.js
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
  apps/web/src/server/applications/case/s51/applications-s51.mapper.js
  apps/web/src/server/applications/case/s51/applications-s51.service.js
  apps/web/src/server/applications/create-new-case/applications-create.service.js
Due: azure-pipelines-e2e.yml

test(e2e): new sector added
  apps/e2e/cypress/support/utils/options.js
Due: azure-pipelines-e2e.yml

fix(applications/api): do not send publish document events when training (BOAS-1503)
  apps/api/src/server/applications/application/documents/document.service.js
  packages/event-client/src/local-event-client.js
  packages/event-client/src/service-bus-event-client.js
Due: azure-pipelines-e2e.yml

test(e2e): updated scripts to make it pass
  apps/e2e/cypress/support/utils/options.js
Due: azure-pipelines-e2e.yml

feat(appeals/web): display virus scan status on decision letter
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/api/src/server/endpoints/appeals/appeals.formatter.js
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.mapper.js
Due: none

fix(appeals/api): add mocking to horizon api, fix a repo reference, fixed naming convention
  appeals/api/package.json
  appeals/api/src/server/endpoints/appeals.routes.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.controller.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.formatter.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.routes.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.service.js
  appeals/api/src/server/openapi-types.ts
  appeals/api/src/server/repositories/appeal.repository.js
  appeals/api/src/server/tests/horizon/mocks.js
  appeals/api/src/server/utils/__tests__/horizon-gateway.test.js
  appeals/api/src/server/utils/horizon-gateway.js
  appeals/api/src/server/utils/mapping/map-horizon.js
  docs/horizon-setup.md
  package-lock.json
Due: none

fix(applications/api): allow clearing dates and save change (BOAS-1508)
  apps/api/src/server/utils/mapping/map-key-dates.js
Due: azure-pipelines-e2e.yml

fix(applications/api): update sql to allow for abbr TRAIN01 (BOAS-1507)
  apps/api/src/database/seed/data-static.js
  apps/api/src/server/repositories/raw_sql_queries/update-application-reference.sql
Due: azure-pipelines-e2e.yml

fix(applications/api): case reference number does not increment for training (BOAS-1507)
  apps/api/src/database/seed/data-static.js
Due: azure-pipelines-e2e.yml

test(e2e): updated with uncaught exception
  apps/e2e/cypress/e2e/back-office-applications/documentDownload.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): updated the code in one test
  apps/e2e/cypress/e2e/back-office-applications/documentDownload.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(web): feature/BOAT-705-national-list-filters
  appeals/web/src/server/appeals/national-list/__tests__/__snapshots__/national-list.test.js.snap
  appeals/web/src/server/appeals/national-list/__tests__/national-list.test.js
  appeals/web/src/server/appeals/national-list/national-list.controller.js
  appeals/web/src/server/appeals/national-list/national-list.mapper.js
  appeals/web/src/server/appeals/national-list/national-list.service.js
  appeals/web/src/server/views/appeals/all-appeals/dashboard.njk
  appeals/web/testing/app/fixtures/referencedata.js
  packages/appeals/types/appeal.d.ts
Due: none

feat(web): add draft documents notification banner
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/appellant-case.test.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/__tests__/lpa-questionnaire.test.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionnaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.controller.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.mapper.js
  appeals/web/src/server/appeals/appeal-documents/appeal.documents.service.js
  appeals/web/src/server/appeals/appeals.types.d.ts
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/dates.js
  appeals/web/src/server/lib/mappers/documents.mapper.js
  appeals/web/src/server/lib/mappers/notification-banners.mapper.js
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

feat(api): mermaid c4 docs
  apps/README.md
Due: azure-pipelines-e2e.yml

fix(applications/web): amend project updates warning text (BOAS-1492)
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/project-updates/project-updates-views.d.ts
  apps/web/src/server/applications/case/project-updates/project-updates.controller.js
  apps/web/src/server/applications/case/project-updates/project-updates.view-model.js
  apps/web/src/server/views/applications/case/project-updates/project-updates-details.njk
Due: azure-pipelines-e2e.yml

fix(web/appeals): set retry params as optional (boas-1472)
  appeals/api/src/server/config/config.js
  appeals/web/environment/schema.js
  apps/web/environment/schema.js
  packages/platform/http/retry.js
Due: azure-pipelines-e2e.yml

feat(web/applications): refactor more retry params (boas-1472)
  apps/functions/applications-migration/common/back-office-api-client.js
  apps/web/src/server/lib/msGraphRequest.js
Due: azure-pipelines-e2e.yml

feat(web/applications): refactor retry params functions (boas-1472)
  appeals/api/src/server/config/config.js
  appeals/web/environment/config.d.ts
  appeals/web/environment/config.js
  appeals/web/environment/schema.js
  appeals/web/src/server/lib/graph-request.js
  appeals/web/src/server/lib/middleware/add-apiclient-to-request.js
  apps/functions/applications-background-jobs/common/backend-api-request.js
  apps/functions/applications-command-handlers/common/backend-api-request.js
  apps/web/environment/config.d.ts
  apps/web/environment/config.js
  apps/web/environment/schema.js
  apps/web/src/server/lib/request.js
  packages/platform/http/retry.js
  packages/platform/index.d.ts
  packages/platform/index.js
Due: azure-pipelines-e2e.yml

fix(web/appeals): revert retry extend on functions api (boas-1472)
  apps/functions/applications-background-jobs/common/backend-api-request.js
  apps/functions/applications-command-handlers/common/backend-api-request.js
Due: azure-pipelines-e2e.yml

feat(web/applications): add retry option on got and blbostorage (boas-1472)
  appeals/web/src/server/lib/graph-request.js
  appeals/web/src/server/lib/middleware/add-apiclient-to-request.js
  apps/functions/applications-background-jobs/common/backend-api-request.js
  apps/functions/applications-command-handlers/common/backend-api-request.js
  apps/functions/applications-migration/common/back-office-api-client.js
  apps/web/src/server/lib/msGraphRequest.js
  apps/web/src/server/lib/request.js
  packages/blob-storage-client/src/blob-storage-client.js
  packages/platform/http/hooks.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
