Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

chore(api/applications): event broadcasts representations redact and tests (boas-1430)
  apps/api/src/server/applications/application/representations/redact/__tests__/patch-redact.test.js
  apps/api/src/server/applications/application/representations/redact/redact.controller.js
  apps/api/src/server/applications/application/representations/redact/redact.service.js
  apps/api/src/server/applications/application/representations/status/__tests__/patch-status.test.js
Due: azure-pipelines-e2e.yml

test(e2e): fixed failed scripts due to application changes
  apps/e2e/cypress.config.js
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/support/e2e.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(applications/web): amend some fields within the exam timetable item forms (BOAS-1348)
  apps/api/src/database/migrations/20240125110850_update_template_type_in_exam_timetable_type/migration.sql
  apps/api/src/database/seed/data-static.js
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
  apps/web/src/server/applications/case/examination-timetable/__tests__/__snapshots__/applications-timetable.test.js.snap
  apps/web/src/server/applications/case/examination-timetable/__tests__/applications-timetable.test.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.validators.js
  apps/web/src/server/views/applications/case-timetable/timetable-details-form.njk
  apps/web/testing/applications/fixtures/timetable-types.js
Due: azure-pipelines-e2e.yml

test(e2e): removed double checks
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): removed faker data for project location
  apps/e2e/cypress/support/utils/createProjectInformation.js
Due: azure-pipelines-e2e.yml

fix(appeals/api): viewing personal list - shows page not found error
  appeals/api/src/server/repositories/appeal.repository.js
Due: none

chore(api/applications): fix type error in application controller
  apps/api/src/server/applications/application/application.controller.js
Due: azure-pipelines-e2e.yml

feat(api/applications): prevent emitting events for training cases
  apps/api/src/server/applications/application/application.validators.js
  apps/api/src/server/infrastructure/event-broadcasters.js
Due: azure-pipelines-e2e.yml

feat(api/applications): add a 'Training' sector to seed data
  apps/api/src/database/seed/data-static.js
Due: azure-pipelines-e2e.yml

feat(api/applications): block sending events for training attachments
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/applications/application/documents/document.validators.js
  apps/api/src/server/utils/async.js
Due: azure-pipelines-e2e.yml

feat(api/applications): block events for training representations
  apps/api/src/server/applications/application/representations/publish/publish.service.js
Due: azure-pipelines-e2e.yml

test(api/applications): fix tests broken by blocked Service Bus events
  apps/api/src/server/applications/application/__tests__/create-application.test.js
  apps/api/src/server/applications/application/__tests__/publish-application.test.js
  apps/api/src/server/applications/application/project-updates/__tests__/project-updates.test.js
  apps/api/src/server/applications/application/representations/publish/__tests__/publish-representation.test.js
  apps/api/src/server/applications/key-dates/__tests__/update-key-dates.test.js
  apps/api/src/server/applications/s51advice/__tests__/s51-advice-update.test.js
  apps/api/src/server/applications/s51advice/__tests__/s51-advice.test.js
Due: azure-pipelines-e2e.yml

feat(api/applications): block events for training exam timetables
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.validators.js
  apps/api/src/server/repositories/examination-timetable.repository.js
Due: azure-pipelines-e2e.yml

feat(api/applications): block events for training project updates
  apps/api/src/server/applications/application/project-updates/project-updates.service.js
Due: azure-pipelines-e2e.yml

test(api/applications): add tests to cover training cases
  apps/api/src/server/applications/application/__tests__/create-application.test.js
  apps/api/src/server/applications/application/__tests__/publish-application.test.js
  apps/api/src/server/applications/application/__tests__/start-case.test.js
  apps/api/src/server/applications/application/__tests__/update-application.test.js
Due: azure-pipelines-e2e.yml

feat(api/applications): block events for training subscriptions
  apps/api/src/server/applications/subscriptions/subscriptions.controller.js
  apps/api/src/server/applications/subscriptions/subscriptions.service.js
Due: azure-pipelines-e2e.yml

feat(api/applications): block events for S51 advice under training cases
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/applications/s51advice/s51-advice.validators.js
Due: azure-pipelines-e2e.yml

test(api/applications): add unit tests for filterAsync function
  apps/api/src/server/utils/__tests__/async.test.js
Due: azure-pipelines-e2e.yml

refactor(api/applications): make filterAsync function run in parallel
  apps/api/src/server/utils/async.js
Due: azure-pipelines-e2e.yml

fix(api): health check request does not prompt an api-key check
  apps/api/src/server/build-app.js
  azure-pipelines-regenerate-api-key.yml
  packages/scripts/src/regenerate-api-keys.js
Due: azure-pipelines-e2e.yml

fix(tooling): correct api key pipeline config and move script
  azure-pipelines-regenerate-api-key.yml
  package-lock.json
  package.json
  packages/scripts/jsconfig.json
  packages/scripts/package.json
  packages/scripts/run/regenerate-api-keys-entry.js
  packages/scripts/src/regenerate-api-keys.js
Due: none

feat(api/applications): set training documents to published immediately
  apps/api/src/server/applications/application/documents/document.service.js
  apps/api/src/server/repositories/document-metadata.repository.js
Due: azure-pipelines-e2e.yml

fix(tooling): add env param to apikey gen pipeline
  azure-pipelines-regenerate-api-key.yml
Due: none
