Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

feat(appeals/api): inspector decision
  appeals/api/setup-tests.js
  appeals/api/src/database/migrations/20231107145621_inspector_decision/migration.sql
  appeals/api/src/database/schema.prisma
  appeals/api/src/database/seed/seed-clear.js
  appeals/api/src/server/endpoints/appeal-decision/__tests__/appeal-decision.test.js
  appeals/api/src/server/endpoints/appeal-decision/appeal-decision.controller.js
  appeals/api/src/server/endpoints/appeal-decision/appeal-decision.routes.js
  appeals/api/src/server/endpoints/appeal-decision/appeal-decision.service.js
  appeals/api/src/server/endpoints/appeal-decision/appeal-decision.validator.js
  appeals/api/src/server/endpoints/appeals.d.ts
  appeals/api/src/server/endpoints/appeals.routes.js
  appeals/api/src/server/endpoints/appeals/__tests__/appeals.test.js
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/api/src/server/endpoints/appeals/appeals.formatter.js
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/endpoints/integrations/integrations.mappers/address.mapper.js
  appeals/api/src/server/openapi-types.ts
  appeals/api/src/server/openapi.json
  appeals/api/src/server/repositories/appeal.repository.js
  appeals/api/src/server/swagger.js
  appeals/api/src/server/tests/data.js
  appeals/api/src/server/tests/documents/mocks.js
  appeals/web/src/server/appeals/appeal-documents/appeal-documents.mapper.js
Due: none

fix(appeals/api): correct definition for outcome:dismissed
  appeals/api/src/server/endpoints/appeal-decision/appeal-decision.validator.js
  appeals/api/src/server/endpoints/constants.js
Due: none

fix(api/applications): fix error publishing timetable (boas-1322)
  apps/api/src/database/schema.d.ts
  apps/api/src/message-schemas/events/nsip-exam-timetable.d.ts
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.routes.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
  apps/api/src/server/repositories/examination-timetable.repository.js
  apps/api/src/server/swagger-output.json
Due: azure-pipelines-e2e.yml

fix(appeals/api): asynchandler errors
  appeals/api/src/server/endpoints/addresses/addresses.controller.js
  appeals/api/src/server/endpoints/addresses/addresses.routes.js
  appeals/api/src/server/endpoints/audit-trails/audit-trails.controller.js
  appeals/api/src/server/middleware/async-handler.js
Due: none

chore(web/applications): sanitize HTML client side instead of validating
  apps/web/src/client/components/file-uploader/_client-actions.js
  apps/web/src/client/components/file-uploader/html-validation.js
Due: azure-pipelines-e2e.yml

feat(web/applications): add client side validation for HTML uploads
  apps/web/src/client/components/file-uploader/_client-actions.js
  apps/web/src/client/components/file-uploader/_html.js
  apps/web/src/client/components/file-uploader/_server-actions.js
  apps/web/src/client/components/file-uploader/html-validation.js
Due: azure-pipelines-e2e.yml

feat(functions): validate HTML src in document-check function
  apps/functions/document-check/check-document/blob-utils.js
  apps/functions/document-check/check-document/event-client.js
  apps/functions/document-check/check-document/index.js
  apps/functions/document-check/check-document/validate-html.js
  apps/functions/document-check/package.json
Due: azure-pipelines-e2e.yml

test(functions): test the validateHTML function using a real example
  apps/functions/document-check/check-document/__files__/test-document.js
  apps/functions/document-check/check-document/__tests__/check-html.test.js
  apps/functions/document-check/check-document/validate-html.js
Due: azure-pipelines-e2e.yml

refactor(functions): improve logic in check-document function
  apps/functions/document-check/check-document/index.js
Due: azure-pipelines-e2e.yml

fix(functions): re-fetch blob stream for validating HTML files
  apps/functions/document-check/check-document/index.js
Due: azure-pipelines-e2e.yml

test(functions): add tests for new HTML validation function
  apps/functions/document-check/check-document/__tests__/check-html.test.js
Due: azure-pipelines-e2e.yml

fix(api/applications): fix error publishing timetable return type (boas-1322)
  apps/api/src/server/repositories/examination-timetable.repository.js
Due: azure-pipelines-e2e.yml

test(e2e): added negative scenarios
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/folderDocumentsPage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(appeals/api): remove duplicate call to audit trail when closing appeal
  appeals/api/src/server/endpoints/appeal-decision/appeal-decision.service.js
Due: none

fix(web): appellant case and lpaq notification banners fix
  appeals/web/src/server/appeals/appeal-details/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.controller.js
  appeals/web/src/server/appeals/appeal-details/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/__tests__/__snapshots__/lpa-questionnaire.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire/lpa-questionnaire.mapper.js
  appeals/web/src/server/views/appeals/components/govuk-details.njk
  appeals/web/testing/app/fixtures/referencedata.js
Due: none

chore(api/applications): add case reference to schema
  apps/api/src/message-schemas/events/s51-advice.schema.json
Due: azure-pipelines-e2e.yml

feat(applications/api): updated relevant reps seeding
  apps/api/src/database/seed/data-test.js
Due: azure-pipelines-e2e.yml

fix(web/applications): remove uselesse function from msgraph (boas-975)
  apps/web/src/server/applications/applications.types.d.ts
  apps/web/src/server/applications/case/project-team/__tests__/applications-project-team.test.js
  apps/web/src/server/lib/msGraph.js
Due: azure-pipelines-e2e.yml

fix(web/applications): pull request changes (boas-975)
  apps/web/src/server/applications/case/project-team/application-project-team.azure-service.js
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/src/server/lib/msGraphRequest.js
Due: azure-pipelines-e2e.yml

feat(web/applications): refactor service to use promise.all (boas-975)
  apps/web/src/server/applications/case/project-team/application-project-team.azure-service.js
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/testing/app/mocks/project-team.js
  apps/web/testing/applications/factory/project-team.js
Due: azure-pipelines-e2e.yml

feat(web/applications): add function to search inside active directory members (boas-975)
  apps/web/src/server/applications/applications.types.d.ts
  apps/web/src/server/applications/case/project-team/__tests__/__snapshots__/applications-project-team.test.js.snap
  apps/web/src/server/applications/case/project-team/__tests__/applications-project-team.test.js
  apps/web/src/server/applications/case/project-team/application-project-team.azure-service.js
  apps/web/src/server/applications/case/project-team/applications-project-team.controller.js
  apps/web/src/server/applications/case/project-team/applications-project-team.service.js
  apps/web/src/server/lib/active-directory-token.js
  apps/web/src/server/lib/msGraph.js
  apps/web/src/server/views/applications/case-project-team/project-team-search.njk
  apps/web/testing/app/mocks/project-team.js
  apps/web/testing/applications/factory/project-team.js
  apps/web/testing/applications/fixtures/project-team.js
Due: azure-pipelines-e2e.yml

test(e2e): added more scenarios to unpublish documents
  apps/e2e/cypress/e2e/back-office-applications/unpublishDocuments.spec.js
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(functions): add build & deploy files for malware detected function
  azure-pipelines-build.yml
  azure-pipelines-deploy.yml
  azure-pipelines-release.yml
Due: none

feat(functions): create a simple Azure function to respond to malware
  apps/functions/malware-detected/malware-detected/function.json
  apps/functions/malware-detected/malware-detected/index.js
Due: azure-pipelines-e2e.yml

chore(functions): add malware function changes to package-lock file
  package-lock.json
Due: none

feat(functions): create directory for a malware-detect Azure function
  apps/functions/malware-detected/.funcignore
  apps/functions/malware-detected/.vscode/extensions.json
  apps/functions/malware-detected/host.json
  apps/functions/malware-detected/local.settings.json
  apps/functions/malware-detected/package.json
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
