Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

azure-pipelines-api-test.yml:
  jobs:
  - job: Run_API_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: Npm@1
      inputs:
        command: install
        workingDir: $(System.DefaultWorkingDirectory)
  ...

azure-pipelines-e2e-applications.yml:
  jobs:
  - job: Run_Cypress_Tests_For_Applications
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

azure-pipelines-e2e.yml:
  jobs:
  - job: Run_Cypress_Tests
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: 16.x
      displayName: Install Node.js
    - task: ShellScript@2
      inputs:
        scriptPath: apps/e2e/install-chromium.sh
      displayName: Install Chromium
  ...

fix(api): correct incorrect swagger property name and use in code
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/swagger-types.ts
  apps/api/src/server/swagger.js
Due: azure-pipelines-e2e.yml

fix(api): fix s51 advice publishing
  apps/api/src/server/applications/s51advice/__tests__/s51-advice-publish.test.js
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
Due: azure-pipelines-e2e.yml

fix(web/applications): increase limit of characters for project description (boas-1520)
  apps/web/src/server/applications/create-new-case/case/applications-create-case.validators.js
Due: azure-pipelines-e2e.yml

feat(web): add overdue status for appellant case
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/__tests__/appeal-details.test.js
  appeals/web/src/server/lib/display-page-formatter.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
Due: none

test(e2e): added sector as training scenarios
  apps/e2e/cypress/e2e/back-office-applications/sectorAsTraing.spec.js
  apps/e2e/cypress/page_objects/createCaseSections/sector.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

feat(web): feature/BOAT-636-assign-co-from-nl
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/__tests__/appeal-details.test.js
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/lib/mappers/notification-banners.mapper.js
Due: none

fix(packages/scripts): disable previous key versions as part of regeneration script
  packages/scripts/src/regenerate-api-keys.js
Due: none

fix(appeals/api): calculation of business dates
  appeals/api/src/server/endpoints/business-days/__tests__/business-days.test.js
  appeals/api/src/server/utils/business-days.js
Due: none

test(e2e): updated the code with casereference check
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/casePage.js
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-e2e.yml

fix(appeals/api): calculation of business dates - improvments
  appeals/api/src/server/utils/business-days.js
Due: none

test(e2e): updated with regx
  apps/e2e/cypress/support/utils/utils.js
Due: azure-pipelines-e2e.yml

fix(appeals/api): label appeal reference
  appeals/web/src/server/appeals/appeals.copy.js
  appeals/web/src/server/appeals/national-list/__tests__/__snapshots__/national-list.test.js.snap
  appeals/web/src/server/appeals/national-list/national-list.mapper.js
  appeals/web/src/server/appeals/personal-list/__tests__/__snapshots__/personal-list.test.js.snap
  appeals/web/src/server/appeals/personal-list/personal-list.mapper.js
  appeals/web/src/server/views/appeals/components/appeals-table.njk
Due: none

feat(appeals/web): rename national list to `all cases`
  appeals/web/src/server/appeals/appeals.copy.js
  appeals/web/src/server/appeals/national-list/__tests__/__snapshots__/national-list.test.js.snap
  appeals/web/src/server/appeals/national-list/national-list.mapper.js
  appeals/web/src/server/views/app/dashboard.njk
Due: none

feat(appeals/web): managing linked appeal
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appeal-details.router.js
  appeals/web/src/server/appeals/appeal-details/assign-user/__tests__/__snapshots__/assign-user.test.js.snap
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/__tests__/__snapshots__/manage-linked-appeals.test.js.snap
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/__tests__/manage-linked-appeals.test.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.controller.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.router.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.service.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.validators.js
  appeals/web/src/server/appeals/appeal-details/site-visit/__tests__/__snapshots__/site-visit.test.js.snap
  appeals/web/src/server/appeals/personal-list/__tests__/__snapshots__/personal-list.test.js.snap
  appeals/web/src/server/appeals/personal-list/__tests__/personal-list.test.js
  appeals/web/src/server/lib/appeals-formatter.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
  appeals/web/src/server/lib/mappers/notification-banners.mapper.js
Due: none

feat(appeals/web): resolve linkedAppealStatus params
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
  appeals/web/src/server/appeals/personal-list/personal-list.mapper.js
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/appeals-formatter.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
Due: none

feat(web): add header navigation
  appeals/web/src/server/app/app.controller.js
  appeals/web/src/server/app/auth/__tests__/__snapshots__/auth.test.js.snap
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/__tests__/appeal-details.test.js
  appeals/web/src/server/appeals/national-list/__tests__/national-list.test.js
  appeals/web/src/server/appeals/national-list/national-list.controller.js
  appeals/web/src/server/appeals/personal-list/__tests__/__snapshots__/personal-list.test.js.snap
  appeals/web/src/server/appeals/personal-list/__tests__/personal-list.test.js
  appeals/web/src/server/appeals/personal-list/personal-list.controller.js
  appeals/web/src/server/views/app/components/global-header.njk
  appeals/web/src/server/views/app/layouts/app.layout.njk
  appeals/web/src/styles/1-settings/_settings.global.scss
  appeals/web/src/styles/7-components/_header.scss
Due: none

feat(appeals/web): managing linked appeal linkedAppealStatus
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/__tests__/__snapshots__/manage-linked-appeals.test.js.snap
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.service.js
  appeals/web/src/server/appeals/personal-list/__tests__/__snapshots__/personal-list.test.js.snap
  appeals/web/src/server/appeals/personal-list/personal-list.mapper.js
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/appeals-formatter.js
Due: none

fix(web): bugfix/BOAT-636-style-fix
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
Due: none

feat(appeals/web): managing linked appeal simplity test data and improve url handling
  appeals/api/src/database/seed/data-test.js
  appeals/api/src/server/endpoints/appeals/__tests__/appeals.test.js
  appeals/api/src/server/swagger.js
  appeals/api/src/server/tests/appeals/mocks.js
  appeals/api/src/server/tests/linked-appeals/mocks.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/__tests__/__snapshots__/manage-linked-appeals.test.js.snap
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/__tests__/manage-linked-appeals.test.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.controller.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.mapper.js
  appeals/web/src/server/appeals/appeal-details/manage-linked-appeals/manage-linked-appeals.router.js
  appeals/web/src/server/lib/appeals-formatter.js
  appeals/web/src/server/lib/mappers/appeal.mapper.js
Due: none

fix(applications/api): send text for all items other than Deadline Items (BOAS-1528)
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
Due: azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps
