Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

feat(tooling): add pipeline and script to regenerate api key
  apps/scripts/regenerate-api-keys.js
  azure-pipelines-regenerate-api-key.yml
  package.json
Due: azure-pipelines-e2e.yml

test(web/applications): disable logout auth unit test
  apps/web/src/server/app/auth/__tests__/auth.test.js
Due: azure-pipelines-e2e.yml

fix(web/applications): log user out before destroying session
  apps/web/src/server/app/auth/auth.controller.js
Due: azure-pipelines-e2e.yml

fix(appeals/api): fix tests failing in pipeline
  appeals/api/src/server/endpoints/change-appeal-type/__tests__/change-appeal-type.test.js
Due: none

feat(appeals/web): feature/BOAT 332 changing appeal type by resubmission status validation
  appeals/api/src/server/endpoints/change-appeal-type/change-appeal-type.middleware.js
Due: none

fix(appeals/web): fixes logout from session
  appeals/web/src/server/app/auth/auth.controller.js
Due: none

fix(appeals): redis-session test removed
  appeals/web/src/server/app/auth/__tests__/auth.test.js
Due: none

fix(tooling): configure pipeline and script to import key vault name instead of uri
  apps/scripts/regenerate-api-keys.js
  azure-pipelines-regenerate-api-key.yml
Due: azure-pipelines-e2e.yml

fix(tooling): fix missing sections of pipeline cofig
  azure-pipelines-regenerate-api-key.yml
Due: none

fix(applications/web): fix s51 edit journey styling (BOAS-1208)
  apps/web/src/server/views/applications/case-s51/properties/edit/s51-edit-advice-detail.njk
  apps/web/src/server/views/applications/case-s51/properties/edit/s51-edit-enquiry-details.njk
  apps/web/src/server/views/applications/layouts/s51-edit.layout.njk
  apps/web/src/styles/7-components/s51-edit-form.scss
  apps/web/src/styles/main.scss
Due: azure-pipelines-e2e.yml

fix(web/applications): fix and reenable test for sign out
  apps/web/src/server/app/auth/__tests__/auth.test.js
  apps/web/src/server/app/auth/auth.controller.js
Due: azure-pipelines-e2e.yml

fix(applications): restore global package.json (boas-523)
  appeals/web/package.json
  apps/e2e/package.json
  package-lock.json
  package.json
Due: azure-pipelines-e2e.yml

fix(api): fix package-lock (boas-523)
  package-lock.json
Due: none

fix(appeals): restore nodemon appeals and e2e
  appeals/web/package.json
  apps/e2e/package.json
  packages/express/types/multer.d.ts
Due: azure-pipelines-e2e.yml

fix(appeals): restore e2e package (boas-532)
  apps/e2e/package.json
Due: azure-pipelines-e2e.yml

fix(appeals): remove useless crsfu middleware (boas-523)
  appeals/web/package.json
  appeals/web/src/server/app/app.express.js
  apps/web/package.json
  apps/web/src/server/app/app.express.js
  package-lock.json
Due: azure-pipelines-e2e.yml

chore(deps): remove multer library and faudit fix (boas-523)
  appeals/api/package.json
  appeals/web/package.json
  appeals/web/src/server/app/app.express.js
  apps/api/package.json
  apps/api/src/server/middleware/validate-file-upload.js
  apps/e2e/package.json
  apps/web/package.json
  apps/web/src/server/app/app.express.js
  package-lock.json
  package.json
  packages/express/index.d.ts
  packages/express/index.js
  packages/express/middleware/multer.js
  packages/express/package.json
  packages/express/types/multer.d.ts
  packages/express/utils/formdata.js
Due: azure-pipelines-e2e.yml

fix(appeals): restore web package without multer (boas-532)
  appeals/web/package.json
Due: none

test(e2e): fixed failed scripts due to application changes
  apps/e2e/cypress.config.js
  apps/e2e/cypress/e2e/back-office-applications/examTimetable.spec.js
  apps/e2e/cypress/support/e2e.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

fix(api/applications): unpublish attachments when unpublishing S51
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/applications/s51advice/s51-advice.service.js
Due: azure-pipelines-e2e.yml
