Repository Planning-Inspectorate/back-office: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

Path conditions:
  azure-pipelines-api-test.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e-applications.yml: any of: apps/e2e/cypress/e2e/back-office-applications
  azure-pipelines-e2e.yml: any of: apps

fix(web): terminate session cookie after 8 hours
  apps/web/src/server/app/config/session.js
Due: azure-pipelines-e2e.yml

feat(api): script to migrate single s51 advice doc
  apps/api/src/server/migration/scripts/.gitignore
  apps/api/src/server/migration/scripts/README.md
  apps/api/src/server/migration/scripts/migrate-s51-advice-docs.js
Due: azure-pipelines-e2e.yml

fix(applications/api): removed unnecessary logs (BOAS-1690)
  apps/api/src/server/middleware/authorise-request.js
Due: azure-pipelines-e2e.yml

feat(api): script to migrate general docs
  apps/api/package.json
  apps/api/src/server/migration/scripts/.gitignore
  apps/api/src/server/migration/scripts/example.csv
  apps/api/src/server/migration/scripts/migrate-docs.js
  apps/api/src/server/migration/scripts/read-csv.js
  package-lock.json
Due: azure-pipelines-e2e.yml

fix(functions): s51 status and agent mapping
  apps/api/src/server/migration/migrators/s51-advice-migrator.js
Due: azure-pipelines-e2e.yml

feat(applications/api): allow sortBy to include multiple fields
  apps/api/src/server/applications/application/representations/representations.controller.js
  apps/api/src/server/applications/application/representations/representations.routes.js
  apps/api/src/server/swagger-output.json
  apps/api/src/server/utils/query/__tests__/sort-by.test.js
  apps/api/src/server/utils/query/sort-by.js
Due: azure-pipelines-e2e.yml

test(e2e): updated smoke tests with some extra scenarios
  apps/e2e/cypress/e2e/back-office-applications/addRepresentation.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/representationPage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): updated smoke tests with missing scenarios
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/page_objects/basePage.js
  apps/e2e/cypress/page_objects/examinationTimetablePage.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): updated smoke pack with delete scenarios
  apps/e2e/cypress/e2e/back-office-applications/smokeTests.spec.js
  apps/e2e/cypress/page_objects/examinationTimetablePage.js
  apps/e2e/cypress/page_objects/s51AdvicePage.js
Due: azure-pipelines-api-test.yml, azure-pipelines-e2e-applications.yml, azure-pipelines-e2e.yml

test(e2e): increase the time for postcode lookup
  apps/e2e/cypress/page_objects/createCasePage.js
Due: azure-pipelines-e2e.yml

feat(functions): allow blob URIs to include custom domain
  apps/functions/applications-background-jobs/common/config.js
  apps/functions/applications-background-jobs/publish-document/src/util.js
Due: azure-pipelines-e2e.yml

test(e2e): updated locator
  apps/e2e/cypress/page_objects/representationPage.js
Due: azure-pipelines-e2e.yml

fix(functions): use blob domain for operations
  apps/functions/applications-background-jobs/publish-document/index.js
  apps/functions/applications-background-jobs/unpublish-document/index.js
Due: azure-pipelines-e2e.yml

fix(functions): use blob domain for operations
  apps/functions/applications-background-jobs/common/blob-client.js
  apps/functions/applications-background-jobs/common/config.js
  apps/functions/applications-background-jobs/publish-document/index.js
  apps/functions/applications-background-jobs/publish-document/src/util.js
  apps/functions/applications-background-jobs/unpublish-document/index.js
  apps/functions/applications-background-jobs/unpublish-document/utils.js
Due: azure-pipelines-e2e.yml

ci: remove appeal pipelines and build steps
  azure-pipelines-build.yml
  azure-pipelines-db-seed-appeals-production.yml
  azure-pipelines-db-seed-appeals.yml
  azure-pipelines-deploy-appeals.yml
  azure-pipelines-e2e-appeals.yml
  azure-pipelines-package-function-merge.yml
Due: none

ci: fix function merge
  azure-pipelines-package-function-merge.yml
Due: none

fix(functions): publish using blob endpoint url
  apps/functions/applications-background-jobs/common/__tests__/util.test.js
  apps/functions/applications-background-jobs/common/util.js
  apps/functions/applications-background-jobs/publish-document/__tests__/publish-document.test.js
  apps/functions/applications-background-jobs/publish-document/index.js
  apps/functions/applications-background-jobs/publish-document/src/util.js
  apps/functions/applications-background-jobs/unpublish-document/index.js
  packages/blob-storage-client/src/blob-storage-client.js
Due: azure-pipelines-e2e.yml

fix(web/applications): fix potential ss request forgery on s51 controller (boas-1661)
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
  apps/web/src/server/applications/case/s51/applications-s51.router.js
  apps/web/src/server/applications/case/s51/applications-s51.validators.js
Due: azure-pipelines-e2e.yml

fix(functions): ensure unpublish removes the published blob
  apps/functions/applications-background-jobs/publish-document/index.js
  apps/functions/applications-background-jobs/publish-document/src/util.js
  apps/functions/applications-background-jobs/unpublish-document/index.js
  apps/functions/applications-background-jobs/unpublish-document/src/__tests__/util.test.js
  apps/functions/applications-background-jobs/unpublish-document/src/util.js
Due: azure-pipelines-e2e.yml

fix(functions): get case by reference using /applications/reference endpoint
  apps/functions/applications-background-jobs/notify-subscribers/src/back-office-api-client.js
  apps/functions/applications-background-jobs/notify-subscribers/src/notify-subscribers.js
Due: azure-pipelines-e2e.yml

fix(functions): don't assume source container for storage account check
  apps/functions/applications-background-jobs/publish-document/src/__tests__/util.test.js
  apps/functions/applications-background-jobs/publish-document/src/util.js
Due: azure-pipelines-e2e.yml

fix(functions): use custom domain to connect to blob store
  apps/functions/applications-command-handlers/deadline-submission-command/config.js
  apps/functions/applications-command-handlers/test-deadline-submission/config.js
Due: azure-pipelines-e2e.yml

fix(functions): use copyFileFromUrl in deadline-submission-command
  apps/functions/applications-command-handlers/deadline-submission-command/blob-client.js
  apps/functions/applications-command-handlers/deadline-submission-command/config.js
Due: azure-pipelines-e2e.yml

fix(functions): correct reference from storageUrl to storageDomain
  apps/functions/applications-command-handlers/deadline-submission-command/blob-client.js
Due: azure-pipelines-e2e.yml

chore(functions): perform type checking on the config object
  apps/functions/applications-command-handlers/deadline-submission-command/config.js
Due: azure-pipelines-e2e.yml
